/* About Index */

	.bulletList {
		font-size: @font-small;
		font-weight: @weight-norm;
		padding-top: 30px;
		font-weight: @weight-bold;

		h3 {
			padding-bottom:20px;
			font-size:@font-norm;
			font-weight:@weight-norm;
		}
		p {
			font-weight:@weight-norm;
		}

		ul {
			padding-left: 16px;
			padding-top: 15px;
			padding-bottom:20px;

			li {
				padding-top: 10px;
				font-weight: @weight-norm;
			}
		}
		.button-blue-primary {
			margin-top:10px;
            display: inline-block;
		}
	}
#contact-link {
	width: 175px;
    height: 50px;
    background-color: #0078ef;
    text-align:center;
    padding-top: 14px;
}
header #menu #about_title a {
    font-weight: 400;
    font-size: 24px;
    color: #29CEFF;
}
.link_style {
    border-left: 1px #B6C1C2 solid;
    padding-left: 20px;
}
div.link_style:nth-of-type(4) {
    border-left: none;
}

#about-body {
	font-size: @font-seminorm;

	.blue-bg, .purple-bg{
		padding: 20px 40px;
		color: @white;

		span{
			font-size: @font-huge;
			float: left;
			padding: 10px 50px 0 0;
			margin-bottom: 10px;
		}
		a{
			color: @white;
		}
	}
	.blue-bg{
		background: @blue-primary;
		margin-bottom: 20px;
	}
	.purple-bg{
		background: @purple;
	}
	.stats {
		min-height: 145px;

		.heading {
			color: @gray;
			font-size: @font-tiny;
			font-weight: @weight-bold;
			display: block;
		}
		.content {
			color: @turquiose;
			font-size: @font-semihuge;
			display: block;

			@media (max-width: @screen-lg) {
				font-size: @font-large;
			}
		}
		.note {
			font-size: @font-tiny;
		}
	}
}
.sections{
	.external-link{
	    display: inline-block;
	    width: 9px;
	    height: 8px;
	    margin-left: 8px;
	}
}


#headquarter {
	font-size: @font-tiny;

    .title {
        padding-bottom: 40px;
        font-size: @font-semihuge;
        color: @blue-primary;
    }
	#hqDiv {
		.button-blue-primary {
			margin-top:25px;
			float:right;

			@media (max-width: @screen-sm) {
				float:left;
				margin-top:0px;
				margin-bottom: 35px;
			}
		}
	}
	span {
		display:block;
	}
	.hq-titles {
		display: block;
		font-size: @font-seminorm;
		font-weight: @weight-norm;
		padding-bottom: 30px;

		strong {
			display:block;
			font-weight:@weight-heavy;
		}
	}
	.noindent {
		padding: 0 0 10px 0px;
	}
    .noindent:last-child {
		padding: 0 0 40px 0px;
	}
	.locationslink {
		color: #26a9e0;
		float: right;
		padding-top: 50px;
	}
}
@media (max-width: @screen-md) {
	.awards-section {
		text-align: center;
		img {
			margin: 0 auto;
			margin-bottom: 20px;
		}
	}
	#headquarter .title {
		font-size: @font-semilarge;
	}
}


/* Contact Us Page */

.map {
	.nobullets {
		li {
			font-size:@font-norm;
		}
	}
}
#contactus {
	#banner {
		background: url('@{image-url}plus-bkgd3x.png');
		background-size: cover;
		padding: 115px 0 135px;
		margin: 27px 43px 36px;

		h1 {
			font-weight: @weight-norm;
			font-size: @font-semihuge;
			color: @blue-primary;
		}
	}
	#map {
		background: url('@{image-url}map-img@3x.png');
		background-size: cover;
		padding-top: 125px;
		padding-bottom: 30px;
		color: @white;

		h3 {
			font-weight: @weight-bold;
			font-size: @font-large;
			padding-bottom: 25px;
		}
		ul {
			padding-bottom: 63px;
			li {
				font-weight: @weight-bold;
				font-size: @font-norm;
				&.phone {
					padding-top: 30px;
				}
			}
		}
		a {
			color: @white;
		}
		img {
			margin-bottom: 20px;
		}
	}
	#locationslist {
		font-weight: @weight-norm;
		padding-top: 75px;
		padding-bottom: 100px;
		color: @gray;

		.filterinput {
			border-radius: 70px;
			padding-left: 20px;
			font-size: @font-norm;
		}
		.col-sm-7 {
			font-size:@font-semilarge;
		}
		.header {
			padding-bottom: 40px;
		}
		.col-sm-5 {
			padding-top:10px;

			.contact-filter {
				float:left;
			}
			.contact-dropdown {
				float:right;
				width:325px;
				margin-top:-5px;

				@media (max-width: @screen-md) {
					width:200px;

				}
				@media (max-width: @screen-sm) {
					width:300px;

				}
			}
		}
		.bordertop {
			border-top: 1px @gray-light solid;
			padding-top: 40px;
			margin-top: 40px;
		}
		a {
			color: @gray;
		}
		a:hover {
			color:@white;
		}
		.location {
			font-size: @font-norm;
		}
	}
}

/* Legal Page */

.tab-page {
	font-weight: @weight-norm;
	font-size: @font-semitiny;
	.rwd-table {
		min-width: 260px;
	}
	.selected {
			font-weight: @weight-heavy;
			border-bottom: solid 2px @blue-primary;
			color: @blue-primary;
		}
	&.app-rehosting {
		color: @gray;
		p {
			font-size: @font-small;
		}
		h2 {
			font-size: @font-semilarge;
			font-weight: @weight-norm;
			color: @gray;
		}
		h3 {
			font-size: @font-norm;
			font-weight: @weight-norm;
			color: @gray;
			padding-bottom: 20px;
		}
		ul {
			font-size: @font-small;
			&.stack {
				@media (max-width: @screen-sm) {
					padding-bottom: 0px;
				}
			}
		}
		.app-rehosting-links {
			margin-top: 30px;
		}
		#header {
			a {
				font-size: @font-small;
			}
			ul {
				padding-bottom: 0;
			}
		}
	}

	strong {
		font-weight:@weight-heavy;
		font-size: @font-seminorm;
	}
	th {
		font-size: @font-small;
		font-weight: @weight-heavy;
	}
	p {
		display: inline-block;
		padding-bottom: 15px;
	}
	a {
		color: @blue-primary;
	}
	h2 {
		font-weight: @weight-norm;
		font-size: @font-norm;
		padding-top: 10px;
		padding-bottom: 42px;
	}
	h3 {
		margin-top: 10px;
		margin-bottom: 25px;
		font-size: @font-small;
	}
	ol {
		font-size: @font-semitiny;
		padding: 0 0 10px 30px;

		li {
			padding-bottom: 10px;
		}
	}
	ul {
		font-size: @font-semitiny;
		padding-left: 15px;

		li {
			padding-bottom: 10px;
		}
	}
	.nobullets {
		padding-left: 0px;
	}

	#header {
		color: @gray;
		.other-legal-pages {
			margin-top: -70px;
		    font-size: 16px;
		    float: right;
		    @media (max-width: @screen-md) {
				float:none;
				margin-top: 0;
				margin-bottom: 20px;
			}
		}
		.clearfix {
			height: 38px;
			@media (max-width: @screen-md) {
				height: 0;
			}
		}
		.border {
			padding-top: 35px;
			border-bottom: 1px @gray-mid-light solid;
			margin-left: 15px;
			@media (max-width: @screen-md) {
				border-bottom: none;
			}
		}
		h1 {
			color: @blue-primary;
			font-size: @font-large;
			font-weight: @weight-norm;
			padding-bottom: 40px;
		}
		strong {
			padding-bottom:15px;
			display:block;
			font-size: @font-seminorm;
		}
		.inline {
			font-size: @font-tiny;
			.selected {
				color: @blue-primary;
			}
			.tab-item {
				display: inline-block;
				margin-right: 50px;
			}
			a {
				text-decoration: none;
				color: @gray;
				display: inline-block;
				height: 50px;
				@media (max-width: @screen-md) {
					height: 22px;
					margin-bottom: 30px;
				}
			}
			a:hover {
				color: @blue-primary;
			}
			p {
				padding-bottom: 0;
				height: 50px;
				@media (max-width: @screen-md) {
					height: 70px;
					margin-right: 20px;
				}
				@media (max-width: @screen-sm) {
					height: 22px;
					display: inline-block;
					margin-bottom: 40px;
				}
			}
			@media (max-width: @screen-sm) {
				text-align: left;
			}
		}
		ul {
			list-style-type: none;
			padding-left: 0px;
			font-size: @font-seminorm;
			margin-bottom: 50px;
			li {
				padding-bottom: 10px;
				strong {
					display:inline;
					padding-bottom:0px;
				}
				a {
					font-size: @font-small;
					color: @blue-primary;
					margin-right: 50px;
					padding-bottom: 20px;
				}
			}
		}
		.bold {
			font-weight: @weight-heavy;

			&.other {
				padding-bottom: 10px;
				padding-top: 30px;
				display: block;
				font-size: @font-seminorm;
			}
		}
	}
	#home {
		color: @dark;
	}
	#cookies {
		h3 {
			font-weight: @weight-norm;
			padding: 20px 0;
		}
	}
	#privacy {
		padding-top: 60px;
		margin-top: -60px;
	}
	#trademark {
		padding-top: 60px;
		margin-top: -60px;
	}
}

/* Corporate Responsibility Page */

#corporateresponsibility {
	#section1 {
		padding-bottom: 10px;
		background: url('@{image-url}dot_bkgd.jpg') repeat;
		background-position: center;
	}
	#section2 {
		background-color: @dark;
		color: @gray-white;
		padding-bottom: 140px;

		.line {
			margin-top: 40px;
			margin-bottom: 35px;
		}
		h2 {
			padding-bottom: 20px;
			padding-top:20px;
			font-size: @font-norm;
			font-weight: @weight-norm;
		}
		p {
			font-size: @font-small;
			font-weight: @weight-norm;
		}
		span {
			margin-top: 75px;
			font-size:60px;
			width:60px;
		}
	}
}

/* News Section*/

.news-section {
	.box {
		padding-top:0px;
		padding-bottom:45px;
	}
	.row {
		margin: 0;
		.aqua { color:@aqua; }
		.turquiose { color:@turquiose; }
		.blue-light { color:@blue-light; }
		.blue { color:@blue; }
		.blue-primary { color:@blue-primary; }

		a.news-link {
			font-size:@font-semilarge;
			margin-top: 20px;
    	padding-right: 30px;
			display:block;
			margin-bottom: 54px;
		}
		@media (max-width: @screen-sm){
			a.news-link{
				font-size: @font-norm;
				padding-right: 10px;
			}
		}
		> div {
			display:block;
			padding:0px;
			font-size: @font-semilarge;

			.category {
				border-top:0px;
				padding:15px 0px 25px 0px;
				font-size:@font-tiny;
				color:@gray-mid;
				font-weight:@weight-bold;
				text-transform:uppercase;

				.date {
					padding-left:10px;
					text-transform:none;
					font-weight:@weight-norm;
				}
			}
		}
	}
	.news-callout{
		font-size: @font-tiny;
		color:@blue-primary;
	}
}
@media (min-width: @screen-md){
	.news-section{
		padding-bottom: 0;
		.col-md-4{
			padding-bottom: 70px;
		}
	}
}
@media (max-width: 568px){
	.news-section{
		.col-xs-6{
			width:100%;
		}
		.hide-mobile{
			display:none;
		}
	}
}
/* Press Room Page */

#pressroom {
	#section3 {
		background-color: @dark;
		color: @gray-white;
		font-size: @font-small;

		.blue{
			color: @blue;
		}
		.box {
			padding-bottom:30px;
		}
		.capstitle {
			font-weight: @weight-norm;
			font-size: @font-large;
			text-transform:none;
			color:@gray-white;
			padding-bottom:40px;
		}
		.bordertop {
			&.small {
				border:none;

				@media (max-width: @screen-sm) {
					border-top: 1px @gray-mid solid;
					padding-top: 20px;
				}
			}
			&.big {
				border:none;

				@media (min-width: @screen-sm) {
					border-top: 1px @gray-mid solid;
					padding: 20px 0 0;
					margin-left: 15px;
				}
			}
			p {
				color:@gray-light;
			}
		}
		.title {
			font-weight: @weight-heavy;
			display: block;
			padding-bottom: 20px;
			font-size: @font-seminorm;
		}
		.address {
			padding-bottom:50px;

			a {
				display:block;
			}
		}
		.address-other {
			display:block;

			span {
				display:block;
			}
		}
		.button-blue-primary {
			margin-top: 45px;
			margin-bottom:70px;
			color: @white;
			float:right;

			@media (max-width: @screen-sm) {
				margin-top: 20px;
				float:left;
			}
		}
		a {
			color: @blue;
		}
	}
}

/* Press Kit */
.color-white-section{
	#color-border-columns{
		background: none;
		color: @dark-primary;
	}
}

/* Leadership Pages */

#leadership {
	padding-bottom: 150px;

	p {
		padding: 10px 0;
		font-size: 18px;
	}
	.leadtitle {
		font-weight: @weight-norm;
		font-size: @font-large;
		color: @blue-primary;
		padding: 90px 0 40px 15px;
	}
	.leaddesc {
		font-weight: @weight-norm;
		font-size: @font-norm;
		color: @gray;
	}
	.grayborder {
		border-bottom: 2px @gray-white solid;
		padding-bottom: 10px;
		padding-left: 0px;

		@media  (max-width: @screen-sm){
			padding-bottom:37px;
		}
	}
	.toggleLink {
		color: #009ddc;
		text-decoration: none;
		display: block;
		padding-top: 5px;
		font-size: 18px;
		position: relative;
		bottom: 5px;
		-moz-bottom: 5px;
		background-color: @white;
	}
	.toggleLink:hover {
		cursor: pointer;
	}
	.elaboration {
		display: none;
	}
	h3 {
		font-weight: @weight-norm;
		font-size: @font-norm;
		color: @blue;
		display: block;
		padding-top: 30px;
		padding-bottom: 15px;
	}
	.title {
		font-weight: @weight-norm;
		font-size: @font-seminorm;
		color: @gray-mid;
		display: block;

		&.bottom {
			padding-bottom: 15px;
		}
	}
	img {
		padding-top: 80px;
	}
}

/* Article Pages */

.pressroomarticle {
	font-weight: @weight-norm;
	color: @dark;

	h1 {
		font-weight: @weight-norm;
		color: @blue-primary;
		padding-bottom: 30px;
		font-size: @font-semilarge;
		line-height: 40px;
	}
	h3 {
		font-size: @font-tiny;
		padding-bottom: 15px;
	}
	p {
		font-size: @font-seminorm;
		padding-bottom: 50px;
	}
	.content {
		p {
			font-size: @font-tiny;
			padding-bottom: 20px;
		}
		ul {
			font-size: @font-tiny;
			padding-bottom: 15px;
			li {
				padding-bottom: 15px;
			}
			ul {
				padding-top: 10px;
			}
		}
		a {
			color:@blue;
		}
	}
}

/* Press Room Articles */

.list-layout{
	.box45{
		border-bottom: 1px @gray-light solid;
		padding-bottom: 30px;
	}
	.articles-date, .articles-company{
		color: @dark;

		@media  (max-width: @screen-sm){
			padding:10px 0px 0px 15px;
			float:left;
			clear:both;
		}
	}

	.articles-date {
		float:right;

		@media  (max-width: @screen-sm){
			float:left;
		}
	}

	.articles-content {
		color: @blue;
		padding-left:20px;
	}

	.articles-block:hover{
		border: 1px @blue-primary solid;
		color: @white;
		background: @blue-primary;

		.nopadding {
			color: @white;
		}
	}
}

.grid-layout {
	.articles-block {
		border: 1px @gray-mid-light solid;
		border-radius: 8px;
		height: 195px;
		width: 370px;
		margin-right: 10px;
		margin-bottom: 10px;

		@media (max-width: @screen-md) {
			width: 350px;
		}
		@media (max-width: @screen-sm) {
			width: initial;
		}
	}

	a{
		color:@dark-primary;
	}
	.articles-content{
		padding-top: 20px;
		padding-right: 15px;
		padding-left: 15px;
	}
	.articles-date{
		padding-right: 15px;
		position: absolute;
   	 	top: 160px;
	}
	.articles-company {
		padding-top: 20px;
	}
	.articles-date, .articles-company {
		left: 15px;
		font-size:@font-tiny;
		p {
			color: @gray;
		}
	}
	.articles-block:hover{
		border: 1px @blue-primary solid;
		color: @white;
		background: @blue-primary;

		.articles-date, .articles-company, .articles-content {
			color: @white;
		}
	}
	@media (max-width: 400px) {
		.articles-content{
			font-size: @font-small;
		}
		.articles-company {
			padding-top: 10px;
		}
	}
}
.pagestyle1 {
	.toggle-grid-view {
		position:relative;
		right:0px;
		top:-40px;

		a {
			float:left;
			margin:0px 0px 0px 20px;
			width:20px;
			height:20px;

		}

		a:hover {
			text-decoration:none;
			span {
				text-decoration:none;
			}
		}

		.no-list, .yes-list {
			span {
				color: @gray-light;
			}
		}
		.no-list.selected, .yes-list.selected {
			span {
				color: @gray;
			}
		}
	}
	@media (max-width: 991px) {
		.toggle-grid-view, .archives {
			top: 20px;
		}
	}
	@media (max-width: 767px) {
		.archives {
			margin-right: 20px;;
		}
	}
	@media (max-width: 400px) {
		.tab-controls {
			padding-bottom: 0px;
			a {
				display: block;
				padding-bottom: 10px;
				margin-bottom: 15px;
			}
		}
	}
}
.list-border {
	border-bottom: 1px @gray-light solid;
	padding-top: 35px;
	padding-bottom: 25px;
}
.press-layout a:hover {
	text-decoration:none;
	color:@white;
}

/************************************************* Tech Talks */
.lang-en-us .tech-talks-grids .tech-title {
	font-weight:300;
	color: #2d3d45;
	padding-left: 0;
	padding: 20px 0 0 0;
}


.lang-en-us .tech-talks-grids .content-section {
	padding-top: 35px;
}

.lang-en-us .tech-talks-grids .toggle-grid-view a{
	margin:10px 0 0 20px;
}


.tech-talks-grids .banner-section {
	color: #5e6d78;
    font-weight: 300;
    padding-top: 70px;
}

.tech-talks-grids .list-layout .banner-section {
	padding-top: 35px;
}

.tech-talks-grids .banner-section p {
	font-size: 16px;
	padding-right: 15px;
}

.tech-talks-grids .banner-section a {
    color: #0078ef;
    font-size: 14px;
    font-weight: 400;
}

.tech-talks-grids .banner-video-title{
    padding-bottom: 25px;
    font-weight: 300;
    padding-top: 40px;
}

.tech-talks-grids hr {
	border-bottom: 1px solid #778589;
}

.lang-fr-fr .tech-talks-grids {
	background-color: @dark;

	.tech-title {
		color: @gray-white;
		font-weight: @weight-thin;
		font-size: @font-large;
		padding-left:15px;
	}

	.paddingright {
		padding-right:0px;
		a {
			margin-top:5px;
			float:left;
		}
		span {
			color:@gray-white;
			font-size:30px;
			padding:0px 20px 0px 0px;
			float:left;
		}
	}

	.toggle-grid-view {
		a {
			float:left;
			width:20px;
			height:20px;
			margin:60px 0px 0px 20px;

		}
		a:hover {
			text-decoration:none;
		}
		.no-list {
			span {
				color:@gray-white;
			}
		float:right;

			&.selected {
				span {
					color:@white;
				}
			}
		}
		.no-list:hover {
			span {
					color:@white;
				}
		}
		.yes-list {
			float:right;
			span {
				color:@gray;
			}
			&.selected {
				span {
					color:@white;
				}
			}
		}
		.yes-list:hover {
			span {
					color:@white;
				}
		}
	}

	.content-section{
		padding-top: 70px;
		transition-property:width;
		transition-duration:500ms;

		.video-title {
			color: @gray-white;
			font-weight: @weight-norm;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		p {
			color: @gray-white;
			font-size: @font-small;
			font-weight: @weight-norm;
			padding-right: 15px;
		}
		a {
			font-size: @font-tiny;
			color: @blue-primary;
			font-weight: @weight-bold;
		}
	}

	.list-layout{
		.tech-title {
			padding-bottom: 35px;
		}
		.content-section {
			border-bottom: 1px @gray solid;
			padding-top: 35px;
			padding-bottom: 35px;

			.video-title{
				padding-top:0px;
			}
		}
	}

	@media (max-width: 767px){
		.list-layout{
			.video-title {
				padding-top: 20px !important;
			}
		}
	}
}


.tech-talks-grids {
	background: @white;

	.tech-title {
		color: @dark-primary;
		font-weight: @weight-thin;
		font-size: @font-large;
		padding-left:15px;
	}

	.paddingright {
		padding-right:0px;
		a {
			margin-top:5px;
			float:left;
		}
		span {
			color:@dark-primary;
			font-size:30px;
			padding:0px 20px 0px 0px;
			float:left;
		}
	}

	.toggle-grid-view {
		a {
			float:left;
			width:20px;
			height:20px;
			margin:60px 0px 0px 20px;

		}
		a:hover {
			text-decoration:none;
		}
		.no-list {
			span {
				color:@dark-primary;
			}
		float:right;

			&.selected {
				span {
					color:@black;
				}
			}
		}
		.no-list:hover {
			span {
					color:@black;
				}
		}
		.yes-list {
			float:right;
			span {
				color:@gray;
			}
			&.selected {
				span {
					color:@black;
				}
			}
		}
		.yes-list:hover {
			span {
					color:@black;
				}
		}
	}

	.content-section{
		padding-top: 70px;
		transition-property:width;
		transition-duration:500ms;

		.video-title {
			color: @dark-primary;
			font-weight: @weight-norm;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		p {
			color: @dark-primary;
			font-size: @font-small;
			font-weight: @weight-norm;
			padding-right: 15px;
		}
		a {
			font-size: @font-tiny;
			color: @blue-primary;
			font-weight: @weight-bold;
		}
	}

	.list-layout{
		.tech-title {
			padding-bottom: 35px;
		}
		.content-section {
			border-bottom: 1px @gray solid;
			padding-top: 35px;
			padding-bottom: 35px;

			.video-title{
				padding-top:0px;
			}
		}
	}

	@media (max-width: 767px){
		.list-layout{
			.video-title {
				padding-top: 20px !important;
			}
		}
	}
}



/************************************************* Careers */
.intro-section{
	h2{
		color: @blue-primary;
		padding-bottom: 20px;
		font-weight: @weight-norm;
	}
	p{
		padding-bottom: 30px;
		color: @dark-primary;
	}
	div {
		padding-bottom:30px;
	}
	&.box {
		padding-bottom:60px;
	}
}

.cultural-section{
	background: url('@{image-url}About/Careers/culture_img.jpg') no-repeat;
	background-size: cover;
	width: 100%;

	.box {
		padding-top:100px;
	}
	h2{
		font-size: @font-large;
		font-weight: @weight-norm;
		text-align: center;
		color: @white;
		padding-bottom: 60px;
	}
	a {
		display:inline-block;

		span {
			font-size:75px;
			color:@white;
		}

	}
	a:hover {
		text-decoration:none;
		span {
			color:@blue-light;
		}
	}
	.selected {
		span {
			color:@blue-light;
		}
	}
	p{
		text-align: center;
		color: @white;
	}
	h3{
		color: @turquiose;
		padding-bottom: 20px;
		font-size: @font-semilarge;
		font-weight: @weight-norm;
		text-align: center;
	}
	.support{
		height:130px;
	}
	.cultural-container{
		text-align:center;

	}
	.cultural-pad{
		padding-bottom: 60px;
	}
}

.info-block{
	h2, h3, p{
		text-align: center;
		font-weight: @weight-norm;
	}
	h2{
		font-size: @font-large;
		color: @blue-primary;
		padding-bottom: 45px;
	}
	h3{
		padding-bottom: 20px;
	}
	p{
		color: @dark-primary;
	}
}

.job-block{
	border: 1px @gray-mid-light solid;
	border-radius: 8px;
	margin: 25px 15px 5px 0;
    padding: 20px 20px 5px 20px;
    width: 365px;
    height: 155px;

    a{
    	color:@dark-primary;
    }
	span{
		float: right;
	}
	.location{
		position: relative;
		bottom: -15px;
	}
}

.job-block:hover{
	border: 1px @blue-primary solid;
	background:  @blue-primary;

	a{
		color: @white;
		text-decoration:none;
	}
}

/* Webcast */

.webcast {
	border-radius:5px;
	padding-bottom:30px;
	margin-top:50px;
	margin-bottom: 30px;

	.date {
		padding-top:20px;
	}
	img {
		padding-bottom:30px;
	}
	&.odd {
		background-color:@dark;
		color:@gray-mid-light;

		h4 {
			color:@white;
		}
		.person {
			color:@white;
		}
	}
	&.even {
		background-color:@gray-white;
		color:@gray;

		h4 {
			color:@gray;
		}
		.person {
			color:@gray;
		}
	}
	.content {
		font-size:@font-small;
		padding:10px 40px 20px 15px;
	}
	> div {
		padding:0px 20px 0px 20px;
	}
	.author {
		font-size:@font-tiny;
		padding:10px 0px 40px 0px;
	}
	h4 {
		font-weight:@weight-bold;
		padding-bottom:10px;
	}
	.title {
		color:@blue-primary;
		padding:10px 0px 20px 0px;
		font-size:@font-norm;
		word-wrap: break-word;
	}
	.quote {
		color:@blue;
		font-size:@font-small;
		padding-bottom:20px;
	}
	span {
		display:block;
	}
	.person {
		font-weight:@weight-bold;
	}
	ul {
		padding-bottom:20px;
	}
}
.webcast-nav {
	font-size:@font-tiny;
	margin: 50px 0px 0px 20px;

	#scrollspy {
		background-color:@blue-primary;
		border-radius:5px;
		width: 300px;

		ul {

			li {
				margin-left: -17px;

				a {
					border-bottom:1px solid @white;
					display:block;
					margin-left: 17px;
					padding:0px;
					color:@white;
					cursor:pointer;
					padding-top: 15px;
					padding-bottom: 15px;

					.date {
						padding:0px 25px 0px 25px;
						display:block;
					}
					.content {
						padding:0px 25px 0px 25px;
						display:block;
					}
				}
				a:hover, a:focus {
					text-decoration:none;
					background-color: transparent;
				}
			}
			li.active {
				background: url('@{image-url}About/Webcasts/arrow.png') -0px no-repeat;
			}
		}
	}

}


/* Section 508 Compliance */
#form_thank_you {
	text-align: center;
	margin-top: 200px;
	margin-bottom: 200px;
	font-size: @font-norm;
	display: none;

	.thank-you-title {
		margin-bottom: 30px;
	}
	.thank-you-content {
		color: @blue-primary;
		margin-bottom: 60px;
	}
}

#section-508-compliance-page {
	.banner-image {
		height: 200px;
		background-image: url('/assets/images/About/section-508-compliance-banner.jpg');
		background-size: cover;
		background-position: center;
	}
	.intro {
		text-align: center;

		.mainTitle {
			font-weight: @weight-norm;
			font-size: @font-large;
			padding: 80px 0px;
		}
		.introContent {
			font-size: @font-small;
		}
	}
	.formTitle {
		border-bottom: 1px solid #778589;
		padding-bottom: 10px;
		margin-top: 60px;
		margin-bottom: 5px;
	}
	.form_field_container {
		font-size: @font-tiny;

		label {
			margin-top: 15px;
			font-weight: @weight-norm;
		}
		&#form_builder_w_optin {
			margin-top: 20px;
			input {
				width: 5%;
				float: left;
			}
			.disclaimer {
				width: 95%;
				float: right;
				margin-top: 2px;
			}
		}
		&.error input {
			outline: 2px solid red;
		}
		&.error select {
			border-color: red;
		}
		&#form_builder_w_optin.error {
			border: 1px solid red;
		}
		input, .form_builder_country_list {
			padding: 5px 10px;
			border-radius: 3px;
			border: 1px solid #778589;
			width: 100%;
		}
		.form_builder_country_list {
			padding: 7px;
		}
		.disclaimer {
			margin-top: 20px;
			a {
				color: @gray;
				text-decoration: underline;
			}
			a:hover {
				color: @blue-primary;
			}
		}
	}
	.button-blue {
		padding:10px 30px 10px 30px;
		border-radius: 30px 30px 30px 30px;
		font-size: @font-tiny;
		color: @white;
		cursor:pointer;
		background-color: @blue-light;
		border: 1px @blue-light solid;
	}
	.button-blue:hover {
		background-color: transparent;
		border:1px solid @blue-light;
		color: @blue-light;
		text-decoration:none;
	}
}

///////////////////////////////////////////////////// At a Glance
#at_a_glance {
  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  .no-padding {
    padding-left: 0;
    padding-right: 0;
  }

  #at_a_glance, #at_a_glance * {
    font-family: aktiv-grotesk, sans-serif;
  }
  section.banner {
    margin: 0 -15px;
  }
  section.banner h1 {
    position: relative;
    min-height: 351px;
  }
  section.banner h1 a {
    position: absolute;
    top: 25%;
    margin: auto;
    font-size: 44px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: #ffffff;
    font-family: aktiv-grotesk, sans-serif;
  }
  section.row.body {
    padding: 100px 0 180px;
    text-align: center;
  }
  section.row.body h2 {
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.6px;
    text-align: center;
    color: #5e6d78;
    max-width: 722px;
    margin: 0 auto 50px;
  }
  section.row.body .container > p {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: -0.3px;
    text-align: center;
    color: #5e6d78;
    max-width: 916px;
    margin-left: auto;
    margin-right: auto;
  }
  /***************************************************************** SLIDER STRUCTURE *****/
  .fancy_slider .row.header{
    background-color: #f5f5f5;
    min-height: 130px;
    margin-bottom: 100px;
  }
  .fancy_slider .row.footer {
    background-color: #f5f5f5;
    min-height: 130px;

  }
  .fancy_slider .main_slider_window {
    position: relative;
    overflow: hidden;
    max-width: 1170px;
    margin: 0 auto;
  }

  .fancy_slider .main_slider_window .slider_belt {
    position: absolute;
    left: 0;
    top: 0;
    width: 4680px;
    transition: all 0.3s ease;
  }

  .fancy_slider .main_slider_window .slider_belt .slider {
    display: block;
    margin: 0;
    padding: 0;
    float: left;
  }

  .title_window {
    position: relative;
    overflow: hidden;
    height: 100px;
    min-width: 100%;
    width: 100%;

  }
  .titles_belt {
    position: absolute;
    left: 0;
    top: 0;
    width: 400vw;
    height: 100%;
    transition: all 0.3s ease;
  }
  .titles_belt div {
    display: block;
    margin: 0;
    padding: 0;
    float: left;
    text-align: center;
  }
  .titles_belt h3 {
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.4px;
    color: #3d515c;
    display: inline-block;
    position: relative;
    padding-top: 30px;
  }
  .titles_belt h4 {
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58;
    letter-spacing: -0.3px;
    color: #3d515c;
  }

  .titles_belt #slider_title_1 h3 {
    border-top: 4px solid #0078ef;
  }
  .titles_belt #slider_title_2 h3 {
    border-top: 4px solid #8457b6;
  }
  .titles_belt #slider_title_3 h3 {
    border-top: 4px solid #df287c;
  }
  .titles_belt #slider_title_4 h3 {
    border-top: 4px solid #15db66;
  }

  /***************************************************************** SLIDER SLIDES *****/
  #slider_navigation,
  #secondary_slider_navigation {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
  #secondary_slider_navigation,
  #secondary_slider_navigation:hover,
  #slider_navigation:hover,
  #slider_navigation {
    cursor: default;
  }
  .secondary_slider_navigation {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .slider_nav {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.11;
    letter-spacing: -0.2px;
    color: #778589;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
  }
  .slider_nav:hover, .slider_dots:hover {
    cursor: pointer;
  }
  .slider_nav.previous {
    margin-right: 3%;
    transition: all 0.3s ease;
  }
  .slider_nav.next {
    margin-left: 3%;
  }
  .slider_dots {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
    border-radius: 50px;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: solid 1px #778589;
    display: inline-block;
    margin-right: 1%;
    position: relative;
    top: 7px;
  }
  .slider_dots:last-of-type {
    margin-right: 0;
  }
  .slider_dots:hover, .slider_dots:active, .slider_dots:focus, .slider_dots.active {
    background-color: #778589;
    cursor: pointer;
  }
  .slider_nav img.arrow {
    max-width: 16px;
    height: auto;
    display: inline-block;
  }
  /***************************************************************** GALLERY *****/
  .gallery_container {
  }

  .gallery_container .row div {
    margin-bottom: 30px;
  }

  .gallery_container .row .img-wrap {
    height: 130px;
    width: 100%;
    margin-bottom: 30px;
    background-color: #eee;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  /***************************************************************** TIMELINE *****/
  .slider .slider_footer {
    margin: 100px 0 50px;
    padding: 100px 0;
  }
  .timeline_container {
    width: 2px;
    height: 100%;
    padding-top: 0;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(201, 206, 209, 1) 2%, rgba(120, 133, 139, 1) 5%, rgba(120, 133, 139, 1) 95%, rgba(201, 206, 209, 1) 98%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(201, 206, 209, 1) 2%, rgba(120, 133, 139, 1) 5%, rgba(120, 133, 139, 1) 95%, rgba(201, 206, 209, 1) 98%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(201, 206, 209, 1) 2%, rgba(120, 133, 139, 1) 5%, rgba(120, 133, 139, 1) 95%, rgba(201, 206, 209, 1) 98%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=0);
    margin: 0 auto 0 10%;

  }
  .timeline_container .container {
    padding: 0;
    padding-top: 40px;
    min-width: 80vw;
  }
  .timeline_event {
    display: block;
    clear: both;
    width: 100%;
    min-height: 40px;
  }

  .timeline_marker {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #ffffff;
    border: solid 2px #778589;
    transition: all 0.05s ease;
    display: inline-block;
    float: left;
    margin-right: 30px;
    margin-left: -10px;

  }
  .timeline_details {
    display: inline-block;
    max-width: 80%;
  }
  .timeline_event:hover .timeline_marker,
  .timeline_event:focus .timeline_marker,
  .timeline_event:active .timeline_marker {
    border: solid 4px #0077ef;
  }

  .timeline_event:hover > .timeline_details .date,
  .timeline_event:hover > .timeline_details h4 {
    color: #0078ef;
  }

  /***************************************************************** Media Queries *****/
  @media screen and (min-width: 768px) {
    section.banner h1 a {
      font-size: 60px;
    }

    .gallery_container .row {
      margin-bottom: 30px;
    }

    .gallery_container .row div {
      margin-bottom: 0;
    }


    #slider_navigation {
      text-align: right;
    }

    .titles_belt div {
      text-align: left;
    }

    #secondary_slider_navigation {
      max-width: 50%;
      margin:0 auto;
      text-align: center;
    }
  }
  @media screen and (min-width: 992px) {
    .timeline_container {
      height: 2px;
      width: 100%;
      padding-top: 0;
      background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(201, 206, 209, 1) 2%, rgba(120, 133, 139, 1) 5%, rgba(120, 133, 139, 1) 95%, rgba(201, 206, 209, 1) 98%, rgba(255, 255, 255, 0) 100%);
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(201, 206, 209, 1) 2%, rgba(120, 133, 139, 1) 5%, rgba(120, 133, 139, 1) 95%, rgba(201, 206, 209, 1) 98%, rgba(255, 255, 255, 0) 100%);
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(201, 206, 209, 1) 2%, rgba(120, 133, 139, 1) 5%, rgba(120, 133, 139, 1) 95%, rgba(201, 206, 209, 1) 98%, rgba(255, 255, 255, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=1);
      margin: 0;
    }

    .timeline_container .container {
      padding: 0;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      min-width: unset;
    }

    .timeline_event {
      width: 13.5%;
      display: inline-block;
      position: relative;
      top: -9px;

    }

    .timeline_marker {
      width: 20px;
      height: 20px;
      display: block;
      border-radius: 50px;
      background-color: #ffffff;
      border: solid 2px #778589;
      margin-left: 10px;
      transition: all 0.05s ease;
      float: none;
      margin-right: 0;

    }

    .timeline_event .timeline_details {
      position: absolute;
      width: 170%;
      min-height: 100%;
      padding-left: 10px;
      -webkit-transition: top 0.5s, bottom 0.5s;
      max-width: none;
    }

    .timeline_event:nth-child(odd) .timeline_details {
      top: -8vh;
    }

    .timeline_event:nth-child(odd):hover .timeline_details {
      top: -10vh;
    }

    .timeline_event:nth-child(odd):hover .timeline_details p {
      min-height: 4vh;
    }

    .timeline_event:nth-child(even) .timeline_details {
      top: 40px;
    }

    /*.timeline_event:last-child .timeline_details {*/
    /*max-width: 100%;*/
    /*}*/
    .timeline_event .timeline_details .date,
    .timeline_event .timeline_details h4 {
      color: #000;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.5px;
      transition: all 0.3s ease;
    }

    .timeline_event .timeline_details p {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.5px;
      height: 0;
      opacity: 0;
      transition: all 0.3s ease;
    }

    .timeline_event:hover > .timeline_details p {
      height: auto;
      opacity: 1;
    }
  }
  @media screen and (min-width: 1200px) {
    .timeline_event {

    }
  }
}
/*//////////////////////////////////////
	Press Kit
//////////////////////////////////////*/

.press-kit {
	background-color: #f2f2f2;
	color: #76838b;
	padding: 30px 0px 30px 0px;
	font-size: 16px;
	h4 {
		font-size: 20px;
		color: @black;
		padding-bottom: 10px;
	}
	p {
		padding: 0px;
	}
	.press-kit-content {
		@media(min-width: 767px) {
			justify-content: space-around;
			display: flex;
			align-items: center;
		}
	}
	a {
		@media(max-width: 767px) {
    	margin-top: 20px;
		}
	}
}
/*//////////////////////////////////////
	Leadership
//////////////////////////////////////*/

#leadership {
	.direct {
		.leadership-container {
			height: 590px;
			overflow: hidden;
		}
		.hide-show-leadership {
			height: auto;
		}
		.toggleLinkHide {
			display: none;
		}
		.leadership-gradient {
			height: 28px;
			width: 100%;
			position: absolute;
			bottom: 30px;
			background: rgba(255,255,255,0.64);
			background: -moz-linear-gradient(top, rgba(255,255,255,0.64) 0%, rgba(255,255,255,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.64)), color-stop(100%, rgba(255,255,255,1)));
			background: -webkit-linear-gradient(top, rgba(255,255,255,0.64) 0%, rgba(255,255,255,1) 100%);
			background: -o-linear-gradient(top, rgba(255,255,255,0.64) 0%, rgba(255,255,255,1) 100%);
			background: -ms-linear-gradient(top, rgba(255,255,255,0.64) 0%, rgba(255,255,255,1) 100%);
			background: linear-gradient(to bottom, rgba(255,255,255,0.64) 0%, rgba(255,255,255,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
		}
	}
}
