a.back-to-top-btn {
  display: none;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  bottom: 197px;
  right: 26px;
  margin:auto;
  background: #0078ef url("@{image-url}arrow-up.png") no-repeat 10px 10px;
  background-color:#000;
  background-size:18px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  overflow:hidden;
  transition: all 0.3s ease;
  font-family: aktiv-grotesk, sans-serif;
  border: 1px solid white;
}

a.back-to-top-btn:after {
  text-indent:0;
  display:block;
  content: "Scroll to Top";
  opacity: 0;
  z-index: 9999;
  color: white;
  font-size: 16px;
  position: absolute;
  top: 12px;
  left: 39px;
  width: 100%;
  height: 100%;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: lighter;
  white-space: nowrap;
}

@media screen and (min-width:768px) {
  a.back-to-top-btn {
    display: none;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    position: fixed;
    z-index: 999;
    bottom: 197px;
    right: 26px;
    margin:auto;
    font-family: aktiv-grotesk, sans-serif;
    background: #231f1f url("@{image-url}arrow-up.png" ) no-repeat center center;
    background-size:18px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    overflow:hidden;
    transition: all 0.3s ease;
  }

  a.back-to-top-btn:hover {
    font-family: aktiv-grotesk, sans-serif;
    background: #0078ef url("@{image-url}arrow-up.png") no-repeat 10px 6px;
    background-size:18px;
    width: 150px;

  }
  a.back-to-top-btn:after {
    text-indent: 300px;
    display:block;
    content: "Scroll to Top";
    opacity: 0;
    z-index: 9999;
    color: white;
    font-size: 16px;
    position: absolute;
    top: 9px;
    left: 39px;
    width: 100%;
    height: 100%;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: lighter;
    white-space: nowrap;
    transition: all 0.3s ease;
    transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;

  }

  a.back-to-top-btn:hover:after {
    font-family: aktiv-grotesk, sans-serif;
    text-indent:0;
    opacity:1;
  }

}
