/* CSS Document */
a.noUnderlineOnHover:hover {
	text-decoration:none;
}

.vidBanner {
	height:700px;
	width:100%;
	overflow:hidden;
	background-color:#273F53;
	position:relative;
	color:white;
	text-align:center;
	
	.container {
		/*position:relative;*/
	}
	.text {
		display:block;
		height:700px;
		padding:324px 210px 0 210px;
	}
	h2 {
		font-size:80px;
		font-weight:500;
		line-height:88%;
		margin-bottom:10px;
	}
	.text.norm h2 {
		line-height:113%;
	}
	p.subtitle {
		font-size:30px;
		font-weight:300;
		line-height:107%;
		opacity:0.6;
	}
	.banner-bg {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;
		z-index: -100;
	}
	.bg_video {
		position: absolute;
		top: 50%;
		left: 50%;
		width: auto;
		height: auto;
		min-width: 100%;
		min-height: 100%;
		-webkit-transform: translate(-50%, -50%);
		   -moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	}
	.carousel-indicators {
		z-index:2;
	}
	
	.carousel-indicators li, 
	.carousel-indicators li.active {
		height:16px;
		width:16px;
		border:1px solid white;
		border-radius:8px;
		padding:0;
		margin:0 4px;
	}
	.carousel-indicators li.active {
		background-color:white;
	}
}
@media (max-width: @screen-md) {
	.vidBanner {
		height:360px;
		margin-top:50px;
		.text {
			height:400px;
			padding:120px 8% 0 8%;
		}
		h2 {
			font-size:40px;
			line-height:100%;
		}
		p.subtitle {
			font-size:20px;
			line-height:107%;
		}
		
		.bg_video {
			display: none;
		}
	}
}
@media (max-width: 600px) {
	.vidBanner {
		height:300px;
		.text {
			height:400px;
			padding:90px 8% 0 8%;
		}
		h2 {
			font-size:32px;
		}
	}
}

.relative {
	position:relative;
}
.bos-hide {
	-webkit-transition: transform 0.6s, opacity 1s;
	-moz-transition: transform 0.6s, opacity 1s;
	transition: transform 0.6s, opacity 1s;
}
.bos-hide2 {
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	transition: opacity 1s;
}
.bos-hidden {
	-webkit-transform: translate(0, 150px);
	   -moz-transform: translate(0, 150px);
		-ms-transform: translate(0, 150px);
		transform: translate(0, 150px);
	opacity:0.01; /* Force images to load */
}
.bos-hidden2 {
	opacity:0;
}

.bos-intro {
	padding:64px 10% 75px 10%;
	color: #5e6d78;
	font-size:18px;
	font-weight:300;
	line-height:144%;
	text-align:center;
	h2 {
		font-size:34px;
		font-weight:300;
		line-height:118%;
		color:@dark-primary;
		margin-bottom:50px;
	}
	p {
		text-align:center;
	}
}
.bos-intro.variant1 {
	padding-top:95px;
	h2 {
		font-size:40px;
		margin-bottom:25px;
	}
	p {
		max-width:763px;
		margin-left:auto;
		margin-right:auto;
	}
}
.bos-intro.variant2 {
	padding-top:95px;
	h2 {
		margin-bottom:20px;
	}
	p {
		max-width:763px;
		margin-left:auto;
		margin-right:auto;
	}
}
.bos-intro.variant2.v2wide {
	p {
		max-width:826px;
	}
}
.bos-intro.variant3 {
	padding-top:100px;
	h2 {
		margin-bottom:25px;
	}
	p {
		max-width:736px;
		margin-left:auto;
		margin-right:auto;
	}
}
.bos-intro.variant4 {
	padding-top:75px;
	padding-bottom:55px;
	h2 {
		font-size:30px;
		margin-bottom:40px;
		color:@dark;
	}
	p {
		font-size:24px;
		font-weight:300;
		line-height:133%;
		color:@dark-primary;
	}
}
.bos-intro.variant5 {
	padding-top:100px;
	padding-bottom:25px;
	h2 {
		font-size:40px;
		line-height:125%;
		max-width:582px;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:15px;
	}
	p {
		font-size:18px;
		line-height:144%;
		margin-left:auto;
		margin-right:auto;
		max-width:604px;
	}
}
.variant-blue {
	background-color:#00baff;
	.bos-intro {
		padding-top:75px;
		padding-bottom:45px;
		color:white;
		h2 {
			max-width:863px;
			margin:0 auto 25px auto;
			color:white;
		}
		p {
		}
	}
}
.variant-blue.purple {
	background-color:@violet;
}
.variant-aqua {
	background-color:#00c3c3;
	.bos-intro {
		padding-top:85px;
		padding-bottom:72px;
		color:white;
		h2 {
			max-width:863px;
			margin:0 auto 25px auto;
			color:white;
		}
		p {
		}
	}
}
.variant-gray {
	background-color:#f5f5f5;
	.bos-intro {
		padding-top:100px;
		padding-bottom:55px;
		h2 {
			margin-bottom:20px;
		}
		p {
			max-width:736px;
			margin-left:auto;
			margin-right:auto;
		}
	}
}
@media (max-width: @screen-sm) {
	.bos-intro,
	.bos-intro.variant1,
	.bos-intro.variant2,
	.bos-intro.variant3,
	.bos-intro.variant4,
	.variant-blue .bos-intro,
	.variant-gray .bos-intro,
	.variant-aqua .bos-intro {
		padding-top:30px;
		padding-bottom:20px;
		h2 {
			font-size:24px;
		}
	}
}

#num_ways {
	padding:75px 6% 58px 6%;
	h2 {
		color:@dark-primary; 
		font-size:34px;
		font-weight:300;
		line-height:118%;
		text-align:center;
		strong {
			font-weight:500;
		}
	}
	.colors {
		text-align:center;
		margin-bottom:25px;
		span,
		a {
			display:inline-block;
			margin:0 1px 0 0;
			width:65px;
			height:5px;
			font-size:1px;
			line-height:1px;
		}
		.color-build {
			background-color:#38c2ff;
		}
		.color-operate {
			background-color:#7e1c82;
		}
		.color-secure {
			background-color:#00c3c3;
		}
	}
}
.bos-banner {
	font-size:18px;
	font-weight:300;
	line-height:133%;
	min-height:614px;
	cursor:pointer;
	.color-bar {
		display:block;
		width:380px;
		max-width:50%;
		height:5px;
		margin-bottom:100px;
	}
	.banner-content { 
		max-width:500px;
		padding-bottom:40px;
	}
	h3 {
		font-size:30px;
		font-weight:300;
		padding:0;
		margin-bottom:70px;
	}
	h2 {
		font-size:34px;
		font-weight:300;
		line-height:106%;
		padding:0;
		margin-bottom:25px;
	}
	.button {
		padding-top:40px;
		.button-clear-blue-prim,
		.button-clear-white {
			display:inline-block;
			padding:10px 30px 10px 30px;
			line-height:120%;
		}
	}
}
@media (max-width: @screen-sm) {
	.bos-banner {
		.color-bar {
			margin-bottom:60px;
		}
	}
}
#banner-build {
	color:white;
	.color-bar {
		background-color:#38c2ff;
	}
	h3 {
		color:#29ceff;
	}
}
#banner-operate {
	color:@dark-primary;
	.color-bar {
		background-color:#7e1c82;
	}
	h3 {
		color:#7e1c82;
	}
}
#banner-secure {
	color:white;
	.color-bar {
		background-color:#00c3c3;
	}
	h3 {
		color:#00c3c3;
	}
}

#bos-stats-intro {
	padding-top:115px;
	padding-bottom:56px;
	h3 {
		text-align:center;
		font-size:34px;
		line-height:126%;
		font-weight:300;
		max-width:863px;
		margin:0 auto;
		padding:0;
		.purple {
			color:#7e1c82;
		}
	}
}
@media (max-width: @screen-sm) {
	#bos-stats-intro {
		padding-top:30px;
		padding-bottom:20px;
		h3 {
			font-size:24px;
			line-height:126%;
		}
	}
}

.bos-stats {
	padding-top:56px; 
	padding-bottom:51px;
	padding-left:4%;
	.stat {
		margin-bottom:25px;
		h3 {
			font-size:20px;
			font-weight:500;
			line-height:130%;
			color:#5e6d78;
		}
		.statnum {
			font-size:80px;
			font-weight:300;
			color:#7e1c82;
			line-height:100%;
			margin-bottom:10px;
			.colorthing {
				display:block;
				width:70px;
				height:2px;
				background-color:#7e1c82;
			}
		}
		.stat-description {
			font-size:16px;
			font-weight:300;
			line-height:125%;
			color:#5e6d78;
			max-width:220px;
		}
	}
}

@media (max-width: @screen-sm) {
	.bos-stats {
		padding-top:30px;
		padding-bottom:20px;
		.stat {
			max-width:300px;
			margin-left:auto;
			margin-right:auto;
			.statnum {
				font-size:60px;
			}
		}
	}
}

.bos-logos {
	border-top:1px solid #e3e7ea;
	padding-top:56px;
	padding-bottom:80px;
	.bos-logos2 {
		display:table;
		table-layout:fixed;
		margin:0 -40px;
	}
	.logo {
		display:table-cell;
		width:2%;
		text-align:center;
		img {
			display:block;
			margin:0 auto;
		}
		span {
			display:block;
			margin:0 auto;
			width:130px;
			height:50px;
		}
	}
	.logo a:hover {
		text-decoration:none;
	}
	.logo a:hover span {
		background-position:center top !important;
	}
}

@media (max-width:847px) {
	.bos-logos {
		.bos-logos2 {
			margin:0;
		}
	}
}
@media (max-width: @screen-sm) {
	.bos-logos {
		padding-top:30px;
		padding-bottom:30px;
		.bos-logos2 {
			width:100%;
			.logo {
				display:block;
				width:100%;
				margin-bottom:20px;
			}
		}
	}
}

.icols {
	padding-top:20px;
	padding-bottom:50px;
	.icol {
		margin-bottom:25px;
		.img {
			height:85px;
			img {
				display:block;
				margin:0 auto;
			}
		}
		.content {
			text-align:center;
			font-size:16px;
			font-weight:300;
			line-height:125%;
			color:@dark-primary;
			padding:0 6%;
		}
	}
}
.icols2 {
	padding-bottom:10px;
	.icol {
		margin-bottom:50px;
		.img {
			height:73px;
			img {
				margin:0 0 0 6%;
			}
		}
		.content {
			text-align:left;
			padding-right:12%;
			strong {
				font-size:18px;
				font-weight:bold;
			}
		}
	}
}
@media (max-width: @screen-sm) {
	.icols,
	.icols2 {
		padding-top:20px;
		padding-bottom:20px;
		.icol {
			.content {
				padding:0 6%;
			}
		}
	}
}

.bos-help-intro {
	padding-top:75px;
	padding-bottom:40px;
	h2 {
		font-weight:300;
		font-size:30px;
		line-height:107%;
		text-align:center;
		margin:0;
		padding:0;
	}
}
@media (max-width: @screen-sm) {
	.bos-help-intro {
		padding-top:20px;
		padding-bottom:20px;
	}
}

.bos-help {
	display:table;
	width:100%;
	color:@dark-primary;
	font-size:18px;
	font-weight:300;
	line-height:133%;
	.bos-help-cell {
		display:table-cell;
		width:50%;
		min-height:372px;
		/*background-color:#f5f5f5;*/
		.container-half-left {
			margin-left:auto;
			width:585px;
			min-height:372px;
			padding:90px 75px 75px 30px;
		}
		.container-half-right {
			margin-right:auto;
			width:585px;
			min-height:372px;
			padding:90px 75px 75px 50px;
		}
	}
	ul {
		margin:0;
		padding:0;
		li {
			margin-bottom:22px;
		}
	}
}

@media (max-width: @screen-lg) {
	.bos-help {
		.bos-help-cell {
			.container-half-left,
			.container-half-right {
				width:485px;
			}
		}
	}
}
@media (max-width: @screen-md) {
	.bos-help {
		.bos-help-cell {
			.container-half-left,
			.container-half-right {
				width:375px;
			}
		}
	}
}
@media (max-width: @screen-sm) {
	.bos-help {
		.bos-help-cell {
			display:block;
			width:100%;
			min-height:0;
			.container-half-left,
			.container-half-right {
				width:100%;
				min-height:0;
			}
			.container-half-left {
				padding:30px 30px 1px 30px;
			}
			.container-half-right {
				padding:0 30px 30px 30px;
			}
		}
		.empty {
			display:none;
		}
	}
}


.bos-reasons {
	padding-top:75px;
	padding-bottom:50px;
	.item {
		min-height:220px;
		.trend {
			float:left;
			width:10.5%;
			.reason-label {
				display:inline-block;
				vertical-align:bottom;
				font-size:14px;
				text-transform:uppercase;
				color:#b6c1c2;
				font-weight:300;
				line-height:100%;
				padding-bottom:16px;
			}
			.num {
				display:inline-block;
				font-size:80px;
				font-weight:300;
				color:@blue;
				line-height:100%;
				margin-left:3px;
			}
		}
		.trend.one {
			.num {
				margin-left:-14px;
			}
		}
		.title {
			float:left;
			width:25%;
			font-size:30px;
			font-weight:500;
			line-height:124%;
			color:@dark-primary;
			margin-right:7.2%;
		}
		.bullets {
			float:left;
			width:40%;
			font-size:16px;
			line-height:125%;
			li {
				list-style-type:none;
				background:transparent url(/assets/images/bos/check.png) left 10px no-repeat;
				padding-left:49px;
				margin-bottom:18px;
				min-height:30px;
			}
		}
	}
	ol.carousel-indicators {
		position:absolute;
		top:10px;
		right:3.8%;
		left:auto;
		width:auto;
		bottom:auto;
		li {
			display:block;
			width:14px;
			height:14px;
			border-radius:7px;
			border:1px solid @blue;
			font-size:1px;
			line-height:1px;
			padding:0;
			margin-bottom:30px;
		}
		li.active {
			background-color:@blue;
		}
	}
}
.operate-reasons {
	background-color:#f5f5f5;
	.bos-reasons {
		padding-top:55px;
		padding-bottom:40px;
		.item {
			.trend {
				width:6.3%;
				.num {
					color:@violet;
				}
			}
			.title {
				width:30%;
				margin-right:1.5%;
			}
		}
	}
	ol.carousel-indicators {
		li {
			border:1px solid @violet;
		}
		li.active {
			background-color:@violet;
		}
	}
}
@media (max-width: @screen-md) {
	.operate-reasons .bos-reasons {
		.item {
			.trend {
				width:8.3%;
			}
		}
	}
}
@media (max-width: @screen-sm) {
	.bos-reasons,
	.operate-reasons .bos-reasons {
		padding-top:30px;
		padding-bottom:20px;
		.item {
			.trend {
				float:left;
				width:21%;
				margin-left:4%;
			}
			.title {
				float:left;
				width:50%;
				margin-right:0;
				margin-bottom:15px;
			}
			.bullets {
				clear:both;
				float:none;
				width:90%;
				li {
					background:transparent url(/assets/images/bos/check.png) left top no-repeat;
					margin-bottom:20px;
				}
			}
		}
		ol.carousel-indicators {
			top:50px;
		}
	}
}
@media (max-width: 500px) {
	.bos-reasons,
	.operate-reasons .bos-reasons {
		.item {
			.trend {
			}
			.title {
				font-size:24px;
				line-height:115%;
			}
			ul.bullets {
				li {
				}
			}
		}
	}
}


.bos_help {
	padding-top:75px;
	padding-bottom:75px;
	.img {
		padding-top:25px;
		padding-right:10%;
		img {
			display:block;
			margin:0 auto;
		}
	}
	.content {
		padding-right:10%;
		h2 {
			font-size:24px;
			font-weight:300;
			line-height:108%;
			color:#263133;
			margin-bottom:40px;
		}
		ul.blue-checks {
			list-style-type:none;
			margin:0;
			padding:0;
			li {
				background:transparent url(/assets/images/bos/check2.png) left 5px no-repeat;
				margin-bottom:12px;
				padding-left:25px;
			}
		}
	}
}
.bos_help.variant1 {
	padding-top:15px;
	padding-bottom:85px;
}
@media (max-width: @screen-sm) {
	.bos_help,
	.bos_help.variant1 {
		padding-top:20px;
		padding-bottom:20px;
		.img {
			padding-right:0;
		}
		.content {
			padding-right:0;
			font-size:14px;
			h2 {
				font-size:20px;
				margin-bottom:10px;
			}
			ul.blue-checks {
				li {
					background:transparent url(/assets/images/bos/check2.png) left 2px no-repeat;
					margin-bottom:8px;
					padding-left:25px;
				}
			}
		}
		
	}
}

.bos-products {
	margin-top:70px;
	background-color:#2c3d45;
	padding-top:95px;
	padding-bottom:157px;
	h2 {
		font-size:34px;
		font-weight:300;
		line-height:118%;
		color:white;
		margin-bottom:90px;
		text-align:center;
	}
	.product {
		border:0;
		font-size:14px;
		line-height:125%;
		margin:0;
		padding-bottom:24px;
		color:#bbbbbb;
		.product-link {
			display:block;
			margin:0 0 10px 0;
			font-size:16px;
			color:#00baff;
		}
		a {
			color:#00baff;
		}
	} 
}
.bos-products.no-margin {
	margin-top:0;
}
@media (max-width: @screen-sm) {
	.bos-products {
		margin-top:20px;
		padding-top:30px;
		padding-bottom:30px;
		text-align:center;
		h2 {
			font-size:24px;
			margin-bottom:25px;
		}
	}
}



.columnified {
	padding-top:20px;
	padding-bottom:65px;
	h2 {
		font-size:20px;
		font-weight:500;
		line-height:130%;
		margin-bottom:19px;
		color:@dark-primary;
	}
	span.aqua-bg {
		display:block;
		width:70px;
		height:2px;
		background-color:#00c3c3;
		margin-bottom:25px;
	}
	.aqua {
		color:#00c3c3;
		font-size:18px;
		line-height:133%;
		font-weight:300;
		padding-right:6%;
		margin-bottom:35px;
	}
	.column2 {
		padding-left:20px;
		font-size:14px;
		line-height:129%;
		color:@dark-primary;
		margin-bottom:35px;
		.inner-column {
			padding-right:12%;
			li {
				margin-bottom:15px;
			}
		}
	}
}
.columnified2 {
	padding-top:1px;
	padding-bottom:30px;
	.content {
		opacity:0.8;
		font-size:16px;
		font-weight:300;
		line-height:125%;
		color:@dark-primary;
		padding-right:6%;
		margin-bottom:25px;
	}
}

@media (max-width: @screen-md) {
	.columnified {
		.column2 {
			padding-left:15px;
			.inner-column {
				padding-right:6%;
			}
		}
	}
}
@media (max-width: @screen-md) {
	.columnified {
		padding-bottom:10px;
	}
}





/*
inspired from http://codepen.io/Rowno/pen/Afykb 
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

/*//////////////////////////////
	build operate secure
/////////////////////////////*/
div.vidBanner{
	margin-top: 0px !important;
	background-size:auto 100% !important; 
	background-position:right top !important;
}

@media only screen and (max-width: 321px) and (min-width: 319px){
		html div.vidBanner{
			background-attachment: unset !important;
		}
		
	}

div.vidBanner div.text{
	padding-right: 180px;
	padding-left: 180px;
	@media screen and (max-width: @screen-sm) {
			padding-top: 120px !important;
		}
	h1{
		font-size: 80px;
    	font-weight: 500;
    	line-height: 88%;
    	margin-bottom: 10px;
		font-weight: 300;
		@media screen and (max-width: @screen-sm) {
			font-size: 50px;
		}
		strong{
			font-weight: 800;
		}
	}
}
@media (max-width: @screen-md) {
	div.vidBanner{
		background-position: 70% 0% !important;
		background-attachment: unset;
	}
	div.vidBanner div.text{
		padding-right: 20px;
		padding-left: 20px;
		padding-top:180px;
	}
}

.growing-image{
	img{
		max-height:300px;
		padding:30px;
		transition:padding .2s ease-in;
	}
	img:hover{
		padding:0px;
		transition:padding .2s ease-in;

	}
}

#num_ways {
	padding-top: 0px;

	.colors{
		margin-bottom: 40px;
	}
	h2{
		margin-bottom: 40px;
	}
	p, .helping-bold{
		text-align: center;
		max-width: 760px;
		margin:auto;
	}
	p:last-of-type{
		padding-bottom:0px;
	}
	.helping-bold{
		font-weight: 500;
		padding-top: 40px;
	}
}

.benefits-agile{
	.container{
		padding-bottom: 50px;	
	}

	h2 strong{
		font-weight: 700;
	}
	h3 {
		text-align: center;
		margin-bottom:70px;
	}
	.equal-height{
		min-height: 70px;
	}
	img{
		margin-bottom: 20px;
	}
	h4 {
		margin-bottom: 15px;
	}
	.paragraph-spacing{
		margin-bottom: 70px;
		max-width: 470px;
	}

	.colors.top a, .colors.top span{
			margin-bottom: 20px;
		}

	.colors {
		text-align:center;
		height:19px;

		span{
			margin-right: -2px;
    		margin-left: -2px;

		}

		span,
		a {
			display:inline-block;
			
			width:65px;
			height:5px;
			/*font-size:1px;*/
			/*line-height:1px;*/
		}
		.color-build {
			background-color:#38c2ff;
		}
		.color-operate {
			background-color:#7e1c82;
		}
		.color-secure {
			background-color:#00c3c3;
		}
	}
}


@media screen and (max-width: @screen-md) {
			#banner-operate{
				.gradiant{
					background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 1), rgba(255, 255, 255, .3));
				    background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 1), rgba(255, 255, 255, .3));
				    background-image: -webkit-gradient(linear, 100 100, 100% 0, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, .3)));
				    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 1), rgba(255, 255, 255, .3));
				    background-image: -o-linear-gradient(left, rgba(255, 255, 255, 1), rgba(255, 255, 255, .3));
				    background-image: linear-gradient(left, rgba(255, 255, 255, 1), rgba(255, 255, 255, .3));
				    background-repeat: repeat-x;
				    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255, 255, 255, 1)', endColorstr='rgba(0, 0, 0, 0)', GradientType=1);
				    padding: 2rem 0;
				    height 100%;
				    border-radius: 10px;
				}
			}
			#banner-operate .gradiant p{
		    	color:black;
		    }
	    }
.bos-help{
	font-size: 20px;
	h2{
		margin-bottom: 40px;
		font-size: 34px;
		font-weight: @normal;
	}
	h3{
		margin-bottom: 40px;
		font-size: 20px;
	}
	ul{
		padding-left: 40px;
	}
	ul li{
		margin-bottom: 10px;

	}
	.smaller-font{
		font-size:@font-tiny;
	}
	.bos-help-cell div.container-half-right{
		padding-top:40px;
		padding-bottom: 40px;
	}

}

#bos_products{
	padding-bottom: 100px;
	margin-top: 0px;
	.product{
		margin-bottom: 40px;
	}
	span{
		float:left;
		color:#E3E7EA;
		font-size:44px;

	}
	a{
		padding-left:60px;
	}
	div.extra-spacing{
		padding-left: 60px;
	}
	@media screen and (max-width: @screen-md) {
		text-align: center;
		span{
			float:none;
		}
		a{
			text-align: center;
			margin-top:10px;
			padding-left: 0px;
		}
		div.extra-spacing{
			padding-left: 0px;
			text-align: center;
			max-width: 300px;
			margin:auto;
		}
	}
}
.bos-stats .stat{
	h3{
		min-height: 50px;
	}
}
.bos-stats .stat .statnum{
	color:#38c2ff;
	.colorthing{
		background-color: #38c2ff;
	}
}