// These styles are for Transitioned Brand pages
.borland {
	background: url('@{image-url}/brands/borland/borland.jpg') right center no-repeat;
	background-size:cover;
}

.brands {
	h2 {
		font-weight: 300;
	    color: #6A7C87;
	    padding: 40px 0 20px;
	    font-size: 40px;
	}
	h3 {
	    color: #2C3D45;
	    font-size: 30px;
	    font-weight: 300;
	    padding: 20px 0;
	}

	ul li {
		list-style: none;
	}
}
@media(max-width: 500px) {
	.brands h3 {
		word-wrap: break-word;
	}
}
#brand-summary {
	background-image: url('@{image-url}/brands/bg-pattern.png');
	background-position: center;
    background-size: cover;
    position: relative;
    padding: 80px 0px 50px;
    color: #FFF;
    min-height: 450px;
    font-weight: 300;
    background-repeat: no-repeat;
    margin-top: 50px;
}

.brand-summary {
	padding: 0px 30px 0px 30px;
	h2 {
    	color: #0078EF;
    	font-size: 40px;
    	font-weight: 300;
    	margin-bottom: 20px;
    }
    p {
    	font-size: 23px;
    	font-weight: 300;
    	color: #000;
    	word-break: break-word;
    }
}

.brandsupport {
	margin: 50px 0;
	h2 {
		font-weight: 300;
	}
	.icon {
		font-size: 70px;
	}
	a {
		display: block;
		margin: 5px 0 0;
	}
}

#borland-popup,
#attachmate-popup {
	.modal-content {
		border-radius:0;
		background: white url(/assets/images/floating-background.png) center center no-repeat;
		background-size:cover;
		border:0;
		color:white;
		position:relative;
	}
	.modal-header {
		padding-top:35px;
	}
	&.modal .modal-body {
		padding-bottom:50px;
	}
	h2 {
		color:white;
		font-size:30px;
		line-height:42px;
	}
	.aqua {
		font-weight: 400;
	}
	a {
		color:#1FFBBA;
		text-decoration:underline;
		display:inline;
	}
	a.close {
		text-decoration:none;
		font-weight:100;
		font-size:44px;
		position:absolute;
		top:10px;
		right:15px;
		color:white;
		opacity:0.6;
	}
	a.close:hover {
		opacity:0.8;
	}
	.continue {
		position:absolute;
		bottom:-23px;
		font-size:14px;
		left:0;
		opacity:0.8;
	}
}
/* *******************************

 Novell Brand page

 ********************************/

.novell {
	background: url('@{image-url}/brands/novell/novell.jpg') right center no-repeat;
	background-size: cover;
}
.gwava{
	background: url('@{image-url}/Gwava/gwava-transition-banner.png') right center no-repeat;
	background-size: cover;
}

div.novellBrands {
	h2 {
		padding-top: 60px;
		padding-bottom: 45px;
		font-weight: @weight-norm;
		font-size: @font-norm;
		color: @dark;
		line-height:1.33;
	}
	h3 {
		padding-bottom: 25px;
		font-weight: @weight-heavy;
		font-size: @font-tiny;
		color: @gray;

		@media (max-width: 992px){
			margin-top:30px;
		}
	}
	ul {
		padding:0px;
		@media(max-width: @screen-md) {
			padding-bottom: 25px;
			.sub-ul{
				padding-bottom:0px;
			}
		}

		.sub-ul{
				margin-left:30px;
			}

		&.twoColumn {

			column-count: 2;
			-webkit-column-count: 2;
			-moz-column-count: 2;
			@media(max-width: @screen-sm) {
				columns: 1;
				-webkit-columns: 1;
				-moz-columns: 1;
			}

		}
		li {
			list-style: none;
			font-size: @font-small;
			font-weight: @weight-norm;
			color: @blue-primary;
			a {
				padding-left: 1em;
				text-indent: -1em;
				display:inline-block;
			}
		}
	}
}
div.novellSummary {

	div.brand-summary {

			h2 {
			font-weight: @weight-norm;
			font-size: @font-norm;
			color: @dark;
			line-height:1.07;
			padding-bottom:5px;
		}
		p {
			font-size: @font-small;
			font-weight: @weight-norm;
			line-height: 1.44;
			color: @dark-primary;
		}
	}
	.brandSupportWrapper {
		background-color: @dark;
		.brandsupport {
			margin-top:70px;
		}
		.support-left {

			.icon-support {
				color:@gray;
				margin-right: 50px;
				margin-bottom: 20px;
			}
			h2 {
				color:@white;
				font-weight: @weight-norm;
				font-size:@font-norm;
				letter-spacing: -0.5px;
				display: inline-block;
				padding-top:23px;
				margin-bottom: 20px;
				vertical-align: top;
				max-width: 338px;


				@media (max-width:992px) {
					padding-top:15px;
				}
				@media (max-width:767px) {
					padding-top:23px;
					border-right:inherit;
				}
				@media (max-width: 452px) {
					padding-top: 0;
					vertical-align: initial;
				}
				@media (max-width:265px) {
					padding-left:20px;
				}
			}
		}
		.support-right {
			border-left: @gray solid 2px;
			padding-left:40px;
			@media (max-width:@screen-md) {
				border-left:inherit;
				padding-left:initial
			}
			a {
				color:@blue-light;
				font-weight: @weight-norm;
				font-size:@font-seminorm;
				line-height: 1.3;
			}
		}
	}
}
@media (max-width: @screen-sm){
	div#borland-popup .aqua {
		font-size: @font-norm;
	}
}

/* *******************************

Serena Brand page

 ********************************/

.serena {
	background: url('@{image-url}brands/serena/serena-brand-banner.jpg') right center no-repeat;
	background-size: cover;
}
#serena-history{
	p{
		font-size: 16px;
		font-weight: 300;
		line-height: 1.44;
		color: #5e6d78;
	}

	h2{
		font-weight: 300;
    	font-size: 24px;
    	color: #263133;
	}
}

/* *******************************

	netiq product redirects

 ********************************/
.modal-body a#white-link {
    color:white;
    text-decoration: none;
 }
