/* Campaigns Landing Page */
.modal-open {
    overflow-y:auto;
}
.blue-subtitle {
	color:@blue-primary;
	font-size:@font-norm;
}
.bigaqua-subtitle {
	color:@aqua;
	font-size:@font-semihuge;
}
.aqua-subtitle {
	color:@aqua;
	font-size:@font-norm;
}
.campaign-hr {
	border-bottom:2px @gray-light solid;
}
.banner-button {
	margin-top:30px;
}
.top_border_2px {
    border-top:2px @gray-mid-light solid;
}
.borderbottom {
    border-bottom:1px @dark-primary solid;
}
.camp_resources_image {
    float:left;
    margin:0 20px 20px 20px;
}
.camp_resource_text {
    font-size:@font-seminorm;
    margin:0 20px 20px 0;
}
@media(max-width:500px) {
	.repeat-same-side h1,
	.repeat-same-side h2,
	.repeat-opposite-side h3,
	.campagin_soultions h2 {
		word-wrap:break-word;
	}
}
@media screen and (max-width:@screen-sm) {
	.camp_resources_image {
		margin-left:0;
		margin-bottom:40px;
		max-width:33%;
	}
	.camp_resource_text {
		font-size:16px;
		line-height:135%;
	}
}
.banner-link {
	margin-top:30px;
	a {
		font-size:@font-seminorm;
		color:@white;
		font-weight:@weight-norm;
	}
}
.notopbox {
    padding-top:0;
    padding-bottom:70px;
}
.blue-span {
	color:@blue-light;
	font-weight:@weight-norm;
}
.rehostpics {
    float:right;
    padding:0 20px 20px;
}
.campaigns {
	font-size:@font-small;
    .nobullets {
        list-style:none;
        margin-left:0px;
        margin-top:10px;
        &.devdays {
            a {
                font-size:@font-seminorm;
                font-weight:@weight-bold;
                color:@blue-primary;
            }
        }
    }
	ul {
		margin:0px 0 20px 11px;
        &.campaign-buttons {
            margin-top:25px;
            margin-left:0px;
            display:inline-block;
            padding-left:0px;
               li {
                list-style:none;
                float:left;
                margin-right:20px;

					a {
						display:block;
						margin-bottom:20px;
					}
                }
                li.first{
                    padding-bottom:20px;
                }
        }
	}
	h2 {
		color:@blue-primary;
		font-weight:@weight-norm;
		padding-bottom:30px;
		font-size:@font-semilarge;
	}
	h3 {
		color:@blue-primary;
		font-weight:@weight-norm;
		font-size:@font-seminorm;
		padding-bottom:30px;
	}
	h4 {
		font-size:@font-seminorm;
		font-weight:@weight-heavy;
		color:@dark-primary;
		padding-bottom:10px;
        padding-top:10px;
        &.extraspace {
            padding-bottom:30px;
        }
	}
	.resource-block {
		display:block;
		width:100%;
		background-color:@blue-primary;
		color:@white;
		max-width:380px;
        border-radius:6px;
        margin-bottom:40px;

		.image {
			float:left;
			padding:20px 0px 20px 20px;
			width:35%;
			span {
				font-size:@font-huge;
			}
		}
		.content {
			padding:18px 15px 20px 15px;
			float:left;
			width:60%;

			.title {
				font-size:@font-seminorm;
				word-wrap:break-word;
			}
		}
	}
	.resource-block:hover {
		background-color:@dark-primary;
	}
	.video {
		position:relative;
		max-width:380px;
        display:inline-block;

		.play {
			position:absolute;
			z-index:9;
			height:100%;
			width:100%;
			background:url('@{image-url}Campaigns/play-btn.png') center no-repeat;
		}
		.play:hover {
			background:url('@{image-url}Campaigns/play-btn-hover.png') center no-repeat;
		}
        p {
            position:absolute;
			z-index:9;
            bottom:0px;
            text-align:center;
            left:4%;
            right:8%;
            color:@white;
        }
	}
	.video-info {
		padding-bottom:20px;
	}
	.max-width {
		max-width:380px;
	}
	.titles {
		h2:first-child {
			padding-top:65px;
		}
		h2 {
			padding-top:40px;
		}
	}
}

/* Campaigns Seconday Page */
.campaign-left {
	padding:60px 30px 60px 0px;
	font-size:@font-small;
    @media (max-width:@screen-md) {
        padding-left:10px;
    }
	h3 {
		padding:30px 0px 30px 0px;
		border-top:3px solid @dark;
		color:@blue-primary;
		font-weight:@weight-norm;
		font-size:@font-semilarge;
	}
    h4 {
		font-size:@font-seminorm;
		font-weight:@weight-heavy;
		color:@dark-primary;
		padding-bottom:10px;
        padding-top:10px;
	}
    h5 {
        font-size:@font-norm;
        font-weight:@weight-norm;
        padding-bottom:20px;
    }
    .nobullets {
        list-style:none;
        margin-left:0px;
        margin-top:10px;
        &.devdays {
            a {
                font-size:@font-seminorm;
                font-weight:@weight-bold;
                color:@blue-primary;
            }
        }
    }
    ul {
		margin:0px 0 20px 11px;
        &.campaign-buttons {
            margin-top:25px;
            margin-left:0px;
            display:inline-block;
            padding-left:0px;
               li {
                list-style:none;
                float:left;
                margin-right:20px;
                }
        }
	}
    .floatleft {
        float:left;
        padding-right:15px;
    }
    .regular {
        font-weight:@weight-heavy;
    }
    img {
        margin-bottom:20px;
    }
    .vid {
        margin-bottom:15px;
        padding-right:0px;
        h4 {
            position:absolute;
            left:10%;
            top:70%;
            max-width:60%;
            z-index:10;
            color:@white;
            font-size:@font-seminorm;
            font-weight:@weight-norm;
            text-align:center;
            @media (max-width:@screen-lg) {
				font-size:@font-small;
			}
            @media (max-width:@screen-md) {
				font-size:@font-seminorm;
			}
            @media (max-width:@screen-sm) {
				font-size:@font-tiny;
			}
        }
    }
    .blue {
        color:@blue-primary;
        font-weight:@weight-heavy;
    }
}

.campaign-right {
	padding:60px 30px 30px 30px;
	color:@white;
	font-size:@font-small;
    background-color:@dark;
    margin-bottom:10px;
    input, select {
        background-color:@dark;
        color:@white;
    }

    [class^="icon-"], [class*=" icon-"] {
        padding-left:15px;
    }
	.form_builder_form {
		#w_optin {
			float:left;
			width:30px;
			padding-top:10px;
		}

		.disclaimer {
			float:left;
			width:90%;
			width:~"calc(100% - 35px)";
			padding-top:2px;
		}
		label.radio-inline {
			width: auto;
			display: inline-block;
		}
		input[type="radio"] {
			height: auto;
			width: auto;
			display: inline-block;
		}
	}
    &.white {
        background-color:@white;
        color:@dark;
    }
    p {
        font-weight:@weight-norm;
		padding-top:10px;
    }
    a {
        color:@blue-light;
        &.button-blue-primary {
            color:@white;
        }
    }
    a:hover {
        &.button-blue-primary {
            color:@blue-primary;
        }
    }
    .form_builder_submit {
    	float:left;
    	margin-left:1px;
        a {
            color:@white;
        }
    }

	h3 {
		padding:20px 0px 30px 0px;
		border-top:3px solid @blue;
		font-weight:@weight-norm;
		font-size:@font-norm;
		border-bottom:1px @dark-primary solid;
		margin-bottom:30px;
        &.simple {
            font-size:@font-seminorm;
            font-weight:@weight-heavy;
            color:@blue-primary;
            border:none;
            margin-bottom:0;
        }
	}
    h4 {
        color:@dark;
        font-size:@font-seminorm;
        padding-bottom:30px;
    }
	[class^="icon-"], [class*=" icon-"] {
		font-size:@font-huge;
		margin-bottom:30px;
		margin-right:20px;
		display:inline-block;
	}
	.resource-title {
		margin-bottom:40px;
        margin-left:15px;
	}
    ul {
        li {
            padding-top:20px;
            padding-bottom:30px;
            border-top:1px @dark solid;
        }
        li:last-child {
            border-bottom:1px @dark solid;
            margin-bottom:50px;
        }
    }
    option{
    	color:@white;
    }
}

/* repeat-same-side */
.repeat-same-side {
	font-size:@font-small;
	&.box {
		padding-bottom:40px;
	}
	h1 {
		font-weight:@weight-norm;
		font-size:@font-large;
		padding-bottom:20px;
		color:@blue-primary;
	}
	h2 {
		font-weight:@weight-norm;
		font-size:@font-semilarge;
		padding-bottom:20px;
		color:@blue-primary;
	}
	.right-title {
		font-size:@font-seminorm;
		color:@blue-primary;
		margin-bottom:20px;
		display:block;
	}
	.right-image {
		text-align:center;
		margin:0 auto;

		img {
			margin:0 auto;
		}
	}
	.resource-block {
		display:block;
		width:100%;
		background-color:@blue-primary;
		color:@white;
		max-width:380px;
        border-radius:6px;
        margin-bottom:40px;

		.image {
			float:left;
			padding:20px 0px 20px 20px;
			width:35%;
			span {
				font-size:@font-huge;
			}
		}
		.content {
			padding:18px 15px 20px 15px;
			float:left;
			width:60%;
			font-size:@font-small;

			.length {
				display:block;
				padding-top:10px;
				font-size:@font-tiny;
				color:@gray-white;
			}

		}
	}
	.resource-block:hover {
		background-color:@dark-primary;
	}
}
.even-sameside {
	background-color:@gray-white;
}
.repeat-opposite-side {
	font-size:@font-small;

	.box {
		border-top:1px solid @gray-white;
		padding-bottom:0px;
	}
	.capstitle {
		font-size:@font-semilarge;
		text-transform:none;
		color:@blue-primary;
	}
	.col-sm-6 {
		padding-bottom:80px;
	}
	h3 {
		font-weight:@weight-norm;
		color:@blue-primary;
		padding-bottom:20px;
	}
	img {
		text-align:center;
		margin:0 auto;
	}
	.button-blue-primary {
		margin-top:15px;
	}
	.video {
		position:relative;
		max-width:380px;
        display:inline-block;

		.play {
			position:absolute;
			z-index:9;
			height:100%;
			width:100%;
			background:url('@{image-url}Campaigns/play-btn.png') center no-repeat;
		}
		.play:hover {
			background:url('@{image-url}Campaigns/play-btn-hover.png') center no-repeat;
		}
	}
}
.campagin_soultions {
	font-size:@font-small;
	.box {
		border-top:1px solid @gray-white;
	}
	h2 {
		font-weight:@weight-norm;
		font-size:@font-semilarge;
		padding-bottom:20px;
		color:@blue-primary;
	}
	h3 {
		font-weight:@weight-norm;
		font-size:@font-norm;
		padding-bottom:10px;
		color:@turquiose;
	}
	.thesoultions {
		padding-top:30px;
	}
	a {
		display:block;
		color:@blue-primary;
		margin-top:10px;
		font-size:@font-semitiny;
	}
}
.campagin_resource {
	background-color:@dark;
	.box {
		padding-bottom:50px;
	}
	.resource-image {
		box-shadow:none;
	}

	.the-resource {
		padding-bottom:30px;
		.image {
			width:40%;
			float:left;
			padding-right:10px;
		}
		.content {
			color:@white;
			float:left;
			width:55%;

			a {
				display:block;
				font-size:@font-tiny;
				color:@blue-light;
			}
			.type, length {
				font-size:@font-tiny;
				padding-bottom:5px;
				display:block;
			}
			.title {
				font-size:@font-small;
				color:@gray-light;
				padding-bottom:5px;
				display:block;
			}
		}
	}
	span {
		color:@white;
		font-size:@font-huge;
	}
}

.campagin_webinar {
	background-color:@gray-light;
	h3 {
		font-weight:@weight-norm;
		color:@blue-primary;
		font-size:@font-semilarge;
		padding-bottom:20px;
	}
	.author {
		margin-bottom:20px;
		color:@blue-primary;
		display:block;
	}
	.bio {
		font-size:@font-tiny;
	}
	.img {
		margin-bottom:40px;
		display:block;
	}
	.padding {
		margin-bottom:20px;
	}
	.video {
		position:relative;
		max-width:380px;
        display:block;
		margin-bottom:20px;

		.play {
			position:absolute;
			z-index:9;
			height:100%;
			width:100%;
			background:url('@{image-url}Campaigns/play-btn.png') center no-repeat;
		}
		.play:hover {
			background:url('@{image-url}Campaigns/play-btn-hover.png') center no-repeat;
		}
	}
}

/*Serena campaign landing*/
.landing-module {
	.intro {
		font-size:@font-norm;
		padding:10px 0px 60px;
	}
	.main_content {
		h4 {
			font-size:@font-norm;
			font-weight:@weight-norm;
			padding-bottom:40px;
		}
		ul {
			line-height:280%;
			li {
				color:@blue-primary;
				span {
					color:initial;
					line-height:150%;
					display:inline-block;
					vertical-align:text-top;
				}
			}
		}
		p {
			padding:40px 0px 0px;
		}
	}
	.excerpt_content {
		h6 {
			text-transform:uppercase;
			font-size:@font-small;
			color:@gray-mid;
			padding:110px 0px 10px;
		}
		p {
			font-style:italic;
		}
	}
	.unstyle-link {
		.resource-type {
			font-size:@font-tiny;
		}
		h4 {
			font-size:@font-small;
		}
	}
}
.dow {
  padding-bottom:44px;
}
.space-top {
	margin-top:154px;
	margin-bottom:68px;
}
.location-title {
	font-size:@font-small;
	font-weight:@weight-heavy;
	 line-height:1.38;
	 padding-top:8px;
	 padding-bottom:22px;
}
.main-paragraph-li {
	font-size:@font-tiny;
	font-weight:weight-norm;
	line-height:1.43;
	color:@dark-primary;
}
.view-on-demand-top {
	padding-top:28px;
}
#Serviceangebotes {
	white-space:nowrap;
}
@media(max-width:420px){
	#Serviceangebotes {
		white-space:normal;
	}
}


/*Single Opportunity Page (SOP)
------------------------------------------*/
.gated-sop {
	.banner {
		background-image:url('@{image-url}Resources/banner-sop.jpg');
		background-size:cover;
		background-position:center;
		color:@white;
		padding-bottom:100px;

		.gate-mf-logo {
			display:block;
			background:url('@{image-url}Home/micro-focus-logo.svg');
			width:99px;
			height:24px;
			margin:40px 0 0;
			text-indent:-9999px;

			&:hover {
				cursor:pointer;
			}
		}
		.title {
			margin-top:120px;
			margin-bottom:20px;
			font-size:@font-semihuge;
			font-weight:@weight-norm;
		}
		.subtitle {
			margin-bottom:50px;
			font-size:@font-norm;
		}
		.banner-icon {
			margin-top:90px;
		}
		@media (max-width:@screen-sm) {
			.title {
				font-size:@font-semilarge;
				margin-top:90px;
			}
			.subtitle {
				font-size:@font-seminorm;
			}
		}
	}
	.page-content {
		margin-bottom:110px;
		.overview-headline {
			font-size:@font-semilarge;
			margin-top:80px;
		}
		.overview-content {
			margin-top:30px;
			font-size:22px;
		}
		.gray-line {
			margin-top:20px;
			margin-bottom:40px;
			height:2px;
			background-color:#2c3d45;
			opacity:0.39;
		}
		.bullet-points-title {
			margin-top:20px;
			font-size:@font-norm;
		}
		.bullet-points {
			margin-top:20px;
			ul {
				list-style:none;
				padding:0px;
				li {
					padding-left:1em;
					text-indent:-1em;
					padding-top:10px;
					strong {
						font-weight:@weight-heavy;
					}
				}
				li:before {
					content:"+";
					font-weight:@weight-heavy;
				}
			}
		}
		.bulletpoint-section {
			margin-top:40px;
			margin-bottom:20px;
			color:@dark;
			.point-icon {
				margin-bottom:10px;
			}
			.title {
				font-weight:@weight-heavy;
				margin-bottom:0px;
			}
			.content {
				font-size:@font-small;
			}
		}
		.content-after-bullets {
			margin-top:30px;
		}
		.excerpt-title {
			margin-top:40px;
			font-size:@font-small;
			color:@gray-mid;
		}
		.excerpt-content {
			margin-top:20px;
			color:@gray;
			font-style:italic;
		}
		.cta-line {
			margin-top:40px;
			font-size:@font-norm;
			font-weight:@weight-heavy;
		}
		@media (max-width:@screen-sm) {
			margin-bottom:70px;
		}
	}
	.form {
		background-color:@white;
		box-shadow:0 10px 20px 0 rgba(0, 0, 0, 0.1);
		padding:40px;
		border-radius:5px;
		position:relative;
		top:-140px;

		.form-header {
			margin-bottom:30px;
			.resource {
				font-size:@font-tiny;
				color:@gray-mid;
				img {
					box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.3), 0 2px 4px 0 rgba(0, 0, 0, 0.21);
				}
				.type {
					padding-bottom:10px;
				}
				.title {
					font-size:@font-seminorm;
  					line-height:1.3;
					color:@black;
				}
				.tiny {
					padding-bottom:0px;
					padding-top:10px;
				}
				span {
					font-size:@font-huge;
				}
			}
		}
		.form-body {
			input, select {
				padding:10px 15px;
				width:100%;
			}
			label.radio-inline {
				width: auto;
				display: inline-block;
			}
			input[type="radio"] {
				height: auto;
				width: auto;
				display: inline-block;
			}
			.form_builder_form {
				#form_builder_w_optin input[type="checkbox"] {
					display:none;
				}
				#form_builder_w_optin {
					margin-top:15px;
					cursor:pointer;
					background:transparent url(/assets/images/Campaigns/checkbox.png) left top no-repeat;
					label {
						display:none;
					}
					br {
						display:none;
					}
				}
				#form_builder_w_optin.checked {
					background:transparent url(/assets/images/Campaigns/checkbox.png) left -200px no-repeat;
				}
				p.disclaimer {
					margin-left:30px;
					color:#6a7c87;
				}
			}
		}
		.form_builder_submit {
			margin:0px;
			text-align:center;
			width:100%;
			float:none;
			a {
				padding:10px 60px;
				background-color:@blue-primary;
				color:white;
				display:inline-block;
				margin:0 auto;
				font-size:@font-seminorm;
				font-weight:@weight-heavy;
				border:1px solid @blue-primary;
				@media (max-width:@screen-md) {
					padding:10px 40px;
				}
			}
			a:hover {
				background-color:transparent;
				border:1px solid @blue-primary;
				color:@blue-primary;
			}
		}
		.spacer-div {
			height:30px;
		}
		@media (max-width:@screen-sm) {
			position:static;
		}
	}

  .form {
		background-color:@white;
		box-shadow:0 10px 20px 0 rgba(0, 0, 0, 0.1);
		padding:40px;
		border-radius:5px;
		position:relative;
		top:-140px;

		.form-header {
			margin-bottom:30px;
			.resource {
				font-size:@font-tiny;
				color:@gray-mid;
				img {
					box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.3), 0 2px 4px 0 rgba(0, 0, 0, 0.21);
				}
				.type {
					padding-bottom:10px;
				}
				.title {
					font-size:@font-seminorm;
  					line-height:1.3;
					color:@black;
				}
				.tiny {
					padding-bottom:0px;
					padding-top:10px;
				}
				span {
					font-size:@font-huge;
				}
			}
		}
		.form-body {
			input, select {
				padding:10px 15px;
				width:100%;
			}
			.form_builder_form {
				#form_builder_w_optin input[type="checkbox"] {
					display:none;
				}
				#form_builder_w_optin {
					margin-top:15px;
					cursor:pointer;
					background:transparent url(/assets/images/Campaigns/checkbox.png) left top no-repeat;
					label {
						display:none;
					}
					br {
						display:none;
					}
				}
				#form_builder_w_optin.checked {
					background:transparent url(/assets/images/Campaigns/checkbox.png) left -200px no-repeat;
				}
				p.disclaimer {
					margin-left:30px;
					color:#6a7c87;
				}
			}
		}
		.form_builder_submit {
			margin:0px;
			text-align:center;
			width:100%;
			float:none;
			a {
				padding:10px 60px;
				background-color:@blue-primary;
				color:white;
				display:inline-block;
				margin:0 auto;
				font-size:@font-seminorm;
				font-weight:@weight-heavy;
				border:1px solid @blue-primary;
				@media (max-width:@screen-md) {
					padding:10px 40px;
				}
			}
			a:hover {
				background-color:transparent;
				border:1px solid @blue-primary;
				color:@blue-primary;
			}
		}
		.spacer-div {
			height:30px;
		}
		@media (max-width:@screen-sm) {
			position:static;
		}
	}
  .form-b {
    top: 0px;
    margin-top: 80px;
  }
	.sop-quote {
		padding-top:80px;
		padding-bottom:70px;
		background-color:@blue-primary;
		color:@white;
		text-align:center;
		font-size:@font-semilarge;

		.by-line {
			margin-top:10px;
			font-size:@font-small;
			div {
				display:inline-block;
			}
			.diagonal-line {
				width:30px;
				.line {
					margin:0px;
					height:30px;
					border-right:1px solid white;
					opacity:0.5;
					transform:rotate(27deg);
					position:relative;
					top:7px;
				}
			}
		}
	}
}


/* Thank You Page 05/24/2017 */
.thank-you {
	padding-top:80px;
	padding-bottom:100px;

	.mainheader {
		color:@blue-primary;
		font-size:@font-semilarge;
		text-align:center;
	}
	.resource-blue-box {
		margin-top:50px;
		background-color:@blue-primary;
		padding:20px;
		padding-bottom:30px;
		border-radius:4px;
		font-size:@font-tiny;
		color:@gray-mid-light;
		.resource {
			.title {
				font-size:@font-small;
				font-weight:@weight-heavy;
				margin-top:10px;
				padding-bottom:0px;
				line-height:1.56;
			}
			.cta-link {
				margin-top:15px;
				color:@blue-light;
			}
			span {
				font-size:@font-huge;
			}
			.resource-image {
				box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.3), 0 2px 4px 0 rgba(0, 0, 0, 0.21);
			}
		}
	}
	.resource-blue-box:hover {
		background-color:@dark-primary;
	}
	.thank-you-blurb {
		margin-top:30px;
		font-size:@font-small;
		color:@dark-primary;
		font-weight:@weight-bold;
		text-align:center;
	}
	@media (max-width:@screen-sm) {
		.resource-blue-box .resource {
			.type {
				margin-top:20px;
			}
		}
	}
}
.thank-you-related {
	padding-top:60px;
	padding-bottom:120px;
	font-size:@font-tiny;

	.related-resources-title {
		margin-bottom:50px;
		color:@gray;
	}
	.resources {
		.resource-img {
			box-shadow:0 1px 4px 0 rgba(0, 0, 0, 0.41);
		}
		.cta-link {
			color:@blue-light;
		}
		.type {
			color:@gray;
		}
		.title {
			margin-top:10px;
			font-size:@font-small;
			font-weight:@weight-heavy;
			line-height:1.56;
			color:@dark;
		}
		.tiny {
			color:@gray;
			margin-top:5px;

		}
		.cta-link {
			margin-top:20px;
		}
		&:hover {
			.cta-link {
				text-decoration:underline;
			}
		}
	}
	@media (max-width:@screen-md) {
		padding-bottom:100px;
		.resources {
			margin-bottom:40px;
		}
	}
	@media (max-width:@screen-sm) {
		padding-bottom:40px;
		.resources {
			clear:both;
			.resource-img {
				margin-bottom:10px;
				height:auto;
			}
			.cta-link {
				margin-bottom:40px;
			}
		}
	}
}
.tech-talks-grids ul {
	color:#5e6d78;
	font-size:16px;
	padding-bottom:20px;
}
