/* Muli-Offer Page (MOP)
---------------------------------------------------------------------------------*/
.mop-default-asset {
	.content {
		font-size: @font-tiny;
		color: @dark-primary;
		.asset-title {
			font-size: @font-small;
			color: @dark;
			font-weight: @weight-heavy;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.asset-link {
			padding-top: 10px;
			color: @blue-primary;
			font-size: @font-seminorm;
		}
	}
	img {
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	}
	span {
		font-size: 70px;
	}
	.unstyle-link:hover {
		.content {
			text-decoration: none;
			text-shadow: 1px 1px px #B6C1C2;
		}
		.asset-link {
			text-decoration: underline;
		}
	}
}
.button-green {
	padding-top: 7px;
	padding-bottom: 7px;
	border-radius: 30px 30px 30px 30px;
	font-size: @font-tiny;
	color: @white;
	background-color: #00d78e;
	border: 1px #00d78e solid;
	display:inline-block;
	font-weight: @weight-heavy;
	text-align: center;
	&:hover {
		background-color: transparent;
		color: #00d78e;
		text-decoration: none;
	}
	@media (max-width: @screen-sm){
		padding-right: 40px;
		padding-left: 40px;
	}
}

.mop-main-module {
	.banner {
		background-image: url('@{image-url}Campaigns/MOP/banner-mop.jpg');
		background-size: cover;
		background-position: center;
		color: @white;
		padding-top: 30px;
		padding-bottom: 120px;

		.gate-mf-logo {
			&:hover {
				cursor: pointer;
			}
			.backup-image {
				display: block;
				width: 99px;
				height: 24px;
				margin: 40px 0 0;
			}
		}
		.banner-icon-padding {
			padding-top: 80px;
		}
		.title {
			padding-top: 20px;
			font-size: @font-semihuge;
			font-weight: @weight-norm;
		}
		.subtitle {
			padding-top: 20px;
			font-size: @font-norm;
		}
		.cta-button {
			margin-top: 30px;
			font-size: @font-seminorm;
			padding: 10px 65px;
		}
	}

	.menu-bar {
		background-color: @blue-primary;
		.menu-item {
			color: @white;
			display: inline-block;
			padding: 30px;
		}
		.menu-item:hover {
			text-decoration: none;
			padding-bottom: 25px;
			border-bottom: 5px solid white;
			transition:
				padding 0.3s,
				border 0.3s;
		}
	}

	.overview {
		padding-top: 100px;
		padding-bottom: 100px;
		.title {
			font-size: 35px;
			padding-bottom: 40px;
		}
		.asset-headline {
			font-size: 22px;
			padding-bottom: 40px;
		}
		.overview-asset {
			.overview-asset-thumbnail {
				padding-left: 0px;
			}
		}
	}
	@media (max-width: @screen-sm) {
		.banner {
			padding-bottom: 80px;
			.title {
				padding-top: 60px;
				font-size: @font-semilarge;
			}
			.subtitle {
				font-size: @font-seminorm;
			}
			.cta-button {
				font-size: @font-small;
			}
		}
		.menu-bar {
			padding-top: 20px;
			padding-bottom: 20px;
			.menu-item {
				padding: 15px 30px;
				display: block;
			}
		}
		.overview {
			padding-top: 60px;
			padding-bottom: 60px;
		}
	}
}


/* Main Interest */
.main-interest {

	.interestOdd, .interestEven {
		display: flex;
		align-items: stretch;
		.image {
			background-repeat: no-repeat;
			background-size: cover;
			background-position-x: center;
			a {
				display: inline-block;
			}
		}
		.content {
			padding-top: 70px;
			padding-bottom: 50px;
			font-size: @font-seminorm;

			.asset-headline {
				font-size: 22px;
			}
			.main-interest-asset {
				padding-top: 40px;
				.unstyle-link {
					color: black;
				}
				.asset-title {
					font-size: @font-norm;
					font-weight: @weight-heavy;
					@media (max-width: 500px) {
						font-size: @font-seminorm;
					}
				}
				.asset-length {
					margin-top: 15px;
				}
				.event-date {
					margin-top: 10px;
				}
				span {
					font-size: 80px;
				}
			}
			.asset-summary {
				font-size: @font-small;
				padding-top: 30px;
			}
			.cta-button {
				margin-top: 50px;
				font-size: @font-seminorm;
				font-weight: @weight-heavy;
				padding: 10px 50px;
			}
		}
	}
	.interestOdd {
		.content {
			background-color: @gray-white;
		}
		.unstyle-link img {
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
		}
	}
	.interestEven {
		.content {
			padding-bottom: 130px;
			background-color: @dark;
			color: @gray-white;

			.asset-title {
				color: @white;
			}
			.asset-length {
				margin-top: 15px;
			}
			div.float-right {
				float: right;
			}
			.event-date, span {
				color: @white;
			}
		}
	}
	@media (max-width: @screen-sm) {
		.interestOdd, .interestEven {
			display: block;
			.content{
				padding-right: 15px;
				padding-left: 15px;
				div.float-right {
					float: none;
				}
				.cta-button-container {
					text-align: center;
				}
			}
		}
	}
}


/* Main Interest 2 */
.main-interest2 {
	.mi-option2 {
		background-image: url('@{image-url}Campaigns/MOP/mop-main-interest2-banner.jpg');
		background-size: cover;
  		box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
		margin-bottom: 70px;
		border-radius: 10px;
		padding: 85px;
		padding-top: 40px;
		padding-bottom: 60px;
		display: flex;
		align-items: flex-end;

		.headline {
			font-size: @font-semilarge;
			color: @white;
			padding-bottom: 20px;
		}
		.content {
			color: @white;
		}
		.flex-item {
			display: flex;
			align-items: center;
		}
		.unstyle-link {
			color: @dark;
			text-decoration: none;
		}
		.event-type {
			font-size: @font-tiny;
			padding-bottom: 5px;
		}
		.event-title {
			font-size: 22px;
			padding-bottom: 10px;
		}
		.event-date {
			font-size: @font-seminorm;
			font-weight: @weight-heavy;
		}
		span {
			font-size: 65px;
			margin-left: -10px;
		}
		.asset-length {
			margin-top: 15px;
		}

		.cta-button {
			font-size: @font-seminorm;
			font-weight: @weight-heavy;
			text-align: center;
			padding: 10px 70px;
			margin-top: 55px;
		}
	}
	@media (max-width: @screen-lg){
		color: @white;
		.mi-option2{
			.unstyle-link {
				color: @white;
			}
			.cta-button {
				background-color: transparent;
				border: 1px solid white;
			}
			.cta-button:hover {
				background-color: @white;
			}
		}
	}
	@media (max-width: @screen-md) {
		.mi-option2 {
			padding: 60px;
			display: block;

			.content {
				padding-bottom: 25px;
			}
			span {
				margin-left: 0px;
			}
		}
	}
	@media (max-width: @screen-sm) {
		.mi-option2 {
			padding-right: 15px;
			padding-left: 15px;

			.asset-text {
				padding: 0px;
				padding-top: 25px;
			}
			.cta-button {
				margin-top: 35px;
				padding: 10px 40px;
			}
		}
	}
}

/* Main Interest 3 */
.main-interest3 {
	background-size: cover;
	background-position: center;
	color: @white;
	.blue-gradient {
		background-image: url('@{image-url}Campaigns/MOP/blue-slice.png');
		background-size: cover;
		padding-top: 80px;
		padding-bottom: 75px;
	}
	.event-icon {
		padding-bottom: 20px;
		span {
			font-size: 45px;
		}
	}
	.event-type {
		font-size: @font-tiny;
		padding-bottom: 10px;
	}
	.event-title {
		font-size: 22px;
		padding-bottom: 10px;
		font-weight: @weight-bold;
	}
	.event-date {
		padding-bottom: 20px;
	}
	.content {
		font-size: @font-small;
		padding-bottom: 50px;
	}
	.cta-button {
		font-size: @font-seminorm;
		font-weight: @weight-heavy;
		padding: 10px 50px;
	}
	.button-clear:hover {
		background-color: white;
		color: @blue-primary;
	}
	.main-interest-asset {
		margin-bottom: 50px;
		.mi3-headline {
			font-size: 22px;
			padding-bottom: 40px;
		}
		.asset-title {
			font-size: @font-norm;
			font-weight: @weight-heavy;
			@media (max-width: 500px) {
				font-size: @font-seminorm;
			}
		}
		.asset-length {
			margin-top: 15px;
		}
		.event-date {
			margin-top: 10px;
		}
		span {
			font-size: 80px;
		}
	}
}

/*Supporting Info 1 */
.supporting-info {
	padding-top: 80px;
	padding-bottom: 120px;

	.flex-items-inside {
		display: flex;
		align-items: center;
		.title {
			font-size: @font-semilarge;
			font-weight: @weight-norm;
		}
		.content {
			margin-top: 30px;
			font-size: @font-small;
		}
		img {
			margin: auto;
		}
	}
	.featured-products {
		margin-top: 120px;
		padding-top: 40px;
		border-top: 2px solid #cacaca;
		font-size: @font-small;;
  		line-height: 1.56;
		.title {
			margin-bottom: 30px;
			font-weight: @weight-heavy;
		}
		.products-list a {
			color: @blue-primary;
		}
		.products-list a:hover {
			text-decoration: underline;
		}
	}
	@media (max-width: @screen-sm) {
		.flex-items-inside {
			display: block;
		}
		.featured-products .mop-default-asset {
			margin-top: 30px;
			.content  {
				padding: 0px;
				.type {
					margin-top: 15px;
				}
			}
		}
	}
}



/*Supporting Info 2
---------------------------------------------------------------------------------- */
/* Safari 4.0 - 8.0 */
@-webkit-keyframes navIHover {
	100% {
		background-color: #3d515c;
	}
}
@keyframes navIHover {
	100% {
		background-color: #3d515c;
	}
}

.supporting-info-two {
	.supporting-info-headline2 {
		padding-top: 80px;
		font-size: @font-large;
		text-align: center;
		padding-bottom: 60px;
	}
	.supporting-info-nav {
		display: flex;
		align-items: flex-end;
		.navI a.active {
			background-color: @gray-mid-light;
			color: @dark;
			&:hover {
				// This is so the already selected tab had no hover effect on it.
				animation: none;
				-webkit-animation: none;
			}
		}
		.navI a {
			color: @white;
			background-color: #6a7c87;
			padding: 30px 10px;
			text-align: center;
			font-size: 22px;
		}
		.navI a:hover {
			text-decoration: none;
			animation: navIHover 0.3s ease-out forwards;
			-webkit-animation: navIHover 0.3s ease-out forwards;  /* Safari 4.0 - 8.0 */
		}
		@media (max-width: @screen-sm) {
			.navI {
				padding: 0px;
				a {
					display: block;
					padding: 10px 15px;

				}
			}
		}
	}
	.supporting-info-tab-container {
		background-color: @gray-mid-light;
		padding-bottom: 80px;
		@media (max-width: @screen-sm) {
			padding-bottom: 50px;
		}
	}
	.supporting-info-tabs {
		padding-top: 80px;

		.center-div {
			text-align: center;
			.title {
				font-size: @font-semilarge;
				margin-bottom: 40px;
			}
			.content {
				padding-bottom: 40px;
			}
		}
		.column-title, .row-title {
			font-weight: @weight-heavy;
			font-size: @font-norm;
			padding-bottom: 40px;
		}
		.column-title {
			text-align: center;
		}
		.row-title {
			text-align: left;
		}

		.three-columns.col-sm-4 {  // this is to make the colums fit and look better
			padding-right: 60px;
			@media (max-width: @screen-lg) {
				padding-right: 20px;
			}
			@media (max-width: @screen-md) {
				padding-right: 5px;
			}
			@media (max-width: @screen-sm) {
				padding-right: 15px;
			}
		}
		.title-container {
			display: inline-block;
			padding-bottom: 30px;
				font-size: @font-norm;
			.number {
				font-weight: @weight-heavy;
				padding-bottom: 20px;
				padding-left: 0px;
			}
			.icon span {
				font-size: 50px;
			}
			.subtitle {
				font-size: @font-seminorm;
			}
		}
		.content {
			font-size: @font-small;
		}
		.we-help-div {
			padding-top: 40px;
			.we-help-list-title {
				margin-bottom: 20px;
			}
			.we-help-list {
				font-size: @font-small;
	  			line-height: 1.38;

				ul {
					padding-right: 25px;
				    list-style-image: url('@{image-url}Campaigns/MOP/greenCheck.svg');
				    li {
				    	padding-left: 5px;
				    	padding-bottom: 10px;
				    }
				}
			}
		}
		.cta-buttonAsset-div {
			padding-top: 60px;
			.cta-button {
				font-size: @font-seminorm;
				font-weight: @weight-heavy;
			}
		}
		.column-assets {
			padding-top: 60px;
		}

		.simple-layout {
			padding-top: 20px;
			font-size: @font-norm;
			.list-title {
				padding-bottom: 20px;
			}
			.list {
				font-size: @font-small;
				ul {
					padding-right: 25px;
				    list-style-image: url('@{image-url}Campaigns/MOP/greenCheck.svg');
				    li {
				    	padding-left: 5px;
				    	padding-bottom: 10px;
				    }
				}
			}
			.asset-container {
				margin-top: 80px;
				border-top: solid 1px #cacaca;
				padding-top: 80px;
				.asset-section-title {
					padding-bottom: 60px;
				}
				.mop-default-asset {
					padding-bottom: 40px;
				}
			}
		}

		.list-headline {
			.title {
				font-size: @font-semilarge;
				padding-bottom: 30px;
			}
			.content {
				padding-bottom: 40px;
				clear: both;
			}
		}

		.list-item {
  			border-bottom: solid 1px #cacaca;
			padding-top: 40px;
  			padding-bottom: 40px;
			font-size: @font-norm;
			.title {
				padding-bottom: 20px;
			}
			.number {
				padding-left: 0px;
				font-weight: @weight-heavy;
			}
			.list-content {
				font-size: @font-small;
			}
		}
		.list-item:last-child {
			border: none;
		}


		.SI-tab {
			display: none;
		}
		.SI-tab:first-child {
			display: block;
		}
	}
	@media(max-width: @screen-sm) {
		.supporting-info-tab-container {
			padding-bottom: 0px;
		}
		.container {
			padding: 0px;
			.row {
				margin: 0px;
			}
		}
		.supporting-info-tabs {
			padding: 0px;

			.column-title {
				text-align: left;
			}
			.three-columns {
				padding-bottom: 80px;
				.we-help-div {
					padding-top: 20px;
				}
				.mop-default-asset {
					padding-top: 20px;
				}
				.cta-button-div {
					padding-top: 20px;
					padding-bottom: 40px;
					text-align: center;
				}
			}
			.SI-tab {
				display: block;
				padding: 50px 15px 0px 15px;
			}
			.SI-tab:nth-child(even) {
				background-color: @gray-light;
			}
			.list-item {
				border: none;
				padding-top: 0px;
				padding-bottom: 80px;
			}
		}
	}
}



/* Supporting Assets 1 */
.supporting-assets {
	background-color: @gray-white;
	padding-top: 60px;
	padding-bottom: 100px;

	.supporting-assets-headline {
		text-align: center;
		font-size: @font-semilarge;
		margin-bottom: 50px;
	}
	.supporting-asset-container {
		display: inline-flex;
		align-items: stretch;
		.asset-border {
			border-right: 2px solid @dark-primary;
			padding: 10px 40px;

			.content {
				padding-right: 0px;
			}
		}
		.asset-border:last-child {
			border: none;
		}
	}
	@media (max-width: @screen-lg) {
		.supporting-asset-container {
			.asset-border {
				padding: 10px 20px;
			}
		}
	}
	@media (max-width: @screen-sm) {
		.supporting-asset-container {
			display: block;
			.asset-border {
				border: none;
				.asset-link {
					margin-bottom: 40px;
				}
			}
		}
	}
}
.supporting-assets-dark {
	background-color: #2c3d45;
	.supporting-assets-headline {
		color: @white;
	}
	.supporting-asset-container {
		.asset-border {
			border: none;
		}
		.resource-image {
			box-shadow: none;
		}
		.content {
			.type, .asset-title, .length {
				color: #d4d6da;
			}
			.asset-link {
				color: #29ceff;
			}
		}
	}
}


/* Supporting Asset 2 */
.single-asset-option1 {
	background-image: url('@{image-url}Campaigns/MOP/single-asset-option1-background.jpg');
	background-size: cover;
	background-position: center;
	padding-top: 60px;
	padding-bottom: 50px;
	color: @white;
	.section-text {
		font-size: @font-tiny;
		padding-bottom: 20px;
		letter-spacing: 1px;
	}
	.option2-headline {
		font-size: @font-semilarge;
		font-weight: @weight-bold;
		padding-bottom: 30px;
	}
	.option2-content {
		font-size: @font-seminorm;
	}
	.supporting-asset-option2 {
		background-color: @gray-white;
		padding: 30px;
		padding-top: 40px;
		border-radius: 3px;
		.unstyle-link {
			font-size: @font-tiny;
			color: @dark-primary;

			.asset-type {
				margin-bottom: 10px;
			}
			.asset-title {
				color: @dark;
				font-size: 20px;
				margin-bottom: 10px;
				@media (max-width: @screen-sm) {
					font-size: @font-tiny;
				}
			}
		}
		.asset-cta {
			text-align: center;
			.button-green {
				margin-top: 20px;
				font-size: @font-seminorm;
			}
		}
	}
}
/* Supporting Asset 3*/
.single-asset-option2 {
	.container {
		display: flex;
		align-items: flex-end;
	}
	.supporting-asset-option3 {
		padding: 60px 0px;
		.sa-option3-headline {
			text-align: center;
			font-size:22px;
			line-height: 1.36;
			padding-bottom: 20px;
		}
		.asset-cta {
			padding-top: 40px;
			text-align: center;
			.button-green {
				font-size: @font-seminorm;
			}
		}
	}
}



/* Next Steps
--------------------------- */
.next-steps {
	background-color: #026cb4;
	font-size: @font-norm;
	color: @white;
	padding-top: 80px;
	padding-bottom: 50px;
	p {
		padding: 0px;
	}
	.main-title {
		font-size: 35px;
		padding-bottom: 60px;
	}
	.phone-blurb {
		padding-bottom: 50px;
	}
	.phone-number {
		font-size: @font-large;
		font-weight: @weight-heavy;
		a {
			color: @white;
			text-decoration: none;
			cursor: context-menu;
		}
	}
	.signup-blurb {
		padding-bottom: 30px;
	}
	label {
		font-weight: @weight-norm;
		font-size: @font-tiny;
	}
	input, select {
		color: @dark-primary;
		font-size: @font-small;
		border: none;
		border-radius: 2px;
		padding: 9px 20px;
	}
	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background:#ffffff url(/assets/images/Campaigns/open-icon.png) 96% 18px no-repeat;
	}
	.updates-country {
		margin-top: 20px;
	}
	.error-message {
		font-size: @font-small;
		display: inline-block;
		color: #fff200;
		padding: 10px 0 0 0;
	}
	.input-button {
		display: inline-block;
		margin-top: 40px;
		font-weight: @weight-heavy;
		font-size: @font-small;
		input {
			border-radius: 100px;
			padding: 8px 40px;
			color: @white;
			border: 1px solid #00d78e;
		}
		input:hover {
			color: #00d78e;
		}
		@media (max-width: @screen-lg) {
			margin-top: 20px;
			margin-left: 0px;
		}
	}
	@media (max-width: @screen-sm) {
		.phone-number {
			text-align: center;
			font-size: 32px;
		}
		.signup-blurb {
			padding-top: 50px;
		}
	}
}



.next-steps-rac {
	padding-top: 80px;
	padding-bottom: 50px;
	background-color: @gray-light;
	font-size: 22px;
	.main-title {
		text-align: center;
		font-size: 35px;
		padding-bottom: 60px;
	}
	.phone-number {
		font-size: @font-large;
		color: @blue-primary;
		text-decoration: none;
		font-weight: @weight-heavy;
		a:hover {
			text-decoration: none;
			cursor: context-menu;
		}
	}
	.rac-blurb {
		padding-top: 80px;
		padding-bottom: 20px;
	}
	#form_content {
		.form_builder_form {
			.form_field_container {
				margin-top: 20px;
				width: 33%;
				float: left;
				padding: 0px 15px;
				select {
					font-size: 15px;
				}
				input, select {
					padding: 10px 15px;
					width: 100%;
					background-color: @white;
					border-radius: 2px;
				}
				select {
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					background:#ffffff url(/assets/images/Campaigns/open-icon.png) 96% 18px no-repeat;
				}
			}
			#form_builder_c_job_title {
				display: none;
			}
			#form_builder_postalCode, #form_builder_stateProvince, #form_builder_address1 {
				width: 50%;
			}
			#form_builder_comment {
				width: 66%;
				input {
					height: 120px;
				}
			}
			#form_builder_w_optin {
				margin-top: 30px;
				.checkbox {
					width: 20px;
					float: left;
				}
				label {
					display: none;
				}
				.disclaimer {
					width: 90%;
					float: right;
					padding-bottom: 10px;
				}
			}
		}
		.form_builder_submit {
			width: 33%;
			position: relative;
			top: -50px;
			margin: 0px;
			left: 66%;
			a {
				background-color: #00d78e;
				border: 1px solid #00d78e;
				font-weight: 500;
				font-size: @font-seminorm;
				padding: 10px 70px;
			}
			a:hover {
				background-color: transparent;
				color: #00d78e;
				border-color: #00d78e;
			}
		}
	}
	@media (max-width: @screen-md) {
		#form_content {
			.form_builder_form {
				.form_field_container {
					width: 50%;
				}
				#form_builder_comment {
					width: 100%;
					input {
						height: 80px;
					}
				}
			}
			.form_builder_submit {
				position: static;
				float: none;
				width: 50%;
			}
		}
	}
	@media (max-width: @screen-sm) {
		.phone-number {
			padding-top: 50px;
			text-align: center;
			font-size: 32px;
		}
		.rac-blurb {
			padding-top: 50px;
		}
		#form_content {
			.form_builder_form {
				.form_field_container {
					width: 100%;
				}
				#form_builder_postalCode, #form_builder_stateProvince, #form_builder_address1 {
					width: 100%;
				}
			}
			.form_builder_submit {
				width: 100%;
			}
		}
	}
}
.next-steps-rac-blue {
	background-color: #026cb4;
	color: @white;
	.phone-number a {
		color: @white;
	}
	input, select {
		color: @black;
	}
	.disclaimer a {
		color: #29ceff;
	}
	.form_builder_submit a:hover {
		background-color: @white;
	}
}


/* ---Next-steps-event--- */
.next-steps-event {
  background-color: #33464f;
  font-size: 24px;
  color: #FFFFFF;
  padding-top: 80px;
  padding-bottom: 50px;
  p {
  	padding: 0px;
	}
	.main-title {
	  font-size: 35px;
	  padding-bottom: 60px;
	  font-weight: @weight-thin;
	}
	.ph-blurb {
	  padding-bottom: 50px;
	  font-weight:@weight-norm;
	}
	.img-thumbnail {
	  border: 0px;
	  padding-left: 90px;
	  background-color: #33464f;
	}
	.signup-blurb {
	  font-size: @font-norm;
	  font-weight:@weight-norm;
	  padding-bottom: 30px;
	}
	.date {
	  font-size: @font-seminorm;
	  font-weight: @weight-thin;
	  padding-top: 30px;
	}
	.input-button {
	  display: inline-block;
	  margin-top: 20px;
	  padding-left: 90px;
	  font-weight: @weight-heavy;
	  font-size: @font-small;
	  input {
	    border-radius: 100px;
	    padding: 8px 40px;
	    color: @white;
	    border: 1px solid #00d78e;
	  }
	  input:hover {
	    color: #00d78e;
	  }
	  @media (max-width: @screen-lg) {
	    margin-top: 20px;
	    margin-left: 0px;
	  	}
		}
		@media (max-width: @screen-sm) {
	  .signup-blurb {
	    padding-top: 50px;
	  }
	}
}

.titles-event {
  .col-lg-6{
    width:100%;
  }
}

.title-event-banner {
  .col-lg-6{
    width: 100%;
  }
}

.title-event-banner {
    padding-top: 16px;
    font-size: 48px;
    font-weight: 500;
    color:#2c3d45;
}
.sub-margin{
  margin-top: 20px;
  color:#2c3d45;
  margin-bottom:110px;
}
.subtitle-event {
  font-size: @font-norm;
  color:@black;
  .col-lg-12{
    width:100%;
  }
}
.security-fingerprint{
    padding-top: 100px;
    margin-left:15px;
}
.backup-image-event{
  display: block;
  width: 220px;
  height: 40px;
  margin: 0px;
  margin-top: 20px;
}
.main-interest .interestEven .content .asset-summary {
	padding-top: 15px;
	color: @white;

}
.main-interest .interestEven .content .main-interest-asset .asset-length {
	margin-top: 0px;
		color: @white;
		font-size: @font-small;
}

.next-steps-event .input-button {
	display: inline-block;
	margin-top: 20px;
	padding-left: 0px;
	font-weight: 500;
	font-size: 16px;
	width: 155px;
}
