.card-bio{
    position: relative;
    padding-bottom: 60px;

    .circle{
        border-radius: 50%;
    }
    img{
      max-height: 160px;
      max-width: 160px;
    }
    h3{
      font-weight: 300;
      font-size: 24px;
      color: #00BAFF;
      padding-top: 30px;
      padding-bottom: 15px;
    }
    .info-grey{
      font-weight: 300;
      font-size: 16px;
      color: #B6C1C2;
    }
    .description{
      font-size: 16px;
      max-height: 300px;
      overflow-y: hidden;
      transition: all .3s ease-out;
    }
    .expandable-gradient{
      opacity: 1;
      position: absolute;
      height: 39px;
      bottom: 84px;
      width: 100%;
      background: linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 25%,#fff 100%);
      transition: opacity .3s ease-out;
    }
    .hidden{
      opacity: .01;
    }
    .max-height-auto{
      max-height: 999px;
      overflow-y: hidden;
    }
    .bottom{
      padding-bottom: 15px;
    }
    .expandable-more:before{
      content: "+";
      font-size: 18px;
      color: #0570f6;
      font-weight: 500;
      text-decoration: none;
    }
    .expandable-more:hover{
      cursor: pointer;
      text-decoration: none;
    }
    .less:before{
      content: "-";
      font-size: 18px;
      color: #0570f6;
      font-weight: 500;
      text-decoration: none;
    }
    .less:hover{
      cursor: pointer;
      text-decoration: none;
    }
}
