.card-resource{
	margin-bottom: 50px;
	&:hover{
		text-decoration: none;
	}
	.container-image{
		padding-bottom: 15px;
		border-bottom: 1px solid @gray-light;
		margin-bottom: 15px;
		width: 100%;
		height: 120px;
		img{
			max-width: 120px;
			min-width: 80px;
			max-height: 100px;
			min-height: 80px;
			font-size: @font-tiny;
			padding: 5px;
			text-align: center;
		}
	}
	p{
		font-size: @font-small;
	}
	.title{
		padding-right: 15px;
		text-decoration: none;
		color: @gray;
	}
	.link{
		padding-bottom: 20px;
		&:hover{
			text-decoration: underline;
		}

	}
}