@cobol-blue: #26a5dd;
@cobol-orange: #fab528;
@cobol-yellow: #ffffe0;
@cobol-blue-secondary: #edfbff;
@max-boldness: 900;

/* Cobol Buttons */

.button-cobol-orange {
	font-weight: 600;
	color: white;
	background-color: @cobol-orange;
	border-radius: 100px;
	padding: 10px 70px;
	display: inline-block;
}
.button-cobol-orange:hover {
	background-color: white;
	color: @cobol-orange;
	text-decoration: none;
}
.button-cobol-blue {
	font-weight: 600;
	color: white;
	background-color: @blue-primary;
	border: 1px solid @blue-primary;
	border-radius: 100px;
	padding: 10px 70px;
	display: inline-block;
}
.button-cobol-blue:hover {
	background-color: transparent;
	color: @blue-primary;
	border: 1px solid @blue-primary;
	text-decoration: none;
}



/* Header */
.mobile-aca {
	background-color: #26a5dd;
	font-family: proxima-nova, sans-serif;
	ul {
		margin: 10px 0px 20px 10%;
		
		li {
			list-style: none;
			padding: 0px;
			margin: 0px;
			
			a {
				color: @white;
				font-size: @font-seminorm;
				font-weight: @weight-heavy;
				border: none;
				padding: 0px 0px 12px 0px;
				margin: 0px;
				
			}
			a:hover{
				color: #FFFFE0;
				text-decoration: none;
			}
			
		}
	}
}

.aca-header {
	background-color: #26a5dd;
	font-family: proxima-nova, sans-serif;
	font-weight: bold;
	.navbar {
		margin-bottom: 0px;
		box-shadow: 0px 2px 35px -25px #000;
		.navbar-brand {
			height: 105px;
		}
		.navbar-header {
			.navbar-toggle {
				.icon-bar {
					border: 1px solid #fff;
				}
			}
		}
		ul {
			li a {
				color: #fff;
				&:hover {
					background-color: transparent;
				}
			}
		}
		.navbar-nav {
			padding-top: 25px;
		}
	}
}

/* Footer */
.aca-footer {
	background-color: #26a5dd;
	font-family: proxima-nova, sans-serif;
	padding: 30px 0px 20px 0px;
	a {
		color: @white;
		font-weight: @weight-heavy;
	}
	a:hover {
		color:#FFFFE0;
		text-decoration: none;
	}
	a:hover span {
		color:#FFFFE0;
		text-decoration: none;
	}
	
	.float-left {
		float: left;
		font-size: @font-semitiny;
		color: @white;
		

		a {
			margin: 10px;
		}
	}
	.col-sm-12 {
		ul {
			li {
				margin:10px;
				display: block;
			}
		}
	}
	
	ul {
		list-style: none;
		float: left;
	}
	.float-right {
		padding-top: 20px;
		float: right;
		
		@media screen and (max-width: @screen-md) {
			float:left;
		}
		
		
		ul {
			margin-left: 0px;
			padding-left: 0px;
			
			li {
				float: left;
				margin-left: 15px;
				line-height: 30px;
				font-size: @font-small;
				
				
				span {
					font-size: @font-norm;
					line-height: 30px;
				}
			}
		}
		ul li:first-child {
			margin-left: 0px;
		}
	}
}




/* Index */
.pancake-module {
	padding: 100px 0px;
	background-color: @cobol-blue;
	text-align: center;
	color: @cobol-yellow;
	background-image: url('/assets/images/cobol/cobol-banner.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: proxima-nova, sans-serif;
	.title {
		font-weight: @max-boldness;
		font-size: @font-semihuge;
	}
	.subtitle {
		padding-top: 20px;
		font-size: @font-seminorm;
		color: white;
	}
	.griddle {
		padding-top: 80px;
		font-size: @font-norm;
		font-weight: @max-boldness;
		.pancake {
			padding-bottom: 50px;
			a {
				color: @cobol-yellow;
				text-decoration: none;
				display: inline-block;
				min-width: 79px;
				&:hover {
					color: white;
					svg path {
						stroke: rgb(0,120,239);
						&:first-child {
							fill: #EDFBFF;
						}
					}
				}
				h3 {
					font-weight: bold;
				}
			}
			svg {
				padding-top: 30px;
			}
		}
	}
	@media (max-width: @screen-sm) {
		.title {
			font-size: @font-semilarge;
		}
		.subtitle {
			font-size: @font-small;
		}
		.griddle {
			.pancake {
				h3 {
					font-size: @font-seminorm;
				}
				svg {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
.blueberry-module {
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: proxima-nova, sans-serif;
	padding: 60px 0px;
	.blueberry-title {
		color: @cobol-blue;
		font-size: @font-large;
		font-weight: @max-boldness;
		padding: 90px 0px 30px;
	}
	.cta-text {
		font-size: 16px;
		font-style: italic;
		font-weight: 600;
	}
	.blue-square {
		padding: 30px;
		background-color: @cobol-blue-secondary;
		-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
		-moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
		border-radius: 5px;
		text-align: center;
		.button-cobol-orange {
			margin-top: 40px;
			padding: 10px 60px;
		}
	}
	.yellow-square {
		padding: 30px;
		background-color: @cobol-yellow;
		-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
		-moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
		border-radius: 5px;
		text-align: center;

		.titles-container {
			text-align: left;

			span {
				display: block;
			}
			.length, .type {
				font-size: @font-tiny;
				color: black;
			}
			.title {
				padding-top: 15px;
				color: @cobol-blue;
				font-weight: @max-boldness;
			}
			.length {
				opacity: 0.7;
			}
		}
		.button-cobol-blue {
			margin-top: 40px;
			padding: 10px 60px;
		}
	}
	.titles-container {
		text-align: left;
		.type {
			color: #2c3d45;
			font-size: 14px;
  			font-weight: 300;
  			display: block;
		}
		.title {
			font-weight: 600;
			color: @cobol-blue;
		}
	}
}



/* COBOL user type pages */
.pretzel-module {
	font-family: proxima-nova, sans-serif;
	strong {
		font-weight: bold;
	}
	.cheese {
		padding-top: 5px;
		padding-bottom: 30px;
		.title {
			color: @cobol-blue;
			font-size: @font-semihuge;
			font-weight: @max-boldness;
			display: inline-block;
			.icon {
				display: inline-block;
				padding: 35px;
			}
		}
		.content {
			font-size: @font-seminorm;
			font-weight: @weight-heavy;
			padding-top: 30px;
		}
	}
	.bread {
		padding-top: 55px;
		padding-bottom: 35px;
		background-color: @cobol-blue-secondary;
		font-weight: @weight-bold;
		.content {
			ul, p {
				padding-bottom: 30px;
				li {
					font-weight: 600;
					padding-bottom: 15px;
				}
			}
		}
		.salt-container {
			position: relative;
			top: -155px;
		
			.salt {
				padding: 40px;
				-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
				-moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
				box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
				border-radius: 5px;
				text-align: center;
				font-size: @font-seminorm;
				.title {
					font-weight: @max-boldness;
					font-size: @font-semilarge;
				}
				.content {
					font-weight: @weight-heavy;
					padding-top: 15px;
				}
				.button {
					margin-top: 40px;
					margin-bottom: 20px;
				}
				@media (max-width: 350px) {
					padding: 20px;
				}
			}
			.blue-salt {
				background-color: @cobol-blue;
				color: white;

				.title {
					color: @cobol-yellow;
				}
				.button-cobol-orange {
					padding: 10px 35px;
				}
			}
			.yellow-salt {
				background-color: @cobol-yellow;
				margin-top: 30px;
				.title {
					color: @cobol-blue;
				}
			}
		}
		.clear-salt {
			.title {
				padding-bottom: 20px;
				font-size: @font-small;
				font-style: italic;
				font-weight: bold;
				p {
					padding-bottom: 0px;
				}
			}
			.right-clear-salt-container {
				padding-bottom: 30px;
			}
		}
		.clear_salt_video_url:hover svg g {
			fill: #b2b2b2;
		}
		.video-playButton {
		    position: absolute;
		    height: 30%;
		    width: 17%;
		    left: 40%;
		    top: 32%;
		}
	}
	@media (max-width: @screen-sm) {
		.cheese .title {
			text-align: center;
			padding-bottom: 30px;
		}
		.bread {
			.salt-container {
				top: 0px;
			}
			.clear-salt {
				padding-bottom: 40px;
			}
			.video-playButton {
				top: 35%;
			}
		}
	}
}
.pretzel-module-2 {
	font-family: proxima-nova, sans-serif;
	.container {
		padding-bottom: 60px;
		padding-top: 60px;
		.bread {
			.salt-container {
				top: 50px;
			}
		}
	}
}
.filter-module {
	background-color: @cobol-blue-secondary;
	.filters {
		color: #26a5dd;
		font-weight: 600;
		padding: 30px 0px;
		display: grid;
		input, select {
			border-color: #26a5dd;
			border-style: solid;
			border-width: 1px;
			width: 100%;
			padding: 8px;
			font-weight: 400;
			margin: 10px 0px;
		}
		select {
			padding: 10px 8px;
		}
		button {
			border-radius: 5px;
			background-color: #26a5dd;
			color: #fff;
			border: none;
			width: 100%;
			padding: 8px 0px;
			margin: 10px 0px;
		}
	}
}
.picnic-table {
	font-family: proxima-nova, sans-serif;
	.container {
		padding: 20px 15px;
		.content {
			.title {
				font-size: 18px;
				font-weight: 500;
			}
		}
		.icon-pattern {
			width: 100%;
			height: 67px;
			background-repeat: no-repeat;
			background-position: center;
			padding: 50px 0px;
		}
		.listing-table {
			padding-top: 30px;
			.table {
				.website-icon {
					background-image: url(/assets/images/cobol/off-site.png);
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
					width: 24px;
					height: 22px;
				}
				.bold-title {
					font-weight: 600;
					color: #0078ef;
				}
				.row {
					padding: 10px 0px;
					border-bottom: 1px solid #ddd;
					&:nth-child(even) {
						background-color: @cobol-blue-secondary;
					}
				}
			}
			.partner-list {
				padding: 70px 0px;
				display: inline-block;
				.table {
					div.bold-title {
						display: inline-block;
					}
					.bold-title {
						color: #26a5dd;
						font-weight: 600;
					}
					.cell {
						padding: 5px 0px;
					}
					a.school-link {
						display: inline-block;
					}
				}
			}
			.table-headings {
				color: #26a5dd;
				font-weight: 600;
			}
		}
	}
}



.light-as-air {
	padding: 60px 0px;
	font-family: proxima-nova, sans-serif;
	.icon{
		height: 100px;
		width: 100px;
	}
	.col-icon {
	    width: 100%;
	    height: 230px;
	    background-size: contain;
	    background-repeat: no-repeat;
	    background-position: center;
	}
	.blue-text {
		color: #26a5dd;
	}
	.more-height {
		padding: 30px 0px;
		&:first-child + .divider-bar {
			border-top:solid 1px #8bd9ef
		}
	}
	.title {
		font-size: @font-large;
		font-weight: @max-boldness;
		color: @cobol-blue;
	}
	.content {
		padding-top: 30px;
		padding-bottom: 60px;
		font-weight: 600;
		font-size: @font-seminorm;
	}
	.padded-icon-box {
		padding-bottom: 40px;
	}
	@media (max-width: @screen-sm) {
		.content {
			padding-bottom: 0px;
		}
		.col-icon {
			margin: 30px auto;
		}
	}
}

.lemonaid-module {
	background-color: @cobol-yellow;
	padding: 60px 0px;
	font-family: proxima-nova, sans-serif;
	.iceCube {
		font-weight: @weight-heavy;
		text-align: center;
		
		.title {
			color: @cobol-blue;
			font-size: @font-semilarge;
			font-weight: @max-boldness;
		}
		.content {
			font-size: @font-seminorm;
			margin-top: 15px;
		}
		.button {
			margin-top: 50px;
		}
	}
	.manyIceCubes{
		text-align: left;
	}
	@media (max-width: @screen-sm) {
		.manyIceCubes {
			text-align: center;
		}
		.manyIceCubes:first-child {
			padding-bottom: 60px;
		}
	}
}

.extra-nav-module {
	font-family: proxima-nova, sans-serif;
	display: flex;
	background-color: #edfbff;
	.nav-item {
		display: inline-block;
		font-weight: bold;
		a.active {
			color: #9eacad;
		}
	}
	@media (max-width: @screen-sm) {
		.nav>li>a {
			padding: 10px 5px;
			font-size: 14px;
		}
	}
}
.listing-table {
	font-family: proxima-nova, sans-serif;
	.pager {
		li {
			a {
				border: none;
				font-weight: bold;
				color: #0078ef;
			}
			&.active {
				a {
					background-color: transparent;
					color: #9eacad;
				}
			}
		}
	}
}
.two-col-module {
	font-family: proxima-nova, sans-serif;
	.container {
		margin: 70px auto 70px;
		.main-content {
			font-family: proxima-nova, sans-serif;
			h1 {
				font-weight: 900;
				font-size: 50px;
				line-height: 1;
				color: #26a5dd;
				padding-bottom: 30px;
			}
			h2 {
				font-weight: 900;
				font-size: 30px;
				line-height: 1;
				color: #26a5dd;
				padding: 50px 0px;
			}
			p, a {
				font-weight: 500;
			}
			form {
				font-size: 14px;
				label {
					max-width: 90%;
				}
				.row {
					padding: 10px 15px;
					&.multi-col .col-sm-6 {
						padding-top: 15px;
						padding-bottom: 15px;
					}
				}
				input, textarea, select {
					width: 100%;
					resize: none;
					border: solid 1px #26a5dd;
					min-height: 42px;
				}
				select {
					padding: 12px 0px;
				}
				textarea {
					min-height: 120px;
				}
				input[type="checkbox"] {
					width: auto;
					margin-right: 15px;
					position: relative;
					top: -22px;
				}
			}
		}
		.blue-box {
			background-color: #26a5dd;
			border-radius: 5px;
			margin: 50px 0px 0px;
			color: white;
			text-align: center;
			padding: 20px;
			font-family: proxima-nova, sans-serif;
			h3 {
				font-weight: 900;
				font-size: 30px;
				line-height: 1;
				padding-bottom: 15px;
				padding-top: 40px;
				color: #ffffe0;
			}
			p {
				padding-bottom: 40px;
				font-weight: 500;
			}
			ul {
				list-style: none;
				padding-bottom: 40px;
				display: inline-block;
				li {
					float: left;
					a:hover {
						text-decoration: none;
					}
				}
			}
			[class^="icon-"] {
				color: white;
				margin: 0px 10px;
				font-size: 46px;
			}
		}
	}
}

.trial-download-module {
	font-family: proxima-nova, sans-serif;
	.sub_main {
		background-image: none;
		.slMidZone .MidZoneAnimContainer {
			background-image: none;
		}
		.page_title {
			color: @cobol-blue;
			font-size: 50px;
			font-weight: 900;
		}
		.sub_main_bottom_round {
			background-image: none;
		}
	}
}

.mcap-quote-module {
	background-color: @cobol-blue;
	font-family: proxima-nova, sans-serif;
	color: #fff;
	.content {
		margin: 100px auto;
		.quote-text {
			h3 {
				font-size: 30px;
				line-height: 1.25;
				font-weight: 800;
			}
		}
		.quote-author {
			font-size: 30px;
			.small-text {
				font-size: 18px;
				padding: 10px 0px 30px;
			}
			.button {
				font-size: 16px;
				.button-cobol-orange {
					padding: 10px 23px;
				}
			}
		}
	}
}