.bios-container{
     padding-bottom: 50px;

    .bios-title{
        font-size: 40px;
        font-weight: 300;
        line-height: 1;
        text-align: center;
        color: #3d515c;
        margin-top: 90px;
        margin-bottom: 100px;
    }
}