.data-sheets-resource {
	color: @dark-primary;
	font-size: @font-small;
	.general-title {
		h1 {
			margin-top: 11px;
			color: #263133;
		}
	}
	.icon-printer {
		font-size: 32px;
		padding-right: 17px;
	}
	.icon-pdf {
		font-size: 32px;
		padding-right: 17px;
	}
	.links {
		font-size: 14px;
		a {
			display: inline-block;
			margin-right: 37px;
			text-decoration:none;
			cursor: pointer;
			margin-bottom: 20px;
		}
	}
	.platforms {
		ul {
			list-style-type: none;
		}
		a {
			text-decoration: none;
		}
		.title {
			font-size: @font-norm;
			padding: 65px 0 60px;
			margin-bottom: 20px;
		}
		.side-arrow {
			img {
				margin-top: 66px;
			}
		}
		.platform {
			font-size: @font-norm;
			color: @dark;
		}
		.sub-platform {
			margin: 25px 0 30px;
			.title {
				padding: 0;
				font-weight: @weight-heavy;
				font-size: @font-seminorm;
				color: @dark-primary;
			}
			ul {
				list-style-type: disc;
				font-size: @font-small;
				padding: none;
			}
		} 
	}
	.red-border-bottom {
		border-bottom: solid 2px @pink;
		width: 80px;
		margin-top: 10px;
	}
	.sub-link-group {
		margin-bottom: 20px;
	}
	.section {
		padding: 55px 0 0;
	}
	.divider {
		border-bottom: solid 1px @gray-mid-light;
		margin: 0px 20px;
	}
	h2 {
		font-size: @font-semilarge;
		color: @dark;
		margin-bottom: 22px;
		font-weight: @weight-norm;
	}
	.content {
		padding-right: 70px;
		margin-bottom: 60px;
		@media  (max-width: @screen-sm) {
			padding-right: 25px;
		}
	}
	h3 {
		font-weight: @weight-norm;
		font-size: @font-norm;
		color: @blue-dark;
		margin-bottom: 16px;
	}
	h4 {
		font-size: @font-norm;
		font-weight: @weight-norm;
		color: @dark;
		margin-bottom: 16px;
	}
}