// variables
@screen-480-min: 480px;

// these are actually included as less variables from bootsrap
// but we don't include that file, so i'm recreating them here
@screen-sm-min: 768px;
@screen-sm-max: 991px;
@screen-md-max: 1199px;


// styles
.discover-the-new {

  // elements
  h1 {
    font-weight: @weight-norm;

    @media (min-width: @screen-sm-min) {
      font-size: @font-huge;
    }
  }

  h2 {
    font-weight: @weight-norm;

    @media (min-width: @screen-sm-min) {
      font-size: @font-large;
    }
  }

  h3 {
    font-size: 20px;

    @media (min-width: @screen-sm-min) {
      font-size: @font-norm;
    }
  }

  p {
    padding-bottom: 0px;
    font-size: @font-tiny;

    @media (min-width: @screen-sm-min) {
      font-size: @font-seminorm;
    }
  }
  
  // single-style classes
  .bold {
    font-weight: 600;
  }

  .heavy {
    font-weight: @weight-heavy;
  }

  .gray-background {
    background-color: @gray-light;
  }

  .ta-center {
    text-align: center;
  }

  @media (min-width: @screen-sm-min) {
    .line-height-1-8 {
      line-height: 1.8;
    }
  }

  .top-spacing-margin-lg {
    margin-top: 60px;

    @media (min-width: @screen-sm-min) {
      margin-top: 80px;
    }
  }

  .bottom-spacing-margin-lg {
    margin-bottom: 55px;

    @media (min-width: @screen-sm-min) {
      margin-bottom: 75px;
    }
  }

  .top-spacing-padding-lg {
    padding-top: 55px;

    @media (min-width: @screen-sm-min) {
      padding-top: 75px;
    }    
  }

  .bottom-spacing-padding-lg {
    padding-bottom: 55px;

    @media (min-width: @screen-sm-min) {
      padding-bottom: 75px;
    }
  }

  .bottom-spacing-margin {
    margin-bottom: 25px;

    @media (min-width: @screen-sm-min) {
      margin-bottom: 45px;
    }
  }

  // components
  .blue-button {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 100px;
    background-color: #0073e7;
    color: @white;
    transition: all .1s ease-out;
    text-align: center;
    font-size: @font-small;
    font-weight: @weight-heavy;

    @media (min-width: @screen-sm-min) {
      font-size: @font-seminorm;
    }

    &:hover {
      background-color: #00baff;
      text-decoration: none;
    }
  }

  .make-invisible {
    opacity: 0;
    transition: opacity .3s ease-out;
  }

  // page sections

  // Overview
  .overview {

    @media (min-width: @screen-sm-min) {
      padding-bottom: 45px;
    }
    
    .hero {
      background: url(/assets/images/discover-the-new/hero-background.png) no-repeat;
      background-size: cover;
      color: @white;

      @media (min-width: @screen-sm-min) {
        background-position: 0px -150px;
      }

      .hero-title {
        margin-bottom: 40px;

        .hero-title-content {
          width: 93%;

          @media (min-width: @screen-sm-min) {
            width: 87%;
          }

          @media (min-width: @screen-lg) {
            width: 72%;
          }

          p {
            @media (min-width: @screen-sm-min) {
              font-size: 20px;
            }
          }
        }
      }
        
      .carousel-arrow {
        margin-top: 110%;

        &.carousel-arrow-left {

          @media (min-width: @screen-sm-min) {
            padding-right: 40px;
          }
        }

        &.carousel-arrow-right {

          @media (min-width: @screen-sm-min) {
            padding-left: 40px;
          }
        }

        img:hover {
          cursor: pointer;
        }
      }

      .carousel {
        box-shadow: 0px 30px 40px -10px rgba(0, 0, 0, 0.6);

        .item {

          video {
            max-width: 100%;
          }

          .carousel-caption {
            left: 0;
            bottom: 0;
            right: 0;
            top: auto;
            text-align: left;
            padding-left: 20px;
            padding-right: 20px;

            a {
              display: inline-block;
              color: @white;
              position: relative;

              &:hover {
                text-decoration: none;
              }

              &::after {
                content: url(/assets/images/discover-the-new/video-play-icon.svg);
                position: absolute;
                right: 0;
                bottom: -22px;

                @media (min-width: @screen-sm-min) {
                  bottom: -18px;
                }
              }

              @media (min-width: @screen-sm-min) {
                margin-bottom: 18px;
              }

              h3 {
                font-weight: @weight-norm;
                padding-right: 50px;

                @media (min-width: 640px) {
                  padding-right: 60px;
                }

                @media (min-width: @screen-md) {
                  font-size: @font-semilarge;
                }
              }
            }

            p {
              font-size: @font-semitiny;
              display: none;

              @media (min-width: @screen-sm-min) {
                font-size: @font-seminorm;
                display: block;
              }
            }
          }
        }
      }
    }

    .new-company {

      .nc-graphic {

        @media (min-width: @screen-sm-min) {
          margin-bottom: -28px;
        }

        @media (min-width: @screen-md) {
          margin-bottom: -36px;
        }

        @media (min-width: @screen-lg) {
          margin-bottom: -44px;
        }
      }
    }
  }

  // Hybrid IT
  .hybrid-it {

    .hit-link-block {
      border-left: 4px solid #dbe0e4;
      transition: all .1s ease-out;
      padding-left: 20px;
      // padding-right: 20px;
      margin-bottom: 20px;
      
      @media (min-width: @screen-sm-min) {
        border-top: 1px solid #dbe0e4;
        border-left: 1px solid #dbe0e4;
        min-height: 210px;
        float: left;
        width: 20%;
        margin-bottom: 0px;
        padding-top: 25px;
        padding-bottom: 0px;
        padding-left: 0px;
        // padding-right: 20px;
        text-align: center;

        &:first-child {
          border-left: none;
        }
      }

      @media (min-width: @screen-md) {
        min-height: 185px;
      }

      @media (min-width: @screen-lg) {
        min-height: 160px;
        // padding-right: 40px;
        // padding-left: 40px;
      }

      &:hover {
        cursor: pointer;
        color: #0073e7;
      }

      &.hit-link-active {
        border-top: none;
        border-left: 4px solid #0073e7;
        transition: all .1s ease-out;

        @media (min-width: @screen-sm-min) {
          padding-top: 24px;
          border-top: 2px solid #0073e7;
          border-left: 1px solid #dbe0e4;

          &:first-child {
            border-left: none;
          }
        }

        &:hover {
          cursor: default;
          color: @black;
        }
      }

      .hit-link-icon {
        width: 70px;
        float: left;
        margin-right: 25px;

        @media (min-width: @screen-sm-min) {
          float: none;
          display: inline-block;
          width: 45px;
          padding-bottom: 20px;
          margin-right: 0px;
        }
      }

      h4 {
        margin-top: 18px;

        @media (min-width: @screen-sm-min) {
          line-height: 1.6;
          margin-top: 0px;
        }
        
      }
    }

    .hit-link-content {

      @media (min-width: @screen-sm-min) {
        min-height: 170px;
      }

      @media (min-width: @screen-md) {
        min-height: 136px;
      }

      @media (min-width: @screen-lg) {
        min-height: 102px;
      }

      p {
        font-size: @font-norm;
      }
    }
  }
  
  // New Portfolio
  .new-portfolio {

    h3 {
      margin-bottom: 45px;
    }
    
    .four-areas {
      background: url(/assets/images/discover-the-new/four-areas-background.svg) no-repeat;
      background-size: cover;
      color: #fff;

      .thinner-gutter > [class*="col-"] {

        @media (min-width: @screen-sm-min) {
          padding-right: 5px;
          padding-left: 5px;
        }
      }

      .fa-link-box {
        background-color: #fff;
        border-radius: 1.5px;
        padding-top: 45px;
        padding-bottom: 45px;
        display: block;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
        transition: transform .2s ease-out;
        margin-bottom: 10px;

        @media (min-width: @screen-480-min) and (max-width: @screen-sm) {
          width: 50%;
          margin-left: auto;
          margin-right: auto;
        }

        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
          min-height: 202px;
          padding-left: 80px;
          padding-right: 80px;
        }

        @media (min-width: @screen-md) {
          min-height: 205px;
          padding-left: 25px;
          padding-right: 25px;
        }

        @media (min-width: @screen-lg) {
          padding-left: 35px;
          padding-right: 35px;
        }

        &.devops {
          @media (min-width: @screen-sm-min) {
            padding-top: 65px;
          }
        }

        &:hover {
          text-decoration: none;
          transform: translate(0px, -15px);
        }

        img {
          margin-bottom: 10px;
        }

        p {
          font-size: @font-norm;
          line-height: 1.2;
          padding-bottom: 0px;
          font-weight: @weight-bold;
        }
      }
    }

    .products {

      .products-header {
        padding-top: 75px;
        padding-bottom: 65px;
      }
      
      .product-list {
        ul {
          padding-left: 0px;
          li {
            list-style-type: none;
            margin-bottom: 3px;

            @media (min-width: @screen-sm-min) {
              margin-bottom: 18px;
            }

            h4 {
              color: #0078ef;
              font-size: 18px;
              transition: all .1s ease-out;
              border-bottom: 1px solid @white;
              display: inline-block;

              @media (min-width: @screen-sm-min) {
                font-size: @font-norm;
                padding-bottom: 5px;
              }

              &:hover {
                cursor: pointer;
                border-bottom: 1px solid #0078ef;
              }

              &.active {
                color: @black;

                &:hover {
                  border-bottom: 1px solid @white;
                }
              }
            }
          }
        }
      }

      .product-info {

        @media (min-width: @screen-sm-min) {
          min-height: 580px;
        }

        @media (min-width: @screen-md) {
          min-height: 535px;
        }

        @media (min-width: @screen-lg) {
          min-height: 510px;
        }

        .info-content {
          border-left: 1px solid #dbe0e4;
          padding-bottom: 65px;

          .name-overlay {
            position: relative;
            
            h4 {
              color: #fff;
              position: absolute;
              top: 50%;
              left: 0;
              padding-left: 25px;
              transform: translateY(-50%);

              @media (min-width: @screen-480-min) {
                padding-left: 50px;
              }

              @media (min-width: @screen-480-min) and (max-width: @screen-sm) {
                font-size: @font-norm;
              }

              @media (min-width: @screen-md) {
                font-size: @font-norm;
              }
            }
          }

          p {
            padding: 25px;

            @media (min-width: @screen-480-min) {
              padding: 50px;
            }
          }

          a {
            margin-left: 25px;
            display: inline-block;
            padding-left: 85px;
            padding-right: 85px;

            @media (min-width: @screen-480-min) {
              margin-left: 50px;
            }
          }
        }
      }
    }
  }

  .mission-critical {

    .mc-card {
      background-color: @gray;
      color: @white;

      @media (min-width: @screen-480-min) and (max-width: @screen-sm) {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
      }

      @media (max-width: @screen-md-max) {
        margin-bottom: 25px;
      }

      .mc-card-content {
        padding: 30px;

        @media (min-width: @screen-sm-min) {
          min-height: 165px;
        }

        h4 {
          font-size: @font-norm;
          margin-bottom: 12px;

          @media (min-width: @screen-sm-min) {
            font-size: @font-semilarge;
          }
        }

        p {
          font-size: @font-small;
        }
      }
    }
  }

  .success-stories {
    
    .success-logo-container {
      
      @media (max-width: @screen-sm) {
        padding-top: 25px;
        padding-bottom: 25px;
        width: 175px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .view-all-success {
      text-align: center;
      max-width: 240px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}