#documentation {
  .btn-mf {
    border-radius:0;
    font-family: aktiv-grotesk, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding:15px 30px;

    span.icon-leftArrow {
      font-size: 8px;
      font-weight: bolder;
      padding-left: 5px;
    }
  }

  .btn-blue {
    background-color: #0078ef;
  }

  .btn-purple {
    background-color: #56176c;
  }

  .language-selectbox {
    padding:15px;
    object-fit: contain;
    border-radius: 40px;
    border: solid 1px #5e6d78;
  }

  .table-responsive thead {
    background-color: #0078ef;
  }

  .table {
    margin-bottom:50px;
  }

  .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: none;
    color: white;
    font-weight: 300;
  }



  .table > thead > tr > th,
  .table > tbody > tr > th,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > td,
  .table > tfoot > tr > td {
    vertical-align: middle;
    padding-top:17px;
    padding-bottom:17px;
  }

  .table > tbody > tr > td {
    border-bottom: 1px solid rgb(221, 221, 221);
  }

  tr.language:empty, tr.language td:empty {
    display: none;
  }

  header {
    padding-bottom:50px;
    border-bottom: 1px solid #b6c1c2;
    margin-bottom:45px;
  }

  .header .container {
    .thecrumbs {
      padding: 30px 15px 20px 15px;
    }

    h1 {
      height: 35px;
      font-family: aktiv-grotesk, sans-serif;
      font-size: 30px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #271782;
    }

    .btn-container {
      text-align:left;
    }

    .btn-container a {
      display: inline-block;
      float:none;
      min-width: 178px;

      margin-bottom:30px;
    }

    h2 {
      font-family: aktiv-grotesk, sans-serif;
      font-size: 24px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #263133;
      margin-bottom:45px;
    }

    p {
      color:#263133;
      font-size:14px;
      font-family: aktiv-grotesk, sans-serif;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: normal;
      text-align: left;
      margin-bottom:45px;
    }
    .select {
      object-fit: contain;
      border-radius: 40px;
      border: solid 1px #263133;
      color: #263133;
      max-height: 50%;
      width: 300px;
      margin-bottom: 65px;
      height: 40px;
    }

    .select:after {
      content:"\ea5a";
      font-family: 'microfocus-icons' !important;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      padding: 12px 8px;
      position: relative;
      left: 260px;
      top: -27px;
      z-index: 1;
      text-align: center;
      width: 10%;
      height: 100%;
      pointer-events: none;
      box-sizing: border-box;
      color:#5e6d78;
    }

    @-moz-document url-prefix() {
      .select:after {
        left: 260px;
        top: -27px;
      }
    }

    .select .language-selectbox {
      border-radius: 40px;
      border: none;
      color: #263133;
      padding: 0 0 0 15px;
      background-color: transparent;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 100%;
      height: 100%;
    }
  }

  .footer .container {
    a.icon_link_wrapper {
      display: inline-block;
    }
    a.icon_link_wrapper {
      margin-right: 10px;
    }
    a.icon_link_wrapper:last-child {
      margin-right: 0;
    }
  }

  a.language span {
    color: black;
  }

  .language-french,
  .language-czech,
  .language-danish,
  .language-german,
  .language-dutch,
  .language-spanish,
  .language-finnish,
  .language-hungarian,
  .language-italian,
  .language-japanese,
  .language-korean,
  .language-norwegian,
  .language-polish,
  .language-russian,
  .language-swedish,
  .language-portuguese,
  .language-brazilian,
  .language-simplified_chinese,
  .language-traditional_chinese {display:none;}

  @media screen and (max-width:374px){
    .footer .container a.icon_link_wrapper {
      margin-bottom:20px;
    }
  }
  @media screen and (max-width:767px){
    .header .container h1 {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
  @media screen and (min-width:768px){
    .header .container .btn-container a:not(:first-child) {
      margin-left: 30px;
    }

    .header .container .btn-container {
      text-align:right;
    }

    .table > thead > tr > th:first-child,
    .table > tbody > tr > td:first-child {
      padding-left:30px;
    }
  }
}