// .form_builder_submit {
//   a {
//     text-decoration: none;
//     position: absolute;
//     z-index: 1;
//     font-family:helvetica;
//     font-size: 14px;
//     color:purple;
//     padding: 10px 30px 10px 30px;
//     text-align:center;
//     border: 1px solid purple;
//     cursor:pointer;
//     border-radius: 30px;
//     overflow: hidden;
//   }
//
//   span {
//     position:relative;
//     transition: transform .4s;
//     width: 20%;
//     height: 50px;
//     top: 0px;
//     background: purple;
//     border-radius:50px;
//   }
//
//   span:nth-child(1) {
//     transition: transform 0.5s;
//   }
//
//   span:nth-child(2) {
//     transition: transform 0.4s;
//   }
//
//   span:nth-child(3) {
//     transition: transform 0.8s;
//   }
//
//   span:nth-child(4) {
//     transition: transform 0.3s;
//   }
//
//   span:nth-child(5) {
//     transition: transform 0.7s;
//   }
//
//   span:nth-child(6) {
//     transition: transform 0.3s;
//   }
//
//   a:hover {
//     // border: 3px solid purple;
//     color: #fff;
//     // animation-name: runnyPaint;
//     animation-duration: 0.5s;
//     animation-fill-mode: forwards;
//   }
//
//   a:hover > .bubbles span {
//     transform: scale(1.2, 1.2) translate(0, 75%);
//     // animation-name: test;
//     //  animation-duration: .5s;
//     // animation-fill-mode: forwards;
//   }
//
//   .bubbles {
//     position: absolute;
//     z-index: -1;
//     top: -127%;
//     left: 0;
//     width: 101%;
//     display: flex;
//   }
//   // @keyframes runnyPaint {
//   //   0% { background: transparent; }
//   //   80% { background: transparent; }
//   //   100% { background: purple; }
//   // }
// }
