
.universe-banner {
    background-image: url('/assets/images/Event/universe2018/microfocus-universe18-banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 45px;
    padding-bottom: 120px;
    color: @white;

    .banner-logo svg {
         height: 24px;
         width: 100px;
    }
    .main-title {
        font-size: 75px;
        padding-top: 170px;
        font-weight: @weight-norm;
        letter-spacing: -4px;
        strong {
            font-weight: 600;
        }
    }
    .subtitle {
        padding-top: 5px;
        font-size: @font-norm;
        strong {
            font-weight: @weight-heavy;
        }
    }
    .link-container {
        display: flex;
        align-items: center;
        padding-top: 60px;
        font-size: @font-small;
        .button-white {
            width: 200px;
            text-align: center;
            color: @blue-dark;
            font-weight: @weight-bold;
            padding: 15px 30px;
            font-size: @font-small;
            &:hover {
                color: white;
            }
        }
        .additional-link {
            padding-left: 35px; 
            a {
                color: white;
                padding-left: 10px;
            }            
        }
    }
    @media(max-width: @screen-sm) {
        padding-bottom: 70px;

        .main-title {
            font-size: @font-large;
            padding-top: 70px;
        }
        .subtitle {
            font-size: @font-seminorm;
        }
        .link-container {
            display: block;
            .button-white {
                padding: 12px 30px;
            }
            .additional-link {
                padding: 40px 0 0 0;
            }
        }
    }
}



#pageNAV.sticky {
    position:fixed;
    width: 100%;
    z-index: 999;
    top: 0;
}
.page-nav {
    transition: padding 1s;
    position: relative;
    z-index: 100;
    background: #2230b8;
    padding: 35px 0;
    color: @white;

    .title {
        font-size: 22px;
        font-weight: @weight-thin;
        a {
            color: white;
            text-decoration: none;
        }
    }
    .content {
        text-align: right;
        font-size: @font-small;

        .navigationLink, a {
            display: inline-block;
            padding: 0 10px;
            text-align: center;
            &:hover {
                cursor: pointer;
                font-weight: @weight-heavy;
                text-decoration: none;
            }
            strong:hover {
                text-decoration: underline;
            }
        }
        a {
            color: @white;
        }
        .active {
            color: #00cfff;
        }
    }
    #mobile_nav {
        display: none;
    }
    @media(max-width: @screen-sm) {
        .title {
            padding-top: 3px;
        }
        .content {
            display: none;
            .navigationLink:first-child {
                margin-top: 50px;
            }
        }
        .button-container {
            #mobile_nav {
                float: right;
                display: block;
                width: 29px;
                border: none;
                background: transparent;
                div.bar {
                    transition: transform 0.5s;
                    width: 100%;
                    height: 3px;
                    margin: 5px 0;
                    background: white;
                }
                &.ex{
                    .bar.top {
                        transition: transform 0.5s;
                        transform: rotate(45deg) translate(6px, 6px);
                    }
                    .bar.middle {
                        transition: transform 0.5s;
                        transform: scale(0);
                    }
                    .bar.bottom {
                        transition: transform 0.5s;
                        transform: rotate(-45deg) translate(5px, -6px);
                    }
                }
            }
        }
    }
    .mobileLinks {
        display: block;
        width: 100%;
        margin-top: 20px;
        .navigationLink {
            display: block;
            width: 100% !important;
            text-align: left;
            padding: 10px 0;
        }
    }
}



.navigationalPage {
    padding-top: 50px;
    .overview {
        padding-top: 100px;
        text-align: center;
        .overview-title {
            font-size: 35px;
            color:@blue-primary;
            font-weight: @weight-norm;
        }
        .overview-paragraph {
            font-size: @font-norm;
            padding-top: 25px;
        }
        .button-blue-primary {
            width: 260px;
            margin-top: 35px;
        }
        .focus-button-container {
            padding-top: 100px;
            .focus-title {
                font-weight: 600;
            }
            .focus-buttons {
                display: flex;
                flex-wrap: wrap;
                padding: 40px 0 80px 0;
                .focus-button {
                    display: flex;
                    width: 31%;
                    margin: 15px 8px;
                    text-align: left;
                    background: @gray-light;
                    color: @black;
                    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
                    transition: all .1s;
                    &:hover {
                        text-decoration: none;
                    }
                    &.active:hover {
                        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
                        cursor: pointer;
                        margin-top: 17px;
                        margin-bottom: 13px;
                        color: @white;
                        background: blue;
                        &:nth-child(1) {
                            background: #2230b8;
                        }
                        &:nth-child(2) {
                            background: #7F1D82;
                        }
                        &:nth-child(3) {
                            background: #5C2FD2;
                        }
                        &:nth-child(4) {
                            background: #009aa6;
                        }
                        &:nth-child(5) {
                            background: #F39C12;
                        }
                        &:nth-child(6) {
                            background: #29CEFF;
                        }
                        &:nth-child(7) {
                            background: #2C3D45;
                        }
                    }
                    img {
                        background-color: @white;
                        width: 80px;
                        padding: 20px;
                    }
                    span {
                        padding: 21px 26px;
                        align-self: center;
                        line-height: 1.2;
                        font-size: 17px;
                    }
                    @media (max-width: @screen-md) {
                        width: 47%;
                    }
                    @media (max-width: 620px) {
                        width: 100%;
                    }
                }
            }
        }
        .component-links {
            display: flex;
            justify-content: center;
            padding-top: 25px;
            a.comp {
                padding: 0 15px;
                border-right: 1px solid #2a3d45;
                color: @black;
                font-size: @font-tiny;
                &:last-child {
                    border: none;
                }
            }
            @media(max-width: 550px) {
                flex-wrap: wrap;
                a.comp {
                    width: 100%;
                    border: none;
                    padding: 5px 0;
                    font-size: 16px;
                    color: #0078f8;
                    text-decoration: underline;
                }
            }
        }
        .information-component {
            padding-top: 30px;
            h3 {
                margin-top: 80px;
            }
            .column1, .column2 {
                padding-top: 45px;
                padding-right: 120px;
                text-align: left;
                font-size: @font-small;
                color: #2c3d45;
                h5 {
                    font-size: @font-small;
                    padding-bottom: 20px;
                    color: @black;
                }
                p, ul, ol {
                    padding-bottom: 0px;
                    margin-bottom: 25px;
                }
                ul, ol {
                    margin-top: -20px;
                }
                @media (max-width: @screen-md) {
                    padding-right: 20px;
                }
            }
        }
        #comp0 .divider {
            display: none;
        }
        @media(max-width: @screen-sm) {
            .overview-title {
                font-size: @font-norm;
            }
            .overview-paragraph {
                font-size: @font-seminorm;
            }
        }
    }
    .keynotes {
        background-color: #f8f8f8;
        padding-top: 75px;
        padding-bottom: 75px;
        .title {
            color: #0078EF;
            font-size: 35px;
            font-weight: 300;
            text-align: center;
            padding-bottom: 40px;
        }
        .keynote-card {
            background-color: #fff;
            padding: 30px;
            border-radius: 5px;
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
            .keynote-title {
                font-size: 20px;
                color: #0570f6;
                padding-top: 15px;
                padding-bottom: 15px;
            }
            .keynote-copy {
                font-size: 16px;
            }
        }
        :first-child {
            @media(max-width: @screen-sm) {
                margin-bottom: 25px;
            }
        }
    }
    .whatsTheBigDeal {
        background: #f8f8f8;
        .individual-BigDeal {
            padding-top: 75px;
            padding-bottom: 15px;
            .title {
                color: @blue-primary;
                font-size: 35px;
                font-weight: @weight-norm;
                text-align: center;
                padding-bottom: 40px;
            }
            .normal-paragraph {
                font-size: 20px;
                text-align: center;
                padding-bottom: 70px;
            }
            .list-container {
                padding-bottom: 70px;
                .list-head {
                    padding-bottom: 60px;
                    font-weight: @weight-heavy;
                    text-align: center;
                    color: #00c38a;
                }
                .list {
                    display: flex;
                    flex-wrap: wrap;
                    list-style-image: url('@{image-url}Event/universe2018/green-check-mark.svg');
                    padding-left: 30px;

                    li {
                        width: 30%;
                        margin-left: 30px;
                        padding-left: 10px;
                        font-size: @font-small;
                        line-height: 1.8;
                        padding-bottom: 35px;
                        span {
                            display: block;
                        }
                        .list-title {
                            font-weight: @weight-heavy;
                            font-size: @font-seminorm;
                            padding-bottom: 15px;
                        }
                        .list-content {
                            color: #6d6d6d;
                        }
                    }
                }
            }
            .limited-offer {
                text-align: center;
            }
            .who-should-extra {
                padding-top: 40px;
                padding-bottom: 70px;
                font-weight: @weight-bold;
                .extraItem {
                    padding-bottom: 40px;
                }
                img {
                    padding-bottom: 13px;
                }
                @media(max-width: @screen-sm) {
                    padding-top: 0;
                    padding-bottom: 50px;
                }
            }
            @media(max-width: @screen-md) {
                .list-container .list li {
                    width: 28%;
                }
            }
            @media(max-width: @screen-sm) {
                .title {
                    font-size: @font-norm;
                }
                .normal-paragraph {
                    font-size: @font-seminorm;
                }
                
                .list-container .list li {
                    width: 45%;
                }
            }
            @media(max-width: 659px) {
                .list-container .list li {
                    width: 100%;
                }
            }
        }
        .divider {
            border-top: 1px solid #d2d2d2ad;
        }
        &:nth-child(2) .divider {
            display: none;
        }
        &:nth-child(4) .divider {
            display: none;
        }
    }
    .location-module {
        color: @white;
        background: #0084eb;
        .container-fluid {
            display: flex;
        }
        .location-image {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .location-content {
            padding: 75px 15px 100px 55px;
            p {
                padding-bottom: 35px;
            }
            a {
                color: white;
                font-weight: @weight-bold;
            }
        }
    }
    // experience the new zone
    .nz-section {
        padding-top: 50px;
        padding-bottom: 50px;
        color: #2c3d45;
        .ta-center {
            text-align: center;
        }
        .fw-500 {
            font-weight: 500;
        }
        .nz-section-title {
            font-size: 35px;
            color: #0078ef;
            font-weight: 300;
            @media(max-width: 480px) {
                font-size: 25px;
            }
        }
        .nz-section-subtitle {
            font-size: 24px;
            @media(max-width: 480px) {
                font-size: 20px;
            }
        }
        .nz-section-paragraph {
            font-size: 24px;
            padding-top: 25px;
            @media(max-width: 480px) {
                font-size: 18px;
            }
        }
        &.nz-keynotes {
            background-color: #0570f6;
            color: #fff;
            .keynotes-title {
                color: #fff;
            }
            .keynotes-paragraph {
                margin-bottom: 40px;
            }
            .keynotes-info {
                @media(max-width: @screen-sm) {
                    margin-bottom: 30px;
                }
                .keynotes-info-icon {
                    margin-bottom: 13px;
                }
            }
        }
        &.nz-demos {
            .nz-section-paragraph {
                margin-bottom: 40px;
                @media(max-width: @screen-sm) {
                    margin-bottom: 0;
                }
            }
            .demo-list-column1,
            .demo-list-column2 {
                font-size: 16px;
                .demo-list-label {
                    margin-top: 20px;
                    padding-bottom: 0;
                }
            }
        }
        &.nz-sponsors {
            background-color: #f5f5f5;
        }
    }
    // conference info
    .conference-info {
        padding-bottom: 80px;
    }
    // sponsors
    .sponsors .sponsor-class-container {
        text-align: left;
        padding-top: 120px;
        &:last-child {
            padding-bottom: 50px;
        }
        .sClass-title {
            font-size: 30px;
            padding-bottom: 20px;
            font-weight: @weight-norm;
        }
        .individual {
            font-size: 16px;
            border-bottom: 1px solid #d7d8da;
            padding-top: 55px;
            padding-bottom: 40px;
            .company-name {
                padding-bottom: 20px;
                font-size: 16px;
            }
            &:last-child {
                border: none;
            }
        }
        @media(max-width: @screen-sm) {
            padding-bottom: 0;
            padding-top: 60px;
            .sClass-title {
                text-align: center;
            }
            .individual {
                padding-top: 40px;
                img {
                    padding-bottom: 30px;
                }
            }
        }
    }
}



// agenda page
.agenda-component {
    position: relative;
    top: 50px;
    z-index: 2;
    font-size: @font-tiny;
    color: #3a515c;
    line-height: 3;
    .agendaLink {
        padding: 0 10px;
        border-right: 1px solid #3a515c;
        color: @black;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            border: none;
            padding-right: 0;
        }
    }
    .active {
        color: #0570f6;
    }
    @media(max-width: @screen-sm) {
        line-height: 2.5;
        .agendaLink {
            display: block;
            padding: 0;
            border: none;
        }
    }
}

.universe-social {
    text-align: center;
    font-size: 21px;
    padding: 65px 15px;
    span {
        color: #0570f6;
        padding-left: 30px;
        font-weight: @weight-norm;
    }
    @media(max-width: @screen-sm) {
        span {
            display: block;
            padding: 0;
            padding-top: 10px;
        }
    }
}



.agendaPage {
    display: none;
}

.agendaPage {
    position: relative;
    top: -90px;
    padding-top: 200px;

    .section-title {
        font-size: 35px;
        color: @blue-primary;
        font-weight: @weight-norm;
        padding-bottom: 35px;
        @media(max-width: @screen-sm) {
            font-size: @font-norm;
        }
    }
    .agenda-page-content {
        font-size: @font-small;
        padding-top: 30px;
        padding-bottom: 35px;

        .column {
            padding-right: 50px;

            h5 {
                font-size: @font-small;
                color: #2230b8;
                margin-bottom: 25px;
                line-height: 1.4;
            }
            ul, ol {
                padding-bottom: 10px;
            }
            li {
                padding-bottom: 20px;
            }
        }
        @media(max-width: @screen-md) {
            .column {
                padding-right: 10px;
            }
        }
        @media(max-width: @screen-sm) {
            padding-top: 0;
        }
    }
    table {
        width: 100%;
        margin-bottom: 60px;
        font-size: @font-tiny;
        tr {
            border-bottom: 1px solid #979797;
            td {
                border-right: 1px solid #979797;
                padding: 10px 13px;
                vertical-align: top;
                &:last-child {
                    border: none;
                }
            }
            &:first-child {
                border: none;
            }
            .lightBlueCell {
                background: #c0f0fc;
            }
            .lightTealCell {
                background: #b8fbf4;
            }
            .lightGreenCell {
                background: #9ef9e2;
            }
        }
        & tr:nth-child(2) td:first-child {
            width: 20%;
        }
        th {
            color: white;
            padding: 10px 13px 14px;
            font-weight: @weight-norm;
        }
        &:nth-child(1) th {
            background: #2230b8;
        }
        &:nth-child(2) th {
            background: #0458ff;
        }
        &:nth-child(3) th {
            background: #29ceff;
        }
    }
    .demos {
        margin-bottom: 60px;
        .demos-content > div:first-child {
            margin-bottom: 30px;
            ul {
                margin-left: 20px;
            }
            ol {
                li {
                    padding-top: 8px;
                    padding-bottom: 8px;
                }
            }
        }
    }
    .workshops {
        margin-bottom: 60px;
        h4 {
            padding-bottom: 18px;
        }
        th {
            background: #0458ff;
        }
    }
}

/* positioning for the agenda page anchor links, so the banner wont cover them up. */
@media (max-width: @screen-lg) {
    .agenda-component {
        top: 80px;
    }
}
@media (max-width: @screen-md) {
    .agenda-component {
        top: 100px;
    }
    .agendaPage {
        padding-top: 220px;
    }
}
@media (max-width: @screen-sm) {
    .navigationalPage {
        padding-top: 80px;
        .overview {
            padding-top: 20px;
        }
    }
    .agenda-component {
        top: 0;
    }
    .agendaPage {
        top: -30px;
        padding-top: 100px;
    }
}


