/* This file is to address CSS issues on 3rd party sites. */
main {
	background-color:white;
	overflow: hidden;
}
.general-title .TrainingReg {
	#contenthead {
		padding-top:20px;
	}
	h1 {
		padding-right:0;
	}
	h3 {
		height:auto !important;
		padding-top:20px;
	}
	img {
		padding:0;
	}
	
	form#filter {
		table  {
			font-size:18px;
		}
	}
	div.columns4 > div > p {
		font-size:1em !important;
	}
	#mainbody {
		font-size:110%;
	}
}
#mainbody img {
	display:inline-block;
}
