.feedback {
	.form {
		color:@gray;
		font-size:16px;
		h1 {
			font-size:30px;
			font-weight:normal;
			color:@blue-primary;
			margin-bottom:20px;
		}
		p {
			max-width:631px;
		}
		form {
			display:block;
			padding-top:30px;
		}
		.hidn {
			display:none;
		}
		label {
			display:block;
			font-size:14px;
			font-weight:normal;
			color:@dark-primary;
			padding-left:6px;
			margin-bottom:9px;
		}
		label.blue {
			color:@blue-primary;
		}
		.ffield {
			padding-bottom:35px;
		}
		input[type="text"] {
			border:0;
			border-bottom:2px solid @gray-mid-light;
			padding:0 6px 7px 6px;
			font-size:14px;
			width:100%;
			margin-bottom:0;
		}
		select {
			border:0;
			border-bottom:2px solid @gray-mid-light;
			border-radius:0;
			padding:0 0 7px 4px;
			font-size:14px;
			width:100%;
			margin-bottom:0;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background:transparent url(@{image-url}darr.png) right 8px no-repeat;
		}
		select::-ms-expand { /* for IE 11 */
			display: none;
		}
		select#fback-type.inactive {
			color:#9ec9f5;
		}
		select#fback-type.active {
			color:@blue-primary;
		}
		select:-moz-focusring,
		select.inactive:-moz-focusring,
		select.active:-moz-focusring {
			color: transparent;
			text-shadow: 0 0 0 #000;
		}
		select:focus,
		select.inactive:focus,
		select.active:focus {
			color:@dark-primary;
			outline:none;
		}
		input:focus,
		textarea:focus {
			outline:none;
		}
		select#fback-type.inactive:-moz-focusring,
		select#fback-type.active:-moz-focusring {
			color: transparent;
			text-shadow: 0 0 0 #0078EF;
		}
		select#fback-type.inactive:focus,
		select#fback-type.active:focus {
			color:@blue-primary;
		}
		textarea {
			border:0;
			border-bottom:2px solid @gray-mid-light;
			padding:0 6px 7px 6px;
			font-size:14px;
			width:100%;
			margin-bottom:0;
			height:120px;
		}
		input.inactive,
		textarea.inactive,
		select.inactive {
			color:@gray-mid;
		}
		input.active,
		textarea.active,
		select.active {
			color:@dark-primary;
		}
		.agreement {
			label {
				padding-top:9px;
				color:#474e58;
				input[type="checkbox"] {
					margin-right:5px;
				}
			}
		}
		.fb-submit {
			.button-blue-primary {
				float:right;
			}
		}
		.error {
			color:#dc233f;
			font-size:14px;
		}
		input.error[type="text"],
		textarea.error,
		select.error {
			border-color:#dc233f;
		}
	}
	a.support-info {
		display:block;
		background:#271782 url(@{image-url}IconSupport.png) 23px 21px no-repeat;
		padding:62px 23px 21px 23px;
		margin-bottom:31px;
		border-radius:4px;
		color:white;
		font-size:14px;
		max-width:300px;
		.bigger {
			display:block;
			font-weight:300;
			font-size:20px;
			margin-bottom:6px;
		}
	}
	a.support-info:hover {
		text-decoration:none;
		background-color:#2C3D45;
		.bigger {
			text-decoration:none;
		}
	}
	.support-note {
		max-width:300px;
		font-size:14px;
		line-height:129%;
		color:#778589;
	}
}

.fb-success {
	.success {
		text-align:center;
		p.img {
			padding-bottom:40px;
		}
		img {
			display:inline-block;
		}
		h2 {
			font-size:30px;
			color:@blue-primary;
			font-weight:300;
			line-height:107%;
			margin-bottom:19px;
		}
		p {
			font-size:24px;
			font-weight:300;
			line-height:133%;
			color:#5e6d78;
			padding-bottom:30px;
			max-width:812px;
			margin:0 auto;
		}
		p.next {
			font-size:16px;
			font-weight:500;
			color:#5e6d78;
		}
		div.hr {
			height:65px;
			border-bottom:1px solid #f3f3f3;
			margin-bottom:40px;
		}
		p.fineprint {
			font-size:14px;
			font-weight:300;
			line-height:129%;
			color:#778589;
		}
	}
}

#feedback-popup {
	.modal-header {
		font-weight:500;
	}
	.modal-body {
		font-size:14px;
		padding-right:55px;
		a {
			font-size:14px;
			display:inline;
		}
	}
	a.close {
		font-size:44px;
		font-weight:100;
		position:absolute;
		right:15px;
		top:10px;
		opacity:0.6;
		color:#333333;
	}
}
