#general-carousel{
	.glyphicon-chevron-left, .glyphicon-chevron-right{
		font-size: 80px;
		top: 40%;
	}
	.glyphicon-chevron-left{
		left: 30%;
	}
	.glyphicon-chevron-right{
		right: 30%;
	}
	.carousel-inner {
		.left {
			float: none;
		}
		.right {
			float: none;
		}
	}
}
