.general-title-and-sub-title{
	margin-top: 90px;
    margin-bottom: 90px;
    text-align: center;
    padding-bottom: 0px;
	
	.title{
		font-size: @font-large;
		font-weight: @weight-norm;
		color: @dark-primary;
	}
	@media(max-width: @screen-sm) {
        .title {
        	font-size: @font-semilarge;
        }
    }
	.sub-title{
		margin-top: 30px;
		font-size: @font-seminorm;
		font-weight: @weight-norm;
		color: @dark-primary;
	}
}