// .general-nav{
//   background-color: #263133;
//   color: @white;
//   width: 100%;
//   z-index: 1;
//   padding: 20px 5%;
//   text-align: right;
//   font-weight: @weight-bold;
//
//   li .active{
//     color: @blue-primary;
//   }
//   li {
//     font-size: @font-tiny;
//
//     a {
//     color: @white;
//     }
//   }
// }
// @media only screen and (max-width: @screen-sm){
//   .general-nav ul li{
//     display: block;
//   }
// }
// @media only screen and (min-width: @screen-sm){
//   .general-nav ul li{
//     display: inline-block;
//     margin-right: 20px;
//   }
// }

.gov-sol-nav {
  background-color: @dark;
  margin-bottom: 0px;
  border: none;
  .navbar-nav {
    li {
      a {
        padding: 20px 10px 20px 10px;
        font-size: @font-tiny;
        color: @white;
      }
    }
    li {
      a.active {
        background-color: transparent;
        color: @blue-primary;
      }
    }
    li:hover {
      a {
        color: @white;
        text-decoration: underline;
      }
    }
    li {
      a.active:hover {
        color: @blue-primary;
      }
    }
  }
  @media (min-width: 768px) {
    .navbar-nav{
      float: right;
    }
  }
}
