.general-banner{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 144px;
	padding-bottom: 166px;
	color: @white;
	height: 430px;

	h1{
		font-size: @font-semihuge;
		font-weight: @weight-norm;
		margin-bottom: 40px;
	}
	.button-banner-white{
		padding: 15px 40px;
		color: @blue-primary;
		font-size: @font-small;
		font-weight: @weight-heavy;
		border-radius: 100px;
		background-color: @white;
		&:hover{
			text-decoration: none;
			background-color: rgba(0, 0, 0, 0);
			color: @white;
			border: 2px solid @white;
		}
	}
}
@media only screen and (max-width: @screen-sm){
    .general-banner{
        padding-top: 100px;
        padding-bottom: 110px;

        h1{
        	font-size: @font-semilarge;
        	padding: 0px 15px;
        }
        .button-banner-white{
        	padding: 10px 15px;
        	font-size: @font-semitiny;
        }
    }
}
