/* Basic Styles */

body {
	font-family: @font-family;
	font-weight: @weight-norm;
	font-size: @font-seminorm;
	color: @dark;
	&.modal-open {
		padding-right: 0px !important;
	}
}
h1, h2, h3, h4, h5, h6 {
	padding: 0px;
	margin: 0px;
}
img {
	display: block;
	padding:0px;
	margin:0px;
	max-width: 100%;
	height: auto;
}
strong {
	font-weight:@weight-bold;
}
.lang-zh-cn strong,
.lang-zh-tw strong {
	font-weight:600; /* we don't have a custom font for Chinese, and the default font doesn't support a font-weight of 400 or 500 */
}
.lang-pl-pl { /* Polish specific charaters were getting bolded, this is the fix for it */
	font-family: inherit;
}
.content_container {
	margin: 0 auto;
	max-width: @width-norm;
}
.container-large {
	max-width: @width-semilarge;
	margin: 0 auto;
}
.clear {
	clear:both;
}
a {
	color:@blue-primary;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:focus {
	text-decoration:none;
}
a img {
	padding:0px;
	margin:0px;
}
p {
	margin:0px;
	padding:0px 0px 20px 0px;
}
ul {
	padding:0px 0px 0px 18px;
	margin:0px;
}
li {
	padding:0px;
	margin:0px;
}
.left {
	float:left;
}
.right {
	float:right;
}
.nopadding {
  padding:0px;
}
.padding-bottom {
	margin-bottom:20px;
}
.block {
	display: block;
}
.dark-background {
	margin-top:30px;
	padding:75px 0px 75px 0px;
	background-color:@dark;
	color: @gray-white;
}
.extend {
	font-weight:@weight-heavy;
	font-style:italic;
}
.nobullets {
	list-style-type: none;
	padding: 0px;
	ul {
		list-style-type: none;
		padding: 0px;
	}
}

/* Buttons */

.button-clear {
	padding:10px 30px 10px 30px;
	border-radius: 30px 30px 30px 30px;
	font-size: @font-tiny;
	color: @white;
	font-size:@font-tiny;
	border:1px @white solid;
}
.button-clear:hover {
	border:1px solid @gray-mid-light;
	color: @gray-mid-light;
	text-decoration:none;
}
.button-dark {
	padding:10px 30px 10px 30px;
	border-radius: 30px 30px 30px 30px;
	font-size: @font-tiny;
	color: @dark;
	font-size:@font-tiny;
	cursor:pointer;
	border:1px @dark solid;
}
.button-dark:hover {
	border:1px solid @gray-mid-light;
	color: @gray;
	text-decoration:none;
}
.button-white {
	padding:10px 30px 10px 30px;
	border-radius: 30px 30px 30px 30px;
	font-size: @font-tiny;
	color: @blue-light;
	background-color: @white;
	border: 1px @white solid;
}
.button-white:hover {
	background-color: transparent;
	border:1px solid @white;
	color: @white;
	text-decoration:none;
}
.button-clear-white {
	padding:10px 30px 10px 30px;
	border-radius: 30px 30px 30px 30px;
	font-size: @font-tiny;
	color: @white;
	background-color: transparent;
	border: 1px @white solid;
	white-space: nowrap;
}
.button-clear-white:hover {
	background-color: @white;
	border:1px solid @white;
	color: @blue-light;
	text-decoration:none;
}
.button-clear-aqua {
	padding:10px 30px 10px 30px;
	border-radius: 30px 30px 30px 30px;
	font-size: @font-tiny;
	color: @white;
	background-color: transparent;
	border: 1px @white solid;
}
.button-clear-aqua:hover {
	background-color: @aqua;
	border:1px solid @aqua;
	color: @blue-primary;
	text-decoration:none;
}
.button-clear-violet {
	padding:10px 30px 10px 30px;
	border-radius: 30px 30px 30px 30px;
	font-size: @font-tiny;
	color: @white;
	background-color: transparent;
	border: 1px @white solid;
}
.button-clear-violet:hover {
	background-color: @white;
	border:1px solid @white;
	color: @violet;
	text-decoration:none;
}
.button-violet {
	padding:10px 30px 10px 30px;
	border-radius: 30px 30px 30px 30px;
	font-size: @font-tiny;
	color: @white;
	background-color: @violet;
	border: 1px @violet solid;
}
.button-violet:hover {
	background-color: transparent;
	border:1px solid @violet;
	color: @violet;
	text-decoration:none;
}
.button-blue {
	padding:10px 30px 10px 30px;
	border-radius: 30px 30px 30px 30px;
	font-size: @font-tiny;
	color: @white;
	cursor:pointer;
	background-color: @blue-light;
	border: 1px @blue-light solid;
}
.button-blue:hover {
	background-color: transparent;
	border:1px solid @blue-light;
	color: @blue-light;
	text-decoration:none;
}
.button-blue-dark {
	padding:10px 30px 10px 30px;
	border-radius: 30px 30px 30px 30px;
	font-size: @font-tiny;
	color: @white;
	cursor:pointer;
	background-color: @blue-dark;
	border: 1px @blue-dark solid;
}
.button-blue-dark:hover {
	background-color: transparent;
	border:1px solid @blue-dark;
	color: @blue-dark;
	text-decoration:none;
}
.button-pink {
	padding:10px 30px 10px 30px;
	border-radius: 30px 30px 30px 30px;
	font-size: @font-tiny;
	color: @white;
	cursor:pointer;
	background-color: @pink;
	border: 1px @pink solid;
}
.button-pink:hover {
	background-color: @white;
	border:1px solid @white;
	color: @pink;
	text-decoration:none;
}
.button-clear-blue {
	padding:10px 30px 10px 30px;
	border-radius: 30px 30px 30px 30px;
	font-size: @font-tiny;
	color: @blue-light;
	background-color: @white;
	border: 1px @blue-light solid;
}
.button-clear-blue:hover {
	background-color: @blue-light;
	border:1px solid @white;
	color: @white;
	text-decoration:none;
}
.button-clear-blue-prim {
	padding:10px 30px 10px 30px;
	border-radius: 30px 30px 30px 30px;
	font-size: @font-tiny;
	color: @blue-primary;
	background-color: transparent;
	border: 1px @blue-primary solid;
	display: inline-block
}
.button-clear-blue-prim:hover {
	background-color: @blue-primary;
	border:1px solid @blue-primary;
	color: @white;
	text-decoration:none;
}
.button-blue-primary {
	padding:10px 30px 10px 30px;
	border-radius: 30px 30px 30px 30px;
	font-size: @font-tiny;
	color: @white;
	background-color: @blue-primary;
	border: 1px @blue-primary solid;
	display:inline-block;
}

.button-blue-primary:hover {
	background-color: transparent;
	border:1px solid @blue-primary;
	color: @blue-primary;
	text-decoration: none;
}
.downdown-arrow {
	display: inline-block;
	background: url('@{image-url}nav/dropdown_arrow_ico.png') no-repeat;
	font-size: @font-small;
	color: @dark;
	height: 4px;
	width: 10px;
	margin-left: 1px;
}
.resource-image {
	box-shadow: 1px 1px 5px @gray-mid
}
.thank-you .resource-image {
	float:left;
	margin:10px 15px 30px 0;
}

/* Menus and Navs */
.menudropdowns { display:none; }
footer {
	color:@gray-mid-light;
	font-size: @font-tiny;
	font-weight: @weight-norm;
	background-color: #293138;
	border-top: 1px rgb(151, 151, 151, .2) solid;

	#footer1 {
		padding: 69px 40px 40px;
		margin:0 auto;
		box-sizing: content-box;
		max-width:1400px;
		
		.ftr-container {
			display: flex;
			flex-wrap: wrap;
		    margin: 0;
		    padding: 0;
			
			.footer-section {
				width:100%;

				@media (min-width: 640px) {
				    width: 50%;
				}				

				@media (min-width: 960px) {
				    width: 20%;
				}				
			}
		}

		img {
			display: block;
			float: left;
			padding-top: 3px;
			padding-right: 8px;
		}
		a {
			color: #a0a0a0;
			display: inline;
			text-decoration:none;
			&:hover {
				color: #a0a0a0;
				text-decoration:underline;
			}
		}
		#contact-us{
			margin-bottom: 10px;
		}
		h5{
			font-size: 16px;
			font-weight: 400;
			line-height:28px;
			margin-bottom:1px;
		}
		@media screen and (max-width: @screen-md) {
			h5{
				margin-top:20px;
			}
		}

		ul {
			padding: 0;
			margin: 0;
			list-style-type:none;
			&.social {
				font-size: @font-norm;
				margin-top: -7px;
				float: right;
				@media (max-width: @screen-sm) {
					float: left;
				}
				a {
					text-decoration: none;
					color: @gray-mid-light;
				}
				a:hover {
					color: @blue;
				}
				img {
					padding-right: 0px;
				}

				li {
					padding-right: 9px;
				}
			}
			li {
				font-size:14px;
				line-height:28px;
				padding: 0;
				margin: 0 0 1px 0;
			}
		}
		#footer-language {
			font-size:16px;
			line-height:28px;
			color: #a0a0a0;
			text-align: right;
			position:relative;
		    width: 100%;
	
			@media (min-width: 960px) {
			    width: 20%;
			}
			
			span:hover {
				color:#E3E7EA;
			}

			.icon-globe {
				color: #a0a0a0;
				font-size:21px;
				vertical-align: middle;
			}

			span {
				cursor: pointer;
			}
			.popup {
				display: none;
				background-color: @gray-white;
				border: solid 1px @gray-mid-light;
				font-size:14px;
				text-align: left;
				position: absolute;
				z-index: 10;
				width: 240px;
				padding: 10px 0px;
				bottom: 104%;
				right:0px;
				color: @gray;
				.countries {
					overflow-y: scroll;
					height: 200px;
				}
				p {
					margin: 0 16px 0 16px;
					padding: 0;
				}
				hr {
					margin-top: 10px;
					margin-bottom: 10px;
					border-color: #EAECEB -moz-use-text-color -moz-use-text-color;
				}
				div, a {
					color: @gray;
					display: block;
					padding: 5px 20px;
					margin-bottom: 2px;
					font-size:14px;
					cursor:pointer;
				}
				div.current, a.current {
					font-weight: @weight-heavy;
					color:#000;
				}
				div:hover, a:hover {
					text-decoration: none;
					background-color: #dbe0e4;
				}
			}
		}
	}
	#footer2 {
		
		padding:0 40px 70px;
		font-size:14px;
		line-height:28px;;
		color:#a0a0a0;
		box-sizing: content-box;
		max-width:1400px;
		margin:0 auto;

		ul {
			list-style-type: none;
			margin:0;
			padding:0;
			
			li {
				display:inline-block;
				
				a {
					color:#a0a0a0;
					text-decoration:none;
					fill: currentcolor;
					&:hover {
						color:#E3E7EA;
					}
					
					svg {
						vertical-align: middle;
					}
					
					&:hover {
						text-decoration:underline;
					}
				}
			}
		}
		
		div.ftr-container {

			margin:0 auto;
			padding:30px 0 0 0;
			border-top: 1px solid #575757;
			display: flex;
			flex-wrap: wrap;

			div.uk-first-column {
				display:block;
				width:80%;
				box-sizing: border-box;
				ul li {
					margin:0 10px 0 0;

					@media (max-width: 1199px) {
					    display: block;
					}

				}
			}
	
			div.social-links {
				display:block;
				width: 100%;
				box-sizing: border-box;
				text-align:right;

				@media (min-width: 960px) {
				    width: 20%;
				}
				
				ul li {
					margin:0 0 0 9px;
				}
			}

		}
		
	}
}



.cookies-alert {
	display: none;
	background-color: @blue-dark;
	color: @white;
	.container {
		strong {
			font-weight: @weight-norm;
			padding: 20px 0;
			font-size: 25px;
		}
		p > a {
			color: @white;
			text-decoration: underline;
		}
		.hidden-md-up {
			display: none;
		}
		.col-md-3,
		.col-md-7,
		.col-md-2 {
			display:table-cell;
			float:none;
			vertical-align:middle;
			padding:20px 15px;
		}
		.col-md-7 {
			font-size:14px;
			p {
				padding:0 0 5px 0;
				line-height:115%;
			}
		}
		.col-md-2 {
			text-align:right;
			a.button-white {
				color:@blue-dark;
			}
			a.button-white:hover {
				color:white;
			}
		}
	}
}
.button-white-mobile {
	@media (max-width: 450px) {
		padding-left: 0px;
	}
}
@media (max-width: @screen-md) {
	h2 {
		word-wrap: break-word;
	}
	.cookies-alert {
		.container {
			padding-top:15px;
			strong {
				display: none;
			}
			p {
				font-size: 15px;
			}
			.hidden-md-up {
				display: block;
			}
			.button-white {
				display: none !important;
			}
			.button-white-mobile {
				font-size: 25px;
			}
			.col-md-3,
			.col-md-7,
			.col-md-2 {
				display:block;
				width:100%;
				clear:both;
				float:none;
				padding:0 30px 20px 30px;
			}
			.col-md-7 {
				font-size:14px;
				line-height:115%;
				p {
					padding:0 0 8px 0;
				}
			}
			.col-md-2 {
				text-align:left;
			}
			p {
				font-size: 11px;
			}
		}
	}
}


.lets-talk {
	span {
		padding-right:5px;
	}
}

header {
	position: relative;

	.menus-container {
		position: relative;
	}
	.utilitynav {
		height: 40px;
		background-color: @gray-white;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 110;

		&.fixed {
			position: fixed;
		}
		a{
			color: @dark;
		}
		a:hover{
			color: @gray;
			text-decoration: none;
		}
		.container {
			> div {
				float: right;
				display: inline-block;
				background-repeat: no-repeat;
				padding: 11px 0px 0px 25px;
				font-size: 12px;
			}
			#utilitynav-language {
				padding-left: 20px;
				margin-right: 22px;
				span {
					cursor: pointer;
				}
				.icon-downArrow {
					color: @dark;
					font-size: 8px;
				}
				.popup {
					display: none;
					background-color: @gray-white;
					position: fixed;
					z-index: 10;
					border: solid 1px @gray-mid-light;
					width: 205px;
					padding: 8px 0px;
					top: 40px;
					color: @gray;
					.countries {
						overflow-y: scroll;
						height: 200px;
					}
					p {
						margin: 0 16px 0 16px;
						padding: 0;
					}
					hr {
						margin-top: 10px;
						margin-bottom: 10px;
						border-color: #EAECEB -moz-use-text-color -moz-use-text-color;
					}
					a {
						color: @gray;
						display: block;
						padding: 4px 16px;
						margin-bottom: 2px;
					}
					a.current {
						font-weight: @weight-heavy;
						background-color: @gray-light;
					}
					a:hover {
						text-decoration: none;
						background-color: @gray-light;
					}
				}
			}
			.utilitynav-support {
				padding-left: 19px;
				margin-right: 24px;
			}
			.utilitynav-community {
				padding-left: 31px;
				margin-right: 25px;
			}
			#utilitynav-chat {
				padding-left: 18px;
				cursor: pointer;
				.popup {
					display: none;
					background-color: @white;
					position: fixed;
					z-index: 10;
					border: solid 1px @gray-mid;
					width: 650px;
					padding: 32px 26px;
					top: 40px;
					right: 0;
					color: @dark-primary;
					height: 75vh;
				}
			}
		}

	}

	#menu {
		position: absolute;
		width: 100%;
		top: 57px;
		z-index: 3;
		padding-bottom:20px;


		img {
			display: inline;
		}

		@media  (max-width: @screen-md) {
			top:0px;
			position: fixed;
			background-color: @blue-primary;
			padding-top: 20px;
		}

		.right {
			float: right;
			width: 810px;
			font-size: 15px;
			font-weight: @weight-bold;
			text-align:right;

			.category {
				display: inline-block;
				margin-right: 23px;
				transition: opacity 0.5s ease;

				&.last {
					margin-right:0px;
				}

				> a {
					color: @white;
					padding-bottom: 20px;
				}
				a:focus,
				a:active {
					outline:0;
				}
				> a:hover {
					text-decoration:none;
					border-bottom:4px solid rgba(255, 255, 255, 0.5);
				}
				hr {
					border-color:@gray-mid;
				}

				.services, .partners {

					.col-md-3, .col-md-4 {
						border-left:1px @gray-mid solid;
						padding-left:20px;
					}
					.last {
						border-left:1px @gray-mid solid;


					}
					.blue {
						color:@blue-light;
					}
				}
				.about {

					.col-md-4 {
						margin-bottom:30px;
					}
				}

				.outer {
					position: absolute;
					left: 0px;
					top: 43px;
					width: 100%;

					.dropdown {
						background-color: @dark;
						padding:35px 0px 40px 0px;
						display: none;
						box-shadow: 0px 2px 4px -2px @gray;
						text-align:left;

						a {
							border:none;
						}

						img {
							padding-bottom:15px;
						}

						.external {
							padding-left:8px;
						}

						.bottom-links {
							border-top:1px @blue-light solid;
							display:block;
							padding:25px 0px 0px 0px;
							margin:25px 0px 0px 0px;

								a {
									color:@blue-light;
									float:right;
									font-weight:@weight-heavy;

									&.border {
										border-right:1px @blue-light solid;
										padding-right:50px;
										margin-right:50px;
									}
								}
								.topics-enterprise-devops {
								float: left;
								font-size: 14px;
								display: block;
								line-height: 23px;
								font-weight: 400;
								margin-top: -3px;
							}
							.float-left {
								float: left;
								a {
									padding-right: 40px;
									color: @gray;
								}
							}
						}

						h2 {
							margin-bottom:30px;
							padding-left:21px;
							a {
								font-size:24px;
								font-weight:400;
								color: @blue-light;
							}
						}

						h5 {
							margin-top:0px;
							margin-bottom:10px;
							color: @blue-light;
							font-size: 15px;

							a {
								color: @blue-light;
								font-size: 15px;
							}
						}

						a {
							font-size: @font-tiny;
							color: @gray-mid-light;
							display: block;
							line-height:@font-norm;

							.external {
								display: inline-block;
								width: 9px;
								height: 8px;
								margin-left: 8px;
							}
						}

						a.seemore {
							font-size: 13px;
							margin-top: 14px;
							color: @blue-light;
						}

						.col {
							width: 18%;
							margin-right: 2%;
							float: left;
						}
						p {
							color: @gray-mid-light;
						}
					}


				}
				.outer.about .dropdown .bottom-links {
					.float-left a {
						padding-right:25px;
					}
					.float-left a:first-child {
						padding-right:0;
					}
					a.border {
						margin-right:25px;
						padding-right:25px;
					}
				}
			}

			.category > a.hover {
				text-decoration:none;
				cursor:pointer;
				border-bottom:4px solid @white;
			}
			.category > a.hover:hover {
				border-bottom:4px solid @white;
			}

			#menu-search {
				float: right;
				margin-top: -5px;
				color: @white;
				border: 1px solid @white;
				border-radius: 17px;
				padding: 4px 8px 4px 17px;

				@media (max-width: 991px){
					right: 150px;
					top: 20px;
					position: absolute;
				}

				input {
					float: left;
				}

				input[type="text"] {
					width: 80px;
					border: none;
					background: none;
					transition: width 0.5s ease;
				}

				.placeholder {
					color: @white;
					transition: opacity 0.5s ease;
				}
				::input-placeholder { .placeholder; }
				::-webkit-input-placeholder { .placeholder; }
				::-moz-placeholder { .placeholder; }
				:-moz-placeholder { .placeholder; }
				:-ms-input-placeholder { .placeholder; }


				button {
					border: none;
					background: none;
					width: 25px;
				}
			}
			.categories {
				z-index: -1;
				width: 665px;
				float: left;
			}

		}

		.right.searching {
			.category {
				opacity: 0;
			}

			#menu-search {
				input[type="text"] {
					width: 350px;
					transition-delay: 0s;
				}

				::input-placeholder { opacity: 0; }
				::-webkit-input-placeholder { opacity: 0; }
				::-moz-placeholder { opacity: 0; }
				:-ms-input-placeholder { opacity: 0; }
			}
		}
	}

	#menu.fixed {
		position: fixed;
		top: 0px;
		z-index: 100;
		background-color: @blue-primary;
		padding-top: 18px;
		height: 60px;
		box-shadow: 0px 2px 4px -2px @gray;

		@media (max-width: @screen-md) {
			position: static;
		}

		.right .category .outer {
			top: 60px;
		}
	}

	#menu.expanded {
		@media  (max-width: @screen-md) {
			height: 100%;
			max-height: 100%;
			overflow-y: scroll;
		}
	}

	.topics-navbar.topics-header {
		float: left;
		margin: 0px;
	}
}

#menu-mobile{
	position: absolute;
	top: 20px;
	right: 30px;
	z-index: 101;
}

/* Extending bootstrap mobile nav to add transitions */
#menu {
	background-color: initial;
	border: none;

	.navbar-toggle {
		border: none;
		background: transparent !important;
		display: block;
		margin-top: 0;
		padding: 0;
		&:hover {
			background: transparent !important;
		}

		.icon-bar {
			width: 32px;
			transition: all 0.2s;
			background-color: @white;
			margin: 8px 0;
			border-radius: initial;
		}
		.top-bar {
			transform: rotate(55deg);
			transform-origin: 10% 10%;
		}
		.middle-bar {
			opacity: 0;
		}
		.bottom-bar {
			transform: rotate(-55deg);
			transform-origin: 10% 90%;
		}
	}
	.navbar-toggle.collapsed {
		.top-bar {
			transform: rotate(0);
		}
		.middle-bar {
			opacity: 1;
		}
		.bottom-bar {
			transform: rotate(0);
		}
	}
}

#mobile-nav{
	position: absolute;
	top: 32px;
	right: 0px;
	z-index: 101;
	@media (max-width: @screen-md) {
		right: 35px;
		top: -7px;
	}
	@media (max-width: @screen-sm) {
		right: 0;
	}

	a{
		color: @white;
		text-decoration: none;
	}
	.accordion-toggle {
		cursor: pointer;
	}
	.accordion-toggle:after{
		font-family: 'microfocus-icons';
		content: "\ea58";

	}
	.accordion-toggle.collapsed:after{
		font-family: 'microfocus-icons';
		content: "\ea5d";
	}
}
#collapse-menu{
	.accordion-toggle:after{
		font-family: 'microfocus-icons';
		content: "\ea66";
		float: right;

	}
	.accordion-toggle.collapsed:after{
		font-family: 'microfocus-icons';
		content: "\ea5a";
		float: right;
	}
	.submenu {
		overflow-y: scroll;
		height: auto;
		max-height: 100%;
		overflow: hidden;

		h5 {
			padding:15px 0px 5px 3%;
			margin:0 5% 0 6.8%;

			a {
				padding:0%;
				margin:0%;
			}
		}
	}
}
.mobile-dark{
	background: @dark;
}
.mobile-dropdown{
	font-size: @font-semismall;
	font-weight: @weight-bold;
	top: 42px;
	right: -40px;
	position: absolute;
	z-index: 101;
	width: 103vw;

	a{
		clear: both;
		display: block;
		color: @white;
		padding: 20px 3%;
		margin: 0 5% 0 6.8%;
		border-bottom: 1px solid @gray;
	}
	.mobile-one{
		display: inline-block;
		border-bottom: none;
		margin: 0;
	}
	.mobile-two{
		display: inline-block;
		float: right;
		border-bottom: none;
		cursor: pointer;
	}
	.mobile-border{
		border-bottom: 1px solid @gray;
		margin: 0 5.3% 0 7.3%;
	}
	.last, .mobile-border-none{
		border-bottom: none;
	}
	.blue{
		color: @blue-light;
	}
	.secondary{
		background: @dark-primary;
	}
	.talk{
		background: @blue-primary;

	}

	.mobile-general{
		overflow-y: scroll;
		background: #3d515c;
		overflow:hidden;

		h5{
			color: @blue-light;
			border-bottom: none;
			padding: 10px 3%;

			a{
				color: @blue-light;
			}
		}
		a{
			border-bottom: none;
			padding: 10px 3%;
		}
		.first{
			padding-top: 20px;
		}
		.last{
			padding-bottom: 30px;
		}
	}
	.mobile-about{
		background: #3d515c;

		.first{
			border-top: 1px solid @gray;
			padding-top: 20px;
		}
		.last{
			padding-bottom: 35px;
		}
		a{
			border-bottom: none;
			color: @blue-light;
			padding: 10px 3%;
		}
		.contact-block{
			background: @blue-primary;
			padding: 5px 0;
			a{
				color: @white;
			}
		}
	}
}

.menubackground-blue {
		background-color: @blue-primary;
		height: 100px;
		width: 100%;
}

/* Standard Spacing */

.box {
	padding-top:60px;
	padding-bottom:70px;
}
.box-padding {
	padding:0px 0px 60px 0px;
	margin-top:-20px;
}
.box-bottom {
	.box {
		padding-bottom:50px;
	}
}
.box-top-pad{
	padding-top:45px;
}
.box-bot-pad{
	padding-bottom: 90px;
}
/* Radio Buttons */

input.radio:empty {
	display:none;
}
input.radio:empty ~ label {
	position: relative;
	float: left;
	line-height: 22px;
	text-indent: 30px;
	cursor: pointer;
	font-size:14px;
	font-weight:@weight-norm;
	color:@gray-light;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
input.radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 22px;
	height:22px;
	border-radius: 50%;
	border:1px solid @gray;
	cursor: pointer;
}
.communities-dark input.radio:empty ~ label:before {
	border:1px solid @white;
	cursor: pointer;
}
input.radio:checked ~ label:before {
	border:1px solid @blue;
	background:url(/assets/images/checked_ico.png);
}
.communities-dark input.radio:checked ~ label:before {
	border:1px solid @blue;
	cursor: pointer;
}
.communities {
	@media (min-width: 320px) {
		p {
			font-size:@font-small;
		}
	}
}
input.radio:checked ~ label {
	color: @gray-light;
}




/* Colored Lines */

.line {
  height: 4px;
	&.pink {
		background: @pink;
	}
	&.violet {
		background: @violet;
	}
	&.purple {
		background: @purple;
	}
	&.primblue {
		background: @blue-primary;
	}
	&.aqua {
		background: @aqua;
	}
	&.blue {
		background: @blue;
	}
	&.red {
		background: @red;
	}
	&.turquiose {
		background: @turquiose;
	}
	&.green-bright {
		background: @green-bright;
	}
	&.pink {
		background: @pink;
	}
	&.green-yellow {
		background: @green-yellow;
	}
	&.orange {
		background: @orange;
	}
	&.blue-light {
		background: @blue-light;
	}
	&.blue-primary {
		background: @blue-primary;
	}
}

/* Template Backgrounds */

.super-dark-background {
	background-color: @dark;

	#related p{
		color:@gray-white;
	}
	#related .capstitle{
		color:@gray-white;
	}

}
.background-darkness {
	background-color:@gray-white;

	.selector {
		border:none;
	}
}
.background-light-darkness {
	background-color:@gray-light;

	.updates-module {
		background-color:@gray-light;
	}
}
.background-white {
	.casestudies {
		background-color:@white;
	}
}
.dotted-background {
	background: url('@{image-url}Backgrounds/repeatable-dot.jpg');
	background-repeat:repeat;
	background-position: center;
}
.line-darkness {
	border-color: @gray-mid;
	margin: 0px;
}


/* Video Popup */

#videoModal {
	text-align:center;

	iframe {
		width:600px;
		height:340px;

		@media  (max-width: @screen-sm) {
			width:300px;
			height:170px;
		}
	}
	.modal-content {
		background-color:transparent;
		border:none;
		box-shadow:none;

		.modal-body {
			padding:0px;
		}
		.modal-header {
			padding: 0px;
		    border-bottom: none;
		    text-align: right;
		    button.close {
				opacity: 1;
				text-shadow: none;
				position: relative;
				z-index: 10;
				margin: 0px auto 0px;
				float: none;
				.icon-close {
					font-weight: 800;
					font-size: 18px;
					color: #fff;
				}
		    }
		}
	}
}


/* Tables */

.rwd-table {
	margin: 1em 0;
	min-width: 300px;

	tbody tr:nth-child(even) {
		background-color: @gray-white;
	}
	tr {
		border-top: 1px solid @gray-white;
		border-bottom: 1px solid @gray-white;
	}
	th {
		display: none;
	}
	td {
		display: block;
		padding-top: 10px;
		padding-bottom: 10px;

		&:before {
			content: attr(data-th)": ";
			font-weight: @weight-heavy;

			@media (min-width: @screen-sm) {
				display: none;
			}
		}
	}
	th {
		font-weight: @weight-norm;
		padding: 15px 0 15px 15px;
		text-align: left;
		@media (min-width: @screen-sm) {
		display: table-cell;
		}
	}
	td {
		padding-left: 10px;
		text-align: left;
		font-size: @font-tiny;

		&.heading {
			font-size: @font-small;
		}
		ul {
			font-size: @font-tiny;
		}
		@media (min-width: @screen-sm) {
			display: table-cell;
			padding-left: 15px;
		}
	}
}

.tier-4-module .rwd-table th {
	padding:15px;
}

/* Color Border Columns Section*/

#color-border-columns {
	background-color: @dark;
	color: @gray-white;
	font-size: @font-small;

	.box {
		padding-bottom:30px;
	}
	.capstitle {
		color:@gray-white;
	}
	.sections {
		padding-bottom:60px;
	}
	.spacer {
		padding-top:20px;
	}
	h2 {
		font-size: @font-semilarge;
		padding: 28px 0;
		font-weight: @weight-norm;
	}
	a {
		font-size: @font-tiny;
		padding-bottom: 10px;
		color: @blue;
	}
}

/* Banner Section */

.banner-main {
  background-position: center;
  background-repeat: no-repeat;
	background-size:cover;
	min-height:450px;
	padding:190px 0px 70px 0px;
	@media (max-width: @screen-sm) {
		padding-top: 90px;
	}

	.banner-image-blue {
		color:@blue;

		img {
			padding-bottom:5px;
		}
	}
	.mainhead {
		font-size: @font-semihuge;
		font-weight: @weight-norm;
		color: @white;
		max-width: 650px;

		@media  (max-width: @screen-sm) {
			  font-size: @font-large;
			  max-width: 450px;
		}
	}
	h1 {
		font-size:@font-large;
	}
	.content {
		color:@white;
		font-size:@font-semilarge;
		padding:0px 0px 0px 0px;

		a {
			margin: 15px 0 0 0;
			float:left;
		}
	}
	&.devInDetail {
		background-image: url('@{image-url}Campaigns/Devindetails_banner.png');
	}
	&.needForSpeed {
		background-image: url('@{image-url}Campaigns/needforspeed_banner.png');
	}
	&.IDM-Conference {
		background-image: url('@{image-url}Campaigns/IDM-Conference-London/IDM_banner_1600x400_blank.png');
	}
	&.entTechcast {
		background-image: url('@{image-url}Campaigns/Techast_banner.png');
	}
	&.ITbacklog-campaign {
		background-image: url('@{image-url}Campaigns/ITbacklog-campaign/Itbacklog-banner.jpg');
	}
	&.pli-campaign {
		background-image: url('@{image-url}Campaigns/pli-campaign/PLi-banner.png');
	}
	&.COBOLMobile-campaign {
		background-image: url('@{image-url}Campaigns/COBOLMobile-campaign/cobolMobile-banner.png');
	}
	&.compliance-campaign {
		background-image: url('@{image-url}Campaigns/compliance-campaign/compliance-banner.jpg');
	}
	&.rocks-campaign {
		min-height: 400px;
		background-image: url('@{image-url}Campaigns/cobolRocks/cobolRocks-banner.jpg');
	}
	&.linux-campaign {
		min-height: 400px;
		background-image: url('@{image-url}Campaigns/linux-power/LinuxPower-campaign.jpg');
	}

	&.devOps-campaign {
		background-image: url('@{image-url}Campaigns/devOps-campaign/devOps-banner.png');
	}
	&.skills-campaign {
		background-image: url('@{image-url}Campaigns/skills-campaign/skills-banner.jpg');
	}
	&.outsourcing-campaign {
		background-image: url('@{image-url}Campaigns/outsourcing-campaign/outsource_banner.jpg');
	}
	&.oop-campaign {
		background-image: url('@{image-url}Campaigns/oop-campaign/oop-banner.png');
	}
	&.apprehost-campaign {
		background-image: url('@{image-url}Campaigns/appRehost/appRehost-banner.jpg');
	}
	&.devdays-campaign {
		background-image: url('@{image-url}Campaigns/dev-days/devDay-banner.jpg');
	}
	&.about {
		background-image: url('@{image-url}main-img-f-p-o.png');
	}
	&.partners-home {
		background-image: url('@{image-url}Partners/Partner_banner.jpg');
	}
	&.about-home {
		background-image: url('@{image-url}About/about-banner.jpg');

		@media  (max-width: @screen-sm) {
			background-image: url('@{image-url}About/about-banner-mobile.jpg');
		}
	}
	&.map {
		background-image: url('@{image-url}About/Contact/map_banner.jpg');

		@media  (max-width: @screen-sm) {
			background-image: url('@{image-url}About/Contact/map_banner_mobile.jpg');
			padding-top: 190px;
		}
	}
	&.webinar {
		background-image: url('@{image-url}About/Webcasts/anz_webcast_banner.jpg');
	}
	&.careers {
		background-image: url('@{image-url}About/Careers/careers-banner.jpg');
	}
	&.industries {
		background-image: url('@{image-url}Industries/industries-banner.jpg');
	}
	&.training{
		background-image: url('@{image-url}Services/training-header.jpg');
	}
	&.landing-page{
		background-image: url('@{image-url}Solutions/solutions-landing-banner.jpg');
	}
	&.support-and-services{
		background-image: url('@{image-url}Services/support-banner.jpg');
	}
	&.event{
		background-image: url('@{image-url}Event/event-banner.jpg');
	}
	.bannertitle {
		max-width: 696px;
	}
	.banner-content {
		max-width: 920px;
		margin: auto;
		p {
			color: @white;
			text-align: center;
			font-weight: 300;
			padding: 0px 10px 20px 10px;
		}
	}
	.button-ico {
		display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 30px 8px 30px;
		span {
			font-size: 25px;
			padding-right: 5px;
		}
	}
}
.past-events-section {
  background-color: @white;
	.box {
		padding-bottom: 16px;
		padding-top: 55px;
	}
}
.container {
	.past-events-container {
		display: flex;
	flex-wrap: wrap;
	max-width: 1003px;
	margin: auto;
		.section-holding-content {
			text-align: left;
		margin: 15px;
		max-width: 470px;
		text-decoration: none;
		padding: 0px 15px 40px 15px;
			.title {
				font-size: 24px;
				color: #575db6;
				font-weight: 500;
			}
			.content {
				font-size: 16px;
				color: @dark-primary;
				margin-bottom: 20px;
			}
			a {
				color: @blue;
				font-size: @font-tiny;
			}
		}
	}
	.event-section {
		text-align: center;
		.region-container {
		display: flex;
	  width: 100%;
	  justify-content: center;
		@media  (max-width: 767px) {
			padding-left: 0px;
		}
		.active-country {
			text-align: left;
		}
		.event-dropdown {
				margin-right: 37px;
		}
		}
	}
}

/* Breadcrumbs */

.thecrumbs {
	padding: 0px 0px 0px 0px;
	font-size: @font-semitiny;
	font-weight: @weight-bold;
	color: @gray;
	span {
		float:left;
		padding-bottom: 20px;
		display: block;

		a {
		  color: @gray-mid;
		  float:left;
		}
		a:hover {
			color: @gray;
			text-decoration:none;
		}
		a:after {
			content:'\203a';
			padding:0px 10px 0px 6px;
		}
	}

	@media  (max-width: @screen-sm) {
	  padding-top:58px;
	}
}

/* Title Section */

.general-title {
	padding-bottom: 30px;
	font-weight: @weight-norm;
	color: @dark-primary;
	a {
		color: @blue-primary;
	}
	.crumbs {
		padding: 0px 0px 0px 15px;
		font-size: @font-semitiny;
		margin-top:-30px;
		font-weight: @weight-bold;
		color: @gray-mid;
		span {
			float:left;
			padding-bottom: 20px;
			display: block;
		}

		@media  (max-width: @screen-sm) {
		  padding-top:58px;
		}
		a {
		  color: @gray-mid;
		  float:left;
		}
		a:hover {
			color: @gray;
			text-decoration:none;
		}
		a:after {
			content:'\203a';
			padding:0px 10px 0px 6px;
		}
	}
	span {
		padding-bottom: 20px;
		display: block;
	}
	h1 {
		font-weight: @weight-norm;
		color: @gray;
		padding-bottom: 30px;
		font-size: @font-large;
		line-height: 40px;
	}
	h2 {
		font-size: @font-norm;
		color: @gray;
	}
	h3 {
		font-weight: @weight-heavy;
		font-size: @font-tiny;
		padding-bottom: 10px;
	}
	.general-content {
		font-size: @font-norm;
		h2 {
			color: @dark;
			font-size: @font-semilarge;
			font-weight: @weight-norm;
			padding-bottom: 20px;
		}
		h3 {
			color: @gray;
			font-weight: @weight-heavy;
			font-size: @font-small;
			padding-bottom: 20px;
		}
		p {
			font-size: @font-seminorm;

			&.bigger {
				font-size:@font-norm;
			}
		}
		.first {
			padding-top: 20px;
		}
		ul {
			font-size:@font-small;
			padding-bottom:20px;
		}
		ul.no-style{
			margin: 0px;
			padding-left: 0px;

			li{
				list-style: none;
				padding-bottom: 10px;

				a{
					color: @blue;
				}
			}
		}
		.block {
			display: block;
		}
	}
	p:last-child {
		padding-bottom:0px;
	}
	img {
		padding: 35px 35px 0px 0;
	}
	.sicol2 {
		font-size: @font-seminorm;
		p {
			font-size: @font-seminorm;
		}
	}
	.twocol {
		padding-top: 30px ;
		padding-bottom: 0px;
		p {
		font-size: @font-tiny;
		}
	}
	.logos {
		padding-top: 50px;
		padding-bottom: 140px;
	}
}

.benefits-dropdown{
	select{
		border-radius: 6px;
		min-height: 42px;
		width: 380px;
		display:block;
		border-color:@gray-mid-light;
	}
}


/* Blue Background Section */

.blue-section{
	background: @blue;
	color: @white;

	.capstitle{
		color: @white;
	}
	li{
		padding-bottom:15px;
	}
}

/* Tab Controls */

.tab-controls {
	padding:0px 0px 20px 15px;
	border-bottom:1px solid @gray-light;
	h2 {
		display: inline-block;
		font-weight: @weight-norm;
	}
	a {
		color: @gray-mid;
		padding:0px 3px 20px 3px;
		font-size: @font-norm;
		margin-right:40px;

		@media (max-width: @screen-sm) {
			margin-right:20px;
		}
	}
	a:hover {
		border-bottom: 4px @blue solid;
		text-decoration:none;
		color: @gray-mid;
	}
	a:active {
		border-bottom: 4px @blue solid;
	}
	.selected {
		border-bottom: 4px @blue solid;
		text-decoration:none;
		color: @dark-primary;

	}
}

/********************************************************** Left Border Columns Section */

.partner-intro{
	h2{
		color:@blue;
		padding-bottom: 30px;
		font-weight:@weight-bold;
	}
	p{
		font-weight:@weight-bold;
		font-size:@font-small;
	}
	a{
		color:@blue-primary;
		font-size:@font-tiny;
		display:block;
		clear:both;
		margin-bottom: 20px;
	}
	.partner-intro-extra-links {
		margin-bottom: 80px;
	}
	&.box {
		padding-bottom:15px;
	}
	.button-blue-primary{
		color: @white;
		width: 100%;
		text-align: center;
		cursor:pointer;
		max-width: 300px;
		@media (min-width: @screen-sm) {
			width: 100%;
			padding-left: 20px;
		}
	}
	.button-blue-primary:hover{
		color: @blue-primary;
	}
	.border-left-blue{
		margin-bottom: 75px;
		float:left;
		padding-right: 30px;
		padding-left: 25px;
		border-left:1px solid @blue;
		@media (max-width: @screen-md) {
			padding-right: 15px;
			padding-left: 15px;
		}
		@media (max-width: @screen-sm) {
			border: none;
		}
	}
	button{
		margin-bottom: 20px;
		display:block;
	}
}

/* Let's Talk Form */
.letstalk_content {
	position:absolute;
	overflow:hidden;
	z-index:99;
	right:0px;
	border:1px solid @black;
	background-color:@white;
	padding-top:30px;

	iframe {
		border:none;
	}
}
.mobile-dropdown .letstalk_content {
	right: initial;
	left: 20px;
	padding: 24px;
	top: 0px;
	@media (max-width: 768px) {
		left: 0;
		width: 100%;
	}
}

.popup {
	display:none;
}
.callpop {
	p {
		font-size:@font-semitiny;
	}
	.graycontact {
		font-size:@font-semitiny;
		padding-bottom: 20px;
		a {
			color:@blue-light;
		}
	}
	.block {
		font-size:@font-semitiny;
	}
	#w_optin {
		float:left;
		width:30px;
	}
	.disclaimer {
		padding-bottom: 20px;
		padding-top:2px;
		float:left;
		width:90%;
		margin-top: -20px;
		margin-left: 33px;
		width:~"calc(100% - 35px)";
		a {
			color:@blue-light;
		}
	}
	.form_builder_form {
		margin-bottom:0px;
		label.radio-inline{
			width: auto;
			display: inline-block;
		}
		input[type="radio"]{
			height:auto;
			width: auto;
			display: inline-block;
		}
	}
	.form_builder_submit {
		margin-bottom:0;
		p {
			padding:0;
		}
	}
	#form_builder_w_optin label {
		display: none;
	}
}



/* Form Builder */
.form_builder_form {
	display: block;
	font-size: @font-tiny;
	font-weight: @weight-norm;
	.form_field_container {
		padding-bottom: 15px;
	}
	.form_builder_submit_status {
		display:none;
	}
	#form_builder_c_state_province {
		display:none;
	}
	.validation_error_notice {
		display: none;
		clear:both;
	}
	.form_field_container.error {
		display: block !important;
		.validation_error_notice {
			display: block;
			color: @red;
		}

		input, select {
			border: 1px @red solid;
		}
	}

	.form_builder_country_list {
		padding-left: 15px;
	}
	label {
		padding-top: 5px;
		max-width: 280px;
		font-weight: @weight-norm;
	}
	input, select {
		width: 70%;
		padding: 5px 10px;
		background-color: transparent;
		border: 1px @gray-mid solid;
		@media (max-width: @screen-lg) {
			width: 100%;
		}
	}
	label.radio-inline{
		width: auto;
		display: inline-block;
	}
	input[type="radio"]{
		height:auto;
		width: auto;
		display: inline-block;
	}
	ul.CompanySearchResults li {
		color: #5e6d78 !important;
	}
}
.form_builder_submit {
		text-align: center;
		display: inline-block;
		float: none;
		margin-right: 15px;
		margin-top: 25px;
		margin-left: 0px;
		margin-bottom: 40px;
	a {
		.button-blue-primary;
	}
	a:hover {
		background-color: transparent;
		border:1px solid @white;
		color: @white;
		text-decoration: none;
	}
}
#rac_container .form_builder_submit {
		float: none;
		margin-left: 5px;
	a {
		.button-blue;
	}
	a:hover {
		background-color: transparent;
		border:1px solid @blue;
		color: @blue;
		text-decoration: none;
	}
}
.livechat_button {
	padding-bottom: 25px;

	a {
		.button-blue;
	}
	a:hover {
		background-color: transparent;
		border:1px solid @blue;
		color: @blue;
		text-decoration: none;
	}

}
.promo_form {
	background-color:@dark-primary;
	color: @white;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 20px;
	input, select  {
		display: block;
		background-color: @dark-primary;
		color:@white;
		width: 100%;
	}
	h3 {
		padding-bottom: 32px;
		font-size:@font-norm;
		font-weight:@weight-norm;
		border-top:@blue 3px solid;
		display:inline-block;
		padding-top:30px;
	}
	#w_optin {
		float: left;
		width: 15px;
		margin-right: 10px;
	}
	.disclaimer{
		float:left;
		width:90%;
		width:~"calc(100% - 35px)";
		padding-top:2px;
		padding-bottom:0;
		a{
			color: @blue-light;
		}
	}
	.form_builder_form label {
		width:auto;
	}
	label.radio-inline{
		width: auto;
		display: inline-block;
	}
	input[type="radio"]{
		height:auto;
		width: auto;
		display: inline-block;
	}
	ul.CompanySearchResults li {
		color: #5e6d78 !important;
	}
}
.trial-download-form {
	background-color: @dark-primary;
	color:@white;
	margin-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
	input, select {
		display: block;
		background-color: @dark-primary;
		color:@white;
		@media (min-width: @screen-sm) {
			width: 100%;
		}
	}
	h3 {
		font-size: @font-norm;
		font-weight: @weight-norm;
	}
	#w_optin, #export{
		width:15px;
		margin-right: 10px;
		margin-top: 18px;
		float:left;
	}
	#export{
		clear:left;
	}
	#w_optin_error, #export_error{
		clear:both;
	}
	.disclaimer{
		padding-bottom: 0px;
		float:left;
		width:90%;
		width:~"calc(100% - 35px)";
		padding-top:2px;
		margin-top: 12px;
		a{
			color: @blue-light;
		}
	}
	.modal h4 {
		color:black;
	}
}

// Language-change confirmation Modal
// **********************************
#untranslated-pg-modal {
	.modal-header {
		padding: 15px;
		.close {
			opacity: 0.6;
			.icon-close {
				font-size:16px;
				color:#3c515c;
				opacity: 1;
			}
		}
	}
	.modal-dialog {
		max-width:475px;
		.modal-body {
			padding: 5px 26px 20px 26px;
			.content {
				padding-right: 45px;
				a {
					display: initial;
				}
				.hide-msg {
					font-size: 10px;
				}
			}
		}
	}
}
@media screen and (max-width: @screen-sm) {
	#lang-confirm-modal .modal-dialog {
		width:100%;
	}
}


/* Trial Download Thank You */
.trial-downloads.thank-you {
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 24px;
		font-weight: @weight-norm;
	}
	h4 {
		font-size: 20px;
		padding-bottom: 15px;
	}
	h5 {
		font-size: 18px;
		padding-bottom: 10px;
	}
	p {
		font-size: 16px;
	}
	.title {
		padding-bottom: 40px;
	}
}

#trial-download-iframe-wrapper {
	.content-wrap {
		top: 0;
		font-size: 10px !important;
		position: relative;
		.inner {
			margin: 0 auto;
			overflow: visible;
			position: relative;
			width: 100%;
		}

	}
}

.googleConversion {
	height:0;
	overflow:hidden;
}




.general-content {

	h3 {
		padding: 20px 0;
	}
	a {
		font-size: @font-seminorm;
		display: inline-block;
	}
}

.modal-family-link {
	margin-top: 25px;
}

/* professional services template */

.professional-services-white {
	#color-border-columns {
		background-color: @white;
		color: @dark-primary;
	}
}
.consulting-dropdown {
	background-color: @dark;
	color: @white;
	font-size: @font-small;
	h2	{
		font-size: @font-semilarge;
		font-weight: @weight-norm;
		padding-bottom: 30px;
	}
	.col {
		padding-left: 0px;
	}
	.wrapper-dropdown {
		background-color: @white;
		color: @gray;
		margin-top: 20px;

	}
}

.callpop {
	color: @dark-primary;
	p {
		a {
			color: @white;
		}
	}
	input {
		border-radius: 6px;
	}
	select {
		border-radius: 6px;
		height: 32px;
	}
	#form_builder_firstName, #form_builder_company, #form_builder_lastName, #form_builder_phone, #form_builder_city {
		width: 47%;
		float: left;

		@media (max-width: 590px) {
			width: 100%;
		}
	}
	#form_builder_firstName, #form_builder_company, #form_builder_city {
			margin-right: 18px;
	}
	#form_builder_country {
		width:100%
	}
	.border {
		border-bottom: 1px @gray-mid-light solid;
		padding-bottom: 10px;
		margin-bottom: 10px;
	}
	.calltitle {
		font-size: @font-small;
		font-weight: @weight-bold;
		color: @dark-primary;
	}
	.calllinks {
		a {
			font-size: @font-tiny;
			color: @blue-light;
		}
	}
	.movedown30 {
		margin-bottom: 30px;
	}
	.form_builder_form {
		display: block;
		font-size: @font-tiny;
		font-weight: @weight-norm;
		.form_field_container {
			padding-bottom: 10px;
		}
		.form_field_container.error {
			display: none;
		}
		.validation_error_notice {
			display: none;
		}
		.form_builder_country_list {
			padding-left: 15px;
		}
		label {
			padding-top: 5px;
			width: 120px;
			font-weight: @weight-norm;
		}
		input, select {
			width: 100%;
			padding: 5px 10px;
			background-color: transparent;
			border: 1px @gray-mid solid;
			@media (max-width: @screen-sm) {
				width: 100%;
			}
		}
		.subscription-par {
			font-size: 14px;
			padding-top: 20px;
			padding-bottom: 0px;
		}
		label.radio-inline{
			width: auto;
			display: inline-block;
		}
		input[type="radio"]{
			height:auto;
			width: auto;
			display: inline-block;
		}
	}
}




.bannertitle {
	font-size: @font-large;
	color: @white;
	font-weight: @weight-norm;
	@media (max-width: @screen-sm) {
		font-size: @font-large;
	}
	.violet {
		color: @violet;
	}
	.aqua {
		color: @aqua;
	}
	.blue {
		color: @blue;
	}
	.blue-light {
		color: @blue-light;
	}
	.blue-primary {
		color: @blue-primary;
	}
	.sub {
		display: block;
	}
	.regular {
		font-weight: @weight-bold;
	}
	.medium {
		font-weight: @weight-heavy;
	}
	.fifty {
		font-size: @font-semihuge;
		line-height: 60px;
	}
	.fontnorm {
		font-size: @font-norm;
	}
	.inline-img {
		display: inline-block;
		padding-right: 15px;
		&.yeild {
			margin-bottom: 10px;

		}
	}
	h1 {
		font-weight:@weight-norm;
	}
}



.wrapper-dropdown {
	background: #fff none repeat scroll 0 0;
	cursor: pointer;
	margin: 0 auto;
	outline: medium none;
	padding: 5px 15px 8px;
	position: relative;
	border: 1px @gray-mid solid;
	border-radius: 6px;
	margin-bottom: 20px;
	.dropdown {
		background: white none repeat scroll 0 0;
		left: 0px;
		list-style: outside none none;
		display: none;
		pointer-events: none;
		position: absolute;
		z-index: 10000;
		right: 0;
		max-height: 235px;
		top: 100%;
		transition: all 0.3s ease-out 0s;
		border: 1px @gray-mid solid;
		border-radius: 6px;
		padding-left: 0px;
		overflow-y: auto;
		li a {
			display: block;
			padding: 10px;
			margin-bottom: 0px;
			text-decoration: none;
			transition: all 0.3s ease-out 0s;
			color:@dark-primary;
		}
		li a:hover {
			background-color: @blue-primary;
			color: @white;
		}
		li i {
			color: inherit;
			margin-right: 5px;
			vertical-align: middle;
		}
	}
}
.wrapper-dropdown::after {
	content: "\ea5a";
	font-size: @font-tiny;
	margin-top: 3px;
	position: relative;
	font-family: 'microfocus-icons';
	float: right;
}

.wrapper-dropdown.active::after {
	content: "\ea66";
}
.wrapper-dropdown.active .dropdown {
	display: block;
	pointer-events: auto;
}
.no-opacity .wrapper-dropdown .dropdown, .no-pointerevents .wrapper-dropdown .dropdown {
	display: none;
	opacity: 1;
	pointer-events: auto;
}
.no-opacity .wrapper-dropdown.active .dropdown, .no-pointerevents .wrapper-dropdown.active .dropdown {
	display: block;
}


.prefooterpadding {
	padding-top: 45px;
	padding-bottom: 30px;
}

.nopadleft {
	padding-left: 0px;
}
.nosidepad {
	padding-left: 0px;
	padding-right: 0px;
}





/* professional services */
#services {
	background-color: @dark;

	h3 {
		font-size: @font-tiny;
		font-weight: @weight-heavy;
		color: @gray-mid;
		padding-bottom: 75px;
	}
	.btn {
		height: 96px;
		white-space: normal;
		font-size: @font-seminorm;
		font-weight: @weight-norm;
		color: @white;
		border-radius: 8px;
		border: 1px @white solid;
		margin-bottom: 30px;
		width: 100%;
	}
	.btn:hover, .selected {
		background-color: @blue-primary;
		border: 1px @blue-primary solid;
		text-decoration: none;
	}
	.parent {
	display: table;
	table-layout: fixed;
	padding: 0 10px 30px;

		@media (max-width: @screen-sm) {
			width: 100%;
		}
	}
	.child {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	}

}
#servicesresources {
	font-size: @font-tiny;
	font-weight: @weight-norm;

	h3 {
		font-size: @font-tiny;
		font-weight: @weight-heavy;
		color: @gray-mid;
		padding-bottom: 75px;
	}
	span {
		color: @dark-primary;
	}
	a {
		color: @blue-primary;
		display: block;
		margin-top: 20px;
	}
	img {
		float: left;
		padding-right: 25px;
		padding-bottom: 45px;
	}
	.graybar{
		border-bottom: 1px solid @gray-light;
	}
}