.gov-solution-page {
    .gov-sol-nav {
      background-color: @dark;
      margin-bottom: 0px;
      border: none;
      .navbar-nav {
        li {
          a {
            padding: 20px 10px 20px 10px;
            font-size: @font-tiny;
            color: @white;
          }
        }
        li {
          a.active {
            background-color: transparent;
            color: @blue-primary;
          }
        }
        li:hover {
          a {
            color: @white;
          }
        }
        li {
          a.active:hover {
            color: @blue-primary;
          }
        }
      }
      @media (min-width: 768px) {
        .navbar-nav{
          float: right;
        }
      }
    }
    .dropdown:hover {
      .dropdown-content{
        display: block;
        @media (max-width: 767px) {
          display: none;
        }
      }
    }
    .dropbtn {
      a {
        background-color: #263133;
        color: white;
        font-size: 14px;
        padding: 20px 10px 20px 10px;
        border: none;
        display: block;
        width: 100%;
      }
      span {
        margin-bottom: 2px;
        margin-left: 3px;
        border: solid white;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 2px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
      @media (max-width: 767px) {
          padding-left: 0px;
      }
    }
    .dropdown {
      position: relative;
      display: inline-block;
      font-size: 14px;
      padding: 20px 0;
      a:visited, a:hover, a:active {
        color: white !important;
        text-decoration: none;
      }
      @media (max-width: 767px) {
        position: relative;
        display: block;
      }
    }
    .dropdown-content {
      display: none;
      position: absolute;
      top: 60px;
      background-color: #263133;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 99999999;
      transition: 1s;
      a {
        color: white;
        text-decoration: none;
        padding: 12px 16px;
        display: block;
      }
      @media (max-width: 767px) {
        position: relative;
         top: 0px;
      }
    }
    .general-banner{
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      padding-top: 144px;
      padding-bottom: 166px;
      color: @white;
      height: 430px;
  
      h1{
        font-size: @font-semihuge;
        font-weight: @weight-norm;
        margin-bottom: 40px;
      }
      .button-banner-white{
        padding: 15px 40px;
        color: @blue-primary;
        font-size: @font-small;
        font-weight: @weight-heavy;
        border-radius: 100px;
        background-color: @white;
        &:hover{
          text-decoration: none;
          background-color: rgba(0, 0, 0, 0);
          color: @white;
          border: 2px solid @white;
        }
      }
    }
    @media only screen and (max-width: @screen-sm){
        .general-banner{
            padding-top: 100px;
            padding-bottom: 110px;
  
            h1{
              font-size: @font-semilarge;
              padding: 0px 15px;
            }
            .button-banner-white{
              padding: 10px 15px;
              font-size: @font-semitiny;
            }
        }
    }
    .general-title-and-sub-title{
      margin-top: 90px;
      margin-bottom: 90px;
      text-align: center;
      padding-bottom: 0px;
  
      .title{
        font-size: @font-large;
        font-weight: @weight-norm;
        color: @dark-primary;
      }
      @media(max-width: @screen-sm) {
        .title {
          font-size: @font-semilarge;
        }
      }
      .sub-title{
        margin-top: 30px;
        font-size: @font-seminorm;
        font-weight: @weight-norm;
        color: @dark-primary;
      }
    }
    #general-carousel{
      .glyphicon-chevron-left,
      .glyphicon-chevron-right{
        font-size: 80px;
        top: 40%;
      }
      .glyphicon-chevron-left{
        left: 30%;
      }
      .glyphicon-chevron-right{
        right: 30%;
      }
      .carousel-inner {
        .left {
          float: none;
        }
        .right {
          float: none;
        }
      }
    }
    .event-register {
      padding-bottom: 70px;
      .container {
        padding: 50px 55px;
        background: #F5F5F5;
        display: flex;
        align-items: center;
        .icon {
          padding: 30px 0px;
          padding-right: 30px;
          border-right: 1px solid #263133;
        }
        .title {
          text-decoration: none;
          h4 {
            font-size: 24px;
            u {
              text-decoration: none;
              border-bottom: 1px solid #0078EF;
            }
          }
        }
        .content {
          font-size: 16px;
          padding-top: 20px;
          strong {
            font-weight: 500;
          }
        }
        .button {
          text-align: right;
          .button-blue-primary {
            text-align: center;
            font-size: 18px;
          }
        }
      }
      @media (max-width: @screen-md) {
        .event-register .container {
          padding: 35px;
          .icon {
            padding-right: 20px;
          }
        }
      }
      @media (max-width: @screen-sm) {
        .event-register {
          padding-bottom: 0px;
          .container {
            flex-direction: column;
            text-align: center;
            padding: 35px 15px;
            .icon {
              border: none;
              padding-top: 0px;
              padding-bottom: 20px;
            }
            .title h4 {
              line-height: 1.3;
            }
            .button-blue-primary {
              margin-top: 20px;
            }
          }
        }
      }
    }
    .gov-contact {
      background-color: @dark-primary;
      position: relative;
      .contact-info {
        padding: 90px 0px 90px 0px;
      }
      .title {
        font-size: 24px;
        font-weight: 300;
        line-height: 1.67;
        text-align: left;
        color: @white;
        margin-bottom: 49px;
      }
      .subtitle {
        font-size: 18px;
        line-height: 1.11;
        text-align: left;
        color: @gray-mid-light;
        font-weight: 500;
        margin-bottom: 10px;
      }
      .content {
        font-size: 16px;
        line-height: 1.25;
        text-align: left;
        color: @gray-mid-light;
      }
      .gov-img {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-size: cover !important;
        z-index: 0;
        background-position: 50% 50% !important;
      }
      .image-container {
        overflow: hidden;
        position: absolute;
        height: 100%;
        padding: 0px;
        top: 0px;
        right: 0px;
      }
    }
    .smap-container {
      padding-bottom: 130px;
      padding-top: 100px;
      h5 {
        font-size: 18px;
        border-bottom: 1px solid @gray-mid-light;
        padding-bottom: 50px;
        margin-bottom: 30px;
        color: #778589;
      }
      a:hover {
        text-decoration: none;
      }
      .press-container {
        border-left: 1px solid @gray-mid-light;
        padding-left: 25px;
        .press-item {
          margin-bottom: 40px;
        }
        .title {
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 20px;
        }
        .description {
          font-size: 14px;
          color: #778589;
          margin-bottom: 10px;
          max-height: 60px;
          overflow-y: hidden;
        }
        .cta {
          font-size: 16px;
        }
      }
      @media(max-width: @screen-sm) {
        .press-container {
          margin-top: 20px;
        }
      }
      .col-linkedin {
        background-size: cover;
        background-position: center;
        margin: 0px 15px;
        .mask {
          background-color: rgba(0,0,0,0.4);
          color: @white;
          padding: 20px 15px;
          h3 {
            font-size: @font-large;
            font-weight: @weight-norm;
          }
          @media(max-width: @screen-sm) {
            h3 {
              font-size: @font-norm;
              font-weight: @weight-bold;
            }
          }
          p {
            font-size: @font-seminorm;
            margin-bottom: 30px;
          }
          .cta {
            padding: 10px 30px 10px 30px;
            border-radius: 30px 30px 30px 30px;
            font-size: 14px;
            color: @blue-primary;
            background-color: @white;
            display: inline-block;
          }
        }
      }
    }
    .container-flexible {
      a:hover {
        text-decoration: none;
      }
      .bg-dark, .bg-white {
        padding-top: 60px;
        padding-bottom: 60px;
        .bg-dark-title, .bg-white-title {
          font-size: 24px;
          margin-bottom: 55px;
        }
      }
      .bg-dark {
        background-color: #263133;
        .bg-dark-title {
          color: #FFFFFF;
        }
      }
      .bg-white {
        background-color: #FFFFFF;
        .bg-white-title {
          color: #263133;
        }
      }
      .bar-right {
        border-right: 2px solid #778589;
      }
    }
    .bios-container {
      .card-bio {
        position: relative;
        padding-bottom: 60px;
        .circle {
          border-radius: 50%;
        }
        img {
          max-height: 160px;
          max-width: 160px;
        }
        h3 {
          font-weight: 300;
          font-size: 24px;
          color: #00BAFF;
          padding-top: 30px;
          padding-bottom: 15px;
        }
        .info-grey {
          font-weight: 300;
          font-size: 16px;
          color: #B6C1C2;
        }
        .description {
          font-size: 16px;
          max-height: 300px;
          overflow-y: hidden;
          transition: all .3s ease-out;
        }
        .expandable-gradient {
          opacity: 1;
          position: absolute;
          height: 39px;
          bottom: 84px;
          width: 100%;
          background: linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 25%,#fff 100%);
          transition: opacity .3s ease-out;
        }
        .hidden {
          opacity: .01;
        }
        .max-height-auto {
          max-height: 999px;
          overflow-y: hidden;
        }
        .bottom {
          padding-bottom: 15px;
        }
        .expandable-more:before {
          content: "+";
          font-size: 18px;
          color: #0570f6;
          font-weight: 500;
          text-decoration: none;
        }
        .expandable-more:hover {
          cursor: pointer;
          text-decoration: none;
        }
        .less:before {
          content: "-";
          font-size: 18px;
          color: #0570f6;
          font-weight: 500;
          text-decoration: none;
        }
        .less:hover {
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
  }