/* index */

/* CSS for the updated home page design*/
.cs-stories {
    .centered-text {
        text-align: center;
        margin-top: 50px;
    }
}
.news-section .row > div .category {
    padding: 15px 0px 16px 0px;
    border-top: 0px;
    text-transform: none;
    font-weight: @weight-norm;
}
.news-section .row > div .category .date {
    padding-left: 8px;
}
.news-section .row a.news-link {
    margin-top: 0px;
}
.left-margin-divide {
    margin-left: 8px;
}
/*logos*/

.col-half-offset {
    margin-left: 2.636666667%;
    padding-top: 8%;
    .logo-center-line >img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
.title-customer-stories {
    font-size: @font-seminorm;
    color: @blue-dark;
    font-weight: @weight-bold;
}
.logos-responsive {
    @media (max-width: 320px) {
        .col-xs-2 {
            width: 29.666667%;
        }
    }
}
/* Customer Stories*/

.customer-stories-section {
    .col-lg-3 {
        width: 100%;
    }
    @media (max-width: 414px) {
        .col-xs-12 {
            width: 90%;
        }
        .col-xs-4 {
            width: 100%;
        }
    }
    @media (max-width: 320px) {
        margin-left: 10px;
        .col-xs-4 {
            width: 290px;
        }
    }
    .customer-simens {
        @media (max-width: 320px) {
            margin-top: 25px;
            text-align: left;
        }
        .spacing-customer {
            padding: 2% 0% 90% 0%;
            background-size: 100% auto;
            display: block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-top: 30px;
            height: 100%;
            .customer-logo-id {
                .customer-logo-over-id {
                    display: none;
                }
            }
            .height-img {
                padding: 45% 0% 0% 0%;
                .logo-for-customer >img {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
        .spacing-customer:hover {
            .height-img > .customer-logo-id > .logo-for-customer-white {
                display: none;
            }
            .height-img > .customer-logo-id > .customer-logo-over-id {
                display: block;
            }
        }
    }
    a {
        text-decoration: none;
        .customer-title {
            padding-top: 35px;
            font-size: @font-norm;
            color: @dark;
            font-weight: @weight-bold;
            @media (max-width: 768px) {
                font-size: @font-small;
                color: @dark-primary;
            }
            @media (max-width: 320px) {
                text-align: left;
                padding-top: 15px;
            }
        }
        .customer-content {
            padding-top: 16px;
            font-size: @font-small;
            color: @gray;
            text-align: left;
            @media (max-width: 768px) {
                font-size: @font-tiny;
            }
            @media (max-width: 320px) {
                padding-top: 5px;
                text-align: left;
            }
        }
    }
    .customer-link {
        font-size: @font-small;
        color: @blue;
        text-align: right;
        margin-top: 26px;
        margin-bottom: 75px;
        @media (max-width: 768px) {
            margin-top: 32px;
        }
        @media (max-width: 415px) {
            text-align: center;
            margin-top: 29px;
            margin-bottom: 20px;
        }
    }
}
/*end of the customer stories section */
/**/

.line {
    margin-top: 30px;
    border: 1px @dark-primary;
    @media (max-width: 414px) {
        margin-top: 0px;
    }
}
.featured2 {
    margin-top: 77px;
    margin-bottom: 90px;
    text-align: left;
    @media (max-width: 992px) {
        .col-md-4 {
            padding-left: 6px;
            padding-right: 8px;
        }
        .col-xs-4 {
            padding-left: 6px;
            padding-right: 6px;
        }
    }
    @media (max-width: 768px) {
        .column1 {
            .col-xs-4 {
                width: 28% !important;
            }
        }
    }
    @media (min-width: 551px) and (max-width: 767px) {
        .col-xs-12 {
            width: 33%;
        }
    }
    @media (max-width: 690px) {
        .col-md-4 {
            width: 50%;
            margin-left: 25%;
        }
    }
    @media (min-width: 420px) and (max-width: 638px) {
        .col-md-4 {
            width: 60%;
            margin-left: 20%;
        }
    }
    @media (max-width: 419px) {
        .col-md-4 {
            width: 60%;
            margin-left: 20%;
        }
    }
    @media (max-width: 419px) {
        .column-hot-offer {
            width: 91%;
            margin-left: 5%;
        }
    }
    @media (max-width: 419px) {
        .col-md-4 {
            width: 90%;
            margin-left: 5%;
        }
    }
    .border {
        border-style: solid;
        border-width: 1px;
        border-color: @gray-mid-light;
        margin-bottom: 25px;
        height: 107px;

        @media (max-width: 1200px) {
              height: 90px;
        }
        @media (max-width: 991px) {
            margin-bottom: 15px;
            height: 82px;
        }
        @media (max-width: 768px) {
            margin-bottom: 15px;
        }
        @media (min-width: 691px) and (max-width: 768px) {
            border-width: 1px;
            border-color: @gray-mid-light;
            margin-bottom: 13px;
            height: 70px;
        }
        @media (max-width: 690px) {
            margin-bottom: 25px;
        }
        @media (max-width: 419px) {
            width: 100%;
            padding-right: 5%;
        }
        @media (max-width: 414px) {
            border-style: solid;
            border-width: 1px;
            border-color: @gray-mid-light;
            margin-bottom: 30px;
        }
        @media (min-width: 273px) and (max-width: 277px) {
            height: 95px;
        }
    }
    a {
        text-decoration: none;
        .column-hot-offer:hover {
            -webkit-filter: brightness(65%);
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            -ms-transition: all 1s ease;
            transition: all 1s ease;
        }
        .column-hot-offer {
            text-decoration: none;
            .hot-offer-small-banner {
                @media (max-width: 320px) {
                    display: block;
                    background-repeat: no-repeat;
                    background-size: cover;
                    max-width: 290px;
                }
            }
            a {
                color: @dark;
                text-decoration: none;
            }
            .hot-offer-heading {
                text-decoration: none;
                color: @dark;
                font-size: @font-small;
                font-weight: @weight-norm;
                line-height: 1.22;
                padding: 20px 20px 0px 20px;
                @media (max-width: 1200px) {
                    font-size: @font-tiny;
                    padding: 15px 15px 0px 15px;
                }
                @media (max-width: 992px) {
                    padding: 10px 5px 10px 5px;
                    font-size: @font-tiny;
                }
                @media (min-width: 691px) and (max-width: 755px) {
                    padding: 10px 10px 10px 10px;
                    font-size: @font-tiny;
                }
                @media (max-width: 690px) {
                    padding: 10px 10px 10px 10px;
                    font-size: @font-tiny;
                }
                @media (max-width: 450px) {
                    padding: 10px 10px 10px 10px;
                    font-size: @font-tiny;
                }
                @media (max-width: 414px) {
                    font-size: @font-semismall;
                    font-weight: @weight-norm;
                    line-height: 1.22;
                    padding: 10px 20px 20px 20px;
                    max-width: 370px;
                }
                @media (max-width: 320px) {
                    font-size: @font-tiny;
                    font-weight: @weight-norm;
                    line-height: 1.22;
                    padding: 20px 20px 20px 20px;
                }
                @media (max-width: 272px) {
                    font-size: @font-semitiny;
                    padding: 10px 10px 10px 10px;
                }
            }
            .hot-offer-cta2 {
                text-decoration: none;
                color: @blue;
                font-size: @font-tiny;
                font-weight: @weight-norm;
                margin-top: 10px;
                padding-bottom: 15px !important;
                @media (max-width: 1200px) {
                    font-weight: @weight-semitiny;
                    margin-top: 10px;
                    padding-bottom: 10px !important;
                }
            }
        }
    }
    .hot-offer-tall {
        a {
            text-decoration: none;
            .hot-offer-tall-banner {
                display: block;
                background-repeat: no-repeat;
                background-size: cover;
                padding-top: 85%;
                @media (max-width: 1200px) {
                    padding-top: 75.225806%;
                }
                @media (max-width: 1199px) {
                    padding-top: 80%;
                }
                @media (max-width: 992px) {
                    padding-top: 87%;
                }
                @media (min-width: 769px) and (max-width: 991px) {
                    padding-top: 92%;
                }
                @media (max-width: 768px) {
                    padding-top: 80%;
                }
                @media (max-width: 767px) {
                    padding-top: 81%;
                }
                @media (max-width: 731px) {
                    padding-top: 82%;
                }
                @media (max-width: 700px) {
                    padding-top: 83%;
                }
                @media (max-width: 690px) {
                    padding-top: 80%;
                    margin-bottom: 25px;
                }
                @media (max-width: 419px) {
                    padding-top: 66%;
                    width: 91%;
                    margin-left: 5%;
                }
                .hot-offer-tall-heading {
                    color: @white;
                    text-decoration: none;
                    h2 {
                        text-decoration: none;
                        font-size: @font-large;
                        position: relative;
                        margin-bottom: 21.5%;
                        width: 70%;
                        margin-left: 38px;
                        @media (max-width: 992px) {
                            font-size: @font-semilarge;
                            margin-left: 26px;
                            bottom: 0px;
                            width: 50%;
                        }
                        @media (max-width: 991px) {
                            font-size: @font-norm;
                            margin-left: 26px;
                            bottom: 0px;
                            width: 70%;
                        }
                        @media (max-width: 768px) {
                            width: 80%;
                            font-size: @font-norm;
                            bottom: -30px;
                            font-weight: @weight-bold;
                        }
                        @media (min-width: 691) and (max-width: 767px) {
                            width: 70%;
                            font-size: @font-norm;
                            line-height: 1.30;
                            font-weight: @weight-bold;
                            bottom: -30px;
                        }
                        @media (max-width: 690px) {
                            font-size: @font-large;
                            margin-left: 26px;
                            bottom: 0px;
                            width: 70%;
                        }
                        @media (max-width: 500px) {
                            font-size: @font-semilarge;
                        }
                        @media (max-width: 414px) {
                            width: 70%;
                            margin-left: 30px;
                            bottom: -42px;
                            font-size: @font-large;
                            font-weight: @weight-heavy;
                        }
                        @media (max-width: 355px) {
                            width: 70%;
                            font-size: @font-semilarge;
                            bottom: -20px;
                            font-weight: @weight-heavy;
                            margin-left: 30px;
                        }
                        @media (max-width: 312px) {
                            width: 70%;
                            font-size: 130%;
                            bottom: -20px;
                            font-weight: @weight-heavy;
                            margin-left: 30px;
                        }
                    }
                }
                p {
                    font-size: @font-tiny;
                    color: @white;
                    position: relative;
                    bottom: 28px;
                    margin-left: 38px;
                    @media (max-width: 992px) {
                        bottom: 15px;
                        margin-left: 26px;
                        font-weight: @weight-thin;
                    }
                    @media (max-width: 768px) {
                        bottom: 0px;
                    }
                    @media (max-width: 558px) {
                        margin-left: 5px;
                    }
                    @media (max-width: 550px) {
                        margin-left: 30px;
                        bottom: 5px;
                    }
                    @media (max-width: 414px) {
                        max-width: 290px;
                        margin-left: 30px;
                    }
                }
                p:hover {
                    color: @white;
                }
            }
        }
    }
}
/*HOVER EFFECT */

.column1 > .hot-offer-tall > a:hover > .hot-offer-tall-banner {
    -webkit-filter: brightness(75%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
/* NEWS SECTION */

.news-section .box {
    padding-top: 0px;
}
.news-section .row > div {
    padding: 0;
}
.news-section .row .category2 {
    padding: 15px 0px 25px 0px;
    font-size: @font-tiny;
    color: @gray;
    font-weight: @weight-norm;
}
/* CALENDAR EVENTS */

#events_bottom {
    background: @gray-mid-light;
}
.events-title {
    padding-bottom: 75px;
    color: @gray-mid;
    font-weight: @weight-bold;
    font-size: @font-seminorm;
    text-align: left;
    @media (max-width: 415px) {
        padding-bottom: 55px;
    }
}
.full-calendar-link {
    padding-bottom: 63px;
    font-size: @font-small;
    color: @blue;
    text-align: right;
    @media (max-width: 500px) {
        text-align: center;
        padding-bottom: 0px;
        margin-top: 40px;
        a {
            font-size: @font-seminorm;
        }
    }
}
.box {
    @media (max-width: 420px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
.events-calendar {
    @media (max-width: 768px) {
        margin-left: 30px;
        font-size: @font-seminorm;
    }
    .hover-state:hover {
        -webkit-filter: brightness(85%);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }
    a {
        color: @dark-primary;
         .banner-width {
            @media (max-width: 991px) {
                .col-sm-3 {
                    width: 15%;
                }
            }
            @media (max-width: 768px) {
                .col-sm-3 {
                    width: 0%;
                    display: none;
                }
                .col-xs-3 {
                    width: 0%;
                    display: none;
                }
            }
        }
        .events-content {
            background: @white;
            background-size: cover;
            width: 25% .event-location {
                font-size: @font-small;
                font-weight: @weight-norm;
                padding-left: 30px;
                padding-top: 18px;
                @media (max-width: 1199px) {
                    padding: 5px 0px 5px 0px;
                }
                @media (max-width: 991px) {
                    padding: 10px 0px 10px 0px;
                }
            }

                .event-location {
                    font-size: @font-small;
                    font-weight: @weight-norm;
                    padding-left: 30px;
                    padding-top: 18px;
                    @media (max-width: 1199px) {
                        padding: 5px 0px 5px 10px;
                    }
                    @media (max-width: 991px) {
                        padding: 10px 0px 10px 10px;
                    }
                    @media (max-width: 510px) {
                        padding: 0px 0px 10px 10px;
                    }
                    @media (max-width: 420px) {
                        padding: 0px 0px 15px 25px;
                    }
                }
                .event-title {
                    padding-top: 10px;
                    font-size: @font-tiny;
                    font-color: @dark-primary;
                    font-weight: @weight-bold;
                    width: 80%;
                    padding-left: 30px;
                    @media (max-width: 1199px) {
                        padding: 5px 0px 5px 10px;
                    }
                    @media (max-width: 991px) {
                        padding: 10px 0px 10px 10px;
                    }
                    @media (max-width: 420px) {
                        padding: 0px 0px 15px 25px;
                    }
                }
                .date {
                    margin-top: 15px;
                    margin-left: 20px;
                    font-size: @font-norm;
                    font-weight: @weight-norm;
                    padding: 5px 0px 5px 10px;
                    display: block;
                    @media (min-width: @screen-md) and (max-width: @screen-lg) {
                        font-size: @font-seminorm;
                    }
                    @media (max-width: 1199px) {
                        margin-top: 5px;
                        margin-left: 0px;
                    }
                    @media (max-width: 991px) {
                        padding: 10px 10px 10px 10px;
                    }
                    @media (max-width: 420px) {
                        padding: 25px 0px 15px 25px;
                    }
                }
            }
            a:hover {
                color: @gray;
            }

        .events-margin {
            margin-bottom: 15px;
            padding-right: 0px !important;
            .banner {
                display: block;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        .content-width {
            @media (max-width: 991px) {
                .col-sm-3 {
                    width: 34%;
                }
            }
            @media (max-width: 768px) {
                .col-sm-3 {
                    width: 46%;
                    margin-right: 15px;
                }
            }
            @media (max-width: 500px) {
                .col-xs-12 {
                    width: 90%;
                    margin-left: 2%;
                }
                .col-sm-3 {
                    width: 90%;
                }
            }
            @media (max-width: 320px) {
                .col-xs-12 {
                    width: 90%;
                    margin-left: 0%;
                }
            }
            .events-hight {
                a:hover {
                    text-decoration: none;
                }
                margin-bottom: 40px;
                display: block;
                position: relative;
                max-height: 135px;
                min-height: 135px;
                height: 135px;
                @media (max-width: 1199px) {
                    max-height: 110px;
                    min-height: 110px;
                    height: 110px;
                }
                @media (max-width: 991px) {
                    max-height: 155px;
                    min-height: 155px;
                    height: 155px;
                }
            }
        }
    }
}
/* end of the CSS for the updated home page design*/

.light-background{
	background: @gray-white;
}
.featured {
	margin-top:77px;
	margin-bottom: 90px;

	.button-blue-primary, .button-white, .button-violet, .button-blue {
		position:absolute;
		bottom: 30px;
    	left: 30px;
	}
	@media (min-width: @screen-sm) and (max-width: @screen-md) {
		.button-blue-primary, .button-white {
			position:absolute;
			bottom: 20px;
			left: 20px;
		}
	}

	.feature-long {
		display:block;
		background-repeat:no-repeat;

		position:relative;

		.featured-heading {
			position:absolute;
			bottom:100px;
			padding: 0px 30px 0px 30px;
			font-size: @font-semilarge;
		}
		@media (max-width: @screen-lg) {
      		.featured-heading { font-size: @font-norm; bottom:85px; }
		}
		@media (max-width: @screen-md) {
      		.featured-heading { font-size: @font-small; bottom:70px; }
		}
		@media (max-width: 767px) {
			.featured-heading { font-size: @font-norm; bottom:95px; }
		}
	}
	.feature-short {
		color: @white;

			> div {
				display:block;
				background-size:cover;
				background-repeat:no-repeat;
				position:relative;
				padding-top:100% * 231 / 360;
			}
			.blue {
				color:@blue;
			}
			.featured-heading {
				position:absolute;
				font-size: @font-semilarge;
				top:30px;
				left:30px;
			}
			@media (max-width: @screen-lg) {
      			.featured-heading { font-size: @font-norm; }
			}
			@media (max-width: @screen-md) {
      			.featured-heading { font-size: @font-small; top:20px; }
				h2 {
					font-size:@font-norm;
				}
			}
			@media (max-width: 767px) {
				.featured-heading { font-size: @font-norm; }
			}
	}
	.col1 {
		.feature-short {
			.one {
				background-image: url('@{image-url}Home/hot-offers/ponemon-banner-mf.jpg');
				.featured-heading {
					color:@white;

					h2 {
						font-weight:@weight-norm;
						padding:0px 0px 10px 0px;
						font-size:@font-norm;
						width:70%;

						@media (max-width: @screen-md) {
							width:100%;
						}
					}
					p {
						font-size:@font-seminorm;
					}
				}
			}
			span{
				font-weight: @weight-norm;
			}
			p{
				font-size: @font-seminorm;
			}
			.two {
				background-image: url('@{image-url}Home/hot-offers/aig-mf-banner.jpg');
				margin-top:20px;


				.featured-heading {

					h2 {
						padding:0px 0px 10px 0px;
						font-weight:@weight-norm;
						font-size:@font-norm;
						width:70%;

						@media (max-width: @screen-md) {
							width:90%;
						}
						@media (min-width: @screen-sm) and (max-width: @screen-lg) {
							font-size:@font-seminorm;

						}
						@media (max-width: @screen-sm) {
							font-size:@font-small;
						}
					}
				}
			}
		}
	}
	.col2 {
		.feature-long {
			background-image: url('@{image-url}Home/hot-offers/enterprise-devops-hotoffer.png');
			color:@white;
			padding-top:100% * 480 / 360;
		}
		.featured-heading {
			top:20px;
			left:0px;

			h2 {
				padding-bottom:10px;
				font-size:@font-large;

				@media (max-width: @screen-md) {
					font-size:@font-semilarge;
				}
				@media (max-width: 767px) {
					font-size:@font-large;
				}
			}
			p {
				font-size:@font-seminorm;
			}
		}
	}
	.col3 {
		.feature-short {
			.one {
				background-image: url('@{image-url}Home/hot-offers/whoa-banner.png');
				.featured-heading {
					color:@white;

					h2 {
						font-weight:@weight-norm;
						padding:0px 0px 10px 0px;

						strong {
							font-weight:@weight-heavy;
						}
					}
					p {
						font-size:@font-seminorm;
					}
				}
			}
			span{
				font-weight: @weight-norm;
			}
			p{
				font-size: @font-seminorm;
			}
			.two {
				background-image: url('@{image-url}Home/hot-offers/devdays-hotoffer-small.png');
				margin-top:20px;

				.featured-heading {

					h2 {
						padding:0px 0px 10px 0px;
					}
				}
			}
		}
	}
	@media (max-width: 767px){
		.col1, .col2{
			margin-bottom: 20px;
		}
		.col-xs-12{
			padding: 0 25%;
		}
	}
	@media (max-width: 568px){
		.col-xs-12{
			padding: 0 20%;
		}
	}
	@media (max-width: 470px){
		.col-xs-12{
			padding: 0 10%;
		}
	}
}
/* Calendar */
@media (max-width: @screen-sm){
	.calendar-padding{
		.dark-background{
			padding: 30px 0px 95px 0px;
		}
	}
}
.calendar {

	.col1 {
		color: @white;
		display:block;
		background-image: url('@{image-url}Home/event_img.jpg');
		padding-top: 100% * 387 / 581;
		background-repeat: no-repeat;
		background-size: cover;
		position:relative;
		font-size:@font-large;

		@media (max-width: @screen-sm){
			background-image: none;
			padding-top: 35%;
		}
		@media (max-width: 568px){
			padding-top: 45%;
			font-size: @font-semilarge;
		}

		.text {
			position:absolute;
			top:40px;
			left:40px;
			font-weight:@weight-thin;

			.strong {
				display:block;
				font-weight:@weight-bold;
			}

			@media (max-width: @screen-sm) {
				left:0px;
			}
		}
	}
	.col2 {
		background-color:@gray-white;


		@media (min-width: @screen-md) {

			padding-top: 100% * 387 / 581;
			background-repeat: no-repeat;
			background-size: cover;
			position:relative;
			display:block;

			.text {
				position:absolute;
				width: 100%;
			}

		}

		.col-sm-6 {
			padding-bottom:10px;
		}
		.text {
			padding:10px 0px 20px 10px;
			font-size:@font-tiny;
			top:0px;
			left:0px;

			.button-clear-blue-prim {
				margin:0px 20px 0px 0px;
				padding:5px 10px;
				color:@blue-primary;
				float:right;

				@media (max-width: @screen-md) {
					margin-top:20px;
				}
			}
			.button-clear-blue-prim:hover {
				color:@white;
			}
			a {
				color:@dark-primary;

				.date {
					font-size:@font-norm;
					font-weight:@weight-norm;
					padding:10px 0px 5px 0px;
					display:block;

					@media (min-width: @screen-md) and (max-width: @screen-lg){
						font-size:@font-seminorm;
					}
				}

				.title {
					display:block;
					font-size:@font-tiny;
					font-weight:@weight-heavy;
					padding:0px 0px 5px 0px;
				}
			}
			a:hover {
				color:@gray;
			}


		}
	}
}


.stories {
	margin-bottom:40px;

	.logos {
		margin:0px 0px 80px 0px;

		.left-arrow, .right-arrow{
			height: 50px;
			cursor: pointer;
		}
		.left-arrow{
			background:url('@{image-url}left-arrow.png') center no-repeat;
		}
		.right-arrow{
			background:url('@{image-url}right-arrow.png') center no-repeat;
		}
		.dark-bg{
			background: @dark;
			float:right;
		}
		.col-sm-2{
			margin-right:40px;
		}
		> div {
			padding:20px;

			> a {
				display: block;
				background-repeat: no-repeat;
				background-size: cover;
				position: relative;
			}
		}
		.Background(@image, @padding) {
			background-image:@image;
			padding-top: @padding;
		}
		.BackgroundHover(@image) {
			background-image:@image;
		}
		#stories-aquilon {
			@activeImg: url('@{image-url}Home/Customer-Stories/aquilon-logo.png');
			.Background(url('@{image-url}Home/Customer-Stories/aquilon-logo-gray.png'), 100% * 80 / 160);
			&:hover {
				.BackgroundHover(@activeImg);
				cursor:pointer;
			}
			&.current {
				.BackgroundHover(@activeImg);
			}
		}
		#stories-sopra {
			@activeImg: url('@{image-url}Home/Customer-Stories/sopra-logo.png');
			.Background(url('@{image-url}Home/Customer-Stories/sopra-logo-gray.png'), 100% * 80 / 160);
			&:hover {
				.BackgroundHover(@activeImg);
				cursor:pointer;
			}
			&.current {
				.BackgroundHover(@activeImg);
			}
		}
		#stories-health {
			@activeImg: url('@{image-url}Home/Customer-Stories/healthUnit-logo.png');
			.Background(url('@{image-url}Home/Customer-Stories/healthUnit-logo-gray.png'), 100% * 80 / 160);
			&:hover {
				.BackgroundHover(@activeImg);
				cursor:pointer;
			}
			&.current {
				.BackgroundHover(@activeImg);
			}
		}
		#stories-aaa {
			@activeImg: url('@{image-url}Home/Customer-Stories/aaa-logo.png');
			.Background(url('@{image-url}Home/Customer-Stories/aaa-logo-gray.png'), 100% * 80 / 160);
			&:hover {
				.BackgroundHover(@activeImg);
				cursor:pointer;
			}
			&.current {
				.BackgroundHover(@activeImg);
			}
		}
		#stories-alberta {
			@activeImg: url('@{image-url}Home/Customer-Stories/alberta-logo.png');
			.Background(url('@{image-url}Home/Customer-Stories/alberta-logo-gray.png'), 100% * 80 / 160);
			&:hover {
				.BackgroundHover(@activeImg);
				cursor:pointer;
			}
			&.current {
				.BackgroundHover(@activeImg);
			}
		}
		#stories-plan {
			@activeImg: url('@{image-url}Home/Customer-Stories/healthPlan-logo.png');
			.Background(url('@{image-url}Home/Customer-Stories/healthPlan-logo-gray.png'), 100% * 80 / 160);
			&:hover {
				.BackgroundHover(@activeImg);
				cursor:pointer;
			}
			&.current {
				.BackgroundHover(@activeImg);
			}
		}
	}

	.customer-stories {
		display: none;
		p {
			font-size: @font-semilarge;
		}
		a {
			clear:both;
			float:left;
			margin-top:40px;
		}
		&.current {
			display: inherit;
		}
		.author {
			font-weight:@weight-bold;
			display:block;
		}
		.title {
			display:block;
		}
		@media (max-width:@screen-sm){
			p{
				font-size: @font-norm;
				padding-top:50px;
			}
		}
	}
}
/*
#slider {
	width: 100%;
	height: 641px;
	margin: 0 auto;
	position:relative;
	background-image: url('@{image-url}main-img-f-p-o.png');
	background-repeat:no-repeat;
	background-position:center -22px;
		#slide_left {
			background-image: url('@{image-url}left-arrow.png');
			height: 60px;
			width: 32px;
			position:absolute;
			top:264px;
			float: left;
			cursor:pointer;
		}

		#slide_right {
			background-image: url('@{image-url}right-arrow.png');
			height: 60px;
			width: 32px;
			right:10px;
			position:absolute;
			top:264px;
			cursor: pointer;
		}

		#slider-menu {
			position:relative;
			top:477px;

			> div {
				display: block;
				float: left;
				width: 18%;
				text-align: center;
				color: @white;
				font-size: @font-semismall;
				border-bottom:6px @dark-primary solid;
				cursor:pointer;
				padding:5px 0px 5px 0px;
				margin:0px 5px 0px 5px;
			}
			> div:hover {
				background-color: @dark-primary;
			}

		}

		#slider-displays {
			overflow: hidden;
			position: relative;
			*//*height: @slideshowheight;*//*

			@media  (max-width: @screen-md) {
				height: initial;
			}

			.section {
				position: absolute;
				display: none;
				width: 100%;
				transition-property:left, opacity;
				transition-duration:700ms;
				padding-left: 8px;

				@media  (max-width: @screen-md) {
					position: static;
				}
				.title {
					font-size: @font-huge;
					color: @white;
					position:relative;
					top:260px;
				}

				.button-clear {
					position:relative;
					top:300px;
				}
			}
			.section.notransition {
				transition: none;
			}
			.section.active {
				left: 0px;
				display: block;
			}
			.section.lefthidden {
				left: -2000px;
				display: block;
			}
			.section.righthidden {
				left: 2000px;
				display: block;
			}
		}
}*/
#home-carousel {
	position: relative;
	width: 100%;
	margin: 0 auto;

	.item {
        &.campaign {
		    min-height: 450px;

			@media (max-width: @screen-md){
				 min-height: 550px;
			}
			@media (max-width: @screen-sm){
				 min-height: 500px;
			}

        }
		width: 100%;
		min-height: 640px;
		background-size: cover !important;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;

        &[data-id="apprehost"]{
			background: url('@{image-url}Campaigns/appRehost/appRehost-banner.jpg') no-repeat center -30px;
		}
	}
	@media (max-width: @screen-lg){
		.item{
			min-height:580px;
		}
	}
	@media (max-width: @screen-md){
		.item{
			min-height:480px;
		}
	}
	.carousel-control {
		font-size: @font-large;
		height: 60px;
		width: 32px;
		position:absolute;
		top:50%;
		cursor: pointer;
		&.left {
			background-image: none;
			left: 5%;
		}
		&.right {
			background-image: none;
			right: 5%;
		}
	}
	.carousel-caption {
		margin-left: -30px;
		text-align: left;
		top: 33%;
		z-index: 1;
		@media (min-width: @screen-sm) and (max-width: @screen-md) {
			top: 29%;
		}
		h1, p, a{
			text-shadow: none;
		}
		h1 {
            &.camp {
                font-size: @font-semihuge;
                font-weight: @weight-norm;

				@media (max-width: @screen-sm){
					font-size: @font-large;
				}

            }
			font-size: @font-huge;
			color: @white;
			font-weight: @weight-thin;
			padding-bottom: 20px;
			@media (min-width: @screen-sm) and (max-width: @screen-lg) {
				font-size: @font-large;
			}
		}
		p {
			font-size:@font-norm;
            &.camp {
                color: @aqua;
                font-size: @font-norm;
                font-weight: @weight-norm;
            }
			margin-bottom: 15px;
			max-width:830px;
			@media (min-width: @screen-sm) and (max-width: @screen-lg) {
				font-size: @font-small;
			}
			span{
				font-weight: @weight-heavy;
			}
		}
	}
	@media (max-width: @screen-sm){
		.carousel-caption{
			top: 32%;
			h1{
				padding-bottom: 40px;
				font-size: @font-large;
			}
		}
	}
	@media (max-width: 360px){
		.carousel-caption{
			top: 25%;
		}
	}
	.carousel-indicators {
		display: flex;
		justify-content: space-around;
		margin-bottom: -26px;
		z-index: 1;
		bottom: 21px;

		@media (max-width: 1400px){
			width:90%;
			margin-left:-45%;
		}

		> li {
			width: auto;
			text-align: center;
			color: @white;
			font-size: @font-small;
			font-weight: @weight-bold;
			border: none;
			cursor:pointer;
			padding:12px 15px;
			margin:0px 1px 1px;
			text-indent: 0px;
			border-radius: initial;
			display: flex;
			align-items: flex-end;
			height: inherit;
			position: relative;
			background: inherit;
			@media (min-width: @screen-sm) and (max-width: @screen-lg) {
				font-size: @font-tiny;
				padding: 10px 15px;
			}
			span {
				position: absolute;
				background-color: @dark;
				height: 6px;
				width: 100%;
				bottom: 0;
				left: 0;
				-webkit-transition: height 0.3s;
				-moz-transition: height 0.3s;
				transition: height 0.3s;
				z-index: -1;
			}
			&:hover span {
				height: 100%;
			}
			&.active span {
				height: 100%;
			}
		}
	}

	.mobile-container{
		margin: auto;
		width: 120px;
		padding: 0 10px;

		&.campaign {
			position:absolute;
			left:47%;
			bottom:50px;

			@media (max-width: @screen-sm){
				 left:33%;
			}

		}
	}

	.carousel-indicators-mobile {
		display:none;
        &.campaignindicator {
            display: flex;
        }
		list-style:none;
		bottom: 0;
		position: absolute;
		margin-left: inherit;
		padding-left: 0;

	    li {
	      margin: 0 5px;
	      width: 10px;
	      height: 10px;
	      border: 1px solid @white;
	      border-radius: 100%;
	      transition: all 0.25s ease;
	      &.active, &:hover {
	        margin: 0 5px;
	        width: 10px;
	        height: 10px;
	        background-color: @white;
	      }
	    }
	}

	@media (max-width: 767px){
		.carousel-indicators-mobile{
			display: flex;
		}
	}

	.carousel-inner > .item > img{
		min-height: 480px;
		height: auto;
		width: 100%;
	}
}
body.lang-it-it,
body.lang-es-es,
body.lang-de-de,
body.lang-pt-br {
	#home-carousel {
		.carousel-caption {
			top:25%;
			h1 {
				font-size:56px;
			}
		}
		@media (max-width: @screen-lg){
			.carousel-caption {

				h1{

				}
			}
		}
		@media (max-width: @screen-md){
			.carousel-caption {
				top:20%;
				h1{
					font-size:40px;
				}
				p {
					font-size:16px;
				}
			}
		}
		@media (max-width: @screen-sm){
			.carousel-caption{
				h1{
					font-size:36px;
				}
			}
		}
	}
}
//force banner content to follow logo in header
@media screen and (min-width: 1670px) and (max-width: 1950px) {
	.carousel-caption {
		left:15%;
		right:15%;
	}
}
@media screen and (min-width: 1462px) and (max-width: 1670px) {
	.carousel-caption {
		left:10%;
		right:10%;
	}
}
@media screen and (min-width: 1430px) and (max-width: 1462px) {
	.carousel-caption {
		left:5%;
		right:5%;
	}
}

//carousel styles
#homeCarousel .carousel-caption a {
	float: left;
	margin-top: 20px;
	text-shadow: none;
	animation-delay: 1.5s;
}
#homeCarousel .carousel-caption p {
	font-size: 20px;
	line-height: 27px;
	text-align: left;
	max-width: 490px;
	text-shadow: none;
	animation-delay: 1s;
}
#homeCarousel .item {
	top:40px;
	width: 100%;
	min-height: 640px;
	background-size: cover !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
}
.carousel-caption {
	top: 30%;
}
#homeCarousel .carousel-control {
	font-size: 40px;
	height: 60px;
	width: 32px;
	position: absolute;
	top: 50%;
	cursor: pointer;
	background-image: none;
}
#homeCarousel .carousel-control.right {
	right: 5%;
}
#homeCarousel .carousel-control.left {
	left: 5%;
}
#homeCarousel ol {
	margin-top: 20px;
	z-index: 1;
	bottom: 0px;
	display: flex;
	align-items: stretch; /* Default */
	justify-content: space-between;
}
.carousel-indicators {
	margin-bottom: 0px;
	margin-left:0px;
	left:20%;
	right:20%;
}
.carousel-indicators li,
.carousel-indicators li.active,
.carousel-indicators li > div,
.carousel-indicators li.active > div,
#homeCarousel .carousel-indicators li.active > div > div {
	border-radius: 1px;
	height: 2px;
	border: none;
}
.carousel-indicators li,
.carousel-indicators li.active {
	width: 14%;
}
.carousel-indicators li.active,
.carousel-indicators li > div,
.carousel-indicators li.active > div {
	margin: 1px;
}
.carousel-indicators li {
	padding: 10px 0;
	z-index: 1;
	background-color: transparent;
}
.carousel-indicators li.active {
	background-color: transparent;
}
.carousel-indicators li > div,
.carousel-indicators li.active > div {
	background-color: white;
	width: 100%;
}
#homeCarousel .carousel-indicators li.active > div > div {
	background-color: #29ceff;
}
.shape {
	animation-delay: .35s;
	max-width:none;
}


/* svg issue fix on ie 9 */
svg{
    pointer-events: none !important;
} 