/* https://i.icomoon.io/public/c27358574f/MicroFocusIcons/style.css */
@font-face {
	font-family: 'microfocus-icons';
	src:	url('/assets/fonts/microfocus-icons.eot?ch08lm');
	src:	url('/assets/fonts/microfocus-icons.eot?ch08lm#iefix') format('embedded-opentype'),
			url('/assets/fonts/microfocus-icons.woff2?ch08lm') format('woff2'),
			url('/assets/fonts/microfocus-icons.ttf?ch08lm') format('truetype'),
			url('/assets/fonts/microfocus-icons.woff?ch08lm') format('woff'),
			url('/assets/fonts/microfocus-icons.svg?ch08lm#microfocus-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'microfocus-icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Information Archiving Solution */
.icon-informationArchiving_solutions:before {
  content: "\eb44";
}
.icon-archive-email {
	background-color: @blue-primary;
}
.icon-archive-email:before {
  content: "\eb4b";
}

.icon-archive-social {
  background-color: #00a46f;
}
.icon-archive-social:before {
  content: "\eb4d";
}

.icon-archive-text-messages {
  background-color: #df287c;
}
.icon-archive-text-messages:before {
  content: "\eb4f";
}

.icon-compliance {
  background-color: @blue-dark;
}
.icon-compliance:before {
  content: "\eb51";
}

.icon-ediscovery {
  background-color: @blue;
}
.icon-ediscovery:before {
  content: "\eb53";
}

.icon-manage-archives {
  background-color: @turquiose;
}
.icon-manage-archives:before {
  content: "\eb55";
}

.icon-video2:before {
 content: "\eb49";
}
.icon-accessGov:before {
	content: "\e9e2";
}
.icon-accessManager:before {
	content: "\e9e4";
}
.icon-zen_mobileWorkspace:before {
  content: "\eb43";
}
.icon-accessReview:before {
	content: "\e9a6";
}
.icon-accuRev:before {
	content: "\ea83";
}
.icon-accuSync:before {
	content: "\ea85";
}
.icon-acu_4gl:before {
	content: "\e9e6";
}
.icon-acu_bench:before {
	content: "\e9e8";
}
.icon-acu_connect:before {
	content: "\e9ea";
}
.icon-acu_server:before {
	content: "\e9ec";
}
.icon-acu_sql:before {
	content: "\e9ee";
}
.icon-acu_xdbc:before {
	content: "\e9f0";
}
.icon-acucobol_gt:before {
	content: "\e9f2";
}
.icon-acuToWeb:before {
	content: "\ead2";
}
.icon-aegis:before {
	content: "\e9a8";
}
.icon-airlines:before {
	content: "\eab6";
}
.icon-airlines_EE:before {
	content: "\eaae";
}
.icon-airlines_NG:before {
	content: "\eab0";
}
.icon-airlines_Pro:before {
	content: "\eab2";
}
.icon-airlines_PTR:before {
	content: "\eab4";
}
.icon-alert {
	background-color: @red;
}
.icon-alert:before {
	content: "\e94f";
}
.icon-analyst_client:before {
	content: "\e989";
}
.icon-applicationDelivery_solutions:before {
	content: "\e901";
}
.icon-appManager:before {
	content: "\e9aa";
}
.icon-article:before {
	content: "\ea48";
}
.icon-articles-tips {
	background-color: @orange;
}
.icon-articles-tips:before {
	content: "\eb2d";
}
.icon-artix:before {
	content: "\e9f4";
}
.icon-atlas:before {
	content: "\ea87";
}
.icon-authenticFrame:before {
	content: "\e9ac";
}
.icon-Automated-Family:before {
	content: "\eaaf";
}
.icon-averasys:before {
	content: "\eb35";
}
.icon-averasysCloud:before {
	content: "\eb34";
}
.icon-backTop {
	background-color: @dark;
	content: "\ea55";
}
.icon-backTop:before {
	content: "\ea56";
}
.icon-boost {
	background-color:@white;
	color: @turquiose;
}
.icon-boost-light:before {
	content: "\eac3";
}
.icon-boost:before {
	content: "\e900";
}
.icon-brief:before {
	content: "\eb24";
}
.icon-brochure:before {
	content: "\ea49";
}
.icon-businessContinuity:before {
	content: "\e97f";
}
.icon-businessRule:before {
	content: "\e9f6";
}
.icon-caliber:before {
	content: "\ea89";
}
.icon-caliberRDM:before {
	content: "\e9f8";
}
.icon-caliberRM:before {
	content: "\e9fa";
}
.icon-certification {
	background-color: @blue-dark;
}
.icon-certification:before {
	content: "\e98f";
}
.icon-changeGuard:before {
	content: "\e9ae";
}
.icon-changeMan_ssm:before {
	content: "\eb29";
}
.icon-changeMan_zmf:before {
	content: "\eb2a";
}
.icon-ChangeMgmt-Family:before {
	content: "\eab1";
}
.icon-chat:before {
	content: "\ea57";
}
.icon-checkMark {
	background-color: @blue;
}
.icon-checkMark:before {
	content: "\ead5";
}
.icon-clipboard {
	background-color: @blue-light;
}
.icon-clipboard-orange {
	background-color: @orange;
}
.icon-clipboard-orange:before {
	content: "\ead7";
}
.icon-clipboard:before {
	content: "\e903";
}
.icon-close:before {
	content: "\ea58";
}
.icon-cloudAccess:before {
	content: "\e9b0";
}
.icon-cloudManager:before {
	content: "\e9b2";
}
.icon-clusterServices:before {
	content: "\e956";
}
.icon-cobol_server:before {
	content: "\e9fc";
}
.icon-cobolDev_solutions:before {
	content: "\ead3";
}
.icon-collaboration_solutions:before {
	content: "\eb5b";
}
.icon-collar {
	background-color: @blue-light;
}
.icon-collar:before {
	content: "\e905";
}
.icon-combination {
	background-color: @purple;
}
.icon-combination:before {
	content: "\e907";
}
.icon-commResp {
	background-color: @blue-light;
	content: "\e968";
}
.icon-commResp:before {
	color: #fff;
	content: "\e969";
}
.icon-community:before {
	content: "\ea59";
}
.icon-comparex:before {
	content: "\eb28";
}
.icon-comparisonChart:before {
	content: "\ea4a";
}
.icon-compass {
	background-color: @green-bright;
}
.icon-compass:before {
	content: "\e909";
}
.icon-consulting {
	background-color: @blue;
}
.icon-consulting:before {
	content: "\e951";
}
.icon-cool-solutions:before {
	content: "\eaf7";
}
.icon-coolSolutions {
	background-color: @blue-primary;
}
.icon-coolSolutions:before {
	content: "\eaf9";
}
.icon-courses {
	background-color: @violet;
}
.icon-courses:before {
	content: "\e992";
}
.icon-customerStory:before {
	content: "\ea4b";
}
.icon-data {
	background-color: rgb(1, 169, 231);
}
.icon-data-sheet:before {
	content: "\ea4c";
}
.icon-data:before {
	content: "\eaf3";
}
.icon-data_express:before {
	content: "\e9fe";
}
.icon-databaseConnectors:before {
	content: "\eaf5";
}
.icon-databridge:before {
	content: "\eab8";
}
.icon-dataCenter_solutions:before {
	content: "\eb5c";
}
.icon-dataSheet:before {
	content: "\ea4c";
}
.icon-deploymentAutomation:before {
	content: "\eb13";
}
.icon-detect {
	background-color: @blue;
}
.icon-detect:before {
	content: "\e90b";
}
.icon-developer_client:before {
	content: "\e98b";
}
.icon-devices {
	background-color: rgb(80, 227, 194);
}
.icon-devices:before {
	content: "\eaef";
}
.icon-devPartner:before {
	content: "\ea8b";
}
.icon-devPartner_java:before {
	content: "\ea00";
}
.icon-devPartner_pro:before {
	content: "\ea02";
}
.icon-devPartner_vis:before {
	content: "\ea04";
}
.icon-dimensions_cm:before {
	content: "\eb11";
}
.icon-dimensions_rm:before {
	content: "\eb0f";
}
.icon-directoryAdmin:before {
	content: "\e9b4";
}
.icon-divide {
	background-color: @blue-light;
}
.icon-divide:before {
	content: "\e90d";
}
.icon-documentation {
	background-color: @violet;
}
.icon-documentation:before {
	content: "\e953";
}
.icon-downArrow:before {
	content: "\ea5a";
}
.icon-download {
	background-color: @purple;
}
.icon-download:before {
	content: "\e955";
}
.icon-downloads {
	background-color: @purple;
}
.icon-downloads:before {
	content: "\e955";
}
.icon-dynamicFile:before {
	content: "\e972";
}
.icon-eDirectory:before {
	content: "\e9b6";
}
.icon-endpoint_solutions:before {
	content: "\eb5d";
}
.icon-enter_serverNet:before {
	content: "\ea06";
}
.icon-enter_testServ:before {
	content: "\ea08";
}
.icon-enterprise_analyzer:before {
	content: "\ea0a";
}
.icon-enterprise_developer:before {
	content: "\ea0c";
}
.icon-enterprise_server:before {
	content: "\ea0e";
}
.icon-enterprise_suite:before {
	content: "\e985";
}
.icon-enterprise_sync:before {
	content: "\e999";
}
.icon-enterprise_view:before {
	content: "\ea10";
}
.icon-enterpriseMessaging:before {
  content: "\e983";
}
.icon-environment {
	background-color: @green-bright;
}
.icon-environment:before {
	content: "\e96b";
}
.icon-ethics {
	background: @pink;
}
.icon-ethics:before {
	content: "\e96d";
}
.icon-exAdmin:before {
	content: "\e9b8";
}
.icon-extra6530:before {
	content: "\eaba";
}
.icon-extraExtreme:before {
	content: "\eabc";
}
.icon-facebook:before {
	content: "\ea68";
}
.icon-faq:before {
	content: "\ea4d";
}
.icon-feedback:before{
	content: "\e990";
}
.icon-fileLogistics:before {
  content: "\eaae";
}
.icon-fileMgmt {
	background-color: @green-bright;
}
.icon-fileMgmt:before {
	content: "\e90f";
}
.icon-fileMgmt_suite:before {
	content: "\eacb";
}
.icon-fileNetwork_solutions:before {
	content: "\eb5e";
}
.icon-fileReporter:before {
	content: "\e974";
}
.icon-filr:before {
	content: "\e976";
}
.icon-flyer:before {
	content: "\ea4e";
}
.icon-folderServer {
	background-color: @blue-light;
}
.icon-folderServer:before {
	content: "\e911";
}
.icon-form:before {
	content: "\eafb";
}
.icon-gear {
	background-color: @green-bright;
}
.icon-gear:before {
	content: "\e913";
}
.icon-genericProduct:before {
	content: "\eb3e";
}
.icon-gitCentric:before {
	content: "\ea8d";
}
.icon-glasses {
	background-color: @turquiose;
}
.icon-glasses:before {
	content: "\ead9";
}
.icon-globe:before {
	content: "\ea5b";
}
.icon-Glossary:before {
	content: "\eadf";
}
.icon-googlePlus:before {
	content: "\ea69";
}
.icon-grid:before {
	content: "\ea5c";
}
.icon-groupAdmin:before {
	content: "\e9ba";
}
.icon-groupwise:before {
	content: "\e978";
}
.icon-groupwiseEnterprise:before {
	content: "\eb3c";
}
.icon-guide:before {
	content: "\ea4f";
}
.icon-gwavaRetain:before {
	content: "\ead0";
}
.icon-gwavaSecure:before {
	content: "\eacf";
}
.icon-hamburger:before {
	content: "\ea5d";
}
.icon-happyComp {
	background-color: @purple;
}
.icon-happyComp:before {
	content: "\eadb";
}
.icon-health {
	background-color: @purple;
}
.icon-health:before {
	content: "\e96f";
}
.icon-hostAccess:before {
	content: "\eabe";
}
.icon-icDesktop_EE:before {
	content: "\eac0";
}
.icon-icDesktop_Pro:before {
	content: "\eac2";
}
.icon-identity_solutions:before {
	content: "\eb5f";
}
.icon-idManager:before {
	content: "\e9bc";
}
.icon-idTrack:before {
	content: "\e9be";
}
.icon-iFolder:before {
	content: "\e97a";
}
.icon-improve:before {
	content: "\ea3f";
}
.icon-improve_over:before {
	content: "\ea3e";
}
.icon-infoConnect:before {
	content: "\eac1";
}
.icon-infoConnect_EE:before {
	content: "\eac4";
}
.icon-infographic:before {
	content: "\ea50";
}
.icon-instantSQL:before {
	content: "\ea12";
}
.icon-involved:before {
	content: "\ea41";
}
.icon-involved_over:before {
	content: "\ea40";
}
.icon-iPrint:before {
	content: "\e97c";
}
.icon-knowledge-base {
	background-color: @pink;
}
.icon-knowledge-base:before {
	content: "\e95d";
}
.icon-ldapProxy:before {
	content: "\e9c0";
}
.icon-leftArrow:before {
	content: "\ea5e";
}
.icon-license-keys {
	background-color: @blue-dark;
}
.icon-license-keys:before {
	content: "\e95b";
}
.icon-licensing-buying-programs {
	background-color: @blue-dark;	content: "\eb45";
}
.icon-licensing-buying-programs:before {
	color: #fff;	content: "\eb46";
}
.icon-lighthouse {
	background-color: @blue-primary;
}
.icon-lighthouse:before {
	content: "\eadd";
}
.icon-linkedin:before {
	content: "\ea6a";
}
.icon-linuxClient:before {
	content: "\e97e";
}
.icon-list:before {
	content: "\ea5f";
}
.icon-lock {
	background-color: @green-bright;
}
.icon-lock:before {
	content: "\e917";
}
.icon-lock_blue {
	background-color: @blue-primary;
}
.icon-lock_blue:before {
	content: "\e915";
}
.icon-lockFile {
	background-color: @blue-light;
}
.icon-lockFile:before {
	content: "\e919";
}
.icon-login:before {
	content: "\ea60";
}
.icon-lower {
	background-color: @purple;
}
.icon-lower:before {
	content: "\e91b";
}
.icon-macClient:before {
	content: "\e981";
}
.icon-mail {
	background-color: @blue;
}
.icon-mail:before {
	content: "\e91d";
}
.icon-mail_turq {
	background-color: @turquiose;
}
.icon-mail_turq:before {
	content: "\eb15";
}
.icon-mainframe_express:before {
	content: "\ea14";
}
.icon-maintenance-support-plans {
	background-color: @blue-primary;
}
.icon-maintenance-support-plans:before {
	content: "\e961";
}
.icon-maximum {
	background-color: @green-bright;
}
.icon-maximum:before {
	content: "\eb17";
}
.icon-messenger:before {
	content: "\e980";
}
.icon-meter {
	background-color: @pink;
}
.icon-meter:before {
	content: "\eb19";
}
.icon-mf_connect:before {
	content: "\ea8f";
}
.icon-mf_generic:before {
	content: "\eb2f";
}
.icon-mf_sbm:before {
	content: "\eb0d";
}
.icon-mfLogoMark:before {
	content: "\ea61";
}
.icon-mgnSecurity:before {
	content: "\eaca";
}
.icon-mgnSecurity_ID:before {
	content: "\eac6";
}
.icon-mgnSecurity_PKI:before {
	content: "\eac8";
}
.icon-mgnSecurity_Sec:before {
	content: "\e983";
}
.icon-migrate {
	background-color: @blue;
}
.icon-migrate:before {
	content: "\e91f";
}
.icon-migrateData {
	background-color: rgb(1, 169, 231);
}
.icon-migrateData:before {
	content: "\eaeb";
}
.icon-misc:before {
	content: "\eb25";
}
.icon-moveServer {
	background-color: @turquiose;
}
.icon-moveServer:before {
	content: "\e921";
}
.icon-moveServer_blue {
	background-color: @blue;
}
.icon-moveServer_blue:before {
	content: "\eb1b";
}
.icon-music {
	background-color: @blue-primary;
}
.icon-music:before {
	content: "\e923";
}
.icon-nav-arrow-left:before {
	content: "\eb40";
}
.icon-nav-arrow-right:before {
	content: "\eb3f";
}
.icon-netExpress:before {
	content: "\ea16";
}
.icon-NFS_gateway:before {
	content: "\e982";
}
.icon-noteBoard {
	background-color: @green-bright;
}
.icon-noteBoard:before {
	content: "\eb1d";
}
.icon-notes {
	background-color: @blue-primary;
}
.icon-notes:before {
	content: "\e925";
}
.icon-oes:before {
	content: "\e984";
}
.icon-offSite:before {
	content: "\ea62";
}
.icon-on-demand {
	background-color: @green-bright;
}
.icon-on-demand:before {
	content: "\e995";
}
.icon-onDemand {
	background-color: @green-bright;
}
.icon-onDemand:before {
	content: "\e995";
}
.icon-open-support-incident {
	background-color: #01a9e7;
}
.icon-open-support-incident:before {
	content: "\eb48";
}
.icon-openFus_ada:before {
	content: "\ea18";
}
.icon-openFus_corba:before {
	content: "\ea1a";
}
.icon-openFus_jac:before {
	content: "\ea1c";
}
.icon-openFus_java:before {
	content: "\ea1e";
}
.icon-openFus_security:before {
	content: "\ea20";
}
.icon-openFus_tao:before {
	content: "\ea22";
}
.icon-openFusion:before {
	content: "\e987";
}
.icon-openLock {
	background-color: @blue;
}
.icon-openLock:before {
	content: "\e927";
}
.icon-openMessage:before {
	content: "\eacc";
}
.icon-openWorkgroup:before {
	content: "\e986";
}
.icon-operationsCenter:before {
	content: "\e9c2";
}
.icon-orbacus:before {
	content: "\ea2a";
}
.icon-orbacus_freeSSL:before {
	content: "\ea24";
}
.icon-orbacus_NET:before {
	content: "\ea26";
}
.icon-orbacus_notify:before {
	content: "\ea28";
}
.icon-orbix_enterprise:before {
	content: "\ea2c";
}
.icon-orbix_mainframe:before {
	content: "\ea2e";
}
.icon-paperPlane {
	background-color: rgb(0, 120, 239);
}
.icon-paperPlane:before {
	content: "\eae9";
}
.icon-password {
	background-color: @blue-light;
}
.icon-password:before {
	content: "\e929";
}
.icon-password_reset:before {
	content: "\e9c4";
}
.icon-pdf:before {
	content: "\eb41";
}
.icon-Performer-Family:before {
	content: "\eab3";
}
.icon-podcast:before {
	content: "\ea51";
}
.icon-policy-handbook {
	background-color: @turquiose;
}
.icon-policy-handbook:before {
	content: "\e997";
}
.icon-printer:before {
	content: "\eb42";
}
.icon-privilegeAM:before {
	content: "\e9c6";
}
.icon-product-support-lifecycle {
	background-color: @blue-light;
}
.icon-product-support-lifecycle:before {
	content: "\e95f";
}
.icon-productAnnc:before {
	content: "\eb26";
}
.icon-prompt:before {
	content: "\ea43";
}
.icon-prompt_over:before {
	content: "\ea42";
}
.icon-ps_forge:before {
	content: "\e9c8";
}
.icon-ps_migrate:before {
	content: "\e9ca";
}
.icon-ps_protect:before {
	content: "\e9cc";
}
.icon-ps_recon:before {
	content: "\e9ce";
}
.icon-ps_transform:before {
	content: "\e9d0";
}
.icon-pvcs:before {
	content: "\eb0b";
}
.icon-qaLoad:before {
	content: "\ea93";
}
.icon-recoverServer {
	background-color: @blue-primary;
}
.icon-recoverServer:before {
	content: "\e92b";
}
.icon-redline:before {
	content: "\eb33";
}
.icon-reflection:before {
	content: "\eabf";
}
.icon-reflection_e:before {
	content: "\eace";
}
.icon-reflection_unix:before {
	content: "\eade";
}
.icon-reflection_windows:before {
	content: "\eae0";
}
.icon-reflection_X:before {
	content: "\eae2";
}
.icon-reflection_zfe:before {
	content: "\eae4";
}
.icon-reflectionAndroid:before {
	content: "\eae6";
}
.icon-reflectionApple:before {
	content: "\eae8";
}
.icon-reflectionDesk:before {
	content: "\eaf8";
}
.icon-reflectionDesk_HP:before {
	content: "\eaee";
}
.icon-reflectionDesk_IBM:before {
	content: "\eaf0";
}
.icon-reflectionDesk_plus:before {
	content: "\eaf2";
}
.icon-reflectionDesk_Pro:before {
	content: "\eaf4";
}
.icon-reflectionDesk_stop:before {
	content: "\eaec";
}
.icon-reflectionDesk_X:before {
	content: "\eaf6";
}
.icon-reflectionSecureIT:before {
	content: "\eabd";
}
.icon-reflectionServ_unix:before {
	content: "\eafa";
}
.icon-reflectionServ_windows:before {
	content: "\eafc";
}
.icon-reflectionSuite_X:before {
	content: "\eafe";
}
.icon-reflectionUO:before {
	content: "\eb00";
}
.icon-reflectionWeb_a:before {
	content: "\eb02";
}
.icon-reflectionWeb_e:before {
	content: "\eb04";
}
.icon-reflectionWeb_u:before {
	content: "\eb06";
}
.icon-relativity:before {
	content: "\ea30";
}
.icon-releaseControl:before {
	content: "\eb09";
}
.icon-reload:before {
	content: "\eb31";
}
.icon-reloadCloud:before {
	content: "\eb30";
}
.icon-reloadRetain:before {
	content: "\eb36";
}
.icon-report:before {
	content: "\eb27";
}
.icon-ReqMgmt-family:before {
	content: "\eab5";
}
.icon-requestCenter:before {
	content: "\eb07";
}
.icon-responsible:before {
	content: "\ea3d";
}
.icon-responsible_over:before {
	content: "\ea3c";
}
.icon-retainCloud:before {
	content: "\eb3a";
}
.icon-retainEmail:before {
	content: "\eb39";
}
.icon-retainMobile:before {
	content: "\eb37";
}
.icon-retainSocial:before {
	content: "\eb38";
}
.icon-retainUnifiedArchiving:before {
	content: "\eb3b";
}
.icon-reveal:before {
	content: "\eb3d";
}
.icon-rhythm:before {
	content: "\eb2b";
}
.icon-rightArrow:before {
	content: "\ea63";
}
.icon-rm_cobol:before {
	content: "\ea32";
}
.icon-rm_infoExpress:before {
	content: "\ea34";
}
.icon-rocket {
	background-color: @blue-light;
}
.icon-rocket:before {
	content: "\e92d";
}
.icon-rumba:before {
	content: "\eb08";
}
.icon-sadComp {
	background-color: @blue;
}
.icon-sadComp:before {
	content: "\e92f";
}
.icon-screwDriver {
	background-color: @turquiose;
}
.icon-screwDriver:before {
	content: "\e931";
}
.icon-search:before {
	content: "\ea64";
}
.icon-searchDropdown:before {
	content: "\ea65";
}
.icon-secure {
	background-color: @blue;
}
.icon-secure:before {
	content: "\eae5";
}
.icon-secure_iSeries:before {
	content: "\e9d2";
}
.icon-secureLogin:before {
	content: "\e9d4";
}
.icon-secureMngr:before {
	content: "\e9d6";
}
.icon-security-advisories {
	background-color: @red;
}
.icon-security-advisories:before {
	content: "\e94f";
}
.icon-security2:before {
	content: "\eac5";
}
.icon-securityCamera {
	background-color: @blue-primary;
}
.icon-securityCamera:before {
	content: "\e933";
}
.icon-securityMgmt_solutions:before {
	content: "\eb60";
}
.icon-sentinelEnt:before {
	content: "\e9d8";
}
.icon-sentinelLog:before {
	content: "\e9da";
}
.icon-server_enterprise:before {
	content: "\ea36";
}
.icon-server_express:before {
	content: "\ea38";
}
.icon-serverExpress:before {
	content: "\ea3a";
}
.icon-serverLock {
	background-color: @turquiose;
}
.icon-serverLock:before {
	content: "\e935";
}
.icon-serverSearch {
	background-color: @turquiose;
}
.icon-serverSearch:before {
	content: "\e937";
}
.icon-serverShield {
	background-color: @red;
}
.icon-serverShield:before {
	content: "\e939";
}
.icon-serviceDesk:before {
	content: "\e988";
}
.icon-sever_cobol:before {
	content: "\ea6d";
}
.icon-shield {
	background-color: @green-bright;
}
.icon-shield:before {
	content: "\e93f";
}
.icon-shield_blue {
	background-color: @blue;
}
.icon-shield_blue:before {
	content: "\e93b";
}
.icon-shield_turq {
	background-color: @turquiose;
}
.icon-shield_turq:before {
	content: "\e93d";
}
.icon-sideKey {
	background-color: @green-bright;
}
.icon-sideKey:before {
	content: "\e941";
}
.icon-silk_4J:before {
	content: "\ea95";
}
.icon-silk_4net:before {
	content: "\ea97";
}
.icon-silk_central:before {
	content: "\ea99";
}
.icon-silk_cloudBurst:before {
	content: "\ea9b";
}
.icon-silk_mobile:before {
	content: "\ea9d";
}
.icon-silk_performer:before {
	content: "\ea9f";
}
.icon-silk_performer_mngr:before {
	content: "\eacd";
}
.icon-silk_test:before {
	content: "\eaa1";
}
.icon-silk_testMngr:before {
	content: "\eaa3";
}
.icon-silk_testPartner:before {
	content: "\eaa5";
}
.icon-silk_webmeter:before {
	content: "\eaa7";
}
.icon-SilkFamily:before {
	content: "\eab7";
}
.icon-siteWide {
	background-color: @pink;
}
.icon-siteWide:before {
	content: "\e943";
}
.icon-social {
	background-color: @turquiose;
}
.icon-social:before {
	content: "\e971";
}
.icon-speaker {
	background-color: @blue-light;
}
.icon-speaker:before {
	content: "\eb1f";
}
.icon-ssmOnDemand:before {
	content: "\eb03";
}
.icon-starTeam:before {
	content: "\eaac";
}
.icon-starTeam_agile:before {
	content: "\eaa9";
}
.icon-starTool_da:before {
	content: "\eb01";
}
.icon-starTool_family:before {
	content: "\eb2e";
}
.icon-starTool_fdm:before {
	content: "\eaff";
}
.icon-starTool_ioo:before {
	content: "\eafd";
}
.icon-stopWatch {
	background-color: @blue-light;
}
.icon-stopWatch:before {
	content: "\eb21";
}
.icon-storageMngr:before {
	content: "\e98a";
}
.icon-streamline-desktop:before {
	content: "\eac7";
}
.icon-studio_enterprise:before {
	content: "\ea6f";
}
.icon-success-story:before {
	content: "\ea4b";
}
.icon-suitcase {
	background-color: @turquiose;
}
.icon-suitcase:before {
	content: "\e945";
}
.icon-support {
	background-color: @blue-light;
	content: "\e968";
}
.icon-support:before {
	color: #fff;
	content: "\e969";
}
/*.icon-support:before {
	content: "\ea45";
}
*/
.icon-support-forums {
	background-color: @turquiose;
}
.icon-support-forums:before {
	content: "\e959";
}
.icon-support_over:before {
	content: "\ea44";
}
.icon-supported-platforms {
	background-color: @orange;
}
.icon-supported-platforms:before {
	content: "\e963";
}
.icon-supportManager:before {
	content: "\eb05";
}
.icon-technical-handbook {
	background-color: #8B74C7;
}
.icon-technical-handbook:before {
	content: "\e997";
}
.icon-teeter {
	background-color: @blue;
}
.icon-teeter:before {
	content: "\e947";
}
.icon-terminalEmulation_solutions:before {
	content: "\eb61";
}
.icon-Test-Family:before {
	content: "\eab9";
}
.icon-test_partner:before {
	content: "\ea71";
}
.icon-thumbsUp {
	background-color: @red;
}
.icon-thumbsUp:before {
	content: "\eb23";
}
.icon-together:before {
	content: "\ea91";
}
.icon-top-reasons:before {
	content: "\eae1";
}
.icon-TopReasons:before {
	content: "\eae1";
}
.icon-totalEndpoint:before {
	content: "\e98c";
}
.icon-training {
	background-color: @green-bright;
}
.icon-training:before {
	content: "\e965";
}
.icon-trust:before {
	content: "\ea47";
}
.icon-trust_over:before {
	content: "\ea46";
}
.icon-twitter:before {
	content: "\ea6b";
}
.icon-upArrow:before {
	content: "\ea66";
}
.icon-validator:before {
	content: "\e9dc";
}
.icon-veraBridge:before {
	content: "\eb0a";
}
.icon-veraHost:before {
	content: "\eb0c";
}
.icon-veraProcess:before {
	content: "\eb0e";
}
.icon-veraSDK:before {
	content: "\eb10";
}
.icon-verastream:before {
	content: "\eabb";
}
.icon-veraTerminal:before {
	content: "\eb12";
}
.icon-vertigo:before {
	content: "\eb32";
}
.icon-vibe:before {
	content: "\e98e";
}
.icon-video:before {
	content: "\ea52";
}
.icon-video-support {
	background-color: @aqua;
}
.icon-video-support:before {
	content: "\e967";
}
.icon-viewNow:before {
	content: "\ea75";
}
.icon-viewNow_Server:before {
	content: "\ea73";
}
.icon-visiBroker:before {
	content: "\ea77";
}
.icon-visual_analyzer:before {
	content: "\e998";
}
.icon-visual_cobol:before {
	content: "\ea79";
}
.icon-visual_devHub:before {
	content: "\ea7b";
}
.icon-visual_eclipse:before {
	content: "\ea7d";
}
.icon-visual_Studio:before {
	content: "\ea7f";
}
.icon-vivinet_Assessor:before {
	content: "\e9de";
}
.icon-vivinet_diagnos:before {
	content: "\e9e0";
}
.icon-watch {
	background-color: @purple;
}
.icon-watch:before {
	content: "\e949";
}
.icon-webinar-vid:before {
	content: "\ea67";
}
.icon-webinar:before {
	content: "\ea53";
}
.icon-whistleDesktop {
	background-color: @blue-light;
}
.icon-whistleDesktop:before {
	content: "\e94b";
}
.icon-white-paper:before {
	content: "\ea54";
}
.icon-whitepaper:before {
	content: "\ea54";
}
.icon-windows {
	background-color: @blue;
}
.icon-windows:before {
	content: "\e94d";
}
.icon-windowsClient:before {
	content: "\e990";
}
.icon-workload_solutions:before {
	content: "\eb62";
}
.icon-wow_extensions:before {
	content: "\ea81";
}
.icon-xcentrisity:before {
	content: "\ead1";
}
.icon-xcentrisity_cobol:before {
	content: "\eaab";
}
.icon-youTube:before {
	content: "\ea6c";
}
.icon-zen_appVirt:before {
	content: "\e957";
}
.icon-zen_config:before {
	content: "\e994";
}
.icon-zen_Endpoint:before {
	content: "\e973";
}
.icon-zen_fullDisk:before {
	content: "\e975";
}
.icon-zen_Mgmt:before {
	content: "\e977";
}
.icon-zen_Mobile:before {
	content: "\e979";
}
.icon-zen_Patch:before {
	content: "\e97b";
}
.icon-zen_virtual:before {
	content: "\e9a0";
}
.icon-zenWorks:before {
	content: "\e97d";
}
.icon-zenWorks_suite:before {
	content: "\e9a4";
}


/* Template */
.icon-genericProduct {
	font-size: 70px;
}

/* Gwava Product Icons */
.icon-averasys,
.icon-averasysCloud,
.icon-groupwiseEnterprise,
.icon-redline,
.icon-reload,
.icon-reloadCloud,
.icon-reloadRetain,
.icon-retainCloud,
.icon-retainEmail,
.icon-retainMobile,
.icon-retainSocial,
.icon-retainUnifiedArchiving,
.icon-vertigo,
.icon-enterpriseMessaging
{
	color: @blue-primary;
	font-size: 70px;
}

/* Serena Product Icons */
.icon-changeMan_ssm,
.icon-changeMan_zmf,
.icon-comparex,
.icon-deploymentAutomation,
.icon-dimensions_cm,
.icon-dimensions_rm,
.icon-mf_sbm,
.icon-pvcs,
.icon-releaseControl,
.icon-requestCenter,
.icon-reveal,
.icon-ssmOnDemand,
.icon-starTool_da,
.icon-starTool_family,
.icon-starTool_fdm,
.icon-starTool_ioo,
.icon-supportManager
{
	color: @blue-primary;
	font-size: 70px;
}

/* NetIQ Product Icons */
.icon-accessGov,
.icon-accessManager,
.icon-accessReview,
.icon-aegis,
.icon-appManager,
.icon-authenticFrame,
.icon-changeGuard,
.icon-cloudAccess,
.icon-cloudManager,
.icon-directoryAdmin,
.icon-eDirectory,
.icon-exAdmin,
.icon-groupAdmin,
.icon-idManager,
.icon-idTrack,
.icon-ldapProxy,
.icon-operationsCenter,
.icon-password_reset,
.icon-privilegeAM,
.icon-ps_forge,
.icon-ps_migrate,
.icon-ps_protect,
.icon-ps_recon,
.icon-ps_transform,
.icon-rhythm,
.icon-secure_iSeries,
.icon-secureLogin,
.icon-secureMngr,
.icon-sentinelEnt,
.icon-sentinelLog,
.icon-validator,
.icon-vivinet_Assessor,
.icon-vivinet_diagnos
{
	color: @blue-primary;
	font-size: 70px;
}

/* Novell Product Icons */
.icon-acuToWeb,
.icon-businessContinuity,
.icon-clusterServices,
.icon-databaseConnectors,
.icon-dynamicFile,
.icon-fileMgmt_suite,
.icon-fileReporter,
.icon-filr,
.icon-groupwise,
.icon-gwavaRetain,
.icon-gwavaSecure,
.icon-iFolder,
.icon-iPrint,
.icon-linuxClient,
.icon-macClient,
.icon-messenger,
.icon-NFS_gateway,
.icon-oes,
.icon-openWorkgroup,
.icon-serviceDesk,
.icon-storageMngr,
.icon-totalEndpoint,
.icon-vibe,
.icon-visual_analyzer,
.icon-windowsClient,
.icon-zen_appVirt,
.icon-zen_config,
.icon-zen_Endpoint,
.icon-zen_fullDisk,
.icon-zen_Mgmt,
.icon-zen_Mobile,
.icon-zen_Patch,
.icon-zen_virtual,
.icon-zenWorks,
.icon-zenWorks_suite,
.icon-zen_mobileWorkspace
{
	color: @blue-primary;
	font-size: 70px;
}

/* Borland Product Icons */
.icon-accuRev,
.icon-accuSync,
.icon-atlas,
.icon-Automated-Family,
.icon-caliber,
.icon-ChangeMgmt-Family,
.icon-devPartner,
.icon-gitCentric,
.icon-mf_connect,
.icon-Performer-Family,
.icon-qaLoad,
.icon-ReqMgmt-family,
.icon-silk_4J,
.icon-silk_4net,
.icon-silk_central,
.icon-silk_cloudBurst,
.icon-silk_mobile,
.icon-silk_performer,
.icon-silk_performer_mngr,
.icon-silk_test,
.icon-silk_testMngr,
.icon-silk_testPartner,
.icon-silk_webmeter,
.icon-SilkFamily,
.icon-starTeam,
.icon-starTeam_agile,
.icon-Test-Family,
.icon-together
{
	color: @blue-primary;
	font-size: 70px;
}

/* Micro Focus Product Icons */
.icon-.icon-openFusion,
.icon-acu_4gl,
.icon-acu_bench,
.icon-acu_connect,
.icon-acu_server,
.icon-acu_sql,
.icon-acu_xdbc,
.icon-acucobol_gt,
.icon-analyst_client,
.icon-artix,
.icon-businessRule,
.icon-caliberRDM,
.icon-caliberRM,
.icon-cobol_server,
.icon-data_express,
.icon-developer_client,
.icon-devPartner_java,
.icon-devPartner_pro,
.icon-devPartner_vis,
.icon-enter_serverNet,
.icon-enter_testServ,
.icon-enterprise_analyzer,
.icon-enterprise_developer,
.icon-enterprise_server,
.icon-enterprise_suite,
.icon-enterprise_sync,
.icon-enterprise_view,
.icon-fileLogistics,
.icon-instantSQL,
.icon-mainframe_express,
.icon-netExpress,
.icon-openFus_ada,
.icon-openFus_corba,
.icon-openFus_jac,
.icon-openFus_java,
.icon-openFus_security,
.icon-openFus_tao,
.icon-orbacus,
.icon-orbacus_freeSSL,
.icon-orbacus_NET,
.icon-orbacus_notify,
.icon-orbix_enterprise,
.icon-orbix_mainframe,
.icon-relativity,
.icon-rm_cobol,
.icon-rm_infoExpress,
.icon-server_cobol,
.icon-server_enterprise,
.icon-server_express,
.icon-serverExpress,
.icon-studio_enterprise,
.icon-test_partner,
.icon-viewNow,
.icon-viewNow_Server,
.icon-visiBroker,
.icon-visual_cobol,
.icon-visual_devHub,
.icon-visual_eclipse,
.icon-visual_Studio,
.icon-wow_extensions,
.icon-xcentrisity,
.icon-xcentrisity_cobol
{
	color: @blue-primary;
	font-size: 70px;
}

/* Attachmate Product Icons */
.icon-airlines,
.icon-airlines_EE,
.icon-airlines_NG,
.icon-airlines_Pro,
.icon-airlines_PTR,
.icon-databridge,
.icon-extra6530,
.icon-extraExtreme,
.icon-hostAccess,
.icon-icDesktop_EE,
.icon-icDesktop_Pro,
.icon-infoConnect,
.icon-infoConnect_EE,
.icon-mgnSecurity,
.icon-mgnSecurity_ID,
.icon-mgnSecurity_PKI,
.icon-mgnSecurity_Sec,
.icon-openMessage,
.icon-reflection,
.icon-reflection_e,
.icon-reflection_unix,
.icon-reflection_windows,
.icon-reflection_X,
.icon-reflection_zfe,
.icon-reflectionAndroid,
.icon-reflectionApple,
.icon-reflectionDesk,
.icon-reflectionDesk_HP,
.icon-reflectionDesk_IBM,
.icon-reflectionDesk_plus,
.icon-reflectionDesk_Pro,
.icon-reflectionDesk_stop,
.icon-reflectionDesk_X,
.icon-reflectionSecureIT,
.icon-reflectionServ_unix,
.icon-reflectionServ_windows,
.icon-reflectionSuite_X,
.icon-reflectionUO,
.icon-reflectionWeb_a,
.icon-reflectionWeb_e,
.icon-reflectionWeb_u,
.icon-rumba,
.icon-veraBridge,
.icon-veraHost,
.icon-veraProcess,
.icon-veraSDK,
.icon-verastream,
.icon-veraTerminal
{
	color: @blue-primary;
	font-size: 70px;
}

/* Solutions Icons 90px */
.icon-applicationDelivery_solutions,
.icon-cobolDev_solutions,
.icon-collaboration_solutions,
.icon-data,
.icon-dataCenter_solutions,
.icon-devices,
.icon-endpoint_solutions,
.icon-fileNetwork_solutions,
.icon-identity_solutions,
.icon-migrateData,
.icon-paperPlane,
.icon-securityMgmt_solutions,
.icon-terminalEmulation_solutions,
.icon-workload_solutions
{
	color: @blue-primary;
	font-size: 90px;
}

/* Solution Icons 50px */
.icon-boost,
.icon-checkMark,
.icon-clipboard,
.icon-clipboard-orange,
.icon-collar,
.icon-combination,
.icon-compass,
.icon-data,
.icon-detect,
.icon-devices,
.icon-divide,
.icon-fileMgmt,
.icon-folderServer,
.icon-gear,
.icon-glasses,
.icon-happyComp,
.icon-lighthouse,
.icon-lock,
.icon-lock_blue,
.icon-lockFile,
.icon-lower,
.icon-mail,
.icon-mail_turq,
.icon-maximum,
.icon-meter,
.icon-migrate,
.icon-migrateData,
.icon-moveServer,
.icon-moveServer_blue,
.icon-music,
.icon-noteBoard,
.icon-notes,
.icon-openLock,
.icon-paperPlane,
.icon-password,
.icon-recoverServer,
.icon-rocket,
.icon-sadComp,
.icon-screwDriver,
.icon-secure,
.icon-securityCamera,
.icon-serverLock,
.icon-serverSearch,
.icon-serverShield,
.icon-shield,
.icon-shield_blue,
.icon-shield_turq,
.icon-sideKey,
.icon-siteWide,
.icon-speaker,
.icon-stopWatch,
.icon-suitcase,
.icon-teeter,
.icon-thumbsUp,
.icon-watch,
.icon-whistleDesktop,
.icon-windows,
.icon-archive-email,
.icon-compliance,
.icon-ediscovery,
.icon-manage-archives,
.icon-archive-social,
.icon-archive-text-messages
{
	border-radius: 1000px;
	color: #fff;
	display: inline-block;
	font-size: 50px;
	width: 50px;
}

/* Services & Support 90px */
.icon-alert,
.icon-articles-tips,
.icon-certification,
.icon-consulting,
.icon-coolSolutions,
.icon-courses,
.icon-customer-center,
.icon-documentation,
.icon-download,
.icon-downloads,
.icon-knowledge-base,
.icon-license-keys,
.icon-licensing-buying-programs,
.icon-maintenance-support-plans,
.icon-on-demand,
.icon-onDemand,
.icon-open-support-incident,
.icon-policy-handbook,
.icon-product-support-lifecycle,
.icon-security-advisories,
.icon-support-forums,
.icon-supported-platforms,
.icon-technical-handbook,
.icon-training,
.icon-video-support
{
	border-radius: 1000px;
	color: #fff;
	display: inline-block;
	font-size: 90px;
	width: 90px;
}

/* Corporate Responsibility 90px */
.icon-commResp,
.icon-environment,
.icon-ethics,
.icon-health,
.icon-social
{
	border-radius: 1000px;
	color: #fff;
	display: inline-block;
	font-size: 90px;
	width: 90px;
}
