/*federal*/


.fedresources {
	font-size: @font-tiny;
	font-weight: @weight-norm;
	color: @dark-primary;
	span {
		display: block;
		padding-bottom: 20px;
	}
	.resourceblock {
		padding-bottom: 40px;
	}
	a {
		color: @blue;
	}
}
.fedcuststories {
	background-color: @gray-white;
	font-size: @font-tiny;
	color: @dark-primary;
	.horrule {
		height: 1px;
		background-color: @gray-mid-light;
	}
	.storyblock {
		padding-bottom: 40px;
	}
	img {
		padding-bottom: 20px;
	}
	h2 {
		font-size: @font-seminorm;
		font-weight: @weight-heavy;
		padding-top: 30px;
		padding-bottom: 15px;
	}
	a {
		display: block;
		margin-top: 20px;
		color: @blue;
	}
}




//////////  //////// //      //
//      //  //    //  //    //
//          //    //   //  //
//   /////  //    //    ////
/////////   ////////     //
.gov-solution-page {
     .button-blue-primary {
         font-weight: @weight-heavy;
		 text-align: center;
     }
    .banner {
        background: url('@{image-url}/Industries/public-sector/banner-group-8.jpg') no-repeat center;
        background-size: cover;
        padding-top: 260px;
        padding-bottom: 220px;
        color: @white;
        h1.title {
            font-size: @font-semihuge;
            line-height: 1.2;
            font-weight: @weight-norm;
        }
        @media(max-width: @screen-sm) {
            padding-top: 130px;
            padding-bottom: 120px;
            h1.title {
                font-size: @font-semilarge;
                padding: 0px 15px;
            }
        }
    }
    .overview {
        text-align: center;
        padding-top: 90px;
        padding-bottom: 70px;
        .title {
            font-size: @font-large;
            font-weight: @weight-norm;
            strong {
                font-weight: 900;
            }
        }
        .content {
            padding-top: 40px;
        }
        @media(max-width: @screen-sm) {
            .title {
                font-size: @font-semilarge;
            }
        }
    }
    .event-register {
        padding-bottom: 70px;
        .container {
            padding: 50px 55px;
            background: @gray-light;
            display: flex;
            align-items: center;
            .icon {
                padding: 30px 0px;
                padding-right: 30px;
                border-right: 1px solid @dark;
            }
            .title {
                text-decoration: none;
                h4 {
                    font-size: @font-norm;
                    u {
                        text-decoration: none;
                        border-bottom: 1px solid @blue-primary;
                    }
                }
            }
            .content {
                font-size: @font-small;
                padding-top: 20px;
                strong {
                    font-weight: @weight-heavy;
                }
            }
            .button {
                text-align: right;
                .button-blue-primary {
                    text-align: center;
                    font-size: @font-seminorm;
                }
            }
        }
        @media(max-width: @screen-md) {
            .container {
                padding: 35px;
                .icon {
                    padding-right: 20px;
                }
            }
        }
        @media(max-width: @screen-sm) {
            padding-bottom: 0px;
            .container {
                flex-direction: column;
                text-align: center;
                padding: 35px 15px;
                .icon {
                    border: none;
                    padding-top: 0px;
                    padding-bottom: 20px;
                }
                .title h4 {
                    line-height: 1.3;
                }
                .button-blue-primary {
                    margin-top: 20px;
                }
            }
        }
    }
    .alternation {
        .flex-stretch {
            display: flex;
            align-items: stretch;
            .background-darkness {
                background-color: @gray-white;
            }
            .section-image {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            .center-padding {
                padding-top: 90px;
                padding-bottom: 90px;
                .icon {
                    float: right;
                }
                .title {
                    font-size: @font-norm;
                }
                .content {
                    padding-top: 20px;
                    font-size: @font-small;
                }
                .button-blue-primary {
                    margin-top: 30px;
                    font-size: @font-small;
                }
            }
        }
        @media(max-width: @screen-md) {
            .flex-stretch .icon-container {
                padding-left: 30px;
                padding-right: 0px;
            }
        }
        @media(max-width: @screen-sm) {
             .flex-stretch .center-padding {
                 padding: 40px 15px;
                 img.icon {
                     padding-bottom: 10px;
                     float: none;
                 }
            }
            .flex-stretch .icon-container {
                padding-left: 15px;
            }
        }
    }
	.board-members {
	    padding-top: 70px;
	    padding-bottom: 100px;
	    .title {
	        text-align: center;
	        font-size: @font-semilarge;
	    }
	    .member {
	        padding-top: 40px;
	        .member-headline {

	            .name {
	                color: @blue;
	                font-size: @font-norm;
	            }
	            .role, .company {
	                font-size: @font-small;
	                color: @gray;
	            }
	        }
	        .member-content {
	            .toggleLink {
	                color: #009ddc;
	                text-decoration: none;
	                display: block;
	                cursor: pointer;
	            }
	            .expand {
	                display: none;
	            }
	        }
	    }
	}
}
