.last-call {
	font-size: @font-small;
	.last {
		p {
			text-align: center;
		}
	}
}
.netiq-module {
	font-size: @font-small;
	.ctabox {
		padding: 40px 0px;
		.tiny {
			padding: 10px 0px;
			font-size: @font-tiny;
			color: @gray-mid;
		}
	}
	.odds-rows {
		padding: 60px 0px;
		&:nth-child(even) {
			background-color: @gray-white;
		}
		h2 {
			font-size: @font-norm;
			font-weight: @weight-norm;
			padding: 16px 0px;
		}
	}
}
.customer-stories-module {
	background-image: url('/assets/images/Products/animate-left.png'),url('/assets/images/Products/animate-mid.png'),url('/assets/images/Products/animate-right.png');
	background-position: -120px 0px, 0px -280px, 355px 0px;
	transition: all 2s;
    -webkit-transition: all 2s; /* Safari 3.1 to 6.0 */
	&.active {
		background-position: 0px 0px, 0px 0px, 0px 0px;
	}
}



.pretzel-module-2 {
	font-family: ProximaNova, aktiv-grotesk, sans-serif;
	.container {
		padding-bottom: 60px;
		padding-top: 60px;
		.bread {
			.salt-container {
				top: 50px;
			}
		}
	}
}

.picnic-table {
	font-family: ProximaNova, aktiv-grotesk, sans-serif;
	.container {
		padding: 20px 15px;
		.content {
			.title {
				font-size: 18px;
				font-weight: 500;
			}
		}
		.icon-pattern {
			width: 100%;
			height: 67px;
			background-repeat: no-repeat;
			background-position: center;
			padding: 50px 0px;
		}
		.listing-table {
			.table {
				.website-icon {
					background-image: url(/assets/images/cobol/off-site.png);
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
					width: 24px;
					height: 22px;
				}
				.bold-title {
					font-weight: 600;
					color: #0078ef;
				}
				.row {
					padding: 10px 0px;
					border-bottom: 1px solid #ddd;
				}
			}
			.partner-list {
				padding: 70px 0px;
				display: inline-block;
				.table {
					div.bold-title {
						display: inline-block;
					}
					.bold-title {
						color: #26a5dd;
						font-weight: 600;
					}
					.cell {
						padding: 5px 0px;
					}
					a.school-link {
						display: inline-block;
					}
				}
			}
			.filters {
				color: #26a5dd;
				font-weight: 600;
				input, select {
					border-color: #26a5dd;
					border-style: solid;
					border-width: 1px;
					width: 100%;
					padding: 8px;
					font-weight: 400;
					margin: 10px 0px;
				}
				button {
					border-radius: 5px;
					background-color: #26a5dd;
					color: #fff;
					border: none;
					width: 100%;
					padding: 8px 0px;
					margin: 10px 0px;
				}
			}
			.table-headings {
				color: #26a5dd;
				font-weight: 600;
			}
		}
	}
}

.light-as-air {
	font-family: ProximaNova, aktiv-grotesk, sans-serif;
	.icon{
		heigt: 100px;
		width: 100px;
	}
	.col-icon {
	    width: 100%;
	    height: 230px;
	    background-size: contain;
	    background-repeat: no-repeat;
	    background-position: center;
	}
	.blue-text {
		color: #26a5dd;
	}
	.more-height {
		padding: 30px 0px;
	}
}

.pancake-module {
	font-family: ProximaNova, aktiv-grotesk, sans-serif;
	.griddle {
		.pancake {
			a {
				display: inline-block;
				&:hover svg path {
					stroke: rgb(0,120,239);
				}
			}
		}
	}
}

.pretzel-module {
	font-family: ProximaNova, aktiv-grotesk, sans-serif;
	strong {
		font-weight: bold;
	}
}

.two-col-module {
	font-family: ProximaNova, aktiv-grotesk, sans-serif;
	.container {
		margin: 70px auto 70px;
		.main-content {
			h1 {
				font-weight: 900;
				font-size: 50px;
				line-height: 1;
				color: #26a5dd;
				padding-bottom: 30px;
			}
			h2 {
				font-weight: 900;
				font-size: 30px;
				line-height: 1;
				color: #26a5dd;
				padding: 30px 0px;
			}
			p, a {
				font-weight: 500;
			}
			form {
				font-size: 14px;
				label {
					max-width: 90%;
				}
				.row {
					padding: 10px 15px;
					&.multi-col .col-sm-6 {
						padding-top: 15px;
						padding-bottom: 15px;
					}
				}
				input, textarea, select {
					width: 100%;
					resize: none;
					border: solid 1px #26a5dd;
					min-height: 42px;
				}
				textarea {
					min-height: 120px;
				}
				input[type="checkbox"] {
					width: auto;
					margin-right: 15px;
				}
			}
		}
		.blue-box {
			background-color: #26a5dd;
			border-radius: 5px;
			margin: 50px 0px 0px;
			color: white;
			text-align: center;
			padding: 20px;
			font-family: ProximaNova, aktiv-grotesk, sans-serif;
			h3 {
				font-weight: 900;
				font-size: 30px;
				line-height: 1;
				padding-bottom: 15px;
				padding-top: 40px;
			}
			p {
				padding-bottom: 40px;
				font-weight: 500;
			}
			ul {
				list-style: none;
				padding-bottom: 40px;
				display: inline-block;
				li {
					float: left;
					a:hover{
						text-decoration: none;
					}
				}
			}
			[class^="icon-"]{
				color: white;
				margin: 0px 10px;
				font-size: 46px;
			}
		}
	}
}

.extra-nav-module {
	.nav-item {
		display: inline-block;
		font-weight: bold;
	}
}