// @font-face {
// 	font-family: testFont;
// 	src: url(/assets/fonts/test-font/articulatcf-text/webfonts/articulatcf-text.ttf) format("truetype");
// 	font-weight: 300;
// }
// @font-face {
// 	font-family: testFont;
// 	src: url(/assets/fonts/test-font/articulatcf-light/webfonts/articulatcf-light.ttf) format("truetype");
// 	font-weight: 200;
// }
// @font-face {
// 	font-family: testFont;
// 	src: url(/assets/fonts/test-font/articulatcf-medium/webfonts/articulatcf-medium.ttf) format("truetype");
// 	font-weight: 400;
// }
// @font-face {
// 	font-family: testFont;
// 	src: url(/assets/fonts/test-font/articulatcf-demibold/webfonts/articulatcf-demibold.ttf) format("truetype");
// 	font-weight: 500;
// }
//
// body {
// 	font-family: testFont;
// }
