.lander {
	.lander-headbg {
		background: url('@{image-url}lander/L1-header.jpg');
		background-size: cover;
		min-height: 540px;
		padding-bottom:60px;

		h1 {
			color: #fff;
			font-size:50px;
			font-weight:300;
			margin:100px 0 30px 0;
		}
		p {
			color: #fff;
			font-size:24px;
			font-weight:normal;
		}
		p.custom-icon {
			padding:70px 0 10px;
		}
		p.custom-blue {
			font-size:22px;
			color:#29ceff;
			letter-spacing:-1px;
			font-weight:normal;
			max-width:530px;
		}
		p.custom-description {
			font-size:22px;
			font-weight:300;
			color:white;
			max-width:530px;
			line-height:115%;
		}
	}
	.lander-headbg2 {
		min-height:700px;
		.custom-icon-high {
			margin-top: 110px;
		}
		.custom-icon-high-empty {
			margin-bottom: 55px;
			margin-top: 80px;
		}
		.custom-icon-low-empty {
			margin-bottom: 40px;
			margin-top: 35px;
		}

		.custom-blue-space {
			padding-bottom: 15px;
		}

		.custom-icon-low {
			margin-top: 35px;
		}
		h1.custom-header {
			font-size: 40px;
			max-width: 580px;
			margin:15px 0 35px 0;
		}
		h1, h2, p {
			max-width:530px;
		}
		h1 {
			font-size:@font-huge;
			font-weight:300;
			line-height:100%;
			margin-top:130px;
			margin-bottom:45px;
		}
		h2 {
			font-size:@font-large;
			font-weight:300;
			color:white;
			margin-bottom:30px;
		}
		p {
			font-size:22px;
			line-height:127%;
		}
		.supertitle {
			padding-top:87px;
			h2 {
				margin-bottom:47px;
			}
			h4 {
				font-size:100px;
				margin-bottom:20px;
			}
			h1 {
				font-size:40px;
				line-height:110%;
				margin-bottom:24px;
			}
		}
	}
	.lander-logo {
		display: block;
		background: url('@{image-url}lander/logo.png');
		width: 140px;
		height: 35px;
		margin: 40px 0 0;
		text-indent: -9999px;

		&:hover {
			cursor: pointer;
		}
	}
	.supertitle {
		padding-top:100px;
		max-width:600px;
		h2 {
			text-transform:uppercase;
			font-size:18px;
			line-height:100%;
			color:#271782;
			font-weight:bold;
			padding:0;
			margin-bottom:30px;
		}
		h4 {
			text-transform:uppercase;
			font-size:83px;
			font-weight:bold;
			font-style:italic;
			line-height:100%;
			letter-spacing:-0.5px;
			color:white;
			padding:0;
			margin-bottom:16px;
		}
		h1 {
			font-size:50px;
			font-weight:300;
			line-height:120%;
			letter-spacing:-0.5px;
			color:white;
			padding:0;
			margin:0;
		}
	}
	.benefits-module {
		background-color: @purple;
		color: white;
		a {
			color:white;
		}
		img {
			@media (max-width: 768px) {
				margin-bottom: 20px;
			}
		}
		.overview {
			font-size: @font-norm;
			padding-right: 70px;
			margin-bottom: 20px;
		}
		.icon {
			float: left;
			margin-top: 5px;
		}
		.post {
			margin-left: 30px;
			font-size: @font-semismall;
		}
		.link {
			margin-top: 50px;
			float: right;
			padding-left: 15px;
			font-size: @font-semismall;
			@media (max-width: 768px) {
				float: left;
			}
		}
		.space {
			display: block;
			margin-bottom: 30px;
		}
	}
}
.sharing-solution {
	max-width: 580px;
	font-size: 18px;
	font-weight: @weight-bold;
	padding-bottom:40px;
	padding-top:25px;
}
.blue-gradient-row {
	background: rgb(30,87,153); /* Old browsers */
	background: -moz-linear-gradient(left,  rgb(30,87,153) 0%, rgb(0,132,200) 0%, rgb(0,62,224) 100%, rgb(41,137,216) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgb(30,87,153) 0%,rgb(0,132,200) 0%,rgb(0,62,224) 100%,rgb(41,137,216) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgb(30,87,153) 0%,rgb(0,132,200) 0%,rgb(0,62,224) 100%,rgb(41,137,216) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#2989d8',GradientType=1 ); /* IE6-9 */

	.cta-selltext {
		color: #fff;
		padding: 40px 0 40px 10%;
		margin-top: 30px;
		h2 {
			font-size:44px;
			font-weight:300;
			line-height:114%;
			padding:0;
			margin:0 0 15px 0;
			a {
				color:white;
			}
		}
		p {
			opacity:0.8;
			font-size:18px;
			line-height:156%;
		}
	}
}

.cta-row {
	#ctabox {
		margin-top:-250px;
		background-color:#f5f7f8;
		padding-top:35px;
		box-shadow: 0 0 10px rgb(0, 0, 0);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		h4 {
			text-transform:none;
			color:@dark;
			font-size:14px;
			font-weight:300;
		}
		p {
			font-size:20px;
			font-weight:500;
			line-height:130%;
			color:@dark;
		}
		p.tiny {
			opacity:0.7;
			color:@dark;
			font-weight:300;
			font-size:14px;
		}
		img.ctaimage {
			display:block;
			margin:0 auto;
			box-shadow: 0 0 10px rgb(0, 0, 0);
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		}
		a.ctabutton {
			font-size:16px;
			font-weight:300;
			line-height:113%;
			color:white;
			text-transform:none;
			padding-left:25px;
			padding-right:25px;
			margin-top: 40px;
		}
		.no-resource {
			padding-right: 45px;
			padding-left: 45px;
			img {
				margin: 0 0 25px 0;
				box-shadow: 0 0 0 rgb(0, 0, 0);
				box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
			}
		}
		.spacing {
			min-height: 160px;
		}
	}
	#ctabox:before {
		content: '';
		position: absolute;
		left:0;
		width:0;
		height:0;
		background-color:transparent; /* fallback */
		top: 0;
		-webkit-transform:none;
		-moz-transform:none;
		transform:none;
	}
}

@media (max-width: @screen-sm) {
	.cta-row {
		#ctabox {
			margin-top:-40px;
			a.ctabutton {
				min-width:0;
			}
			img.ctaimage {
				margin:0 0 10px 0;
			}
		}
	}
	.bio-row {
		.bio-image {
			margin:0 auto;
		}
		.biodata li {
			text-align:center;
		}
	}
}


#ctabox {
	position: relative;
	overflow: hidden;
	background-color: #ccc;
	box-shadow: 0 0 20px rgb(0, 0, 0);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	margin: -40px -20px 0 0;
	padding:50px 20px 40px 20px;
	text-align:center;
	font-weight:normal;
	border-radius:4px;
	.row {
		text-align:left;
	}
	h4 {
		color: #0078EF;
		text-transform: uppercase;
		font-size: 18px;
		padding-bottom: 5px;
		font-weight:normal;
	}
	p {
		color: #5D5D60;
		font-size: 18px;
		padding-bottom: 5px;
		padding-right:20px;
	}
	.tiny {
		font-size: 11px;
	}
	.ctaimage {
		max-width:100%;
	}
}
#ctabox.Video,
#ctabox.Webinar {
	padding-top:20px;
}
#ctabox:before {
	content: '';
	position: absolute;
	left: -20%;
	width: 100%;
	height: 200%;
	background-color: rgb(255, 255, 255); /* fallback */
	background-color: rgba(255, 255, 255, 0.5);
	top: 0;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	transform: rotate(135deg);
}
#ctabox.Video,
#ctabox.Webinar {
	.col-sm-5 {
		float:none;
		width:100%;
		position:relative;
		.play {
			width:62px;
			height:62px;
			position:absolute;
			left:50%;
			margin-left:-31px;
			top:50%;
			margin-top:-31px;
			background:transparent url(@{image-url}Campaigns/lander/play-button.png) left top no-repeat;
		}
		.campVideoImg {
			width:100%;
			margin-bottom:20px;
		}
		a:active,
		a:focus {
			outline:0;
		}
	}
	.col-sm-7 {
		float:none;
		width:100%;
		clear:both;
		h4 {
			display:none;
		}
		p {
			font-size:16px;
			font-weight:bold;
			line-height:125%;
			color:#6a7c87;
			margin-bottom:15px;
		}
		p.tiny {
			font-weight:300;
		}
	}
	.ctabutton {
		margin-top:0;
	}
}

.ctabutton {
	position: relative;
	background: @blue-primary;
	padding:12px 40px 10px 40px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 20px;
	z-index: 99;
	margin:40px auto 0 auto ;
	display: inline-block;
	text-align: center;
	border-radius:24px;
	max-width:100%;
	min-width:85%;
	&:hover {
		text-decoration: none;
		cursor: pointer;
		background: #0064C7;
		color: #fff;
	}
	&:focus,
	&:active {
		outline:0;
	}
}

.benefits-row {
	padding-top: 100px;
	padding-bottom: 60px;
	text-align: center;
	.benefits-intro {
		h2{
			font-size: 44px;
			margin-bottom: 70px;
			opacity:0.8;
			font-weight:300;
			line-height:114%;
			text-align:center;
		}
	}
	.subtext {
		width: 50%;
		display: block;
		/*margin: 0 auto 40px;*/
	}
	.col-lg-8.benefit-intro .subtext {
		width: 100%
	}
	.outtro {
		padding:25px 10% 40px 10%;
		h2 {
			opacity:0.8;
			font-size:24px;
			font-weight:300;
			line-height:110%;
			padding:0;
			margin-bottom:20px;
		}
		p {
			font-size:18px;
			font-weight:normal;
		}
	}
}
.benefits-row.benefits-row2 {
	padding-top:50px;
	padding-bottom:40px;
	text-align:left;

	@media(max-width:767px){
		margin-left:15px;
		margin-right:15px;
	}
	.benefits-intro {
		h2 {
			text-align:left;
			font-size:35px;
		}
		p {
			margin-left:0;
			text-align:left;
		}
		.header-small {
			font-size: @font-seminorm;
			font-weight: @weight-bold;
			margin-bottom: 40px;
		}
	}
	.benefits-icon-set {
		h4 {
			font-size:16px;
			color:#263133;
			text-transform:none;
			margin-bottom:20px;
		}
		p {
			font-size:16px;
		}
		p.icon {
			height:55px;
		}
	}
	.benefit2 {
		margin-bottom:40px;
		a {
			font-weight: @weight-heavy;
		}
	}
}
.benefits-icon-set {
	h4 {
		text-transform: uppercase;
		font-weight: 300;
		margin-bottom: 10px;
	}
	p {
		font-size: 14px;
	}
	.benefit {
		width:25%;
		display:inline-block;
		padding:0 2.5%;
		vertical-align:top;
		color:#747e80;
		font-weight:normal;
		margin-bottom:25px;
	}
}

.quote-row {
	background: #0084EB;
	text-align: center;
	padding-top:50px;
	padding-bottom:50px;
	.lander-quote {
		color: #fff;
		font-size: 150%;
	}
	.quote-author {
		color: #fff;
		font-size: 13px;
	}
}
.quote-row2 {
	background-color:#0084ec;
	padding-top:75px;
	padding-bottom:38px;
	.lander-quote {
		font-size:30px;
		font-weight:300;
		line-height:127%;
		margin:0 0 25px 0;
		padding:0;
	}
	.quote-author {
		font-size:16px;
		font-weight:normal;
		line-height:156%;
	}
}

.bio-row {
	padding: 50px 0;
	background: #3F4E55;
	.bio-image {
		border-radius: 50%;
		border: 3px solid #fff;
		float: right;
		margin-bottom: 15px;
	}
	.biodata {
		margin-top: 15px;
		clear: both;
		li {
			color: #fff;
			list-style: none;
			text-align: right;
		}
	}
	p {
		color: #fff;
		font-size: 140%;
	}
}
.bio-row2 {
	padding-top:80px;
	padding-bottom:70px;
	background-color:#fafafa;
	.bio-image {
		float:left;
		max-width:33%;
		margin-right:8%;
	}
	.author-data {
		float:left;
		max-width:59%;
		h2 {
			font-size:30px;
			font-weight:300;
			line-height:127%;
			color:#43484d;
			padding:4px 0 0 0;
			margin:0 0 10px 0;
		}
		p {
			font-size:16px;
			line-height:156%;
			color:#86939e;
		}
	}
	.biodata-quote {
		font-size:16px;
		font-weight:300;
		line-height:150%;
		color:#263133;
		padding-top:25px;
	}
}

.lander-partner-icons {
	padding-top:95px;
	padding-bottom:100px;
	.container {
		display:table;
		table-layout:fixed;
		a.partner {
			display:table-cell;
			width:33%;
			text-align:center;
			vertical-align:middle;
			img {
				display:inline-block;
				max-width:127px;
				max-height:40px;

				-webkit-filter: grayscale(1);
				-webkit-filter: grayscale(100%);
				filter: gray;
				filter: grayscale(100%);
				filter: url(/assets/images/desaturate.svg#greyscale);
				opacity:0.5;
			}
		}
		a.partner:hover {
			img {
				-webkit-filter:none;
				filter:none;
				opacity:1;
			}
		}
	}
}

#camp-modal {
	.close {
		font-size:44px;
		font-weight:100;
		position:absolute;
		right:20px;
		top:15px;
		opacity:0.6;
		color:black;
		&:hover {
			opacity:0.8;
		}
	}
	.form_builder_form input[type="checkbox"] {
		width:auto;
		float:left;
	}
	p.disclaimer {
		margin-left:25px;
		a {
			display:inline;
			font-size:inherit;
			padding:0;
		}
	}
	.form_builder_submit {
		margin:0;
		a {
			color:white;
			padding:10px 30px;
		}
		a:hover {
			color:#0078ef;
		}
	}
}
#camp-modal.modal2 {
	.modal-dialog {
		width:380px;
		max-width:100%;
		margin-top:10vh;
		margin-bottom:10vh;
	}
	.modal-content {
		background-color:#212d34;
		color:@gray-mid;
		font-size:14px;
		font-weight:300;
	}
	.close {
		color:white;
		top:10px;
		right:15px;
	}
	.modal-header {
		padding:40px 40px 0 40px;
	}
	.modal-body {
		padding:20px 40px 30px 40px;
	}
	.resource {
		h4 {
			font-size:14px;
			padding:0;
			margin-bottom:9px;
		}
		p {
			font-size:20px;
			font-weight:500;
			color:white;
			line-height:125%;
			padding-bottom:9px;
		}
		p.tiny {
			opacity:0.7;
			font-size:14px;
			font-weight:300;
			color:@gray-mid;
		}
	}
	.form_builder_form {
		.form_field_container {
			padding-bottom:10px;
		}
		input[type="text"],
		select {
			border:0;
			background-color:#313c43;
			color:@gray-mid;
			width:100%;
			height:40px;
		}
		select {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background:#313c43 url(/assets/images/Campaigns/open-icon.png) 96% 18px no-repeat;
		}
		select::-ms-expand { /* for IE 11 */
			display: none;
		}
		label {
			margin-bottom:0;
		}
		#form_builder_w_optin input[type="checkbox"] {
			display:none;
		}
		#form_builder_w_optin {
			margin-top:15px;
			cursor:pointer;
			background:transparent url(/assets/images/Campaigns/checkbox.png) left top no-repeat;
			label {
				display: none;
			}
		}
		#form_builder_w_optin.checked {
			background:transparent url(/assets/images/Campaigns/checkbox.png) left -200px no-repeat;
		}
		p.disclaimer {
			margin-left:30px;
			color:36a7c87;
		}
	}
	.form_builder_submit {
		text-align:center;
		width:100%;
		a {
			background-color:#00c38a;
			color:white;
			display:inline-block;
			margin:0 auto;
			font-size:15px;
			font-weight:500;
			border:1px solid #00c38a;
			float:none;
		}
		a:hover {
			background-color:transparent;
			border:1px solid #00c38a;
		}
	}
}

#camp-terms {
	font-size:14px;
	.modal-body a {
		display:inline;
		font-size:14px;
	}
	ul li {
		margin-bottom:12px;
		ul li {
			margin-bottom:0;
		}
	}
	.modal-dialog {
		width:800px;
		max-width:100%;
	}
	.close {
		font-size:44px;
		font-weight:100;
		position:absolute;
		right:20px;
		top:15px;
		opacity:0.6;
		color:black;
		&:hover {
			opacity:0.8;
		}
	}
}

.last-call {
	.last {
		padding: 70px 8% 60px 8%;
		h2 {
			opacity:0.8;
			font-size:30px;
			font-weight:300;
			line-height:117%;
			text-align:center;
			color:black;
			margin-bottom:35px;
		}
		p.fineprint {
			text-align:center;
			padding:0 8% 20px 8%;
			font-size:16px;
			a {
				color:#0084eb;
			}
		}
	}
	.video-last {
		padding: 100px 0px 60px 0px;
		.last {
			padding:0px;

			h2, p {
				text-align: left;
			}
		}
		.modal-content {
			background-color: @black;
			iframe {
				width: 100%;
				border: none;
			}
		}
		.video-container {
			.playbutton-svg {
				position: absolute;
				top: 30%;
				left: 35%;
				width: 30%;
				height: 30%;
			}
		}
		.video-container:hover {
			.playbutton-svg {
				ellipse {
					stroke: @gray-mid-light;
				}
				path {
					fill: @gray-mid-light;
				}
			}
		}
	}
}

.statistics-row {
	text-align:center;
	background-image: linear-gradient(to top, rgba(244, 244, 244, 0.5), rgba(223, 222, 220, 0.5));
	padding-top:60px;
	padding-bottom:50px;
	a.statistic {
		display:inline-block;
		vertical-align:top;
		width:17.5%;
		margin:0 3.5%;
		h2 {
			font-size:64px;
			font-weight:300;
			line-height:106%;
			color:#0084eb;
		}
		p {
			font-size:16px;
			font-weight:normal;
			text-transform:uppercase;
			line-height:138%;
			letter-spacing:2px;
			color:#747e80;
		}
	}
	a.statistic:hover {
		text-decoration:none;
		cursor:pointer;
	}
}

// mobile styles
@media (max-width: @screen-sm) {
	.lander .lander-headbg h1 {
		font-size:36px;
		margin-top:30px;
	}
	#ctabox {
		min-height:350px;
		height:auto;
		padding-top:20px;
		p {
			font-size: 17px;
		}
	}
	.ctabutton {
		margin-top: 5px;
	}
	.ctaimage, .campVideoImg {
		max-height: 150px;
		margin-bottom:25px;

	}
	.bio-row p {
		padding-top: 25px;
	}
	.lander {
		.lander-headbg {
			min-height:360px;
			h1 {
				font-size: 40px;
			}
		}
		.supertitle {
			padding-top:40px;
			h2,
			h1.custom {
				font-size:18px;
				margin-bottom:30px;
			}
			h4 {
				font-size:40px;
				line-height:100%;
				letter-spacing:0;
				margin-bottom:16px;
			}
			h1 {
				font-size:30px;
				line-height:120%;
				letter-spacing:0;
			}
		}
	}

	.benefits-row {
		padding-top:40px;
		padding-bottom:30px;
		.benefits-intro {
			h2{
				font-size: 32px;
				margin-bottom:25px;
			}
		}
		.subtext {
			width:80%;
		}
		.outtro {
			padding:15px 6% 20px 6%;
			h2 {
				font-size:18px;
				margin-bottom:15px;
			}
			p {
				font-size:16px;
			}
		}
	}

	.benefits-icon-set {
		h4 {
			margin-bottom: 10px;
		}
		p {
			font-size: 14px;
		}
		.benefit {
			width:100%;
			display:block;
			padding:0 6%;
			margin-bottom:15px;
		}
	}
	.cta-row {
		.row {
			margin:0;
		}
		#ctabox {
			.row {
				margin:0;
			}
		}
	}

	.statistics-row {
		a.statistic {
			display:block;
			width:100%;
			margin:0 0 25px 0;
		}
	}

	.lander-partner-icons {
		padding-top:40px;
		padding-bottom:40px;
		.container {
			a.partner {
				display:block;
				width:100%;
				margin-bottom:20px;
			}
		}
	}
}

@media (max-width: @screen-md) {

	.cta-row #ctabox {
		min-height: 0;
		box-shadow: none;
		width: 100%;
		border-radius: 0;
		margin-top: -30px;
	}
	.cta-row .container {
		padding: 0;
		margin: 0;
		width: 100%;
	}
	.cta-row .col-md-5 {
		padding: 0;
	}
	.cta-row .col-sm-12 {
		padding: 0;
	}
	.lander .cta-row #ctabox .col-md-4 {
		float:left;
		margin-left: 6%;
		width:27.6%;
	}
	.lander .cta-row #ctabox .col-md-4 {
		float:left;
		margin-left: 6%;
		width:27.6%;
	}
	.lander .cta-row #ctabox .col-md-8.spacing {
		min-height:0;
		float:left;
		width:60%;
	}
	.cta-row #ctabox a.ctabutton {
		max-width: 60%;
		margin-left: auto;
		margin-right: auto;
		min-width: 50%;
	}

}

@media (max-width: 460px) {
	.lander .lander-headbg h1 {
		font-size: @font-large;
		margin-top: 20px;
	}
	.lander .lander-headbg h2 {
		font-size: 30px;
		line-height: 40px;
	}
	.cta-row #ctabox {
		box-shadow: none;
		width: 100%;
		border-radius: 0;
	}
	.cta-row .container {
		padding: 0;
	}
	.cta-row .col-md-5 {
		padding: 0;
	}

	.lander .lander-headbg {
		.col-sm-8 {
			padding-left:30px;
			padding-right:30px;
		}
	}
	.benefits-row.benefits-row2 .link {
		margin-top: 30px;
	}

	.lander #footer2 .left {
		padding-left:15px;
		padding-right:15px;
	}

	.lander #footer2 .left > a {
		margin-bottom:0;
	}
	.lander .last-call .last {
		padding-left:15px;
		padding-right:15px;
	}
	.lander .cta-row #ctabox {
		min-height:0;
	}
	.lander .cta-row #ctabox .col-md-4 {
		float:left;
		width:33.3%;
		margin-left: 0;
	}
	.lander .cta-row #ctabox .col-md-8.spacing {
		min-height:0;
		float:left;
		width:66.6%;
	}
	.lander .cta-row #ctabox .col-md-12 {
		clear:both;
	}
	.lander .lander-headbg p.custom-description {
		background-color:@dark-primary;
		margin:0 -30px -30px -30px;
		padding:25px 30px 30px 30px;
		font-size:18px;
		line-height:127%;
	}
	.cta-row #ctabox a.ctabutton {
		max-width: 100%;
		min-width: 85%;
	}
}


.last-call {
	font-size: @font-small;
	.last p {
		text-align: center;
	}
}
.netiq-module {
	font-size: @font-small;
	.ctabox {
		padding: 40px 0px;
		.resource-type {
			padding-bottom: 10px;
		}
		.tiny {
			padding: 10px 0px;
			font-size: @font-tiny;
			color: @gray-mid;
		}
		img.ctaimage {
			box-shadow: 1px 1px 5px #B6C1C2;
		}
	}
	.odds-rows {
		padding: 30px 0px 50px;
		&:nth-child(even) {
			background-color: @gray-white;
		}
		h2 {
			font-size: @font-norm;
			font-weight: @weight-norm;
			padding: 16px 0px;
		}
	}
	.unstyle-link {
		color: @black;
		.call-to-action-link {
			color: @blue-primary;
		}
	}
	.unstyle-link:hover {
		text-decoration: none;
		.call-to-action-link {
			color: @blue-primary;
			text-decoration: underline;
		}
	}
}
.lander {
	.lander-headbg3 {
	    min-height: 600px;
	}
}



.campain-content-3-resources {
	background-color: @gray-white;
	padding: 60px 0px 80px 0px;
	.intro {
		text-align: center;

		.intro-title {
			margin-top: 10px;
			font-weight: @weight-norm;
		}
		.intro-content {
			margin-top: 20px;
		}

		img {
			margin: 0 auto;
		}
	}
	.resource-holder {
		margin-top: 80px;
		font-size: @font-small;
		h4 {
			font-size: @font-small;
		}
		.resource-type {
			font-size: @font-tiny;
		}
		.unstyle-link {
			color: @black;
			.call-to-action-link {
				color: @blue-primary;
			}
		}
		.unstyle-link:hover {
			text-decoration: none;
			.call-to-action-link {
				color: @blue-primary;
				text-decoration: underline;
			}
		}
		@media (max-width: @screen-sm) {
			.nopadding {
				padding: 0px 15px;
			}
		}
	}
}


.campaign-success-story {
	padding: 60px 0px;

	.title-container {
		h2 {
			padding: 16px 0px;
			font-weight: @weight-norm;
		}
		.content {
			font-size: @font-small;
		}
	}
	.costomer-logo {
		margin-top: 20px;
		@media (max-width: @screen-sm) {
			margin: 0 auto;
		}
	}
}



.campaign-success-stories-inline-section {
	padding-top: 60px;
	padding-bottom: 100px;

	.main-title {
		font-size: @font-tiny;
		color: @gray;
		margin-bottom: 40px;
	}
	.camp-success-block {
		font-size: @font-small;

		.title {
			font-size: @font-norm;
			margin-top: 20px;
		}
		.content {
			margin-top: 15px;
			margin-bottom: 20px;
		}
	}
}



.strategic-alliance-partner-section {
	padding-bottom: 100px;
	font-size: @font-tiny;
	background-color: @gray-white;

	.container {
		padding-top: 60px;
		border-top: solid 1px @gray-mid-light;
	}
	.main-title {
		color: @gray;
		margin-bottom: 60px;
	}
	.flex-item-container {
		display: flex;
		align-items: center;
	}
	@media (max-width: @screen-lg) {
		.content {
			margin-top: 0px;
		}
	}
	@media (max-width: 500px) {
		text-align: center;
		.flex-item-container {
			display: inline;
			img {
				margin: auto;
			}
			.content {
				margin-top: 30px;
			}
		}
	}
}
.lang-de-de .supertitle {
	@media (max-width: 767px) {
    h1 {
	    font-size: 36px;
  	}
	}
}
