//////////////////////////////////////////////////////////////// LESS
// code to unbreak OnDemand
html body .popup_wrapper .popup {
  display:block;
}
html body.position_fixed {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
html body {
  max-width: 100%;
  -webkit-text-size-adjust: none;
  overflow-x: hidden;

  span.nobr{
    white-space: nowrap;
    min-height:19px;
    width:100%;

  }

  .page-wrap main {
    background-color:transparent;
  }
  .carousel {
    top: -50px;
  }

  .middle-align {
    position: relative;
    height: 100%;
  }
  .middle-align > * {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: 50%;
  }
  .fixed-header-offsetter {
    height: 1px;
    width: 100vw;
    min-height:62px;
    transition: all 1s ease;
  }
  @media screen and (min-width: 992px) {
    .fixed-header-offsetter {
      min-height:104px;
    }
  }
  .menubackground-blue {
    display: none;
  }
  header.meganav {
    position: fixed;
    z-index: 1040;
    width: 100%; // for sarafi
    width: 100vw; // for other browsers
    background-color: #FFF;

    // remove the default IE browser input "helpers" (cough cough, not helpful IE!)
    ::-ms-clear, ::-ms-reveal {
      display:none;
      width : 0;
      height: 0;
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: aktiv-grotesk, sans-serif !important;
    }

    a {
      color: #0078EF;
    }

    .cookies-alert {
      padding: 0;
      display: block;
      position: static;

      p {
        color: #FFF;
      }
      .container {
        padding: 30px;

        .button-white {
          display: block;
          max-width: 220px;
          color: #271782;
          white-space: normal;
          text-align: center;
          margin-top:20px;
          margin-bottom:20px;
          transition: all 0.2s ease;

        }
        .button-white:hover {
          color: #FFF;
          background: transparent;
          border: 1px #FFFFFF solid;
        }
        h2 {
          padding-top: 0;
          color: #FFF;
        }

      }

    } /* END : .cookies-alert */

    .menus-container {
      position: static;

      nav#menu {
        top: 0;
        padding-top: 0;
        padding-bottom: 0;
        position: static;
        background-color: #FFF;

        .navbar#new_nav {
          padding: 0;
          width: 100vw;
          max-width: 100%;
          height: auto;
          top: 0;
          margin-bottom: 0;
          background-color: #FFF;
          border: none;
          //border: 1px solid rgba(0,0,0,0.15);
          border-radius: 0;
          -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
          box-shadow: 0 6px 12px rgba(0,0,0,0.175);

          h2 {
            text-transform: capitalize;
          }
          #product_results h2 {
            margin:0;
          }
          h3 {
            border: none;
            margin: 0;
          }

          .utility_nav {
            background-color: #E3E7EA;
            width: 100vw;
            max-width: 100%;

            .mf-container {
              > div:first-child {
                margin-right: 0;
              }
              > div {
                float: right;
                background-repeat: no-repeat;
                font-size: 12px;
                display: inline-block;
                cursor: pointer;
                //margin-right: 20px;
                //margin-left:20px;
                padding: 11px 0 0 0;


                span, div, a {
                  font-size: 12px;
                  color: #263133;
                }

                #lets_talk_close_container div {
                  color: #FFF;
                }
                #lets_talk_close_container:hover div {
                  color: #29CEFF;
                }
              }
              > div:hover {
                span, div, a {
                  color: #0075f3;
                }
              }
              #utilitynav-chat {
                a.lets-talk {
                  span.icon-chat{}
                }

                div.popup.letstalk_content{
                  top: 60px;
                  padding: 20px 20px;
                  min-width: 320px;
                  width: 100%;
                  max-width: 700px;
                  z-index: 9999;
                  overflow:scroll;
                  -webkit-overflow-scrolling: touch;
                  max-height:80vh;

                  iframe {
                    background-image: url('/assets/images/ajax-loader.gif');
                    background-repeat: no-repeat;
                  }

                  div#lets_talk_close_container {
                    width: 20%;
                    margin: 0px auto 0px;
                    padding: 5px 0;
                    background-color: #29CEFF;
                    border: 1px #29CEFF solid;
                    text-align: center;

                    span#lets_talk_close {
                      color: #ffffff;
                      font-size: 150%;
                      font-weight: bold;
                      display: block;
                      -ms-transform: rotate(180deg);
                      -webkit-transform: rotate(180deg);
                      transform: rotate(180deg);
                    }
                    div {
                      color: #FFF;
                    }
                  }
                  div#lets_talk_close_container:hover {
                    background-color: transparent;

                    span#lets_talk_close {
                      color: #29CEFF;
                    }
                    div {
                      color: #29CEFF;
                    }
                  }
                }

              }
              #utilitynav-language {
                position: relative;

                .icon-downArrow {
                  font-size: 8px;
                }
                .popup {
                  display: none;
                  background-color: #FAFAFA;
                  position: absolute;
                  border: solid 1px #E3E7EA;
                  width: 205px;
                  padding: 8px 0;
                  top: 28px;
                  color: #778589;
                  z-index:9999;

                  a {
                    color: #778589;
                    display: block;
                    padding: 4px 16px;
                    margin-bottom: 2px;
                  }
                  a.current {
                    font-weight: 500;
                    background-color: #F5F5F5;
                  }
                }
              }
              #utilitynav-community {}
              #utilitynav-support{}
            }/* END : .mf-container */
          } /* END : .utility_nav */

          div.container {
            .navbar-header {
              max-width: 120px;
              float: left;
              padding: 0;

              .navbar-brand {
                height:auto;
                min-height: 50px;
                padding: 0;

                img {
                  max-width: 100px;
                }
              }

              a.navbar-brand-link {
                display: block;
                padding: 17px 15px;
              }
              a.navbar-brand-link svg#full_microfocus_logo {
                fill: #0075f3;
                height: 26px;
                width: 100px;
              }

            } /* END : .navbar-header */
            .navbar-toggle {
              .icon-close {
                display: none;
                opacity: 0;
                transition: all 0.2s ease;
              }
              span.icon-bar {
                background-color: #888888 !important;
                color: #888888;
              }
              span.icon-bar.top-bar {
                transform: rotate(0);
              }
              span.icon-bar.middle-bar {
                opacity: 1;
              }
              span.icon-bar.bottom-bar {
                transform: rotate(0);
              }
            } /* END : .navbar-toggle */
            .navbar-toggle.open {
              span.icon-bar.top-bar {
                transform: rotate(55deg);
                transform-origin: 10% 10%;
              }
              span.icon-bar.middle-bar {
                opacity: 0 !important;
              }
              span.icon-bar.bottom-bar {
                transform: rotate(-55deg);
                transform-origin: 10% 90%;
              }
            } /* END : .navbar-toggle.open */
            .navbar-toggle.collapsed {
              margin: 0;
              width: 32px;
            } /* END : .navbar-toggle.collapsed */
            .main_search {
              display: block;
              float: right;
              margin: 0 auto 20px;
              border: 1px solid #a8b0b6;
              text-align: left;
              font-size: 14px;
              padding: 10px;
              width:100%;

              #menu-search form {
                position: relative;

                input {
                  border: none;
                  width: 85%;
                  display: inline-block;
                  font-family: aktiv-grotesk, sans-serif;
                }
                button {
                  border: none;
                  background: transparent;
                  position: absolute;
                  right: 0;
                  width: 12%;
                  display: inline-block;
                }

              }
            } /* END : .main_search */

          } /* END : div.container */

          .navbar-nav {
            list-style-type: none;

            li {
              list-style-type: none;
            }
            h2 {
              span.icon-bar.top-bar {
                color: #777777;
                position: absolute;
                right: 0;
                top: 17px;
                background: #999999;
                display: none;
                width: 18px;
                height: 2px;
                opacity:0;
                transition: all 0.2s ease;
              }
            }
            > .open {
              > a, > a:hover, > a:focus {
                background-color: #FFF;
                color: #0078ef;
                border: none;
                background-image: none;
                box-shadow: none;

                h2 {
                  span.icon-bar.top-bar {
                    opacity:1;
                    display:block;
                  }
                }
              }
            }
            > li {
              > a:hover, a:focus {
                text-decoration: none !important;
              }
            }
          }
        } /* END : .navbar#new_nav */
      } /* END : nav#menu */

      nav#menu.fixed {
        position: static;
        z-index: 100;
        background-color: transparent;
        padding-top: 0;
        padding-bottom: 0;
        height: auto;
        box-shadow: none;

        #new_nav {
          top: 0;
        }
      } /* END : nav#menu.fixed */
      nav#menu.expanded {
        background-color: transparent;
        height: 100% !important;
        overflow: visible;
      } /* END : nav#menu.expanded */
    }/* END : menus-container */

    #menu_item_support_login {
      height: 39px;
    }
    [class^="icon-"], [class*=" icon-"] {
      font-family: 'microfocus-icons' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .btn {
      width: auto;
      height: auto;
      padding-top: 0;
      padding-bottom: 0;
      border: none;
      font-size: 16px;
      font-weight: 300;
      background-color: transparent;
      background-image: none;
      border-radius: 0;
      transition: all 0.2s ease;
    }
    .btn span.icon-leftArrow {
      font-size: 50%;
      font-weight: bold;
    }
    .btn-lightblue,
    .btn-lightblue span {
      color: #00baff;
      padding-left: 0;
    }
    .btn-lightblue,
    .btn-lightpurple {
      padding-left: 15px;
    }
    .btn-lightblue:hover,
    .btn-lightblue:hover span {
      color: #006da9;
    }
    .btn-lightpurple,
    .btn-lightpurple span {
      color: #8457b6;
      padding-left: 0;
    }
    .btn-lightpurple:hover,
    .btn-lightpurple:hover span {
      color: #533771;
    }
    .btn-navy,
    .btn-navy span {
      color: #271782;
      padding-left: 0;
    }
    .btn-navy:hover,
    .btn-navy:hover span {
      color: #3e1dc9;
    }

    .btn-darkpurple,
    .btn-darkpurple span {
      color: #56176c;
      padding-left: 0;
    }
    .btn-darkpurple:hover,
    .btn-darkpurple:hover span {
      color: #7d1793;
    }
    .col_left .btn-navy {
      width: auto;
    }
    .flyout-menu {
      z-index: 9999;
    }
    .dropdown-menu {
      height: 50vh;
      opacity:0;
      transition: all 0.2s ease-in-out;

      .container-fluid {
        .container {
          max-width: 100%;
        }
        > .row {
          > .col-xs-1,
          > .col-xs-2,
          > .col-xs-3,
          > .col-xs-4,
          > .col-xs-5,
          > .col-xs-6,
          > .col-xs-7,
          > .col-xs-8,
          > .col-xs-9,
          > .col-xs-10,
          > .col-xs-11,
          > .col-xs-12 {
            position: static !important;
          }
        }
      }
    }

    .col_right.col-xs-12,
    .col_right.col-xs-11,
    .col_right.col-xs-10,
    .col_right.col-xs-9,
    .col_right.col-xs-8,
    .col_right.col-xs-7,
    .col_right.col-xs-6,
    .col_right.col-xs-5,
    .col_right.col-xs-4,
    .col_right.col-xs-3,
    .col_right.col-xs-2,
    .col_right.col-xs-1 {
      position: static !important;
    }

    li.flyout_sub_menu_header {
      margin-bottom: 15px;
    }

    .flyout_sub_menus li a:not(.btn),

    .flyout_sub_menus li a:not(.btn) span {
      color: #263133;
      line-height: normal;
    }

    .navbar-collapse {
      width: 100vw;
      margin: 0 auto;
      left: 0;
      right: 0;
      display: none;
      max-width: 337px;
    }

    .navbar-collapse.in .navbar-nav {
      width: 100%;
      margin: 0 auto;
      left: 0;
      right: 0;
    }

    * > .icon-leftArrow {
      font-size: .5em;
    }

    @media screen and (min-width: 375px) {}
    @media screen and (min-width: 425px) {}
    @media screen and (min-width: 480px) {
        .menus-container{
          nav#menu{
            .navbar#new_nav{
              .utility_nav .mf-container > div {
                float: right;
                background-repeat: no-repeat;
                font-size: 12px;
                display: inline-block;
                cursor: pointer;
                //margin-right: 22px;
                padding: 11px 0 0 20px;
              }

              div.container{
                .main_search {
                  max-width: 200px;
                  margin: 10px 0 10px 10px;
                }
              }

              .navbar-collapse {
                width: 337px;
                margin: 0 auto;
                left: auto;
                right: 0;
                display: none;
              }
              .navbar-collapse.in {
                width: 337px;
                display: block !important;
              }
              .navbar-collapse.in .navbar-nav {
                width: 337px;
                margin: 0 auto;
                left: 0;
                right: 0;
              }
            }
          }
        }
    }
    @media screen and (max-width: 767px) {
      .dropdown-menu > li {
        display: block;
      }
    }
    @media screen and (min-width: 768px) {
      .navbar-collapse.collapse {
        display: none !important;
      }
    }
    @media screen and (max-width: 991px) {

      #menu.expanded {
        overflow-x: hidden;
      }
      h3.mobile_dropdown span.icon-leftArrow {
        //position: absolute;
        //right: 10px;
        //top: 40%;
      }
      #cookies-alert {
        background-color: #271782;
        color: #FFFFFF;
        top: 0;
        position: relative;
        z-index: 3;


      }
      .navbar > .container {
        position: relative;
      }
      #menu.expanded {
        height: auto !important;
      }

      .menus-container nav#menu .navbar#new_nav .utility_nav {
        height: 0;
        overflow:hidden;
      }

      section.pull-right {
        padding: 12px 27px;
        font-size: 18px;
        line-height: 20px;
      }
      .dropdown-menu .flyout_header,
      .dropdown-menu p,
      .dropdown-menu .icon-nav-arrow-right,
      #secondary_search,
      .flyout_sub_menu_header,
      #support_and_services {
        display: none;
        height: 0;
        padding: 0;
        margin: 0;
      }
      .navbar#new_nav .navbar-collapse,
      .navbar#new_nav .navbar-form {
        border: 1px solid #b6c1c2;
      }
      .navbar h2 {
        color: #263133;
        font-size: 18px;
        font-weight: 500;
        margin: 0;
      }
      .navbar h3 {
        color: #263133;
        font-size: 18px;
        border: none;
      }
      .navbar h4 {
        color: #263133;
        font-size: 18px;
      }
      .navbar h5 {
        color: #263133;
        font-size: 18px;
      }
      .navbar-toggle {
        display: block;
      }
      .navbar-nav {
        width: 320px;
        float: none !important;
        margin: 0;
        padding: 20px;
        overflow-y: scroll;
        overflow-x: hidden;
      }
      .navbar-nav > li {
        float: none;
      }
      .navbar-nav > li > a {
        padding: 10px 0;
      }
      .navbar-header {
        float: none;
      }
      .navbar-left,
      .navbar-right {
        float: none !important;
      }
      .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
      }
      .navbar-collapse {
        opacity: 0;
        display: none;
        position: absolute;
        left: -100vw;
        background-color: #FFF;
        padding: 0 !important;
        border: none;
        transition: all 0.2s ease;
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
      }
      .navbar-collapse.collapsing {
        display: block !important;
        transition: all 0.2s ease;
      }
      .navbar-collapse.in {
        top: 62px;
        right: 0;
        left: auto;
        opacity: 1;
        display: block !important;
        overflow-x: hidden !important;
        overflow-y: scroll !important;
        max-height: 90vh;
        min-width: 320px;
        max-width: 425px;
        margin-left: auto;
        margin-right: auto;
        min-height: 400px;
      }
      #menu_item_community a,
      #menu_item_support_login a {
        color: #263133;
        font-size: 18px;
        font-weight: 500;
        display: block;
        padding: 10px 0;
      }
      #menu_item_lets_talk {
        background-color: #0078ef !important;
        color: #FFF;
        width: 100%;
        max-width: 320px;
        height: 50px;
        font-size: 16px;
        margin: 20px auto 0;
      }
      #menu_item_lets_talk a.lets-talk {
        padding-top: 15px;
        color: #FFF;
      }
      #menu_item_about .dropdown-menu {
        background: #FFF;
        height: auto;
        padding: 0;
        margin: 0;
        transition: all 0.2s ease;
      }
      #about_flyout_menu {
        text-align: left;
      }
      #about_flyout_menu ul.flyout_sub_menus {
        margin-left: -15px;
      }
      #menu_item_partners .dropdown-menu {
        background: #FFF;
        height: auto;
        padding: 0;
        margin: 0;
      }
      #partners_flyout_menu {
        text-align: left;
      }
      #partners_flyout_menu ul.flyout_sub_menus {
        margin-left: -15px;
      }
      #menu_item_events .dropdown-menu {
        background: #FFF;
        height: auto;
        padding: 0;
        margin: 0;
      }
      #events_flyout_menu {
        text-align: left;
      }
      #events_flyout_menu ul.flyout_sub_menus {
        margin-left: -15px;
      }
      .dropdown-toggle h2 span {
        float: right;
      }
      .dropdown .col_right .flyout-menu {
        height: 50vh;
        transition: all 0.2s ease;
      }
      .dropdown-menu {
        opacity: 0.1;
        transition: all 0.2s ease-in-out;
        top: 40px;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        border: none;
        box-shadow: none;
        height: 0;
        display: none;
      }
      .dropdown-menu > li {
        margin-bottom: 15px;
        padding-left: 0;
        padding-right: 0;
      }
      .dropdown-menu .col_right {
        background-color: #FFF;
        opacity: 0;
        height: 0;
        right: -50vw;
        display: none;
        transition: all 0.2s ease;
      }
      .dropdown.open {
        margin-bottom: 20px;
      }
      .dropdown.open .dropdown-menu {
        left: 0;
        display: block;
        visibility: visible;
        opacity: 1;
      }
      li.dropdown.open span.icon-downArrow {
        display: none;
      }
      li.dropdown.open span.icon-bar {
        color: #263133;
      }
      .dropdown.open .col_left.active h3 {
        color: #0078ef !important;
        font-weight: bold !important;
      }
      .dropdown.open .col_right.active {
        opacity: 1;
        height: auto;
        right: 0;
        display: block;
      }
      .dropdown.open .col_right.active .flyout-menu {
        opacity: 1;
        height: inherit;
      }
      .dropdown-menu .col_left,
      .dropdown-menu .col_right,
      .dropdown-menu .flyout-menu,
      .dropdown-menu .flyout-body .row > div {
        padding-left: 0;
      }
      .col_left > h4 {
        display: none;
      }
      .flyout_trigger h3 {
        color: #263133;
        font-size: 16px;
        font-weight: 300;
      }
      .flyout_sub_menus {
        padding-left: 15px;
      }
      .flyout_sub_menus li {
        padding-top: 12px;
      }
      #menu_item_support .container-fluid.no_hover {
        display: none;
      }

    }
    @media screen and (min-width: 992px) {
      .cookies-alert .container .button-white {
        margin:0;
      }
      nav#menu {
        position: static;
      }
      #new_nav {
        margin-bottom: 0;
      }
      .utility_nav {
        height: 40px;
        overflow: visible;
      }
      #menu .navbar .mf-container .navbar-header .pull-right .navbar-toggle {
        display: none;
      }
      .fixed .navbar#new_nav {
        top: 0;
      }
      .navbar-collapse {
        min-width: 580px;
        max-width: unset;
        width: 100%;
      }
      .menus-container nav#menu .navbar#new_nav .navbar-collapse.collapse {
        display: block !important;
        margin: 0;
        float: right;
        min-width: 580px;
        width:100vw;
        max-width: 615px;
      }
      .navbar-right {
        margin: 0;
      }
      .dropdown-menu .container_fluid .container {
        max-width: unset;
        padding: initial;
      }

      .dropdown-menu .flyout_header,
      .dropdown-menu p,
      .dropdown-menu .btn,
      .active .icon-nav-arrow-right,
      #secondary_search,
      .flyout_sub_menu_header {
        display: block;
      }
      #menu_item_products .flyout_footer {
        width: 100%;
        bottom: 20vh;
        //border-top: 1px solid #b6c1c2;
        //padding-top: 10px;
        margin-bottom:20px;
      }
      .navbar a:hover {
        text-decoration: none;
      }
      .navbar-nav > li {
        margin-right: 10px;
        border-bottom: 2px solid transparent;
        transition: all 0.2s ease;
      }
      .navbar-nav > li > a {
        padding: 26px 0 20px !important;
      }
      .navbar-nav > li:hover, .navbar-nav > li:active {
        border-bottom-color: #0078ef;
      }
      .navbar-nav > li.dropdown.open {
        position: static;
      }
      .navbar-nav > li.dropdown.open .dropdown-menu {
        width: 100%;
        text-align: left;
        left: 0;
        right: 0;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 0;
        border-radius: 0;
        border-width: 1px;
        border-left: none;
        border-right: none;
        overflow-y: scroll;
        overflow-x: hidden;
        opacity:1;
        height:80vh;
      }
      .dropdown-menu > li {
        display: block;
        //padding-top: 10px;
        line-height: 50px;
        vertical-align: middle;
      }
      .dropdown-menu > li.separator {
        min-height: unset;
      }
      .no_hover.separator hr {
        max-width: 90%;
        border-top: 1px solid #b6c1c2;
        margin: 0 0 0 10px;
      }
      li.secondary_search {
        height: 50px;
        margin-bottom: 20px;
        padding-top: 0;
      }
      li.secondary_search #menu-search > span {
        position: absolute;
        right: 10px;
        top: 18px;
      }
      li.secondary_search #menu-search input[type="text"] {
        width: 100%;
        height: 50px;
        background: transparent;
        border: none;
        text-align: left;
        float: left;
        margin-left: 10px;
        padding-left: 20px;
        font-size: 14px;
        border-bottom: 1px solid #b6c1c2;
      }
      li.secondary_search #menu-search button {
        border: none;
        background: transparent;
        border-bottom: 1px solid #b6c1c2;
        padding: 0;
        margin: 0;
        position: relative;
      }
      li.secondary_search #menu-search hr {
        border-top: 1px solid #b6c1c2;
        clear: both;
        max-width: 90%;
        position: absolute;
        top: 30px;
        display: block;
        width: 100vw;
        left: 10px;
      }
      li.secondary_search #menu-search #product_results {
        width: 100%;
        max-height: 40vh;
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: #ffffff;
        text-align: left;
        margin: 0 auto 0 10px;
        padding: 10px 20px;
        display: none;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
        box-shadow: 0 6px 12px rgba(0,0,0,0.175);
      }
      li.secondary_search #menu-search #product_results #loading_image {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      li.secondary_search #menu-search #product_results h2 a {
        font-size: 16px;
        font-weight: 300;
        line-height: normal;
        color: inherit;
        font-family: inherit;
        padding-left: 20px;
        padding-right: 20px;
      }
      li.secondary_search #menu-search #product_results h2 a:hover {
        background-color: #0078EF;
        color: #FFF;
      }
      li.secondary_search #menu-search-block {
        position: relative;
        width: 90%;
      }
      li.secondary_search #menu-search-block #menu-search {
        position: absolute;
        z-index: 9999;
        width: 90%;
      }
      input#productSearch:focus {
        outline: none;
        -webkit-box-shadow: 0 6px 12px #0078ef;
        box-shadow: 0 0 5px #0078ef;
      }
      #open_search {
        display: block;
        transition: all 0.2s ease;
      }
      #close_search {
        display: none;
        opacity: 0;
        transition: all 0.2s ease;
      }
      .navbar .dropdown .dropdown-toggle h2 {
        font-size: 15px;
        color: #5e6d78;
        font-weight: normal;
        margin: 0;
        padding:0;
      }
      .navbar h2 span.icon-downArrow {
        color: #5e6d78;
        font-weight: bolder;
        margin-top: 0;
        margin-left: 8px;
        font-size: 80%;
      }
      .navbar h3 {
        font-size: 18px;
        font-weight: 300;
        color: #263133;
        text-decoration: none;
      }
      .navbar h4 {
        font-size: 30px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        display: inline-block;
        font-weight: 300;
        border-bottom: 1px solid transparent;
        transition: all 0.2s ease;
      }
      #partners_flyout_menu h4, #events_flyout_menu h4, #about_flyout_menu h4 {
        margin-top: 40px;
      }
      .navbar h4:not(#odd_title):hover {
        border-bottom: 1px solid #0078ef;
      }
      .navbar h5 {
        font-size: 14px;
        font-weight: 500;
        padding-bottom: 10px;
        color: #1f2781;

      }
      .col_left {
        padding: 0;
      }
      .col_left a {
        padding: 10px;
        display: block;
        transition: all 0.2s ease;
      }
      .col_left h3 {
        text-align: left;
        border: none;
      }
      .col_left a span {
        display: none;
        font-weight: bolder;
        color: #FFF;
      }
      .col_left:hover a {
        background-color: #E8EAE9;
        text-decoration: none !important;
      }
      .col_left.active a {
        background-color: #0078ef;
        text-decoration: none !important;
      }
      #secondary_search .col_left.active a,
      #secondary_search .col_left:hover a {
        background-color: #FFF;
        text-decoration: none !important;
      }
      .col_left:hover h3 {

      }
      .col_left.active h3{
        font-size: 18px;
        font-weight: 500;
        color: #FFF;
        margin: 0;
        position: relative;
      }
      .col_left input[type="text"] {
        width: 90%;
        background: transparent;
        border: none;
        border-bottom: 1px solid #b6c1c2;
        text-align: left;
        float: left;
        margin-left: 10px;
      }
      .col_left button {
        border: none;
        background: transparent;
        border-bottom: 1px solid #b6c1c2;
        padding: 0;
        margin: 0;
        position: relative;
      }
      #enterprise_devops .col_left span,
      #a_z_product_list .col_left span,
      #industries .col_left span {
        position: unset;
        display: inline !important;
        color: #2c3639;
      }

      #enterprise_devops .col_left.active a,
      #enterprise_devops .col_left:hover a,
      #a_z_product_list .col_left.active a,
      #a_z_product_list .col_left:hover a,
      #industries .col_left.active a,
      #industries .col_left:hover a {
        background-color: transparent;
        color: #0078ef;
      }

      #enterprise_devops .col_left.active a span,
      #enterprise_devops .col_left:hover a span,
      #a_z_product_list .col_left.active a span,
      #a_z_product_list .col_left:hover a span,
      #industries .col_left.active a span,
      #industries .col_left:hover a span {
        color: #0078ef;
      }

      #enterprise_devops .col_left.active h3,
      #enterprise_devops .col_left:hover h3,
      #a_z_product_list .col_left.active h3,
      #a_z_product_list .col_left:hover h3,
      #industries .col_left.active h3,
      #industries .col_left:hover h3 {
        font-size: 18px;
        font-weight: 500;
        color: #0078ef;
      }

      .col_right {
        display: none;
        background-color: #FFF;
      }

      .dropdown .col_right .flyout-menu {
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        padding: 0 30px;
        text-align: left;
        background-color: #ffffff;
        z-index: 9990;
        max-width:66.66666667%; // match bootstrap width for col-md-8

        > li {
          margin-top:40px;
        }
      }
      .dropdown .col_right.active .flyout-menu {


      }
      .dropdown .col_right .flyout-menu > * {
        opacity:0;
        transition: all 0.2s ease;
      }
      .dropdown .col_right.active .flyout-menu > * {
        opacity:1;
      }
      .navbar-nav li:not(#menu_item_products) .col_right .flyout-menu li {
        max-width: 780px;
      }
      .col_left:hover ~ .col_right, .col_right:hover {

      }
      .col_left.active ~ .col_right {
        display: block;
        background-color: #FFF;
        padding: 0;
      }
      #menu_item_support .col_right .flyout-menu {
        min-height: 348px;
      }
      #menu_item_support .col_left {
        text-align: left;
      }
      #menu_item_support .col_left h4 span {
        font-weight: bold;
        font-size: 50%;
      }
      #menu_item_support .flyout_header h4 {
        font-size: 30px;
        color: #0078ef;
        padding-bottom: 10px;
        border-bottom: none;
        margin-bottom: 0;
        display: block;
        float: left;
        clear: both;
        border-bottom: 1px solid transparent;
      }
      #menu_item_about .dropdown-menu, #menu_item_partners .dropdown-menu, #menu_item_events .dropdown-menu {
        background: #FFF;
        height: auto;
        padding: 0;
        margin: 0;
      }
      #about_flyout_menu, #partners_flyout_menu, #events_flyout_menu {
        text-align: left;
      }
      #partners_flyout_menu .flyout_sub_menu_header, #events_flyout_menu .flyout_sub_menu_header {
        display: none;
      }
      a.flyout_trigger h3 {
        padding-right: 18px;
      }
      a.flyout_trigger h3 .icon-nav-arrow-right {
        font-weight: 100;
      }
      a.flyout_trigger span {
        position: absolute;
        top: 0;
        right: 5px;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
      }
      .flyout_header {
        margin-bottom: 20px;
        display: block;
      }
      .flyout_header p {
        display: block;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.33;
        max-width: 75%;
        color: #5e6d78;
        margin: 0;
      }
      .flyout_header span {
        font-weight: bolder;
        text-shadow: 0 0 0 #0078F4, 0 0 0 #0078ef, 0 0 0 #0078ef, 0 0 0 #0078ef, 0 0 #0078ef, 2px 0 0 #0078ef, 1px 0 0 #0078ef, 0 0 0 #0078ef;
      }
      .flyout_body {
        margin-bottom: 20px;
      }
      .flyout_sub_menu_header p {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.43;
        color: #5e6d78;
        padding-bottom: 5px;
        font-style: italic;
      }
      .complex_menu .flyout_footer ul.flyout_sub_menus {
        margin-bottom: 0;
      }
      .complex_menu ul.flyout_sub_menus {
        margin: 0 0 40px 0;
      }
      ul.flyout_sub_menus {
        margin: 0;
        padding-left: 0;
      }
      .flyout_footer ul.flyout_sub_menus li {
        margin-bottom: 0;
      }
      ul.flyout_sub_menus li {
        line-height: initial;
        margin-bottom: 8px;
      }
      ul.flyout_sub_menus li a:not(.btn) {
        font-size: 16px;
        color: #2c3639;
        position: relative;
        display: block;
        transition: all 0.2s ease;
      }
      ul.flyout_sub_menus li a:not(.btn) span {
        display: inline;
        width: 8px;
        color: #2c3639;
        font-size: 50%;
        font-weight: bold;
        padding-left: 5px;
        transition: all 0.2s ease;
      }
      ul.flyout_sub_menus li a:not(.btn) span.icon-offSite {
        font-size: 90%;
        transition: all 0.2s ease;
      }
      #menu_item_products .flyout_footer ul.flyout_sub_menus li a:not(.btn),
      #menu_item_products .flyout_footer ul.flyout_sub_menus li a:not(.btn) span {
        color: #0078EF;
        transition: all 0.2s ease;
      }
      #menu_item_products .flyout_footer ul.flyout_sub_menus li a:not(.btn):hover,
      #menu_item_products .flyout_footer ul.flyout_sub_menus li a:not(.btn):hover span {
        font-weight: bold;
      }
      ul.flyout_sub_menus li:not(.flyout_sub_menu_header):hover *:not(.btn):not(span) {
        color: #0078F4;
        cursor: pointer;
      }
      ul.flyout_sub_menus li:hover a:not(.btn) span {
        color: #0078F4;
      }
      #menu .btn {
        width: 170px;
        min-height: 50px;
        padding: 10px 5px;
        white-space:normal;
        border: 1px solid transparent;
        text-align: center;
      }
      #menu .btn span.icon-leftArrow {
        font-size: 50%;
        font-weight: bold;
      }
      #menu .btn-lightblue {
        border-radius: 0;
        background-color: #00baff;
        color: #FFF;
        font-size: 16px;
        font-weight: 300;
        border: 1px solid #00baff;
      }
      #menu .btn-lightblue:hover {
        color: #00baff;
        background: transparent;
        border: 1px solid #00baff;
      }
      #menu .btn-lightpurple {
        border-radius: 0;
        background-color: #8457b6;
        color: #FFF;
        font-size: 16px;
        font-weight: 300;
        border: 1px solid #8457b6;
      }
      #menu .btn-lightpurple:hover {
        color: #8457b6;
        background: transparent;
        border: 1px solid #8457b6;
      }
      #menu .btn-navy {
        border-radius: 0;
        background-color: #271782;
        color: #FFF;
        font-size: 16px;
        font-weight: 300;
        border: 1px solid #271782;
      }
      #menu .btn-navy:hover {
        color: #271782;
        background: transparent;
        border: 1px solid #271782;
      }
      #menu .btn-darkpurple {
        border-radius: 0;
        background-color: #56176c;
        color: #FFF;
        font-size: 16px;
        font-weight: 300;
        border: 1px solid #56176c;
        width: 200px;
        height:50px;
      }
      #menu .btn-darkpurple:hover {
        color: #56176c;
        background: transparent;
        border: 1px solid #56176c;
      }
      #menu a.btn.btn-primary.btn-navy {
        width: 200px;
      }
      .menu_close_container {
        height: 50px;
        width: 100vw;
      }
      .menu_close {
        cursor: pointer;
        margin: auto;
        font-size: 25px;
        display: block;
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        transition: all 0.2s ease;
      }
      .complex_menu .menu_close_container {
        position: absolute;
        margin-bottom: 20px;
      }
      .complex_menu .menu_close {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9999;
        width: 100px;
      }
      .complex_menu#menu_item_products .menu_close {
        top: unset;
        bottom: unset;
      }
      .menu_close:hover {
        color: #0078ef;
        font-weight: bold;
        text-shadow: 0 0 0 #0078ef, 0 0 0 #0078ef, 0 0 0 #0078ef, 0 0 0 #0078ef, 0 0 0 #0078ef, 0 0 0 #0078ef, 0 0 0 #0078ef, 0 0 0 #0078ef;
      }
      .dropdown .dropdown-menu {
        background: #f5f5f5;
        background: -moz-linear-gradient(left,#f5f5f5 0%,#f5f5f5 36.5%,#ffffff 37%,#ffffff 100%);
        background: -webkit-linear-gradient(left,#f5f5f5 0%,#f5f5f5 36.5%,#ffffff 37%,#ffffff 100%);
        background: linear-gradient(to right,#f5f5f5 0%,#f5f5f5 36.5%,#ffffff 37%,#ffffff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5',endColorstr='#ffffff',GradientType=1);
        background-color: #f5f5f5;
      }
    }
    @media screen and (min-width: 1199px) {
      .menus-container nav#menu .navbar#new_nav .navbar-collapse.collapse {
        max-width: 715px;
      }
      .navbar-nav > li {
        margin-right: 20px;
      }
      .dropdown .dropdown-menu {
        background: -moz-linear-gradient(left,#f5f5f5 0%,#f5f5f5 35%,#ffffff 35.5%,#ffffff 100%);
        background: -webkit-linear-gradient(left,#f5f5f5 0%,#f5f5f5 35%,#ffffff 35.5%,#ffffff 100%);
        background: linear-gradient(to right,#f5f5f5 0%,#f5f5f5 35%,#ffffff 35.5%,#ffffff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5',endColorstr='#ffffff',GradientType=1);
      }
    }
    @media screen and (min-width: 1280px) {
      .menus-container nav#menu .navbar#new_nav .navbar-collapse.collapse {
        max-width: 815px;
      }
      .navbar-nav > li {
        margin-right: 25px;
      }
      .dropdown .dropdown-menu {
        background: -moz-linear-gradient(left,#f5f5f5 0%,#f5f5f5 36%,#ffffff 36.5%,#ffffff 100%);
        background: -webkit-linear-gradient(left,#f5f5f5 0%,#f5f5f5 36%,#ffffff 36.5%,#ffffff 100%);
        background: linear-gradient(to right,#f5f5f5 0%,#f5f5f5 36%,#ffffff 36.5%,#ffffff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5',endColorstr='#ffffff',GradientType=1);
      }
    }
    @media screen and (min-width: 1400px) {
      .menus-container nav#menu .navbar#new_nav .navbar-collapse.collapse {
        //max-width: 815px;
      }
      .navbar-nav > li {
        margin-right: 30px;
      }
      .dropdown .dropdown-menu {
        background: -moz-linear-gradient(left,#f5f5f5 0%,#f5f5f5 42.5%,#ffffff 43%,#ffffff 100%);
        background: -webkit-linear-gradient(left,#f5f5f5 0%,#f5f5f5 42.5%,#ffffff 43%,#ffffff 100%);
        background: linear-gradient(to right,#f5f5f5 0%,#f5f5f5 42.5%,#ffffff 43%,#ffffff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5',endColorstr='#ffffff',GradientType=1);
      }
    }
  }/* END : header.meganav */

}/* END :  html body */

//////////////////////////////////////////////////////////////// LESS
