/*Blue Capstitle Option*/
.capstitle-module {
	margin-bottom: 30px;
	color: @gray;
	font-size: @font-tiny;
	padding-left: 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

/*Default Section Spacing*/
.module-spacing {
	padding: 50px 0 50px 0;
}
/*Custom Button*/
.input-clear-blue {
	width: 100%;
	height: 41px;
	padding: 0 30px 0 30px;
	font-size: @font-tiny;
	color: @white;
	background-color: transparent;
	border: 1px @white solid;
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  		color: @white;
  		opacity: 1 !important;
	}
	&::-moz-placeholder { /* Firefox 19+ */
		color: @white;
		opacity: 1 !important;
	}
	&:-ms-input-placeholder { /* IE 10+ */
		color: @white;
		opacity: 1 !important;
	}
	&:-moz-placeholder { /* Firefox 18- */
		color: @white;
		opacity: 1 !important;
	}
}
button.input-clear-blue:hover,
a.input-clear-blue:hover,
input.input-clear-blue[type="button"]:hover {
	background-color: @white;
	border:1px solid @white;
	color: @blue-light;
	text-decoration:none;
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: @blue-light;
		opacity: 1 !important;
	}
	&::-moz-placeholder { /* Firefox 19+ */
		color: @blue-light;
		opacity: 1 !important;
	}
	&:-ms-input-placeholder { /* IE 10+ */
		color: @blue-light;
		opacity: 1 !important;
	}
	&:-moz-placeholder { /* Firefox 18- */
		color: @blue-light;
		opacity: 1 !important;
	}
}
select.input-clear-blue {
	width:100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background:#3D515C url(/assets/images/Products/darr.png) 90% 16px no-repeat;
}
select.input-clear-blue::-ms-expand { /* for IE 11 */
	display: none;
}
select.input-clear-blue:-moz-focusring {
    color:transparent;
    text-shadow: 0 0 0 #29ceff;
}

/*updates signup forms error messages*/
select.input-clear-blue.error,
input.input-clear-blue.error {
	border:1px solid #dc233f;
}
span.error-message {
	color:#dc233f;
	display:block;
	font-size:13px;
	padding:10px 0 0 15px;
}

/*Offset Background Option*/
.offset-background {
	background-color: @gray-white;
}


/* Breadcrumbs*/
.breadcrumbs {
	.crumbs {
		padding: 23px 0 0px;
		font-size: @font-semitiny;
		font-weight: @weight-bold;
		color: @white;

		@media  (max-width: @screen-sm) {
	      padding-top:58px;
	    }
	    a {
	      color: @white;
	    }
		a:hover {
			color: @white;
			text-decoration:none;
		}
		a:after {
			content:'\203a';
			padding:0px 4px 0px 6px;
		}
	}
}

.breadcrumbs-grey {
	.crumbs {
		box-shadow: none;
		padding: 23px 0 0px;
		font-size: @font-semitiny;
		font-weight: @weight-bold;
		color: @grey;

		@media  (max-width: @screen-sm) {
	      padding-top:58px;
	    }
	    a {
	      color: @white;
	    }
		a:hover {
			color: @white;
			text-decoration:none;
		}
		a:after {
			content:'\203a';
			padding:0px 4px 0px 6px;
		}
	}
}

.template-heading h1 {
   	height: 60px;
    font-size: @font-large;
    font-weight: @weight-norm;
    color: @dark;
    margin-bottom: 50px;
   }

/* Banner */
.banner-module {
	padding-bottom: 90px;
	min-height: 300px;
	background-image: url('/assets/images/Products/banner.png');
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	color: @white;
	margin-top: -40px;
	word-wrap: break-word;
	@media (max-width: 768px) {
		margin-top: 0;
	}
	.spacing-top {
		margin-top: 72px;
		@media (max-width: 768px) {
			margin-top: 0;
		}
		span {
			color:@white;
			margin-top: 15px;
		}
		h1 {
			margin-top: 5px;
			font-size: @font-norm;
			font-weight: 300;
			line-height: 1.25;
		}
		.image {
			margin-top: 12px;
			.video {
				.play {
					position: absolute;
		    		z-index: 0;
		    		height: 100%;
		    		width: 92%;
		    		background: url("/assets/images/Campaigns/play-btn.png") center center no-repeat;
		    		&:hover {
		    			position: absolute;
				    	z-index: 2;
				    	height: 100%;
				    	width: 92%;
				    	background: url("/assets/images/Campaigns/play-btn-hover.png") center center no-repeat;
		    		}
				}
				@media (max-width: 991px) and (min-width: 769px) {
					.play {
						position: absolute;
			    		z-index: 2;
			    		height: 100%;
			    		width: 62%;
			    		background: url("/assets/images/Campaigns/play-btn.png") center center no-repeat;
			    		&:hover {
			    			position: absolute;
					    	z-index: 2;
					    	height: 100%;
					    	width: 53%;
					    	background: url("/assets/images/Campaigns/play-btn-hover.png") center center no-repeat;
			    		}
					}
				}
	    	}
	    	@media (max-width: 768px) {
	    		max-width: 390px;
	    	}
		}
		.link {
			text-decoration: none;
			.spacing {
				margin-top: 35px;
				width: 220px;
				text-align: center;
				@media (max-width: 992px) {
					margin-bottom: 25px;
				}
			}
		}
		.title {
			margin-top: 15px;
			font-size: @font-large;
			line-height: 1.12;
		}
		.button {
			margin-top: 50px;
			padding-left: 0;
			@media (max-width: 992px) {
				margin-bottom: 26px;
			}
		}
		@media (max-width: 576px) {
			.title {
				font-size: @font-semilarge;
			}
			h1 {
				font-size: @font-seminorm;
			}
		}
		.banner-extra {
			.extra-title {
				font-size: @font-tiny;
				margin: 20px 0px;
			}
		}
	}
}

/* OVERVIEW */
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(180deg);}
}
@keyframes rotateReverse {
    from {transform: rotate(180deg);}
    to {transform: rotate(0deg);}
}

.overview-module {

	.content {
		font-size: @font-small;
		color: @gray;
		a	{
			color: @blue-primary;
			font-size: @font-small;
		}
		.spacing {
			margin-bottom: 23px;
		}
		.type {
			font-size: @font-tiny;
			color: @gray-mid;
			display: block;
			margin-bottom: 8px;
		}
		.title {
			font-size: @font-small;
			display: block;
			margin-bottom: 15px;
			color: @black;
		}
		.resource-image-module {
			padding:0px;
			.thumbnail-module {
				margin-bottom: 22px;
			}
		}
		.resource-content {
			word-wrap: break-word;
			margin-bottom: 55px;
		}
		.resource-icon {
			font-size:70px;
		}
		.unstyle-link {
			color: @black;
			.resource-link {
				color: @blue-primary;
			}
		}
		.unstyle-link:hover {
			text-decoration: none;
			.resource-link {
				color: @blue-primary;
				text-decoration: underline;
			}
		}
	}
	.bullets {
		font-size: @font-small;
		color: @gray;
		ul {
			li {
				padding-bottom: 12px;
			}
		}
		strong {
			color: @black;
		}
		@media (max-width: 992px) {
			margin-top: 10px;
		}
		img {
			margin: 0 auto;
			margin-bottom: 50px;
		}
		.overview-techspecs-link {
			margin-top: 30px;
			font-size: @font-tiny;
		}
	}
	.take-apeak {
		text-align: center;

		h4 {
			color: @purple;
			margin: 40px 0px;
		}
		.arrow-svg {
			width: 30px;
			height: 30px;
			margin: auto;
		}
		.take-apeak-action {
			cursor: pointer;
		}

		.rotate {
		    animation-name: rotate;
		    animation-duration: 0.7s;
		    transform: rotate(180deg);
		}
		.undoRotation {
		    animation-name: rotateReverse;
		    animation-duration: 0.7s;
		    transform: rotate(0deg);
		}
	}
	.take-apeak-content {
			padding-top: 50px;
			padding-bottom: 20px;
		/*display: none;*/
		/*margin: 50px 0px;*/
		font-size: @font-small;

		ul {
			li {
				padding-bottom: 15px;
			}
		}
		.comparison-chart-content {
			width: 205px;
			margin: auto;
			margin-bottom: 50px;

			a:hover img{
				background-color: rgba(192, 192, 192, 0.2);
				transition-duration: 0.3s;
			}
			img {
				float: left;
			}
			.comparison-chart-link {
				padding-left: 15px;
				font-size: @font-tiny;
			}
		}
	}
}


/* SYSTEM REQUIREMENTS */
.system-requirements-module {
	background-color: @gray-white;
	.top-spacing {
		margin-top: 60px;
		a {
			text-decoration: none;
		}
		.right-btn {
			text-align: left;
			@media (max-width: @screen-sm) {
			margin-top: 10px;
				text-align: center;
			}
		}
		.left-btn {
			text-align: right;
			@media (max-width: @screen-sm) {
				text-align: center;
			}
		}
	}
	.system-sub-content {
		font-size: @font-small;
		width: 540px;
		padding-left: 15px;
	}
	.system-req-containter {
		.title {
			line-height: 1;
		}
		.content {
			line-height: 1.7;
			color: @dark;
			font-size: @font-small;
			.title {
				margin-bottom: 20px;
				font-size: @font-seminorm;
				strong {
					font-weight: 500;
				}
			}
			.sys-marg-top {
				margin-top: 38px;
			}
			p {
				padding: 0;
			}
		}
		.no-margin {
			border-left: none;
			@media screen and (max-width: 767px) {
				margin-top: 0;
			}
			.continued {
				margin-top: 39px;
				@media (max-width: 767px) {
					margin-top: 0;
				}
			}
		}
		.spacing {
			.spacing-center {
				text-align: center;
			}
		}
	}
	.margin-top{
		margin-top: 35px;
	}
	.border-left {
		&:first-child {
			border-left: none;
			padding-left: 15px;
		}
		@media (max-width: 992px) {
			&:nth-child(4) {
				border-left: none;
				padding-left: 15px;
			}
		}
		@media (max-width: 768px) {
			border-left: none;
			padding-left: 15px;
		}
		min-height: 113px;
		margin-top: 35px;
		padding-left: 50px;
		border-left: solid 1px @gray-mid-light;
	}

	.button {
		margin: 0 auto;
		text-align: center;
		max-width: 270px;
		@media (max-width: 768px) {
			margin: 10px auto;
		}
	}

	.system-requirements-container {
		display:table;
		width:100%;
		table-layout:fixed;
		color: @gray;
		font-size: @font-small;
		.sys-req-row {
			display:table-row;
		}
		.system-req {
			display:table-cell;
			width:2%;
			border-left: solid 1px @gray-light;
			padding:0 20px;
			&:first-child {
				border-left:0;
			}
		}
		.title {
			color: @black;
			margin-bottom: 15px;
			strong {
				font-weight: 500;
			}
		}
		a {
			text-decoration: none;
		}
	}
	@media (max-width:992px) {
		.system-requirements-container {
			.system-req {
				display:block;
				width:50%;
				float:left;
				border-left:0;
				margin-bottom:30px;
				&:nth-child(2n) {
					border-left:1px solid @gray-light;
				}
				&:nth-child(2n+1) {
					clear:left;
					border-left:0;
				}
			}
		}
	}
	@media (max-width:767px) {
		.system-requirements-container {
			.system-req {
				display:block;
				width:100%;
				border-left:0;
				margin-bottom:30px;
			}
		}
	}

}

/* HIGHLIGHTS */

.highlights-module {
	.capstitle-module {
		margin-bottom: 63px;
	}
	.features {
		.spacing-border {
			margin-top: 60px;
			border-bottom: solid 1px @gray-mid-light;
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
        		border: none;
    		}
		}

	}
	.content {
		font-size: @font-small;
		margin-bottom: 60px;
		.title-large {
			font-size: @font-norm;
			display: block;
			margin-bottom: 15px;
			font-weight: @weight-norm;
		}
		p {
			color: @gray;
		}
		.link {
			margin-top:15px;
			font-size: @font-tiny;
		}
		ul {
			color: @gray;
			margin-bottom: 25px;
		}
	}

	.image-container {


		padding: 0 50px 50px 50px;
		img {
			margin: auto;
		}
		@media (max-width: 992px) {
			padding-bottom: 50px;;
			img {
				margin: auto;
				margin-top: 30px;

			}
		}
		.image-capstion {
			font-size:@font-semitiny;
			padding: 15px 25px 20px 25px;
			color: @gray-mid;

		}
		a img:hover {
			box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
		}
		a img {
			box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
		}
	}
	.center {
		text-align: center;
		.all-features {
			margin-top: 70px;
			font-size: @font-small;
		}
		.versions {
			margin-top: 17px;
			font-size: @font-small;
			a {
				font-size: @font-small;
			}
		}
		.button {
			padding: 15px 0;
			margin: 35px auto;
			max-width: 350px;
			font-size: @font-seminorm;
			@media (max-width: 768px) {
				margin: 25px auto;
			}
		}
		a {
			text-decoration: none;
			font-size: @font-tiny;
		}
	}
}
/* UPDATES */

.background_white {
	.updates-module {
		background-color: @white;
	}
}
.updates-module {

	padding: 83px 0 73px 0;
	background-color: @gray-white;
	color: @dark;
	.content {
		a {
			text-decoration: none;
		}
	}
	.title {
		font-size: @font-norm;
		@media (max-width: 992px) {
			text-align: center;
			margin-bottom: 30px;
		}
	}
	.subscribe {
		font-size: @font-tiny;
		text-align: center;
	}
	.country {
		font-size: @font-tiny;
	}
	.email {
		font-size: @font-tiny;
		@media (max-width: 992px) {
			margin: 10px auto;
			max-width: 300px;
		}
	}
	.input-clear-blue {
		color:@blue-primary;
		padding-left:20px;
		border-color:@blue-primary;
		background-color:transparent;

		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  		color: @blue-primary;
  		opacity: 1 !important;
		}
		&::-moz-placeholder { /* Firefox 19+ */
			color: @blue-primary;
			opacity: 1 !important;
		}
		&:-ms-input-placeholder { /* IE 10+ */
			color: @blue-primary;
			opacity: 1 !important;
		}
		&:-moz-placeholder { /* Firefox 18- */
			color: @blue-primary;
			opacity: 1 !important;
		}
	}
	#updatesCountry {
		border-radius:30px;
	}
	#updatesEmail {
		color:@blue-primary;
	}
	.button {
		@media (max-width: 992px) {
			display: block;
			margin: 10px auto;
			max-width: 300px;
		}
	}
}

/* Quote */

.quote-module {
	background-color: @blue-primary;
	background-image: url('/assets/images/Products/quote.png');
	background-repeat: no-repeat;
	background-size: cover;
	color: @white;
	text-align: center;
	padding-top: 90px;
	word-wrap: break-word;
	.quote {
		font-size: @font-norm;
	}
	.spacing {
		margin: 35px 0 25px 0;
		font-size: @font-semismall;
		padding: 0 15px;
	}
	.link {
		font-size: @font-semismall;
		a {
			color: @blue-light;
		}
	}
}

/* Customer Stories */

.customer-stories-module {
	background-repeat: no-repeat;
	background-size: cover;
	color: @gray;
	.spacing {
		margin-bottom: 30px;
		img {
			max-height: 100%;
		}
	}
	.center {
		text-align: center;
		img {
			margin-top: 10px;
			margin: auto;
		}
	}
	.content-spacing {
		margin-top: 20px;
		text-align: center;
		font-size: @font-small;
	}
	p {
		margin-top: 25px;
		font-size: @font-tiny;
		padding-bottom: 5px;
		strong {
			color: @black;
		}
	}
	a {
		font-size: @font-tiny;
	}
}

/* Resources */
.resources-module {
	background-color: @dark;
	text-shadow: none;
	.capstitle-module {
		margin-bottom: 63px;
	}
	.type {
		font-size: @font-tiny;
		color: @gray-mid;
		display: block;
		margin-bottom: 8px;
	}
	.resource-image {
		box-shadow: none;
	}
	.title {
		font-size: @font-small;
		display: block;
		margin-bottom: 15px;
		color: @white;
	}

	.resource-image-module {
		margin-top: 6px;
		.thumbnail-module {
			margin-bottom: 30px;
		}
	}
	.link-spacing {
		margin-top: 55px;
		text-align:center;
		a {
			font-size: @font-small;
			color: @blue;
		}
	}
	a {
		font-size: @font-tiny;
		color: @blue;
	}
	.resource-icon {
		color:@white;
		font-size:70px;
	}
	.unstyle-link {
		.resource-link {
			color: @blue;
		}
	}
	.unstyle-link:hover {
		text-decoration: none;
		.resource-link {
			color: @blue;
			text-decoration: underline;
		}
	}
}
.white-resources-module {
	background-color: @white;

	.resource-content .title strong {
		color: @dark-primary;
	}
	.resource-image-module .resource-image {
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
	}
}
.lightGray-resources-module {
	background-color: @gray-light;

	.resource-content .title strong {
		color: @dark-primary;
	}
	.resource-image-module .resource-image {
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
	}
}


/* Awards */
.awards-module {
	.spacing {
		margin-bottom:40px;
		img {
			@media (max-width: @screen-sm) {
				margin: auto;
			}
		}
	}
	div{
		div{
			font-size: 14px;
			line-height: 1.64;
		}
	}

}


/* Downloads */

.downloads-module-spacing {
	padding: 70px 0 70px 0;
}
.downloads-module {
	background-image: url('/assets/images/Products/downloads.png');
	font-size: @font-tiny;
	color: @white;
	background-color: @blue-dark;
	.button {
		@media (max-width: 992px) {
			margin-bottom: 20px;
			max-width: 300px;
		}
		@media (max-width: 768px) {
			margin: 0 auto;
			margin-bottom: 20px;
			max-width: 300px;
		}
	}
	.title {
		font-size: @font-large;
		margin-bottom: 10px;
	}
	.content {
		font-size: @font-seminorm;
		margin-bottom: 40px;
	}
	.continue {
		display: block;
		text-align: center;
		width:100%;
		max-width: 155px;
		max-height: 39px;
		line-height: 110%;
		@media (max-width: 768px) {
			margin: 0 auto;
		}
	}
	.more-info {
		text-align: center;
		margin-top: 60px;
	}
	.buy-link {
		text-align: center;
		margin-top: 10px;
		color: @blue;
		a {
			text-decoration: none;
			color: @blue;
			&:hover {
				color: @white;
			}
		}
	}
}


/*// Family Products   *************************/

.family-products-module {
	.list {
		margin-top: 40px;
		.first-divider {
			margin: 50px 15px 0 15px;
		  	height: 1px;
		  	width:100%;
		  	display:block; /* for use on default inline elements like span */
		 	overflow: hidden;
		  	background-color: @gray-mid-light;
		}
		.divider {
			margin: 30px 15px 0 15px;
		  	height: 1px;
		  	width:100%;
		  	display:block; /* for use on default inline elements like span */
		 	overflow: hidden;
		  	background-color: @gray-mid-light;
		}

		.title {
			font-weight: @weight-norm;
			font-size: @font-small;
			color: @dark-primary;
			margin-top: 35px;

			a:hover {
				color: @blue-primary;
			}
		}

		.description-paragraph {
			font-weight: @weight-norm;
			font-size: @font-tiny;
			color: @dark-primary;
		  	padding-bottom: 30px;
			padding-top: 35px;
		}

		.spacing {
			margin: 10px 0 25px 0;
		}

		.link {
			display: inline-block;
			color: @blue-primary;
			font-size: @font-tiny;
			margin-right: 44px;

			@media (max-width: 768px) {
				display: block;
			}

			a:hover {
				color: @blue-primary;
			}
		}
	}
}

/*Family Products GWAVA
*********************************************/

.family-products-gwava-module {
	.family-cradle-title {
		font-size: @font-norm;
		padding-top: 10px;
		padding-bottom: 65px;
	}
	.capstitle-module {
		padding-left: 15px;
		margin-bottom: 20px;
	}
	.family-container {

		.family-section {
			border-bottom: 1px solid @gray-mid-light;
			padding-top: 40px;
			padding-bottom: 30px;
			.family-cradle {
				margin-bottom: 0px;
			}
			&:last-child {
				border-bottom: none;
			}
		}

		.family-cradle {
			font-size: @font-small;
			margin-bottom: 60px;

			.titlesection {
				display: inline-block;
				margin-bottom: 10px;
				color: @black;

				span {
					font-size: @font-semihuge;
					margin-right: 20px;
					float: left;
				}
				img {
					float: left;
					margin-right: 20px;
				}
				h4 {
					float: left;
					margin-top: 15px;
					font-size: @font-small;
					a {
						color: @black;
					}
					a:hover {
						text-decoration: none;
					}
				}
			}
			.content {
				color: @gray;
			}
			.cradle-module-link {
				font-size: @font-tiny;
				color: @blue-primary;
			}
		}
		.family-page-images {
			margin-top: 20px;
			margin-bottom: 10px;
			span {
				font-size: @font-semihuge;
			}
			img {
				margin-right: 50px;
				margin-bottom: 20px;
				display: inline;
				max-width: 50px;
			}
			img:nth-child(3n+3) {
				margin-right: 0px;
			}
			img:nth-child(3n+4) {
				clear: both;
			}
		}
		@media (max-width: @screen-sm) {
			.family-cradle {
				margin-bottom: 20px;
			}
			.family-cradle-images .family-page-images img {
				margin-right: 50px;
			}
		}
		@media (max-width: 420px) {
			.family-cradle-images .family-page-images {
				img {
					margin-right: 40px;
				}
				@media (max-width: 358px) {
					img:nth-child(3n+3) {
						margin-right: 0px;
					}
				}
			}
		}
	}
}


/* Related Products */
.related-products-capstitle {
	margin-bottom: 25px;
	color: @blue-primary;
	font-size: @font-tiny;
	padding-left: 30px;
	text-transform:uppercase;
	letter-spacing: 1px;
	@media (max-width: 992px) {
		margin-bottom: 25px;
	}
}
.related-products-module {

	.icon-starTool_family, .icon-starTool_ioo, .icon-starTool_fdm, .icon-starTool_da, .icon-ssmOnDemand, .icon-supportManager, .icon-requestCenter, .icon-releaseControl, .icon-pvcs, .icon-mf_sbm, .icon-dimensions_rm, .icon-dimensions_cm, .icon-deploymentAutomation, .icon-changeMan_zmf, .icon-changeMan_ssm, .icon-comparex {
		font-size: @font-semihuge;
	}
	.icon-accessGov, .icon-accessManager, .icon-fileLogistics, .icon-accessReview, .icon-authenticFrame, .icon-aegis, .icon-appManager, .icon-changeGuard, .icon-cloudManager, .icon-cloudAccess, .icon-directoryAdmin, .icon-eDirectory, .icon-exAdmin, .icon-groupAdmin, .icon-idManager, .icon-idTrack, .icon-ldapProxy, .icon-operationsCenter, .icon-ps_forge, .icon-ps_migrate, .icon-ps_protect, .icon-ps_recon, .icon-ps_transform, .icon-privilegeAM, .icon-secureMngr, .icon-secureLogin, .icon-secure_iSeries, .icon-password_reset, .icon-sentinelEnt, .icon-sentinelLog, .icon-validator, .icon-vivinet_Assessor, .icon-vivinet_diagnos, .icon-fileReporter, .icon-windowsClient, .icon-linuxClient, .icon-groupwise, .icon-filr, .icon-serviceDesk, .icon-iFolder, .icon-NFS_gateway, .icon-vibe, .icon-messenger, .icon-iPrint, .icon-oes, .icon-clusterServices, .icon-dynamicFile, .icon-storageMngr, .icon-zenWorks, .icon-zen_appVirt, .icon-zen_Mgmt, .icon-zen_fullDisk, .icon-zen_Patch, .icon-zen_Endpoint, .icon-zen_Mobile, .icon-zen_config, .icon-zenWorks_suite, .icon-zen_virtual, .icon-totalEndpoint, .icon-openWorkgroup, .icon-businessContinuity, .icon-macClient, .icon-accuRev, .icon-accuSync, .icon-atlas, .icon-caliber, .icon-devPartner, .icon-gitCentric, .icon-mf_connect, .icon-qaLoad, .icon-silk_4J, .icon-silk_4net, .icon-silk_central, .icon-silk_mobile, .icon-silk_performer, .icon-silk_cloudBurst, .icon-silk_test, .icon-silk_testPartner, .icon-silk_webmeter, .icon-silk_testMngr, .icon-starTeam, .icon-starTeam_agile, .icon-together, .icon-acu_4gl, .icon-acu_bench, .icon-acucobol_gt, .icon-acu_connect, .icon-acu_server, .icon-acu_sql, .icon-acu_xdbc, .icon-analyst_client, .icon-artix, .icon-businessRule, .icon-caliberRDM, .icon-caliberRM, .icon-cobol_server, .icon-data_express, .icon-devPartner_vis, .icon-devPartner_java, .icon-developer_client, .icon-devPartner_pro, .icon-enterprise_analyzer, .icon-enterprise_developer, .icon-enterprise_server, .icon-enter_serverNet, .icon-enter_testServ, .icon-enterprise_view, .icon-instantSQL, .icon-mainframe_express, .icon-netExpress, .icon-serverExpress, .icon-databaseConnectors, .icon-openFus_tao, .icon-openFus_jac, .icon-openFus_corba, .icon-openFus_java, .icon-openFus_ada, .icon-openFus_security, .icon-.icon-openFusion, .icon-orbacus, .icon-orbacus_freeSSL, .icon-orbacus_NET, .icon-orbacus_notify, .icon-orbix_enterprise, .icon-orbix_mainframe, .icon-relativity, .icon-rm_cobol, .icon-rm_infoExpress, .icon-server_enterprise, .icon-server_express, .icon-server_cobol, .icon-studio_enterprise, .icon-test_partner, .icon-viewNow, .icon-viewNow_Server, .icon-visiBroker, .icon-visual_cobol, .icon-visual_devHub, .icon-visual_eclipse, .icon-visual_Studio, .icon-wow_extensions, .icon-xcentrisity, .icon-xcentrisity_cobol, .icon-enterprise_suite, .icon-enterprise_sync, .icon-databridge, .icon-extra6530, .icon-extraExtreme, .icon-hostAccess, .icon-infoConnect_EE, .icon-airlines, .icon-airlines_NG, .icon-airlines_PTR, .icon-airlines_Pro, .icon-icDesktop_Pro, .icon-airlines_EE, .icon-icDesktop_EE, .icon-mgnSecurity, .icon-mgnSecurity_PKI, .icon-mgnSecurity_ID, .icon-reflectionDesk, .icon-reflectionDesk_stop, .icon-reflectionDesk_X, .icon-reflectionDesk_plus, .icon-reflectionDesk_Pro, .icon-reflectionDesk_HP, .icon-reflectionDesk_IBM, .icon-reflection_unix, .icon-reflection_windows, .icon-reflectionServ_unix, .icon-reflectionServ_windows, .icon-reflection_e, .icon-reflectionWeb_a, .icon-reflectionWeb_e, .icon-reflectionWeb_u, .icon-reflectionUO, .icon-reflectionAndroid, .icon-reflectionApple, .icon-reflectionSuite_X, .icon-reflection_X, .icon-reflection_zfe, .icon-rumba, .icon-openMessage, .icon-veraBridge, .icon-veraHost, .icon-veraProcess, .icon-veraSDK, .icon-veraTerminal, .icon-mgnSecurity_Sec, .icon-verastream, .icon-reflectionSecureIT, .icon-reflection, .icon-infoConnect, .icon-fileMgmt_suite, .icon-gwavaSecure, .icon-gwavaRetain, .icon-acuToWeb, .icon-averasys, .icon-averasysCloud, .icon-groupwiseEnterprise, .icon-redline, .icon-reload, .icon-reloadCloud, .icon-reloadRetain, .icon-retainCloud, .icon-retainEmail, .icon-retainMobile, .icon-retainSocial, .icon-retainUnifiedArchiving, .icon-vertigo, .icon-reveal {
		font-size: @font-semihuge;
	}
	.spacing {
		padding-bottom:30px;
		margin-top: 40px;
		@media (max-width: 992px) {
			margin-top: 40px;
		}
	}
	a {
		font-size: @font-tiny;
		display: block;
		&:hover {
			color: @blue-primary;
		}
	}
	p {
		margin-top: 12px;
		font-size: @font-tiny;
		color: @gray;
	}
	.title {
		margin-top: 30px;
		display: block;
		font-size: @font-small;
		color: @black;
		font-weight: @weight-heavy;
		a {
			color: @blue-primary;
			font-size: @font-small;
			&:hover {
				color: @blue-primary;
			}
		}
	}
}


/* Pre Footer */
.pre-footer-module {
	background-color: @dark;
	color: @white;
	padding-top: 20px;
	padding-bottom: 50px;
	.module-spacing {
		max-width:1170px;
		margin:0 auto;
	}
	.spacing {
		height: 100%;
		@media (max-width: 992px) {
				&:first-child {
					.links {
						margin-bottom: 40px;
					}
				}
			}
	}
	.title {
		font-size: @font-norm;
		margin-bottom: 8px;
		margin-top: 15px;
		@media (max-width: 992px) {
			margin-top: 20px;
		}
	}
	.links {
		a {
			line-height: 33px;
			display:block;
			color: @blue-light;
			font-size: @font-tiny;
		}
	}
}


/* System Requirements Overview */
.system-requirements-overview-module {
	h1 {
		font-size: @font-large;
		font-weight: @weight-norm;
	}
	.content {
		color: @gray;
		.section {
			margin-top: 55px;
			padding-bottom: 25px;
			border-bottom: solid 1px @gray-light;
			&:last-child {
				border-bottom: none;
			}
			.section-title {
				font-weight: @weight-bold;
				font-size: @font-seminorm;
			}
			.program {
				font-size: @font-norm;
				color: @dark-primary;
				@media (max-width: 992px) {
					margin-bottom: 20px;
				}
			}
			.section-full2 {
				padding-bottom: 30px;
			}
			.bullets {
				font-size: @font-small;
				ul {
					margin-bottom: 30px;
				}
			}
			.bullets-spacing {
				font-size: @font-small;
				ul {
					margin-bottom: 30px;
				}
			}
		}
	}
}


/* Product Integration */
.product-integration-module {
	color: @gray;
	.sizing {
		margin-bottom: 90px;
		@media (max-width: 992px) {
			&:last-child {
				margin-top: 35px;
				margin-bottom: 0;
			}
		}
		@media (max-width: 767px) {
			margin-top: 35px;
			&:first-child {
				margin-top: 0;
			}
		}

		.title {
			margin-top: 26px;
			font-size: @font-small;
			margin-bottom: 20px;
			font-weight: @weight-heavy;
			color: @dark;
		}
		.content {
			font-size: @font-tiny;
		}
		.link {
			font-size: @font-tiny;
		}
	}

}


/* Related Apps */
.related-apps-module {
	padding-bottom: 90px;
	color: @gray-mid;
	.image {
		border-bottom: solid 1px @gray-mid-light;
		margin-top:20px;
		img {
			margin-bottom: 11px;
		}
	}
	strong {
		display: block;
		font-weight: @weight-heavy;
		font-size: @font-small;
		margin-top: 18px;
		color: @dark;
		margin-bottom: 15px;
	}
	p {
		font-size: @font-tiny;
	}
	a {
		font-size: @font-tiny;
		margin-right: 20px;
	}

}


/* More Info */
.more-info-spacing {
	padding: 50px 0 50px 0;
}
.more-info-module {
	color: @blue-primary;
	font-size: @font-norm;
	border-top: solid 2px @gray-light;
	.side-arrow {
		background:transparent url('@{image-url}Products/sideArrow.png');
		&:hover {
			background-image: url('@{image-url}Products/sideArrow-rollover.png');
		}
	}
	.white-side-arrow {
		background:transparent url('@{image-url}Products/whiteArrow.png');
		&:hover {
			background-image: url('@{image-url}Products/whiteArrow.png');
		}
	}
}
.more-info-module:hover {
	background-color: @gray-light;
}


/* Title Banner */
.hide-breadcrumbs {
	.crumbs {
		display:none;
	}
}
#title-banner {
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	color:@white;
	font-size:@font-norm;
	font-weight:@weight-norm;

	h1 {
		font-size:@size-large;
		padding-bottom:30px;
		font-weight:@weight-norm;
	}
}

/* Second Title */
.second-title {
	color:@blue-primary;
	font-weight:@weight-heavy;
	text-align:center;
	background-color:@gray-white;

	.titler {
		font-size:@font-norm;
		padding-bottom:50px;
		font-weight:@weight-norm;
	}
	.icon-downArrow {
		color:@white;
		background-color:@blue-primary;
		border-radius:50px;
		padding:10px;
		margin-top:50px;
		display:inline-block;
	}
}

/* Benefits Section */
.benefits {
	font-size:@font-small;

	.benefits-title {
		font-size:@font-norm;
		padding-bottom:20px;
	}
	.col-sm-6 {
		padding-bottom:40px;
	}
	.box {
		padding-bottom:30px;
	}
	.capstitle {
		color:@blue-primary;
	}
}

/* Customer Quotes Section */
.customers-quotes {
	background-color:@gray-white;
	font-size:@font-small;
	color:@dark-primary;

	.company {
			border-bottom:1px solid @gray-mid-light;
			padding-bottom:10px;
			margin-bottom:20px;

			img {
				padding-bottom:30px;
			}
	}
	.col-sm-6 {
		font-size:@font-norm;
	}
	.col-sm-4 {
		padding-bottom:20px;
	}
	.quote-area {
		padding-bottom:70px;
		border-bottom:1px solid @gray-mid-light;
		margin-bottom:70px;
	}
	.quote-area:last-child {
		border-bottom:none;
		padding-bottom:40px;
		margin-bottom:0px;
	}
	.capstitle {
		text-transform:none;
		font-size:@font-large;
		font-weight:@weight-norm;
		color:@dark-primary;
		padding: 0px 0px 60px 0px;
	}
}

/* Tier 3 Section */
.tier-4-module {
	margin-bottom: 90px;
	color: @gray;
	.title {
		h1 {
			margin-top: 15px;
			font-size: @font-semilarge;
			font-weight: @weight-norm;
			color: @dark;
		}
	}

	.subtitle {
		margin-top: 20px;
		font-size: @font-norm;
		font-weight: @weight-norm;
		word-wrap: break-word;
	}
	.fullPage {
		.fullPage-title {
			margin-top: 25px;
			font-size: @font-norm;
			font-weight: @weight-norm;
			word-wrap: break-word;
		}
		.fullPage-subtitle {
			font-size: @font-seminorm;
			font-weight: @weight-bold;
			margin-top: 20px;
			word-wrap: break-word;
		}
		.fullPage-content {
			font-size: @font-small;
			margin-top: 10px;
			ul {
				margin-bottom: 30px;
			}
		}
	}
	ul {
		margin-bottom: 30px;
	}
	.content {
		margin-top: 50px;
		margin-bottom: 40px;
		font-size: @font-seminorm;
	}
	.item-spacing {
		padding-right: 40px;
	}
	.item-title {
		margin-top: 40px;
		font-size: @font-tiny;
		font-weight: @weight-heavy;
	}
	.item-content {
		margin-top:	13px;
		font-size: @font-tiny;
	}
	img {
		margin-top: 20px;
		padding-right: 40px;
		padding-bottom: 10px;
	}
	.image-caption {
		font-size: @font-tiny;
		padding-bottom: 40px;
	}
	.table-spacing {
		margin-top: 40px;
		p {
			margin-top:	13px;
			font-size: @font-tiny;
		}
	}

	.content-block{
		margin-top:50px;
	}

	.tier4-modal-image {
		.modal-dialog {
			width: 1200px;
			@media (max-width: 1280px){
				width: 90%;
				.modal-body {
					padding: 15px;
				}
			}
			@media (max-width: 750px){
				width: 100%;
			}
			.modal-body {
				.close {
					margin: 10px;
				}
				.tier-modal-image {
					padding: 0px;
					margin: 0px;
				}
			}
		}
	}
}


/* Data Sheet Section*/
.data-sheets-module {
	#resources-main {
		.type-heading h4 {
			margin-bottom: 63px;
		}
		.link-spacing {
			text-align:center;
			a {
				color: @blue-primary;
			}
		}
	}
}

.data-sheets-module-dark {
	background-color: @dark;
	#resources-main {
		.type-heading h4 {
			margin-bottom: 63px;
			color: @gray;
		}
		.link-spacing {
			text-align:center;
			a {
				color: @blue-light;
			}
		}
		.bot-pad {
			span.details {
				span.title {
					color: @gray-mid-light;
				}
			}
			span.imgPreview {
				img.resource-image {
					box-shadow: none;
				}
			}
		}
	}
}


.accordion-inactive-button{
	display: none;
}

.module-spacing {
    .accordion {
		a.section-name {
		  text-decoration: none;
		}
		a.section-name:focus,
		a.section-name:active {
			outline:0;
		}
		.button-clear-blue-prim {
			color:white;
			border-color:white;
		}
		.button-clear-blue-prim:hover {
			background-color:#24c4fc;
			border-color:transparent;
		}
		.sub-links-wrapper{
		  height: 0px;
		  opacity: 0;
		  margin-top: 20px;
		}
		#title-section{
		  font-size:24px;
		  text-decoration: none;
		}
		#title-section:hover{
		  text-decoration: none;
		}
		#dropdown_comparison {
		  font-size: 14px;
		  top: 6px;
		  right: 70px;
		}
		.comparison-section{
		  display:flex;
		  justify-content:space-between;
		  text-decoration: none;
		  .button-clear-blue-prim {
		  	text-align: center;
		  }
		}
		.accordion-inactive-button {
			display: none;
		}
	}
}

/* How to Start Module
-------------------------------*/
.how-to-start-spacing {
	  height: 625px;
	  background-color: @gray-white;
}

.how-to-start-title{
	  width: 470px;
	  height: 48px;
	  font-family: aktiv-grotesk;
	  font-size: 24px;
	  font-style: normal;
	  font-stretch: normal;
	  text-align: left;
	  color: @violet;
	  margin-bottom: 26px;
}

.how-to-start-content{
	  width: 435px;
	  height: 264px;
	  font-family: aktiv-grotesk;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.5;
	  text-align: left;
	  color: @gray;
}
.td-darkness-related-products{
	background-color:@dark;
}

.container.how-to-start{
	padding-top: 70px;
}

.start-circle{
	  width: 75px;
	  height: 75px;
      border-radius: 100px;
      border: solid 1px @violet;
	  margin-bottom: 22px;
}

/* Trial Download Quote Module Updates
-------------------------------*/
.td-quote-bg div.quote-module{
	background-color: @violet;
	background-image: url(/assets/images/Trial-Download/td-quote.png);
}

/* Trial Download Related Products Updates
-------------------------------*/
.td-darkness-related-products div.capstitle-module{
	color: @gray-mid;
}

.td-darkness-related-products div.related-products-module .title a{
	color: @blue-light;
	font-family: aktiv-grotesk;
	font-size: 16px;
	font-weight: 500;
}

.td-darkness-related-products div.related-products-module p{
	color: @gray-light;
	font-family: aktiv-grotesk;
}

// Partners Module

.partners-module {
	.title {
		font-size: @font-large;
		color: @dark;
		margin-bottom: 15px;
		font-weight: @weight-norm;
	}
	.subtitle {
		font-size: @font-seminorm;
		color: @gray;
		margin-bottom: 90px;
	}
	.type {
		font-size: @font-tiny;
		color: @gray-mid;
		margin-bottom: 50px;
		text-transform:uppercase;
	}
	.partner-logo {
		margin-bottom: 45px;
		img {
			max-height: 50px;
		}
	}
	.partner-title {
		font-size: @font-small;
		font-weight: @weight-heavy;
		color: @gray;
	}
	.partner-description {
		font-size: @font-small;
		color: @gray;
		a {
			color: @blue-primary;
		}
	}
	.spacing {
		margin-bottom: 80px;
	}
	.partner-links {
		font-size: @font-small;
		color: @blue-primary;
		margin: 16px 0 20px 0;
		a {
			display: block;
		}
	}
}

/* Trial Downloads Community Help (more-info) Module
------------------------------------------------------*/

	.td-violet div.more-info-module{
		color: @gray-white;
	}

	.td-violet div.more-info-spacing{
		padding: 0;
	}

/* Trial Downloads Video Section Module
------------------------------------------------------*/
	.tdVideo div.video-title{
		max-width: 831px;
		font-weight: 500;
		line-height: 1.5;
		text-align: left;
		color: #6a7c87;
		margin-top: 50px;
	}
	.tdVideo div.video-content{
		max-width: 831px;
		font-size: 16px;
		line-height: 1.5;
		color: #6a7c87;
		margin-top: 12px;
	}



/*System Requiements Spcetale Module
---------------------------------------------------*/
.system-requirements-spectacle-module {
	h1 {
		font-size: @font-large;
		font-weight: @weight-norm;
	}
	h2 {
	margin-top: 10px;
		font-size: @font-norm;
		font-weight: @weight-norm;
	}
	.system-requiremnts-capstitle {
		margin-bottom: 140px;
	}
	.inpage-nav-section {
		.inpage-nav {
			padding-top: 35px;
			padding-bottom: 40px;
			border-top: solid 1px @gray-mid-light;
			border-bottom: solid 1px @gray-mid-light;
			margin-bottom: 50px;

			.subcontent-title {
				padding-bottom: 15px;
				font-weight: @weight-heavy;
			}
			.spacing {
				margin-bottom: 20px;
				display: inline-block;

				a {
					font-size: @font-small;
					padding-right:20px;
					margin-right:20px;
					border-right: solid 1px @dark-primary;
				}
			}
			.spacing:last-child a {
				border: none;
			}
			@media (max-width: 500px) {
				.spacing {
					display: block;
					a {
						border: none;
					}
				}
			}
		}
	}
	.content {
		.anchor {
			display: block;
			height: 40px;
			margin-top: -40px;
			visibility: hidden;
		}
		.section {
			margin-top: 55px;
			padding-bottom: 25px;
			border-bottom: solid 1px @gray-mid-light;
			&:last-child {
				border-bottom: none;
			}
			.section-title {
				font-size: @font-norm;
				margin-bottom: 20px;
			}
			.pink-line {
				height: 2px;
				background-color: @pink;
				margin-bottom: 40px;
			}
			.content {
				margin-bottom: 30px;
			}

			.subcontent-title {
				font-weight: @weight-heavy;
				margin-bottom: 20px;
			}
			.subcontnet-div {
				color: @gray;
				font-size: @font-small;
				margin-bottom: 30px;
				ul {
					margin-bottom: 30px;
					ul {
						margin-bottom: 0px;
					}
				}
				.col-sm-12 {
					padding: 0;
					padding-right: 25px;
				}
			}
			.section-content {
				ul {
					margin-bottom: 25px;
					ul {
						margin-bottom: 0px;
					}
				}
			}
		}
	}
}
.roi_calculator {
	.red {
		color: @red;
	}
	.bold {
		font-weight: @weight-heavy;
	}
	.disabled {
		background-color: @gray-mid-light;
	}
	margin-top: 82px;
	.content_wrap {
		font-size: @font-small;
		h1 {
			color: @blue-primary;
			font-weight: @weight-norm;
			margin-bottom: 67px;
			font-size: @font-large;
		}
		.link {
			font-size: @font-seminorm;
			margin-bottom: 106px;
			margin-top: 35px;
		}
		.subtitle {
			font-size: @font-norm;
			font-weight: @weight-heavy;
			margin-bottom: 25px;
		}
		.inner_page_nav {
			margin-bottom: 55px;
			line-height: 2;
			font-size: @font-small;
		}
		.formBox {
			padding: 18px 0 73px 0;
			margin-bottom: 35px;
			border-top: solid 6px @blue-primary;
			background-color: @gray-mid-light;
			.formBoxHead {
				color: @blue-primary;
				font-weight: @weight-heavy;
				margin-bottom: 45px;
				padding-left: 26px;
			}
			.formBoxBody {
				.formBoxSubHead {
					border-top: solid 1px @gray;
					margin: 0 0 39px 0;
					padding: 10px 78px 0 26px;
					.formBoxSubHeadText {
						display: inline-block;
					}
					.titleQuestionMark {
						float: right;
					}
				}
				.formBoxSubSubHead {
					float: right;
					margin-right: 111px;
					margin-bottom: 5px;
				}
				.itemWrapper {
					float:right;
					display:block;
					margin: 0 53px 15px 26px;
					.formBoxItemText {
						display: inline-block;
						margin-right: 30px;
						max-width: 340px;
						form {
							textarea {
								border-radius: 5px;
								border: solid 1px @gray;
								display: block;
								float: right;
								height: 90px;
								width: 573px;
								margin-right: -30px;
								margin-top: 10px;
								resize: none;
								padding: 12px 20px;
							}
						}
					}
					.formBoxItemValue {
						display: inline-block;
						margin-right: 9px;
						input {
							width: 282px;
							height: 35px;
							border-radius: 5px;
							border: solid 1px @gray;
							text-align: right;
							padding-right: 13px;
						}
					}
					.noQuestionMark {
						display: inline-block;
						margin-right: 19px;
					}
					.noPercentage {
						display: inline-block;
						margin-right: 22px;
					}
					.itemQuestionMark {
						display: inline-block;
						margin-left: 4px;
					}
				}
				.space {
					margin-top: 40px;
				}
				.shortLine {
					border-top: solid 1px @gray;
					width: 70%;
					float: right;
					margin: 0 111px 15px 0;

				}
				@media (max-width: 990px) {
					.itemWrapper {
						float: none;
						.formBoxItemText {
						    display: block;
						    margin-right: 30px;
						    max-width: 340px;
						    form {
						    	textarea {
						    		float: none;
						    		width:100%;
						    	}
						    }
						}
					}
					.formBoxSubSubHead {
						float: none;
						margin-left: 26px;
					}
					.shortLine {
						float: none;
					}
				}
				@media (max-width: 380px) {
					.itemWrapper .formBoxItemValue input {
						width: 150px;
					}
				}
			}
		}
		.content-spacing {
			margin: 0 0 54px 0;
		}
	}
	.button-blue-container {
		input {
			width: 148px;
			margin-right: 20px;
		}
		@media (max-width: 400px) {
			input {
				display: block;
				margin: 0px;
			}
		}
	}
}
/* Videos Inline Module */
.videos-inline-module {
	background-color: @white;
	text-shadow: none;


	.header {
		margin-bottom: 95px;
		font-size: 40px;
		font-weight: 300;
		color: @dark-primary;
		padding-left: 30px;
	}
	.title {
		font-size: @font-norm;
		display: block;
		color: @dark-primary;
		font-family: @font-family;
		margin-top: 20px;
	}

	.resource-image-module {
		transition-duration: .5s;
		.videos-inline-image {
			position: relative;
			display: inline-block;
			transition-duration: .5s;
			.resource-image {
				box-shadow: none;
				position: relative;
				display: block;
				transition-duration: .5s;
			}
		}
	}
	.resource-image-module:hover .videos-inline-image{
		background-color: #b3b3b3;
		transition-duration: .5s;
	}
	.resource-image-module:hover .resource-image{
		opacity: 0.8;
		transition-duration: .5s;
	}
	.length{
		margin-top: 6px;
		font-size: 16px;
		font-weight: 500;
		line-height: 1.38;
		color: @dark-primary;
		span p {
			padding: 0px;
		}
	}
	.resource-content {
		margin-bottom: 45px;
	}
	.link-spacing {
		margin-top: 10px;
		text-align:center;
		a {
			font-size: @font-small;
			color: @blue;
		}
	}
	a {
		font-size: @font-tiny;
		color: @blue;
	}
	.content {
		font-size: 14px;
		font-weight: 300;
		text-align: left;
		line-height: 1.43;
		color: @gray;
		margin-top: 22px;
		ul {
			margin-bottom: 20px;
		}
	}
	.link {
		margin-top: 20px;
		margin-bottom: 70px;
	}
	.overlay-icon {
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
}


/* Sub Product Burried Features Module */
.subproduct-buried-features {
	padding: 70px 0px;

	.ice-container {
		display: inline-flex;
		align-items: center;
		padding-bottom: 140px;
		h3 {
			padding-bottom: 20px;
			font-weight: @weight-norm;
		}
		.content {
			font-size: @font-small;
			ul {
				padding-bottom: 20px;
			}
		}
		.non-clickable {
			margin: auto;
		}
		.modalImage {
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
		}
		.modalImage:hover {
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
			cursor: pointer;
		}
		@media (max-width: @screen-sm) {
			display: block;
		}
	}
	.ice-container:last-child {
		padding-bottom: 10px;
	}
}

.subproduct-buried-features-grid {
	.container {
		padding-top: 70px;
		padding-bottom: 40px;
	}
	.section {
		padding-bottom: 70px;
		h3 {
			padding-bottom: 20px;
			font-weight: @weight-norm;
		}
		.content {
			font-size: @font-small;
			ul {
				padding-bottom: 20px;
			}
		}
	}
}


/* Sub Product Overview */
.sub-product-overview {
	padding-top: 80px;
	padding-bottom: 80px;

	.flexcontainer {
		display: inline-flex;
		align-items: center;
		.thumbnail-module span {
			font-size: @font-huge;
		}
		.resource-text {
			font-size: @font-tiny;
			color: @gray;
			div {
				padding-bottom: 10px;
			}
			.title {
				font-size: @font-small;
				color: @dark;
				font-weight: @weight-heavy;
			}
			.length {
				padding: 0px;
			}
			.resource-link {
				padding-top: 10px;
				color: @blue-primary;
			}
		}
		.unstyle-link:hover {
			.resource-link {
				text-decoration: underline;
			}
		}
		@media (max-width: @screen-sm) {
			display: block;
		}
	}
	.center {
		text-align: center;
	}
}



/* Blog Posts Module *****************/

.blog-posts-product-module {
	font-size: @font-tiny;

	.blog-posts-title {
		color: @gray;
		padding-top: 10px;
		padding-bottom: 60px;
		font-weight: @weight-norm;
	}
	.flexContainer {
		display: flex;
		align-items: stretch;
		flex-wrap: wrap;
		padding-bottom: 60px;

		.flexItem {
			position: relative;
			width: 360px;
			margin: 10px;
			@media (max-width: 1199px) {
				width: 290px;
			}
			@media (max-width: 991px) {
				width: 340px;
			}
			@media (max-width: 750px) {
				width: 100%;
			}
		}
		.flexItem:hover {
			text-decoration: none;
			.blog-post-section {
				background-color: @gray-mid-light;
			}
		}
		.blog-post-section {
			background-color: @gray-white;
			height: 100%;
			padding: 20px;

			.date_by-line {
				padding-bottom: 15px;
				color: @gray;
				.author {
					font-style: italic;
				}
				.by-line-pipe {
					padding: 0px 5px;
				}
			}
			.title {
				color: @blue-primary;
				font-size: @font-small;
				font-weight: @weight-heavy;
				padding-bottom: 20px;
			}
			.link {
				color: @blue-primary;
			}
		}
	}
	.all-blog-posts {
		font-size: @font-seminorm;
		text-align: center;
		font-weight: @weight-heavy;
	}
}



/* Unified Archiving Graphic Section
---------------------------------------------*/
.unified-archiving-graphic-module {
	background: #c7edf9;
	background: -moz-linear-gradient(left, #c7edf9 0%, #c7edf9 10%, #29ceff 70%, #2da5dd 95%, #2da5dd 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #c7edf9), color-stop(10%, #c7edf9), color-stop(70%, #29ceff), color-stop(95%, #2da5dd), color-stop(100%, #2da5dd));
	background: -webkit-linear-gradient(left, #c7edf9 0%, #c7edf9 10%, #29ceff 70%, #2da5dd 95%, #2da5dd 100%);
	background: -o-linear-gradient(left, #c7edf9 0%, #c7edf9 10%, #29ceff 70%, #2da5dd 95%, #2da5dd 100%);
	background: -ms-linear-gradient(left, #c7edf9 0%, #c7edf9 10%, #29ceff 70%, #2da5dd 95%, #2da5dd 100%);
	background: linear-gradient(to right, #c7edf9 0%, #c7edf9 10%, #29ceff 70%, #2da5dd 95%, #2da5dd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7edf9', endColorstr='#2da5dd', GradientType=1 );
	.container {
		background-image: url('/assets/images/Products/retain-unified-archiving/banner-unified-archiving.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		.title {
			padding-top: 325px;
			padding-bottom: 40px;
			color: @white;
			font-size: @font-norm;
			float: right;
		}
		@media (max-width: @screen-lg) {
			background-image: url('/assets/images/Products/retain-unified-archiving/banner-unified-archiving-tablet.png');
		}
		@media (max-width: @screen-md) {
			.title {
				padding-top: 240px;
				padding-bottom: 30px;
			}
		}
	}
	@media (max-width: @screen-sm) {
		background: #c7edf9;
		background: -moz-linear-gradient(top, #c7edf9 0%, #c7edf9 10%, #29ceff 70%, #2da5dd 95%, #2da5dd 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, #c7edf9), color-stop(10%, #c7edf9), color-stop(70%, #29ceff), color-stop(95%, #2da5dd), color-stop(100%, #2da5dd));
		background: -webkit-linear-gradient(top, #c7edf9 0%, #c7edf9 10%, #29ceff 70%, #2da5dd 95%, #2da5dd 100%);
		background: -o-linear-gradient(top, #c7edf9 0%, #c7edf9 10%, #29ceff 70%, #2da5dd 95%, #2da5dd 100%);
		background: -ms-linear-gradient(top, #c7edf9 0%, #c7edf9 10%, #29ceff 70%, #2da5dd 95%, #2da5dd 100%);
		background: linear-gradient(to bottom, #c7edf9 0%, #c7edf9 10%, #29ceff 70%, #2da5dd 95%, #2da5dd 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7edf9', endColorstr='#2da5dd', GradientType=0 );
		.container {
			background-image: none;
			padding: 0px;
			.mobile-image {
				width: 100%;
				margin: 0 auto;
			}
			.title {
				padding: 40px 20px;
				text-align: center;
				float: none;
			}
		}
	}
}



.three-col-module {
	padding: 100px 0px;
	.smaller-text {
		font-size: 14px;
	}
	.table-row .col-styled {
		border-left: solid 1px #01a9e7;
		margin: 20px auto;
		min-height: 158px;
		position: relative;
		h3 {
			font-size: 32px;
			color: #01a9e7;
			padding-bottom: 40px;
		}
		select {
			width: 100%;
			margin: 15px auto;
			vertical-align: bottom;
			max-width: 220px;
			position: absolute;
			bottom: 0px;
		}
	}
}

.mission-statement-module {
	.overview {
		padding: 85px 0px 74px 0px;
		text-align: center;
		.title {
			font-size: @font-large;
			font-weight: @weight-norm;
			line-height: 1.25;
			color: @dark;
		}
	}
	.mission-statement {
		padding: 100px 0px 80px 0px;
		text-align: center;
		background-color: #fafafa;
		.statement {
			font-size: @font-seminorm;
			font-weight: @weight-norm;
			line-height: 1.37;
			color: #2c3d45;
		}
	}
}
