main {
	background-color: transparent;
}
section#homepage-banner {
		background-color: transparent;
		color:white;
		margin-top:-95px;
		position:relative;
		background: linear-gradient(to top, transparent, rgba(0,0,0,0.7));
		@media screen and (max-width: 499px) {
			margin-top: -27px;
		}
		@media screen and (max-width: 400px) {
			margin-top: 0px;
		}

	.video-hero-container{
		height: 100%;
		width: 100%;
		position: absolute;
	}
	video{
		//margin-top: 80px;
		position: relative;
		right: 0;
		top: 0;
		//max-width: 100vw;
		//max-height: 114%;
		width: 115%;
		//height: auto;
		z-index: -100;
		background-size: cover;
		display: inline-block;
		vertical-align: baseline;
		@media screen and (max-width:@screen-md) {
			margin-top: 80px;
		}
		@media screen and (max-width:@screen-sm) {
			margin-top: 90px;
			width:200%;
		}
		@media screen and (max-width: 427px){
			margin-top: 27px;
		    left: -154px;
		    width: 299%;
		}
		@media screen and (max-width: 400px) {
			margin-top: 0px;
		}
		@media screen and (max-width: 359px) {
			width: 360%;
		}

	}

	.homepage-header-image{
		padding-top:100px;
		padding-bottom:100px;

		.homepage-top-spacing{
			padding-top:80px;
			@media screen and (max-width: 1200px) {
				padding-bottom: 30px;
			}
			@media screen and (max-width: @screen-md) {
				padding-top: 30px;
			}
			@media screen and (max-width: @screen-xs) {
				text-align: center;
			}
		}
		h1{
			font-weight: 300;
			font-size: 80px;
		}
		p {
			font-size:30px;
			margin-bottom:40px;
			@media screen and (max-width: 1200px) {
				margin-bottom: 0px;
			}
			@media screen and (max-width: @screen-md) {
				font-size: 20px;
				margin-bottom: 20px;
			}
		}
		a {
			text-decoration: none;
			border-radius: 100px;
	  		background-color: #ffffff;
	  		font-size:16px;
	  		padding: 15px 12px 15px 30px;
			font-weight: 500;
			&:hover{
				background-color: rgb(0, 115, 231);
				color:@white;
			}

			@media screen and (max-width: @screen-md) {
				font-size:16px;
	  			padding: 15px 15px 15px 15px;
				margin-bottom: 20px;
				font-size: 12px;
			}

			img {
				display:inline-block;
				padding-left: 5px;
			}
		}

	}
	@media screen and (max-width: 1200px) {
		.homepage-header-image h1{
			font-size: 60px;
		}
		.homepage-header-image p{
			font-size: 25px;
		}
	}
}

section#homepage-slider {
	p {
		color:white;
		font-size: 48px;
		font-weight: 300;
		line-height: 1.25;
	}
	.homepage-slider-background {
		min-height: 300px;
		margin-top: -82px;
		@media screen and (max-width:1200px) {
			margin-top: -150px;
		}

		@media screen and (max-width: 1000px){
			margin-top: -120px;
		}
		@media screen and (max-width: 770px){
			margin-top: -150px;
		}
		@media screen and (max-width: 460px) {
			padding-top:20px;
			margin-top: -170px;
		}
		.item{
			-webkit-transition: all 2.0s ease-out;
			-moz-transition: all 2.0s ease-out;
			-o-transition: all 2.0s ease-out;
			transition: all 2.0s ease-out;
		}
		.move-car-down {
			padding-top:100px;
			@media screen and (max-width: @screen-sm) {
					padding-top:150px;
				}

			.homepage-right .width-three {
				//max-width:300px;
				margin:auto;
				a{
					text-decoration: none;
					line-height: 44px;
					p {
						line-height: 30px;
					}
				}

				.arrow-image{
					margin: 0px;
					display: inline-block;
					height:19px;
					padding-left: 5px;
				}
				img{
					margin-bottom: 6px;
					margin-top: 10px;

				}
			}
			.homepage-right a {
				color:white;
				font-size:36px;
			}
			.homepage-right p {
				font-size:20px;
			}
		}
	}
	.homepage-link-background {
		padding-top:100px;
		margin-top:-50px;
		text-align:center;
		font-size: 30px;
		font-weight: 500;
		color:white;

		.homepage-link {

			padding-bottom: 50px;
	    	padding-top: 25px;
			@media screen and (max-width: @screen-sm){
				font-size: 20px;
			}
			a{
				color:white;
				text-decoration: none;
			}
	    	img{
	    		display: inline-block;
	    	}
		}
	}
	#myCarousel a {
		font-size: 20px;
		font-weight: 500;
		text-align: left;
		color: #72d2fd;
	}
	#myCarousel {
		border-right: solid 1px #72d2fd;
		padding-right:40px;

		.carousel-inner{
			min-height: 235px;
			@media screen and (max-width: 1200px) {
				min-height: 290px;
			}
			@media screen and (max-width: @screen-sm){
				min-height: 200px;
			}
			@media screen and (max-width: 401px){
				min-height: 235px;
				margin-bottom: 0px;
			}
		}
		@media screen and (max-width: @screen-sm){
			max-width: 500px;
			margin:auto;
			padding-right: 0px;
		}

	}
	// @media screen and (max-width: @screen-md){
	// 	#myCarousel .carousel-inner{
	// 		min-height: 350px;
	// 	}

	// }
	@media screen and (max-width: @screen-sm){
		#myCarousel{
			border: none;
			max-width: unset;
			// .carousel-inner{
			// 	min-height: 240px;

			// }
		}
		#myCarousel p {
			font-size: 30px;
		}
	}

}

/*//////////////////////////////////////
	Home Page Solutions Section
/////////////////////////////////////*/
section#solutions {
	background-color:@gray-light;
	padding-top: 100px;
	padding-bottom: 100px;
	color: #293138;
	@media screen and (max-width:@screen-md) {
		padding-bottom: 10px;
	}
	.heading {
		margin-bottom: 40px;
	}
	.heading h3 {
		text-align: center;
		font-size: 36px;
		font-weight: 300;
		line-height: 1.11;
		margin-bottom: 20px;
	}
	.heading p {
		font-size: 20px;
		line-height: 32px;
		text-align: center;
		max-width: 1000px;
		margin:auto;
	}
	a {
		text-decoration: none;
	}
	.solution-height {
		height: 450px;
		background-image: linear-gradient(to top, #1ab1c7, #2cc4c4);
		border-radius: 4px;
		@media screen and (max-width: @screen-md) {
			height: 550px;
		}
		@media screen and (max-width: @screen-sm) {
			height: auto;
		}
	}
	@media screen and (max-width: @screen-sm){
		.single-solution.solution-height.solution-hover.no-margin {
			margin-top:0px;
		}
	}
	// .solution-hover:hover {
	// 	box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
	// 	img.arrow {
	// 		display: none;
	// 	}
	// 	img.arrow2 {
	// 		display:unset;
	// 	}
	// }
	.single-solution {
		position: relative;
		background-color: @white;
		margin: 15px 0px;
		padding:45px;
		padding-bottom: 60px;
		width: 100%;

		.solution-images{
			margin-bottom: 30px;

		}
		img{
			height: 38px;
		}
		img.arrow {
			float:right;
			height: 30px;
		}
		img.arrow2 {
			float:right;
			height: 30px;
			display: none;
		}

		h3 {
			font-size: 24px;
			font-weight: 400;
			color: @white;
			padding-bottom: 25px;
			margin-bottom: 25px;
			border-bottom: @white 1px solid;
			@media screen and (max-width: 400px) {
				word-break: break-word;
			}
		}

		p {
			font-size: 16px;
			line-height: 28px;
			font-weight: 300;
			color: @white;
			margin-bottom: 40px;
		}

		div.solution-button:hover {
			opacity: .8;
			text-decoration: underline;
		}
		div.solution-button{
			border-radius: 100px;
			background-color: #ffffff;
			text-align: center;
			font-size: 16px;
			font-weight: 500;
			color: #0073e7;
			position: absolute;
			bottom:45px;
			left:45px;
			padding-right: 25px;
			padding-left: 25px;
			padding-bottom: 10px;
			padding-top: 12px;
			min-width: 280px;
			@media screen and (max-width: @screen-md) {
				min-width: unset;
			}
			@media screen and (max-width: 400px) {
				right:45px;
				font-size: 12px;
			}
		}

	}
}

/*/////////////////////////////////////
	Home Page Culture is Our Core
/////////////////////////////////////*/
	section#core-culture {
		position: relative;
		background: rgb(136,31,211);
		background: -moz-linear-gradient(left, rgba(136,31,211,1) 0%, rgba(74,102,231,1) 100%);
		background: -webkit-linear-gradient(left, rgba(136,31,211,1) 0%,rgba(74,102,231,1) 100%);
		background: linear-gradient(to right, rgba(136,31,211,1) 0%,rgba(74,102,231,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#881fd3', endColorstr='#4a66e7',GradientType=1 );
		color:white;
		text-align: center;
		padding-top: 100px;
		padding-bottom: 100px;
		h3 {
			font-size: 36px;
			font-weight: 300;
			color:white;
			margin-bottom: 30px;
			@media screen and (max-width: 400px) {
				word-break: break-word;
			}
		}
		p {
			font-size: 20px;
			font-weight: 300;
			margin:auto;
			margin-top: 30px;
			strong{
				font-weight: 700;
			}
		}

		.culture-button-wrapper {
			margin-top: 40px;
			@media screen and (max-width:@screen-md) {
				margin-top: 0px;
			}
		}

		a.culture-button {
			text-decoration: none;
			border-radius: 100px;
	  		background-color: #ffffff;
	  		font-size:16px;
	  		padding: 15px 30px 15px 30px;
			font-weight: 500;

			&:hover{
				background-color: rgb(0, 115, 231);
				color:@white;
			}
			@media screen and (max-width: 400px) {
				font-size: 12px;
				padding: 15px 10px;
			}

		}
		#mobile-cultrue-image{
			display:none;
		}
		@media screen and (max-width:@screen-md ) {
			#normal-cultrue-image{
				display:none;
			}
			#mobile-cultrue-image{
				display:unset;
			}
			padding-top: 60px;
			padding-bottom: 60px;
			p {
				margin-bottom: 40px;
			}
		}

	}

/*/////////////////////////////////////
	home page customer success stories
////////////////////////////////////*/
section#customer-stories {
		background-color: @white;
		padding-top: 50px;
		.title-customer-stories{
			font-size: 36px;
			font-weight: 300;
			margin-bottom: 60px;
			color: #263133;
		}
		.logos-responsive{
			margin-bottom: 20px;
		}
		.customer-row {
			padding-top: 30px;
			padding-bottom: 30px;
		}
		.logo-center-line img{
			margin-bottom: 30px;
		}
		.customer-stories-section {
			.company-highlight {
				margin-bottom: 40px;
				.shrink-width{
					max-width: 250px;
					margin:0 auto;
				}
				&:nth-child(2){
					border-right:solid @gray-mid-light 1px;
					border-left:solid @gray-mid-light 1px;

					@media screen and (max-width: @screen-md) {
						border-right:none;
					}

				}

				a {
					font-size: 16px;
					font-weight: 500;
				}
				a:hover {
					text-decoration: underline;
				}

				p {
					color: #293138;
					font-size: 24px;
					line-height: 34px;
					@media screen and (max-width: 400px) {
						word-break: break-word;
					}
				}
				.equal-height{
					height:65px;
					position:relative;
					&:before {
						content: ' ';
						display: inline-block;
						vertical-align: middle;
						height: 100%;
					}
					img{
						display: block;
						max-height: 60px;
						display: inline-block;
    					vertical-align: middle;
					}
				}

			}
		}
		.row-spacing{
			padding-bottom: 20px;
		}
		.align-logos{
			height:90px;
			position: relative;
			text-align: center;
			&:before {
				content: ' ';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}
			.a-tag{
				display: inline-block;
				vertical-align: middle;
				margin: auto;
				max-width: 96%;
			}

		}
		// .align-logos{
		// 	height: 100px;
		// 	//position: relative;
		// 	&:before {
		// 		content: ' ';
		// 		display: inline-block;
		// 		vertical-align: middle;
		// 		height: 100%;
		// 	}
		// 	img{
		// 		max-width: 100%;
		// 		display: inline-block;
  //   			vertical-align: middle;
  //   			max-height: 63px;
		// 	}
		// }
		.border-bottom{
			border-bottom: solid 1px #dbe0e4;
			margin-bottom:40px;
		}
		.title-customer-stories {
			margin-bottom: 30px;
		}
		.customer-link a:hover {
			background-color: @white;
			border: 1px solid #0073e7;
			color:#0073e7;
		}
		.customer-link {
			font-size: 16px;
  			font-weight: 500;
  			text-align: center;
			margin-top: 80px;
			margin-bottom: 150px;
  			a {
  				text-align: center;
  				border-radius: 100px;
  				background-color: #0073e7;
  				padding:15px 30px;
				  color:white;
				  @media screen and (max-width: 400px) {
					  font-size: 12px;
					  padding: 15px 10px;
				  }
  			}
		}
	}

/*////////////////////////////////////
	    Home Page News Section
////////////////////////////////////*/
section#homepage-breaking-news {
	padding-top: 115px;
	padding-bottom: 100px;
	background-color: #dbe0e4;
	.breaking-news{
		background-color: #003b95;
		border-radius: 4px;
		color:white;
		margin-right: 10px;
		margin-bottom: 50px;
		height: 500px;
		padding: 30px 20px 30px 30px;
		img{
			height: 68px;
			width: 100px;
		}
		@media screen and (max-width: 1200px) {
			height: 570px;
		}
		@media screen and (max-width: @screen-md) {
			height: auto;
			margin-left: 0px;
			margin-right: 0px;
			padding-bottom: 80px;
			padding-right:40px;
			&.left-margin{
        margin-left: 0px;
      }
      &.right-margin{
        margin-right: 0px;
        margin-left: 0px;
      }
		}
		@-moz-document url-prefix() {
			.scrolling-news{
				margin-right: -4600px;
				padding-right:4600px;
			}
		}
		.gradiant-news {
			position: relative;
			bottom: 120px;
			height: 120px;
	    background: -moz-linear-gradient(top, rgba(0,85,170,0.01) 0%, rgba(0,73,146,0.02) 1%, rgba(0,46,139,0.04) 3%, rgba(0,51,153,0.05) 4%, rgba(0,64,140,0.07) 6%, rgba(0,53,149,0.08) 7%, rgba(0,62,149,0.09) 8%, rgba(0,56,151,0.11) 10%, rgba(0,55,145,0.12) 11%, rgba(0,55,150,0.16) 14%, rgba(0,60,150,0.17) 15%, rgba(0,57,149,0.21) 18%, rgba(0,60,151,0.28) 24%, rgba(0,57,150,0.29) 25%, rgba(0,60,147,0.33) 28%, rgba(0,58,151,0.35) 30%, rgba(0,60,148,0.4) 34%, rgba(0,57,149,0.41) 35%, rgba(0,60,149,0.44) 37%, rgba(0,59,149,1) 82%, rgba(0,59,149,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(0,85,170,0.01) 0%,rgba(0,73,146,0.02) 1%,rgba(0,46,139,0.04) 3%,rgba(0,51,153,0.05) 4%,rgba(0,64,140,0.07) 6%,rgba(0,53,149,0.08) 7%,rgba(0,62,149,0.09) 8%,rgba(0,56,151,0.11) 10%,rgba(0,55,145,0.12) 11%,rgba(0,55,150,0.16) 14%,rgba(0,60,150,0.17) 15%,rgba(0,57,149,0.21) 18%,rgba(0,60,151,0.28) 24%,rgba(0,57,150,0.29) 25%,rgba(0,60,147,0.33) 28%,rgba(0,58,151,0.35) 30%,rgba(0,60,148,0.4) 34%,rgba(0,57,149,0.41) 35%,rgba(0,60,149,0.44) 37%,rgba(0,59,149,1) 82%,rgba(0,59,149,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(0,85,170,0.01) 0%,rgba(0,73,146,0.02) 1%,rgba(0,46,139,0.04) 3%,rgba(0,51,153,0.05) 4%,rgba(0,64,140,0.07) 6%,rgba(0,53,149,0.08) 7%,rgba(0,62,149,0.09) 8%,rgba(0,56,151,0.11) 10%,rgba(0,55,145,0.12) 11%,rgba(0,55,150,0.16) 14%,rgba(0,60,150,0.17) 15%,rgba(0,57,149,0.21) 18%,rgba(0,60,151,0.28) 24%,rgba(0,57,150,0.29) 25%,rgba(0,60,147,0.33) 28%,rgba(0,58,151,0.35) 30%,rgba(0,60,148,0.4) 34%,rgba(0,57,149,0.41) 35%,rgba(0,60,149,0.44) 37%,rgba(0,59,149,1) 82%,rgba(0,59,149,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#030055aa', endColorstr='#003b95',GradientType=0 ); /* IE6-9 */
			@media screen and (max-width:@screen-md){
				height:0px;
			}
		}
		.scrolling-news{
			// overflow:hidden;
			height: 390px;
			overflow-y: scroll;
			overflow-x: hidden;
			padding-bottom: 50px;

			@media (max-width: @screen-lg){
				height: 420px;
			}
			@media screen and (max-width:@screen-md) {
				height:auto;
				overflow:-moz-scrollbars-none;
				padding-bottom: 0px;
			}
		}

		h3{
			font-size: 36px;
			font-weight: 300;
			line-height: 1.11;
			margin-bottom: 15px;
		}
		img {
			float: left;
			margin-top: 20px;
			@media screen and (max-width: @screen-sm) {
				float:none;
			}
		}
		div.text-spacing{
			padding-left:0px;
			padding-bottom:20px;
			border-bottom: solid 1px #778589;
			margin-top: 15px;

			.publication{
				text-decoration: none;
				color:white;
				text-decoration: none;
				font-size: 18px;
				font-weight: 300;
				line-height: 1.56;
			}
			.date {
				text-decoration: none;
				color:white;
				text-decoration: none;
				font-size: 14px;
				font-weight: 300;
				line-height: 1.56;
			}
			@media screen and (max-width: @screen-sm) {
				padding-left: 0px;
			}

			&.last{
				border:none;
			}
		}
		.scrolling-news::-webkit-scrollbar{
				display: none;
		}

		a {
			//text-decoration: none;
			color:#72d2fd;
			font-size: 24px;
			font-weight: 300;
			div{
				text-decoration: none;
				color:white;
				text-decoration: none;
				font-size: 16px;
				font-weight: 300;
				line-height: 1.56;
			}
		}
		a.all-news{
			font-size: 16px;
			font-weight: 500;
			position: absolute;
			bottom: 80px;
			left: 50px;
			@media (max-width: @screen-lg){
				bottom: 90px;
			}
			left: 50px;
			@media (max-width: @screen-md){
				bottom: 35px;
				font-size: 12px;
			}
		}
	}
	.press-release {
		margin-left: 10px;
		height: 500px;
		background-color: white;
		border-radius: 4px;
		padding:40px;
		margin-bottom: 50px;
		position: relative;
		&.left-margin{
			margin-left: 10px;
		}
		&.right-margin{
			margin-right: 10px;
			margin-left: 0px;
		}
		@media screen and (max-width: 1200px) {
			height: 570px;
		}
		@media screen and (max-width: @screen-md) {
      height: auto;
      margin-left: 0px;
      margin-right: 0px;
      padding-bottom: 80px;
      &.left-margin{
        margin-left: 0px;
      }
      &.right-margin{
        margin-right: 0px;
        margin-left: 0px;
      }
    }
		h3 {
			font-size: 36px;
			font-weight: 300;
			margin-bottom: 40px;
			@media screen and (max-width: 400px) {
				word-break: break-word;
			}
		}
		.hovertool {
			position: relative;

		}
		.tooltip-top {
		    bottom: 125%;
		    left: 50%;
		    margin-left: -60px;
		}
		.hovertool .tooltipinfo {
			position: absolute;
		    visibility: hidden;
		    //width: 120px;
		  	background-color: @white;
		    text-align: center;
		    padding: 5px 0;
		    border-radius: 6px;
		 	font-size: 15px;
		 	color:black;
		 	text-decoration: none;
		 	padding: 3px 4px;
		 	border-radius: 3px;
		 	border:@gray solid 1px;
		    position: absolute;
		    z-index: 1;
		}
		.hovertool:hover .tooltipinfo {
		    visibility: visible;
		}

		a {
			width: 250px;
			font-size: 20px;
			font-weight: 300;
			line-height: 1.5;
			color: #0073e7;
			// &:after{
			// 	content: "...";
			// }
			&.all-link{
				position: absolute;
				bottom: 40px;
				left: 40px;
				font-size: 16px;
				font-weight: 500;
				@media screen and (max-width: 400px) {
					font-size: 12px;
				}
			}
		}
		div {
			font-size: 16px;
			font-weight: 300;
			line-height: 1.56;
			color: #5e6d78;
		}
		.event {
			margin-bottom: 15px;
			//overflow: hidden;
		}
		// @-moz-document url-prefix() {
		// 	.scrolling-events{
		// 		margin-right: -4600px;
		// 		padding-right:4600px;
		// 	}
		// }
		// .scrolling-events{
		// 	max-height: 300px;
		// 	overflow-y: scroll;
		// 	//overflow:-moz-scrollbars-none;
		// 	@media screen and (max-width: 1200px) {
		// 		max-height: 375px;
		// 	}
		// 	@media screen and (max-width: @screen-md) {
		// 		max-height: unset;
		// 		height: auto;
		// 		overflow:-moz-scrollbars-none;
		// 	}

		// }
		// .scrolling-events::-webkit-scrollbar{
		// 		display: none;
		// }
	}
	.special-event-container {
		@media (min-width: 1200px) {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
      height: 500px;
			min-height: 500px;
		}
		.special-event{
	    background-color: #43505d;
	    background-size: cover;
	    border-radius: 4px;
	    color: #ffffff;
	    padding: 16px 32px 16px 32px;
	    @media (max-width: 1199px) {
	    	margin-bottom: 50px;
	    }
	    h3{
		    font-size: 25px;
		    font-stretch: normal;
		    font-style: normal;
		    font-weight: 500;
		    letter-spacing: -1.1px;
		    line-height: 1.04;
		    padding-bottom: 10px;
		    span{
	      	font-weight: 300;
		    }
	    }
	    img{
	      border-bottom-left-radius: 4px;
	      border-bottom-right-radius: 4px;
	      bottom:0px;
	      height: 100%;
	      left:0px;
	      object-fit: cover;
	      position: absolute;
	      right:0px;
	      width: 100%;
	    }
	    .event-description{
	      font-size: 15px;
	      letter-spacing: 0.5px;
	      line-height: 1.25;
	      padding-bottom: 10px;
	    }
	    .event-date-container {
	    	margin-bottom: 10px;
				.event-date{
					font-size: 15px;
					letter-spacing: -0.5px;
					padding-bottom: 0px;
				}
			}
	    a{
				color: #ffffff;
				font-size: 16px;
				font-weight: normal;
	    }
	  }
	}
}

//////////////////////////////////
/* 		Timeline Section       */
/////////////////////////////////
section#timeline-section{
	position: relative;

	.timeline-module {
      padding-top: 100px;
      height: 950px;
      //background-color: #43505d;
      background-image: url('/assets/images/Home/new/timeline-background.png');
      background-size: cover;
    }
        /* Timeline */

    .timeline-title{
      text-align: center;
    	font-family: aktiv-grotesk, sans-serif;
    	font-size: 36px;
    	font-weight: 300;
    	color: #ffffff;
    }
    .gradient-left, .gradient-right {
    	position: absolute;
    	height:80%;
    	width:10%;
    	z-index: 10;
    	bottom:0px;
	    background: -webkit-linear-gradient(left, rgba(67,80,93,1) 16%, rgba(67,80,93,0.83) 50%, rgba(67,80,93,0.75) 66%, rgba(67,80,93,0.05) 99%, rgba(67,80,93,0.05) 100%);
	    background: -o-linear-gradient(left, rgba(67,80,93,1) 16%, rgba(67,80,93,0.83) 50%, rgba(67,80,93,0.75) 66%, rgba(67,80,93,0.05) 99%, rgba(67,80,93,0.05) 100%);
	    background: linear-gradient(to right, rgba(67,80,93,1) 16%, rgba(67,80,93,0.83) 50%, rgba(67,80,93,0.75) 66%, rgba(67,80,93,0.05) 99%, rgba(67,80,93,0.05) 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43505d', endColorstr='#0d43505d',GradientType=1 );
    }
    .gradient-left {
    	left: 1.5%;
    }
    .gradient-right {
		transform: rotate(180deg);
		right:1.5%;
    }
    .timeline-module .timeline-wrapper {
      padding-top: 100px;
      height: 100%;
      overflow-x: hidden;
      position: relative;
      padding-left: 70px;
      padding-right: 10px;
      margin: 0px auto 0px auto;


      @media screen and (max-width: 960px) {
    	overflow-x:scroll;
      }
    }

	.timeline:before {
	  top: 40px;
	  bottom: 0;
	  position: absolute;
	  content: " ";
	  width: 3px;
	  background-color: #72d2fd;
	  left: 50%;
	  margin-left: -1.5px;
	}
	.timeline .timeline-item:before,
	.timeline .timeline-item:after {
	  content: "";
	  display: table;
	}
	.timeline .timeline-item .item-badge {
	  background-color: #fff;
	  width: 20px;
	  height: 20px;
	  position: absolute;
	  top: 18px;
	  left: 50%;
	  margin-left: -25px;
	  border: solid 1px #72d2fd;
	  outline: solid 6px #43505d;
	  z-index: 1;
	  border-radius: 50%;
	}
	.item-panel:last-of-type{
		margin-right:60px;
	}
	.timeline .timeline-item .item-panel {
	  position: relative;
	}
	.timeline .timeline-item .item-line {
	  position: absolute;
	  top: 26px;
	  right: -16px;
	  display: inline-block;
	  content: " ";
	}
	.timeline .timeline-item:nth-child(even) .item-panel {
	  margin-bottom: 0px;
	  top: 337px;
	}
	.timeline {
	  list-style: none;
	  position: relative;
	  padding: 0px 0px 20px 30px;
	  display: inline-block;
	}
	.timeline:before {
	  height: 3px;
	  top: auto;
	  bottom: 26px;
	  left: 40px;
	  right: 0;
	  width: 97%;
	  margin-bottom: 20px;
	}
	.timeline .timeline-item {
	  display: table-cell;
	  width: 20%;
	  min-width: 164px;
	  float: none !important;
	  padding-left: 0px;
	  margin: 0 auto;
	  position: relative;
	  vertical-align: top;
	}
	.timeline .timeline-item .item-badge.big-badge {
	  height: 80px;
	  width: 80px;
	  border: solid 4px #72d2fd;
	  top: auto;
	  bottom: -10px;
	  left: 29px;
	  background-size: contain;
	}
	.timeline .timeline-item .item-panel {
	  top: auto;
	  display: inline-block;
	  float: none !important;
	  left: 0 !important;
	  right: 0 !important;
	  margin-bottom: 120px;
	  width: 150%;
	}
	.timeline .timeline-item:nth-child(odd) .item-line {
	  top: auto;
	  bottom: -81px;
	  left: 42px !important;
	  right: auto;
	  border-top: 93px solid #72d2fd;
	  border-left: 4px solid #72d2fd !important;
	}
	.timeline .timeline-item:nth-child(even) .item-line {
	  top: -72px;
	  left: 42px !important;
	  right: auto;
	  border-top: 64px solid #72d2fd;
	  border-left: 4px solid #72d2fd !important;
	}
	.timeline .timeline-item .item-badge {
	  top: auto;
	  bottom: 18px;
	  left: 59px;
	}
	.item-title{
	  font-size: 24px;
	  font-weight: 300;
	  color: white;
	  font-family: aktiv-grotesk, sans-serif;
	  padding-bottom: 5px;
	  line-height: 1;
	}
	.item-body{
	  font-size: 16px;
	  font-weight: 300;
	  color: white;
	}
	.icon-leftArrow:before {
	  border: solid 1px #72d2fd;
	  z-index: 3;
	  padding: 2px 5px 2px 6px;
	  border-radius: 50%;
	  background-color: rgba(67, 80, 93, 0.69);
	}
	.left-arrow:hover, .right-arrow:hover{
		cursor: pointer;
	}
	.left-arrow {
		padding: 30px;
		z-index: 11;
		position: absolute;
		right: 25px;
		color: white;
		top: 53%;
		z-index: 11;
		background-size: contain;
		// -webkit-transform: rotate(-180deg);
		// -moz-transform: rotate(-180deg);
		// -o-transform: rotate(-180deg);
		// -ms-transform: rotate(-180deg);
		// transform: rotate(-180deg);
		img {
			height:24px;
			margin: 0px;
			float: right;
		}
		@media screen and (max-width: 960px) {
			display: none;
		}
	}
	.right-arrow {
		display: none;
		padding: 30px;
		position: absolute;
		left: 25px;
		color: white;
		top: 53%;
		z-index: 11;
		background-size: contain;
		-webkit-transform: rotate(-180deg);
		-moz-transform: rotate(-180deg);
		-o-transform: rotate(-180deg);
		-ms-transform: rotate(-180deg);
		transform: rotate(-180deg);
		img {
			height:24px;
			margin: 0px;
			float: left;
		}
		@media screen and (max-width: 960px) {
			display: none;
		}
	}

	.icon-rightArrow:before {
	  border: solid 1px #72d2fd;
	  z-index: 3;
	  padding: 2px 6px 2px 5px;
	  border-radius: 50%;
	  background-color: rgba(67, 80, 93, 0.69);
	}


	.item-header {
	  width: 16.666666667%;
	  float: left;
	}

	.item-header .item-date {
	  transform: scale(-1, -1);
	  writing-mode: vertical-rl;
	  float: right;
	  margin-right: 10px;
	  font-size: 24px;
	  font-weight: 500;
	  padding-bottom: 0;
	  line-height: 1.25;
	  color: white;
	  font-family: aktiv-grotesk, sans-serif;
	  padding-bottom: 0;
	}

	.item-content .item-title {
	  margin-left: 15px;
	}

	.item-content .item-body {
	  margin-left: 15px;
	}

	.item-content {
	  width: 83.33333333%;
	  float: left;
	}
	@media(min-width: 713px) {
	  .timeline-module {
	    padding-top: 100px;
	    height: 950px;
	    background-color: #43505d;
	    background-size: cover;
	  }
	  .timeline .timeline-item .item-panel .item-date {
	    color: white;
	    font-size: 48px;
	    font-weight: 500;
	    font-family: aktiv-grotesk, sans-serif;
	    line-height: 1.25;
	    padding-bottom: 0;
	  }
	  .timeline .timeline-item .item-panel {
	    width: 170%;
	  }
	  .timeline .timeline-item:nth-child(1) {
	    min-width: 292px;
	  }
	  .timeline .timeline-item:nth-child(1) .item-panel {
	    width: 154%;
	  }
	}
	@media screen and (max-width: @screen-sm) {
		.right-arrow{
			top:68.8%;
		}
		.left-arrow{
			top:68.8%;
		}
	}
	@media screen and (max-width: 767px) {
		.right-arrow{
			top:56%;
		}
		.left-arrow{
			top:56%;
		}
	}
	@media screen and (max-width: 713px) {
		.right-arrow{
			top:55%;
		}
		.left-arrow{
			top:55%;
		}
	}
	@media screen and (max-width: 690px) {
		.right-arrow{
			top:61.9%;
		}
		.left-arrow{
			top:61.9%;
		}
	}
	@media screen and (max-width: 365px) {
		.right-arrow{
			top:68.8%;
		}
		.left-arrow{
			top:68.8%;
		}
	}
	@media(max-width: 713px) {
	  .timeline-module {
	    padding-top: 100px;
	    height: 740px;
	    background-color: #43505d;
	    background-size: cover;
	  }
	  .timeline .timeline-item .item-panel{
	    margin-bottom: 69px;
	  }
	  .timeline .timeline-item:nth-child(even) .item-line {
	    top: -56px;
	  }
	  .item-title{
	    font-size: 20px;
	    font-weight: 300;
	    color: white;
	    font-family: aktiv-grotesk, sans-serif;
	    padding-bottom: 5px;
	    line-height: 1;
	  }
	  .item-body{
	    font-size: 12px;
	    font-weight: 300;
	    color: white;
	  }
	}
	.timeline-module .timeline-wrapper {
	    width: 95%;
	  }
}