/* 404 Page */
@keyframes move {
	0% {
		background-position:117px 90px;
		opacity:0;
	}
	50% {
		opacity:1;
	}
	100% {
		background-position:117px 110px;
		opacity:0;
	}
}
.page-404 {
	background-image:linear-gradient(136deg,#0073e7,#26c5bd);
	background-size:cover;
	padding:80px 0 100px 0;
	.box {
	    background-color: #fff;
	    width:100%;
	    max-width: 600px;
	    border-radius: 4px;
	    padding: 40px;
		color: #556576;
	    font-size: 16px;
	    line-height: 28px;
	    font-weight: 300;
	    
	    #cludo-404 h3 {
		    display:none;
	    }
	    
	    img {
		    margin:0 auto 40px auto;
	    }
	    
		h1 {
			font-size: 36px;
		    font-weight: 300;
		    line-height: 44px;
		    padding: 0 0 30px 0;
		    text-align: center;
		}
		h2 {
			font-size: 18px;
		    text-align: center;
		    font-weight: 400;
		    margin: 0 0 40px 0;
		}
		p {
			margin-top: 20px;
	   	}
	    h3 {
		    margin-top:20px;
	    }
	    a {
		    color: #003b95;
		    &:hover {
			    text-decoration:underline;
		    }
	    }
	    ul {
		    margin:0;
		    padding:0;
		    a {
			    color:#15a3a3;
		    }
		    li {
			    overflow:hidden;
		    }
		    li > a {
			    font-size:12px;
			    line-height:100%;
			    white-space: nowrap;
			    position:relative;
			    top:-4px;
		    }
		    h4 a {
			    font-weight:normal;
			    color: #0073e7;
		    }
	    }
	    @media (max-width:630px) {
			width:auto;
			margin:0 15px;
			.title-404 {
				font-size: 30px;
				line-height: 36px;
			}
	    }
	    
	    #cludo-404 {
		    padding-bottom:0;
	    }
	    
	    #cludo-404 .powered-by {
		    display:none;
	    }
	}
    @media (max-width:630px) {
		padding-top:50px;
    }

	.funn {
		height: 231px;
		left: 50%;
		margin-left: -157px;
		position: absolute;
		width: 314px;
		z-index: 1;
	}
	.funn:hover {
		animation-delay: 2s;
		animation-duration: 3s;
		animation-iteration-count: infinite;
		animation-name: move;
		animation-timing-function: linear;
		background-image: url('/assets/images/404/tear.png');
		background-repeat: no-repeat;
		opacity: 0;
		-webkit-animation-delay: 2s;
	}
}


/* Communties */
#bannercommunities {
	background-image:url('@{image-url}Community/community_banner.jpg');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	@media (max-width:@screen-sm) {
		background-image:url('@{image-url}Community/community_banner_mobile.jpg');
	}
	.communities-dropdown {
		margin:55px 0px 40px 0px;
		a {
			color:@white;
			font-size:@font-tiny;
		}
	}
	.bannercontent {
		h1 {
			color:@white;
			font-size:@font-semihuge;
			font-weight:@weight-norm;
			padding:160px 0px 5px 0px;
		}
		.comm-sol-list {
			ul {
				float:left;
				font-weight:@weight-bold;
				margin:0px;
				padding:0px 34px 20px 0px;
				li {
					clear:both;
					display:block;
					line-height:normal;
					list-style:none;
					margin:0px;
					padding:0px 0px 25px 0px;
					a {
						color:@white;
						font-size:@font-tiny;
						margin:0px;
						padding:0px;
					}
				}
			}
			ul:last-child {
				padding-right:0px;
			}
			@media (max-width:@screen-lg) {
				ul {
					padding-right:20px;
					width:182px;
				}
			}
		}
	}
}
.communities-search, .communities-search-dropdown {
	border-radius:100px;
	border:1px @gray-light solid;
	height:50px;
	max-width:580px;
	input {
		background:none;
		border:none;
		color:@gray-light;
		font-size:@font-small;
		margin-left:30px;
		margin-top:6px;
		transition:width 0.5s ease;
		width:80%;
	}
}
.com-search {
	input[type="submit"] {
		background:url('@{image-url}search.png') no-repeat bottom;
		border:none;
		width:25px;
	}
}
.dropdown-section {
	background:@dark;
	color:@blue-light;
	font-size:@font-small;
	padding:0px 15px 50px 15px;
	p {
		padding:30px 0px;
	}
	a {
		color:@white;
		font-weight:@weight-bold;
	}
	li {
		list-style:none;
		padding-bottom:20px;
	}
}
.search-padding {
	padding:10px 0;
}
.communities-dark {
	background:@dark;
	.container-center {
		margin-left:auto;
		margin-right:auto;
		max-width:580px;
		padding:24px 15px;
	}
	.communities {
		color:@white;
		.rss {
			a {
				color:@blue-light;
			}
			h3 {
				color:@white;
			}
			.author {
				color:@white;
			}
		}
		p {
			a {
				color:@blue-light;
			}
		}
	}
}
.communities {
	color:@dark-primary;
	font-size:@font-seminorm;
	padding:70px 0px 60px 0px;
	.blog {
		padding-bottom:50px;
		ul {
			margin-top:27px;
			li {
				line-height:30px;
				a {
					color:@gray-mid;
					font-size:@font-norm;
				}
				a:hover {
					color:@blue;
					text-decoration:none;
				}
			}
		}
	}
	p {
		a {
			color:@blue-primary;
			font-size:@font-tiny;
		}
	}
	h2 {
		a {
			font-weight:@weight-norm;
		}
		&.pink a {
			color:@pink;
		}
		&.violet a {
			color:@violet;
		}
		&.primblue a {
			color:@blue-primary;
		}
		&.purple a {
			color:@purple;
		}
		&.aqua a {
			color:@aqua;
		}
		&.blue a {
			color:@blue;
		}
		&.red a {
			color:@red;
		}
		&.turquiose a {
			color:@turquiose;
		}
		&.green-bright a {
			color:@green-bright;
		}
		&.pink a {
			color:@pink;
		}
		&.green-yellow a {
			color:@green-yellow;
		}
		&.orange a {
			color:@orange;
		}
		&.blue-light a {
			color:@blue-light;
		}
	}
	h2 {
		color:@blue;
		font-size:@font-norm;
		font-weight:@weight-norm;
		padding-bottom:25px;
	}
	ul {
		float:right;
		margin:30px 0px 0px 0px;
		padding:0px;
		li {
			color:@gray-mid;
			display:inline;
			float:left;
			font-size:@font-tiny;
			list-style:none;
			padding:0px 0px 0px 8px;
			a {
				padding-top:-10px;
			}
		}
	}
	.button-clear-blue-prim {
		float:left;
		margin-top:20px;
	}
	.button-clear-white {
		float:left;
		margin-top:20px;
	}
	img {
		float:left;
	}
	.rss {
		float:left;
		font-size:@font-tiny;
		padding-bottom:20px;
		a {
			color:@blue-light;
		}
		p {
			padding-bottom:10px;
		}
		h3 {
			color:@gray;
			font-size:@font-seminorm;
			font-weight:@weight-norm;
			padding-bottom:15px;
		}
		.author {
			color:@dark-primary;
			font-size:@font-semitiny;
			font-style:italic;
		}
	}
}
.back-to-top {
	border-radius:40px;
	border:1px solid @blue;
	bottom:90px;
	color:@blue;
	cursor:pointer;
	display:none;
	font-size:@font-semilarge;
	padding:0 6px;
	position:fixed;
	right:15px;
	z-index:1;
}
.back-to-top:hover {
	text-decoration:none;
}

/* Subscribe */
.subscription {
	color:@dark-primary;
	font-weight:@weight-norm;
	#step2 {
		display:none;
	}
	a {
		color:blue-light;
		cursor:pointer;
	}
	h1 {
		font-weight:@weight-norm;
		padding-bottom:20px;
	}
	h2 {
		font-size:@font-semilarge;
		font-weight:@weight-norm;
		padding-bottom:20px;
	}
	label {
		display:block;
		font-size:@font-tiny;
		font-weight:@weight-norm;
		height:26px;
		.subscription-par {
			clear:both;
			cursor:pointer;
			display:block;
			margin-left:40px;
		}
		.subscription-title {
			cursor:pointer;
			margin-left:40px;
			margin-top:-3px;
		}
	}
	select {
		background:transparent;
		display:block;
		font-size:@font-tiny;
		height:44px;
		width:100%
	}
	input[type=text] {
		font-size:@font-tiny;
		margin-top:2px;
		padding:10px;
		width:100%;
	}
	input[type=text].hasError, select.hasError {
		border-color:@red;
	}
	input[type=checkbox] {
		display:none;
	}
	input[type=checkbox] + label {
		background:url('@{image-url}Community/unchecked_icon.png') no-repeat;
		clear:both;
		display:inline-block;
		float:left;
		margin:10px 25px -5px 0;
		padding:0 0 0 0px;
	}
	input[type=checkbox]:checked + label {
		background:url('@{image-url}Community/checked_icon.png') no-repeat;
	}
	input[type=checkbox].optin:checked + label.optin {
		background:url('@{image-url}Community/yes.png') no-repeat;
	}
	input[type=checkbox].optout:checked + label.optout {
		background:url('@{image-url}Community/no.png') no-repeat;
	}
	#form_checkAll:checked + label[for="form_checkAll"] {
		background:url('@{image-url}Community/yes.png') no-repeat;
	}
	#form_uncheckAll:checked + label[for="form_uncheckAll"] {
		background:url('@{image-url}Community/no.png') no-repeat;
	}
	.grayed-out {
		color:@gray-mid;
	}
	.col-sm-6 {
		padding-bottom:20px;
	}
	.fl-right {
		float:right;
		margin-top:-60px;
		@media (max-width:@screen-sm) {
			float:left;
			margin:0px;
		}
	}
	.myinterests {
		padding:50px 0px 0px;
	}
	.myprefs {
		border-top:1px @gray-mid-light solid;
		margin-top:50px;
		padding:40px 0px 0px;
		.button-blue-primary {
			float:right;
			@media (max-width:@screen-sm) {
				float:left;
			}
		}
	}
	.subscribe {
		display:block;
		font-size:@font-tiny;
		font-weight:@weight-norm;
		margin:0 auto;
		padding-bottom:10px;
		width:100%
	}
	.subbutton {
		p {
			font-size:@font-semitiny;
		}
		a {
			clear:both;
			float:right;
		}
		.subdescription {
			float:right;
		}
	}
	.subscription-title {
		display:block;
		font-size:@font-seminorm;
	}
	.subscription-par {
		color:@gray;
		display:block;
		font-size:@font-tiny;
	}
}
a#submit_subscriptions {
	cursor:pointer;
}

/* Main How to Buy
***********************************/
@howToBuy-HeaderSize:@font-semilarge;
@howToBuy-DiscriptonSize:@font-norm;
@howToBuy-listSectionPadding:30px;
.main-how-to-buy-page {
	padding-bottom:150px;
	padding-top:50px;
	.flexContainer {
		align-items:stretch;
		display:flex;
		.flexItem {
			margin:15px;
			max-width:390px;
			position:relative;
			min-height: 450px;
		}
	}
	.list-icon {
		height:45px;
	}
	.list-icon.globe {
		background:transparent url('/assets/images/how-to-buy/globe-sprite.png') left top no-repeat;
	}
	.list-icon.phone {
		background:transparent url('/assets/images/how-to-buy/phone-sprite.png') left top no-repeat;
	}
	.list-icon.cart {
		background:transparent url('/assets/images/how-to-buy/cart-sprite.png') left top no-repeat;
	}
	.main-title {
		font-size:@font-large;
		font-weight:@weight-norm;
		padding-bottom:70px;
		padding-top:50px;
	}
	a {
		color:@black;
		text-decoration:none;
	}
	.list-section {
		border-radius:5px;
		box-shadow:0px 10px 20px rgba(0, 0, 0, 0.07);
		cursor:pointer;
		padding-bottom:80px;
		padding:@howToBuy-listSectionPadding;
		span {
			display:block;
		}
		.list-header {
			font-size:@howToBuy-HeaderSize;
			padding-top:30px;
			word-wrap:break-word;
		}
		.list-discription {
			font-size:@howToBuy-DiscriptonSize;
			padding-bottom:20px;
			padding-top:20px;
		}
		.button-blue-primary {
			bottom:0;
			display:inline;
			margin-bottom:30px;
			max-width:300px;
			position:absolute;
		}
	}
	.list-section:hover {
		background-color:@turquiose;
		a {
			color:@white;
		}
		.button-blue-primary {
			background-color:@white;
			border:none;
			color:@blue-primary;
		}
		.list-icon.globe {
			background:transparent url('/assets/images/how-to-buy/globe-sprite.png') left -100px no-repeat;
		}
		.list-icon.phone {
			background:transparent url('/assets/images/how-to-buy/phone-sprite.png') left -100px no-repeat;
		}
		.list-icon.cart {
			background:transparent url('/assets/images/how-to-buy/cart-sprite.png') left -100px no-repeat;
		}
	}
	@media (max-width:1199px) {
		.list-section .button-blue-primary {
			max-width:230px;
		}
	}
	@media (max-width:991px) {
		.list-section {
			padding-bottom:100px;
			padding-left:15px;
			padding-right:15px;
			.list-header {
				font-size:@font-norm;
			}
			.list-discription {
				font-size:@font-small;
			}
			.button-blue-primary {
				max-width:85%;
				padding-left:20px;
				padding-right:20px;
			}
		}
	}
	@media (max-width:@screen-sm) {
		.flexContainer {
			flex-direction:column;
			justify-content:center;
			.list-section {
				max-width:none;
				padding:@howToBuy-listSectionPadding;
				.list-header {
					font-size:@howToBuy-HeaderSize;
				}
				.list-discription {
					font-size:@howToBuy-DiscriptonSize;
				}
				.button-blue-primary {
					margin-bottom:0px;
					max-width:90%;
					position:relative;
				}
			}
		}
	}
}