/* Logos Section */

.logo-section {
	border-top: 1px @gray-mid-light solid;
	padding: 70px 0px 0px 0px;

	img {
		margin:0px auto 80px auto;
	}
}
/********************************************************** Selector Section*/

.selector {
	border-top:2px @gray-light solid;
	.selected {
		font-weight: @weight-heavy;
	}
	h3 {
		padding-bottom:30px;
		font-weight:@weight-norm;
		color:@blue-primary;
		font-size:@font-semilarge;
	}
	.info {
		padding-bottom:5px;
		ul {
			margin-left: 15px;
			margin-bottom: 20px;
		}
	}
	a {
		color:@blue-primary;
	}
	.selectness {
		margin:0px 0px 40px 0px;
		padding:0px;

		li {
			display:inline;
			list-style:none;
			margin-right:30px;

			a {
				font-size:@font-seminorm;
				color:@blue-primary;
				white-space:nowrap;
			}
		}
	}
	.last{
		padding-bottom: 20px;
	}
}
/********************************************************** Key Program Contacts*/

.key-program-contact {
	font-size: @font-small;
	.box {
		padding-bottom:40px;
	}
	.capstitle {
		font-size:@font-semilarge;
		text-transform:none;
		font-weight:@weight-norm;
		color:@gray-white;
	}
	.name {
		color:@gray-white;
		display:block;
		padding-bottom:20px;
		font-weight: @weight-bold;
	}
	.title {
		color:@gray-white;
		display:block;
	}
	a {
		color:@blue;
		margin-bottom:50px;
		display:block;
	}
}

/********************************************************** Migration Matrix */
#migrationprojects {
	font-size: @font-tiny;
	h5 {
		padding-top: 65px;
		padding-bottom: 75px;
		font-size: @font-norm;
		color: @dark-primary;
		font-weight: @weight-norm;
	}

	.download-all {
		margin-top: 56px;
	}

	.project {
		padding-top: 40px;
		padding-bottom: 50px;
		border-bottom: 1px @gray-light solid;
		ul {
			list-style: none;
			padding-left: 0px;
		}
	}
	.graybg {
		background-color: @gray-white;
		padding-top: 5px;
		padding-bottom: 5px;
		font-weight: @weight-heavy;
		color: @gray-mid;
	}
	@media (max-width: 768px){
		.graybg{
			display:none;
			visibility:hidden;
		}
	}

}
.product-nav.dark {
	background-color: @dark-primary;
	h1, label{
	color: @white;
	}
}



/********************************************************** Resellers */

.footer-contacts{
	background:@dark;

	h2 {
		color:@white;
		font-weight: @weight-norm;
		padding-bottom:15px;
	}
	h4 {
		color:@blue-light;
		font-size:@font-norm;
		font-weight: @weight-norm;
		padding-bottom: 30px;
		padding-top:45px;
	}
	a {
		color:@blue;
		font-size: @font-small;
	}
	p {
		color:@gray-light;
		font-size: @font-small;
		font-weight:@weight-bold;
		display:block;
		padding: 0 0 3px 0;
	}
	hr {
		width:40px;
		display:block;
		float:left;
		border:1px @gray-mid solid;
	}
	span {
		color: @gray-mid;
		font-weight:@weight-norm;
	}
	.subtitle {
		font-weight:@weight-heavy;
	}
}
.resellerhr {
	margin-top: 30px;
	border-top: 1px solid @gray-mid-light;
}
.buttonspace{
	margin-top: 20px;
}
.dropdowndefault {
	font-size: @font-tiny;
}

/********************************************************** Portal Page */

.portal {
	background: url('@{image-url}Partners/PartnerPortal-img.jpg') center top no-repeat;
	background-size:cover;
	padding-bottom:100px;
	color:@white;

	h1 {
		margin-top:150px;
		font-size:@font-semihuge;
		font-weight:@weight-norm;
		max-width:590px;
		margin-bottom:20px;
	}
	p {
		max-width:590px;
	}
	.blackness {
		background-image: linear-gradient(269deg, rgba( 0, 0, 0, 0.80), rgba(38, 49, 51, 0.80));
		margin-top:50px;
		padding:30px 0px 30px 0px;
	}
	.button-suse {
		padding:10px 30px 10px 30px;
		border-radius: 30px 30px 30px 30px;
		font-size: @font-tiny;
		color: @white;
		background-color: #02d35f;
		border: 1px #02d35f solid;
		display:inline-block;
	}

	.button-suse:hover {
		background-color: transparent;
		border:1px solid #02d35f;
		color: #02d35f;
		text-decoration: none;
	}
	.button-blue-primary {
		margin-bottom:15px;
	}
}

/********************************************************** Success Stories */

.threecol {
	.twocol {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
	.col-title {
		padding: 100px 0px 0px;
	}
	.col_quote {
		p {
			color: @blue;
			font-weight: @weight-heavy;
		}
		span {
			display: block;
		}
	}
	.custom-col {
		h3 {
			font-size: 18px;
			background-color: @gray-light;
			padding: 5px 10px;
			margin: 20px 0px 5px;
		}
		h4 {
			color: @blue;
			padding-bottom: 5px;
		}
	}
}




/* Partners Main Page
-------------------------------------*/
#partner-banner {
	background-image: url('@{image-url}Backgrounds/partners-banner.jpg');
	background-size: cover;
	min-height: 420px;
	display: flex;
	align-items: center;
	h1 {
		font-size: 40px;
		font-weight: @weight-norm;
		line-height: 1.15;
		text-align: left;
		color: @white;
	}
	@media (max-width: @screen-sm) {
		min-height: 300px;
		h1 {
			font-size: @font-semilarge;
		}
	}
}

#partner-content {
	.title {
		font-size: @font-semilarge;
		font-weight: @weight-norm;
		text-align: left;
		color: @blue-primary;
	}

	.partner-navigation {
		padding-top: 40px;
		.nav-line {
			display: block;
			padding: 0;
			border-bottom: 1px solid @dark-primary;
			margin: 0px 15px;
			li {
				display: inline-block;
				padding: 0px 90px 20px 0px;
				font-size: @font-norm;
				font-weight: @weight-norm;
				a {
					color: @dark;
				}
				a:hover {
					color: @blue-primary;
					padding-bottom: 20px;
					text-decoration: none;
					border-bottom: 3px solid @blue-primary;
				}
			}
			li:last-child {
				padding-right: 0px;
			}
		}
	}
	.partner-overview {
		padding: 40px 0px 25px 0px;
		.title {
    		padding-bottom: 30px;
		}
		.overview-content {
			font-size: @font-small;
		}
		.intro-video {
			position: relative;
			display: block;
			max-width: 432px;
			div {
				padding-top: 57%;
			}
		}
	}
	.section-overview {
		padding-bottom: 80px;
		.title {
			padding-top: 25px;
			padding-bottom: 20px;
		}
		.content {
			font-size: @font-small;
		}
		.links a {
			font-size: @font-small;
			color: #271782;
			font-weight: @weight-bold;
		}
	}
	.solution-content {
		.title {
			margin: 0 15px;
			padding-bottom: 13px;
			border-bottom: 1px solid @dark-primary;
			margin-bottom: 60px;
	 	}
		.section {
			margin-bottom: 80px;
			font-size: @font-small;
			.section-title {
				font-size: @font-seminorm;
				font-weight: @weight-heavy;
				color: @dark;
				margin-bottom: 30px;
			}
			.content {
				padding-bottom: 30px;
			}
			.links {
				padding-bottom: 35px;
				a {
					display: block;
					padding-bottom: 15px;
				}
			}
		}
	}
	#become-a-partner .content {
		padding-bottom: 0px;
	}

	@media (max-width: @screen-md) {
		.partner-navigation .nav-line {
			display: none;
		}
		.solution-content .section {
			margin-bottom: 30px;
		}
		#find-a-partner {
			padding-top: 30px;
		}
	}
	@media (max-width: 430px) {
		.partner-navigation .nav-line li {
			font-size: @font-seminorm;
		}
	}
}



// ------------------- Become a Partner Page -------------------//
.fullpageforpartners {
	padding: 70px 0;
	.content {
		padding-bottom: 30px;
	}
	.partnersResources {
		padding-top: 40px;
		font-size: @font-tiny;
		color: @black;
		.unstyle-link {
			color: @black;
			text-decoration: none;
		}
		.resource {
			padding-bottom: 30px;
			.resourceTitle {
				font-weight: @weight-heavy;
				font-size: @font-small;
			}
		}
	}
}
