@media print {

	
	.container{
		width: 7.5in !important;
	}
	body {
		margin: 20px 50px 10px 0px !important;
	}
	.print{
		background-color:@blue-primary !important;
		width:100%;
		padding: 20px;
		display: block;
	}
	header {
		display:none;

	}
	#footer1 {
		display:none;
	}
	#footer2 {
		display:none;
	}
	.menubackground-blue {
		display:none;
	}

	/*Success Stories */
	.success {
		.success-buttons {
			display:none;
		}
		.general-title {
			padding-bottom: 0px;
			margin-bottom: 0px;
		}
		.printbox {
			&.box {
				padding-bottom: 40px;
				padding-top: 40px;
			}
		}
		.container-fluid {
			.box {
				padding-top: 0px;
				padding-left: 15px;
				padding-right: 15px;
			}
		}
		.summary-content {
			background-color:@gray-light !important;
		}
		.general-title {
			.col-xs-12 {
				width:50% !important;
		}
		}
		.general-content {
			border-top: 1px solid @dark;
			padding-top: 50px;

			&.col-sm-7 {
				width: 66% !important;
				float: left !important;
			}
			&.col-sm-4 {
				float: right !important;
				width: 25% !important;
			}
		}
		.overview-content, .pdf-content, h3, h4 {
			font-size:@font-tiny;
			margin-bottom: 0px;
		}
		.quote-text, .summary-content, .quote-name {
			width:80%;
			font-size:@font-tiny;
		}
		li, li a {
			width:80%;
			font-size:@font-semitiny;
		}
		a[href]:after {
			display: none;
		}
	}


	/* products */
	span[class^="icon-"]:before, [class*=" icon-"]:before {
	    color: @blue-primary !important;
	}

	.highlights-module img {
		width: 20% !important;
	}
	a[href]:after {
		display: none;
	}
	.fixed-header-offsetter {
		display: none;
	}
	.banner-module .spacing-top {
    	margin-top: 0px;
	}
	.banner-module {
    	padding-bottom: 0px;
    }
    .system-requirements-module .top-spacing {
    	margin-top: 0px;
	}
	.highlights-module .content {
	    margin-bottom: 0px;
	}
	.highlights-module .center .all-features {
    	margin-top: 0px;
	}
	.quote-module {
		padding-top: 0px;
	}
	.updates-module {
		padding: 0px;
	}

	/* solutions */
	a.scroll.large-link {
    	display: none;
	}
	#solution-banner {
		padding: 0px;
		min-height: 0px;
	}
	/* HTML resources */
	
}