@media print {
	.container{
		width: 7.5in !important;
	}
	body {
		margin: 20px 50px 10px 0px !important;
	}
	.print{
		background-color:@blue-primary !important;
		width:100%;
		padding: 20px;
		display: block;
	}
	header {
		display:none;

	}
	#footer1 {
		display:none;
	}
	#footer2 {
		display:none;
	}
	.menubackground-blue {
		display:none;
	}
	.success {
		.success-buttons {
			display:none;
		}
		.general-title {
			padding-bottom: 0px;
			margin-bottom: 0px;
		}
		.printbox {
			&.box {
				padding-bottom: 40px;
				padding-top: 40px;
			}
		}
		.container-fluid {
			.box {
				padding-top: 0px;
				padding-left: 15px;
				padding-right: 15px;
			}
		}
		.summary-content {
			background-color:@gray-light !important;
		}
		.general-title {
			.col-xs-12 {
				width:50% !important;
		}
		}
		.general-content {
			border-top: 1px solid @dark;
			padding-top: 50px;

			&.col-sm-7 {
				width: 66% !important;
				float: left !important;
			}
			&.col-sm-4 {
				float: right !important;
				width: 25% !important;
			}
		}
		.overview-content, .pdf-content, h3, h4 {
			font-size:@font-tiny;
			margin-bottom: 0px;
		}
		.quote-text, .summary-content, .quote-name {
			width:80%;
			font-size:@font-tiny;
		}
		li, li a {
			width:80%;
			font-size:@font-semitiny;
		}
		a[href]:after {
			display: none;
		}
	}

}

/* Header */

.promo_head {
	height:60px;
	width:auto;
	background-color: @blue-primary;

	img {
		padding-top: 18px;

	}
}


/* Page */

.promo_main {
	margin-top: 60px;
	padding-bottom:60px;
	border-top: @gray 3px solid;
	color:@gray;

	h1 {
		color:@blue;
		font-size:36px;
		font-weight: @weight-norm;
		padding: 30px 0px 30px 0px;
	}
	.info {
		font-size:@font-small;
		font-weight: @weight-norm;
		border-bottom:@gray-mid-light 1px solid;
		padding-bottom: 20px;

		h3 {
			padding-bottom: 20px;
			font-size:@font-norm;
			font-weight:@weight-norm;
			color:@dark-primary;
		}
	}
	.block {
		padding-bottom:20px;
	}
	ul {
		padding:0px 0px 20px 30px;

		li {
			padding-bottom:5px;
		}
	}

}

.pro2_container{
	padding-top:47px;
	margin-bottom: 50px;
	font-size: @font-tiny;

	h2 {
		color:@blue;
		font-size:@font-norm;
		font-weight:@weight-norm;
		padding-bottom: 20px;

	}
	.promoimg {
		font-weight: @weight-norm;
		color:@gray-mid;
		font-size: @font-semitiny;
		font-style: italic;
		padding-bottom:40px;

		img {
			padding-bottom:20px;
		}
	}
}

/* Footer */

.promo_foot {
	width: auto;
	background-color: @dark-primary;
	font-size:@font-tiny;
	color:@gray-mid;
	padding:15px 0px 5px;

	a {
		color:@gray-mid-light;
		float:left;
		margin:0px 25px 10px 0px;
	}

	.right {
		#utilitynav-chat {
			.popup {
				display: none;
				background-color: @white;
				position: absolute;
				z-index: 10;
				border: solid 1px @gray-mid;
				width: 622px;
				padding: 32px 26px;
				bottom: 115px;
				right: 0;
				color: @dark-primary;
			}
		}
		@media  (max-width: @screen-sm) {
			float:left;
		}
		.copyright {
			float:left;
			margin-bottom:10px;

			@media  (max-width: @screen-sm) {
				float:left;
			}
		}
	}
}

/* Thank You Page */
.thank-you {
	h2 {
		font-size: @font-large;
		font-weight: @weight-norm;
		color: @dark-primary;
		padding-bottom: 10px;
	}
	.subtitle {
	  font-size: 24px;
	  display: block;
	  margin-top: 20px;
	}
	li{
		font-size: @font-small;
		padding-bottom: 20px;
	}
	.title {
		padding-bottom: 70px;
	}
	.asseticon {
		font-size: 80px;
		margin-top: -8px;
	}
	.h2box {
		padding-bottom: 50px;
	}
	.left {
		margin-bottom: 50px;
		p {
			font-size: @font-small;
		}
		h3 {
			font-size: @font-small;
			font-weight: @weight-bold;
			display: block;
			padding-bottom: 20px;
		}
	}
	.right {
		border-left: 1px solid @gray-mid-light;
		@media (max-width: @screen-sm) {
			float: left;
			padding-left: 30px;
		}
		span {
			font-size: @font-semilarge;
		}
		h3 {
			font-size: @font-small;
			font-weight: @weight-bold;
			display: block;
			padding-bottom: 20px;
		}
		.soclinks {
			padding-bottom: 30px;

			a:hover {
				text-decoration:none;

				span {
					text-decoration:none;
					color:@dark;
				}
			}
		}
	}

	@media (max-width: @screen-sm){
		.right {

			padding-top: 40px;
			border-left: none;
			float:left;
			margin-left: 25px;
			border-top: 1px solid @gray-mid-light;
		}
	}

	.re-title{
		float:right;
		font-size: @font-seminorm;
		margin-top:5px;
		width:53%;

		@media (max-width: @screen-sm){
			width:55%;
		}
	}
	.blue-bg{
		background: @blue-primary;
		border-radius: 5px;
		padding: 20px 20px 0 30px;
		color: @white;
	}
	.blue-bg:hover{
		background: @dark-primary;
	}
	a.blue-bg{
		clear:left;
		margin-bottom:15px;
		text-decoration:none;
	}

	.ty-left{
		span{
			color: @white;
		}
	}
	.ty-left, .resource-icon{

		float: left;
		padding: 0 20px 30px 0;
	}
	.ty-right {
		float: right;
		margin:20px 0;
		width:53%;

		@media (max-width: @screen-sm){
			width:55%;
		}
	}
	span.icon-twitter, span.icon-facebook, span.icon-linkedin, span.icon-youTube, span.icon-googlePlus {
		color: @blue-primary;
	}
}

.blank {
	.form_builder_form input[type="checkbox"] {
		width:35px;
		float:left;
	}
	#disclaimer {
		float:left;
		width:80%;
		width:~"calc(90% - 35px)";
		padding-top:2px;
	}
}


#lookBookModal {
	top:5%;
	padding-right: 17px;
	.modal-content {
		background-color:transparent;
		box-shadow:none;
		border:0;
	}
	.modal-body {
		padding: 0px 15px 15px 15px;
	}
	.modal-header {
		border: none;
		padding: 15px;
	}
	button.close {
		color:white;
		border:1px solid white;
		margin-right:-8px;
		margin-top:-5px;
		width:20px;
		height:20px;
		border-radius:10px;
		font-size:13px;
		font-weight:300;
		line-height:100%;
		opacity: 1;
	}
	.modal-dialog {
		width:1150px;
		max-width:100%;
		margin: 30px auto;
		iframe {
			max-width:100%;
			background:black url(/assets/img/loading.gif) 50% 50% no-repeat;
		}
	}
}

/* Customer Success Videos */

.sv-module {
	hr {border-top: 1px solid #000;}
	#play-video { position: relative; }
	.video-box { padding-bottom: 60px;}
	#video {
		max-height: 645px;
		height: 100%;
		position: relative;
		top: 0px;
	}
	#pv-img {
		cursor: pointer;
		position: relative;
		z-index: 1;
	}
	.col-title {
		padding-bottom: 0px;
		font-size: 40px;
		line-height: 44px;
	}
	.social-media {
		float: right;
	}
	.intro-heading {
		font-size: 24px;
		line-height: 33px;
		color: #515151;
		padding: 50px 0px;
	}
	p {
		font-size: 18px;
		color: #515151;
	}
	.sv-module-content {
		padding: 50px 0px;
		ul {
			margin: 20px 0px;
		}
	}
	p.small {
		color: #787878;
		font-size: 14px;
		padding: 20px 0px;
	}
	#play-icon {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		bottom: 0;
		z-index: 5;
		cursor: pointer;
		background-color: rgba(0,0,0,0.2);
		background-repeat: no-repeat;
		background-position: center;
		background-image: url('@{image-url}Play_Button_icon.png');
	}

}

/* Customer Success Video Module Two
--------------------------------------*/
.sv-module-content {
	h1 {
		margin-top: 75px;
		font-weight: @weight-norm;
		font-size: @font-large;
		color: @blue-primary;
	}
	.by-line {
		margin-top: 20px;
		font-size: @font-tiny;
		color: @gray;
	}
	.social-media {
		float: right;

		a {
			text-decoration: none;
		}
		.share-icon {
			font-size: 25px;
			margin: 0px 5px;
			color: @black;
		}
		.share-icon:hover {
			color: @blue-primary;
		}
	}

	.video-box {
		margin-top: 10px;
		margin-bottom: 75px;

		p {
			padding-top: 30px;
			padding-bottom: 0px;
		}

		#play-video {
			position: relative;

			.playbutton-svg {
				position: absolute;
				top: 40%;
				width: 10%;
				left: 45%;
				@media (max-width: @screen-sm) {
					height: 25%;
					width: 15%;
				}
			}
		}
		#play-video:hover {
			.playbutton-svg {
				ellipse {
					stroke: @gray-mid-light;
				}
				path {
					fill: @gray-mid-light;
				}
			}
		}
	}
	#video {
		max-height: 645px;
		height: 100%;
		position: relative;
		top: 0px;
	}

	.bottom-half {
		padding: 75px 0px;

		.left-column {
			.overview {
				padding-bottom: 50px;
				margin-bottom: 40px;
				font-weight: @weight-heavy;
				font-size: @font-norm;
				color: @dark-primary;
				border-bottom: 1px solid @dark;
			}
			.quote {
				font-size: @font-norm;
			}
			.quote-byline {
				border-bottom: 1px solid @dark;
				padding-bottom: 50px;
				margin-bottom: 50px;

				.quote-byline-container {
					font-size: @font-tiny;
					font-weight: @weight-bold;
					color: @violet;
					float: right;
				}
			}

		}
		.right-column {
			font-size: @font-tiny;
			font-weight: @weight-bold;

			.customer-logo {
				margin-bottom: 30px;
			}
			.ata-glance {
				color: @pink;
				margin-bottom: 30px;
			}
			.right-column-title {
				padding-bottom: 5px;
			}
			.right-column-content {
				padding-bottom: 10px;
				font-weight: @weight-norm;
				font-size: @font-small;
				p {
					padding-bottom: 10px;
				}
				ul {
					padding-bottom: 10px;
				}
			}

			.right-divider-line {
				margin-bottom: 10px;
				height: 2px;
				width: 10%;
				opacity: 0.2;
				background-color: @gray;
			}
		}
	}
}
