/*TECHSPECS*/
.techbody{
	.capstitle{
		font-weight:@weight-heavy;
		font-size: @font-tiny;
		color:@gray-mid;
		padding-left: 15px;
	}
	color:@dark-primary;
	h2{
		font-size:@font-norm;
		font-weight:@weight-norm;
		margin-top:none;
	}
	li{
	font-size:@font-tiny;
	}
}
.techsr{
	border-bottom:1px @gray-mid-light solid;
	padding:8px 0px 63px 0px;
	ul{
		@media(max-width:@screen-sm){
		 	padding-left:20px;
		 }
	}
	.systemreq{
		@media(max-width:@screen-sm){
		 	margin-bottom:25px;
		 }
	}
	.serversr{
		line-height:23px;
	}
	.spacesr{
		line-height:20px;
	}

}
.techcr{
	border-bottom:1px @gray-mid-light solid;
	padding:52px 0px 63px 0px;
	ul{ list-style: none;
		@media(max-width:@screen-sm){
		 	padding:0;
		 }
	}
	.clientreq{
		@media(max-width:@screen-sm){
		 	margin-bottom:25px;
		 }
	}
	.servercr{
		line-height:26px;

	}
	.spacecr{
		line-height:20px;
	}
}
.techshv{
	padding:52px 0px 63px 0px;
	ul{
		@media(max-width:@screen-sm){
		 	padding-left:20px;
		 }
	}
	.supporthv{
		@media(max-width:@screen-sm){
		 	margin-bottom:25px;
		 }
	}
	.servershv{
		line-height:26px;

	}
	.spaceshv{
		line-height:26px;
	}
}
.techspfoot{

	.techdownload{
		background-color: @gray-white;
		padding-top:40px;
		padding-bottom:40px;
		 @media(max-width:@screen-sm){
		 	padding-bottom:100px;
		 }
		.tsleft{
			margin-top: 8px;
			@media(max-width:@screen-sm){
		 	margin-bottom:13px;
		 	}

		}
		a{
			font-size:@font-small;
			color: @blue-primary;
			@media(max-width:@screen-sm){
		 	margin-left:1%;
		 	}
		}
		.button-blue-primary{
			float: right;
			 @media(max-width:@screen-sm){
		 	float:left;
		 	margin-top: 10px;
		 	margin-left: 0%;
		 	}
		}

	}
}



/* -------------------------------
FEATURES
------------------------------- */




/* FEATURES LIST
-------------------------------*/
.features-list-spacing {
	padding: 50px 0 70px 0;
}

.features-list {
	font-size: @font-small;

	a:link, a:hover, a:visited {
		color: @blue-primary;
	}
	.template-heading h1 {
	    height: 60px;
	    font-size: @font-large;
	    font-weight: @weight-norm;
	    color: @dark;
	    margin-bottom: 50px;
	}
	.list-header {
		color: @dark;
		font-size: @font-semilarge;
		margin-bottom: 55px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.list-title {
		font-size: @font-norm;
		color: @dark;
		margin-bottom: 16px;
	}
	.list-content {
		color: @gray;
		padding-bottom:50px;
		ul {
			margin-bottom: 25px;
		}
	}
}


/* RECENT UPDATES
-------------------------------*/

.recent-updates-module {
	a:link, a:hover, a:visited {
		font-size: @font-tiny;
		font-weight: @weight-heavy;
		line-height: 1.43;
		color: @turquiose;
	}
	.link {
		a {
			font-size: @font-tiny;
			font-weight: @weight-heavy;
			line-height: 1.43;
			color: @blue-primary;
		}
	}
	.section-heading {
		font-size: @font-tiny;
		color: @gray-mid;
		font-weight: @weight-bold;
		letter-spacing: 1px;
		margin-bottom: 60px;
		text-transform:uppercase;
	}
	.section-subheading {
		font-size: @font-norm;
		line-height: 1.33;
		color: @dark;
		margin-bottom: 60px;
	}
	.recent-updates-image {
		margin-bottom: 41px;
		@media (max-width: @screen-md) {
			margin-bottom: 30px;
		}
	}
	.recent-updates-title {
		font-size: @font-norm;
		color: @dark-primary;

	}
	.recent-updates-title-small {
		font-size: @font-small;
		color: @dark;
		font-weight: @weight-heavy;
	  line-height: 1.5;
		}
	.recent-updates-subtitle {
		font-size: @font-small;
		color: @gray-mid;
		line-height: 1.5;
		font-weight: @weight-normal;
	}
	.recent-updates-content {
		font-size: @font-tiny;
		line-height: 1.29;
		color: @gray;
		margin-top: 19px;
		margin-bottom: 13px;
		strong {
			font-weight: @weight-heavy;
		}
		a {
			color: @blue-primary;
		}
	}
	.recent-updates-content-row {
		margin-bottom: 50px;
	}
	.recent-updates-content-block {
		@media (max-width: @screen-md) {
			margin-bottom: 50px;
		}
	}
	.recent-updates-content-block:last-child {
		@media (max-width: @screen-md) {
			margin-bottom: 0;
		}
	}

	.read-resource {
		a:link, a:hover, a:visited {
			font-size: @font-small;
			font-weight: @weight-bold;
			line-height: 1.13;
			text-align: center;
			color: @blue-primary;
			display: block;
			margin-left: auto;
			margin-right: auto;
			max-width: 320px;
		}
	}
	.free-trial-button div {
		margin: 32px auto 19px auto;
		text-align: center;
	}
	.free-trial-button a {
		display: inline-block;
		font-size: @font-seminorm;
		font-weight: @weight-norm;
		color: @white;
		padding: 14px 52px 12px 52px;
	}
	.free-trial-button a:hover {
		color: @blue-dark;
	}
}


/* WHATS NEW
-------------------------------*/
.whats-new-module {
	.section-heading {
		font-size: @font-tiny;
		color: @gray;
		font-weight: @weight-bold;
		letter-spacing: 1px;
		margin-bottom: 67px;
		text-transform:uppercase;
	}
	.section-heading2 {
		font-size: @font-tiny;
		color: @gray;
		font-weight: @weight-bold;
		letter-spacing: 1px;
		margin-bottom: 30px;
		text-transform:uppercase;
		a {
			text-transform: none;
		}
	}
	.whats-new-edition-titles {
		margin-bottom: 60px;
		.maintitle {
			font-size: @font-norm;
			margin-bottom: 5px;
		}
		.subtitle {
			font-size: @font-seminorm;
			color: @gray-mid;
		}
	}

	.whats-new-content-row {
		.whats-new-content-block {
			margin-bottom: 40px;
			font-size: @font-small;

			.whats-new-image {
				width: 100px;
				height: 100px;
				margin-bottom: 30px;
			}
			.whats-new-title {
				font-weight: @weight-heavy;
				margin-bottom: 15px;
			}
			.whats-new-content {

			}
		}
	}
	.whats-new-content-row-last {
		margin-bottom: 10px;
	}
	.whats-new-link {
		font-size: @font-small;
		text-align: center;
		color: @blue-primary;
		padding-bottom: 35px;
	}
	.whats-new-faq-link {
		font-size: @font-small;
		text-align: center;
		color: @blue-primary;
	}
	hr {
		margin-bottom: 74px;
	}
}


/* Version Comparison
-------------------------------*/
.version-comparison-wrapper {
	background-color: @dark;
	#title-section {
		color: #fff;
	}
}
.version-comparison-mid-gray {
	background-color: #33464F;
}

.version-comparison-title {
	font-size: @font-tiny;
	font-weight: @weight-bold;
	line-height: 1.33;
	color: @gray;
	margin-left: 15px;
}

.version-comparison-table {
	table {
		margin-top: 60px;
	    width: 100%;
	    border-collapse: collapse;

		/* No outside table border style rules begin
		-------------------------------------------- */
		thead tr th {
			border-top: 0;
		}
		thead th:last-child, tbody td:last-child {
			border-right: 0;
		}
		tbody tr:last-child th, tbody tr:last-child td {
			border-bottom: 0;
		}
		thead tr th:first-child, tbody tr th {
			border-left: 0;
		}
		/* No outside table border style rules end
		-------------------------------------------- */

		thead tr th, tbody tr th {
			font-weight: @weight-norm;
		}
		thead tr th {
			line-height: 1.33;
			color: @white;
		}
		tbody tr th {
			line-height: 1.33;
			color: @gray-mid;
		}

		/* Font, padding, text-align table styles begin
		----------------------------------------------- */
		thead tr th {
			font-size: @font-seminorm;
			padding: 15px 5px;
			text-align: center;
		}
		thead tr th:first-child {
			padding-left: 15px;
			font-size: @font-norm;
			text-align: left;
		}
		tbody tr th {
			font-size: @font-tiny;
			padding: 15px 5px 15px 15px;
		}
		tbody tr th.row2-col1 {
			font-weight: @weight-heavy;
			padding: 5px 0 5px 15px;
		}
		/* Font, padding, text-align table styles end
		----------------------------------------------- */
	}
	th, td {
		border: 1px solid @gray;
		position: relative;
	}
	.col1 {
		width: 40%;
	}
	.col2, .col3, .col4 {
		width: 20%;
	}

	/* Colored circle styles in table begin
	--------------------------------------- */
	td div.true {
		background-color: @aqua;
		width: 20px;
		height: 20px;
		border-radius: 10px;
		display: block;
		margin: auto;
	}
	td div.false {
		background-color: @gray;
		width: 20px;
		height: 20px;
		border-radius: 10px;
		display: block;
		margin: auto;
	}
	td div.half {
		background-color: @gray;
		width: 20px;
		height: 20px;
		border-radius: 10px;
		display: block;
		margin: auto;
		div {
			border-radius: 10px 0 0 10px;
			background-color: @aqua;
			width: 10px;
			height: 20px;
		}
	}
	.arrow_box {
		display: none;
		position: absolute;
		width: 160px;
		margin-left: -80px;
		left: 50%;
		bottom: 85%;
		padding: 16px;
		background-color: @gray;
		color: @gray-light;
		font-size: @font-tiny;
	}
	.arrow_box:after {
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-top-color: @gray;
		border-width: 8px;
		margin-left: -8px;
	}
	td.half:hover {
		.arrow_box {
			display: block;
		}
	}
	/* Colored circle styles in table end
	--------------------------------------- */
}



/* WHY CHOOSE
-------------------------------*/
.why-choose-module {
	.why-choose-title {
		font-size: @font-semilarge;
		text-align: center;
		color: @blue-primary;
		margin-bottom: 30px;
	}

	.why-choose-content div {
		text-align: center;
		margin-bottom: 35px;
		font-size: @font-seminorm;
		font-height: 1.33;
		color: @gray;
		max-width: 887px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		a {
			text-align:center;
		}
		ul {
			text-align: left;
		}
	}
	.modal {
		.modal-dialog-partners {
			.modal-content {
			margin: 5px 0;
				.close {
					padding: 10px;
				}
				.modal-header {
					padding: 50px;
				}
			}
		}
	}
	img {
		margin: auto;
		margin-bottom: 41px;
	}

}




/* Competition Comparison
-------------------------------*/
.competition-comparison-title div {
	font-size: @font-norm;
	line-height: 1.33;
	margin-bottom: 50px;
	color: @gray;
	max-width: 600px;
	display: block;
	margin-top: 32px;
}

.competition-comparison-table {
	table {
	    width: 100%;
	    border-collapse: collapse;

	    /* No outside table border style rules begin
		-------------------------------------------- */
		thead tr th {
			border-top: 0;
		}
		thead th:last-child, tbody td:last-child {
			border-right: 0;
		}
		tbody tr:last-child th, tbody tr:last-child td {
			border-bottom: 0;
		}
		thead tr th:first-child, tbody tr th {
			border-left: 0;
		}
		/* No outside table border style rules end
		-------------------------------------------- */

		thead tr th, tbody tr th {
			font-weight: @weight-norm;
		}
		thead tr th {
			line-height: 1.33;
			color: @gray-mid;
		}
		tbody tr th {
			line-height: 1.33;
			color: @gray;
		}

		/* Responsive table styles begin
		------------------------------------------------- */
		thead tr th {
			font-size: @font-tiny;
			padding: 3px;
			text-align: center;
		}
		thead tr th:first-child {
			text-align: left;
		}
		tbody tr th {
			font-size: @font-semitiny;
			padding: 3px;
		}
		tbody tr td .content {
			text-align: center;
			color: #B6C1C2;
		    font-size: @font-small;
		    font-weight: 300;
		}
		@media (min-width: @screen-sm) {
			thead tr th {
				font-size: @font-seminorm;
				padding: 5px;
				text-align: center;
			}
			thead tr th:first-child {
				text-align: left;
			}
			tbody tr th {
				font-size: @font-tiny;
				padding: 5px;
			}
		}
		@media (min-width: @screen-md) {
			thead tr th {
				font-size: @font-norm;
				padding: 15px 5px;
			}
			thead tr th:first-child {
				text-align: left;
				padding-left: 15px;
			}
			tbody tr th {
				font-size: @font-seminorm;
				padding: 15px 5px 15px 15px;
			}
		}
		/* Responsive table styles end
		------------------------------------------------- */
	}
	th, td {
		border: 1px solid @gray-light;
		position: relative;
	}
	.col1 { width: 25%; }
	.col2 { width: 15%; }
	.col3 { width: 12%; }
	.col4 { width: 15%; }
	.col5 { width: 22%; }
	.col6 { width: 11%; }

	/* Colored circle styles in table begin
	--------------------------------------- */
	td div.true {
		background-color: @aqua;
		width: 20px;
		height: 20px;
		border-radius: 10px;
		display: block;
		margin: auto;
	}
	td div.false {
		background-color: @gray-mid-light;
		width: 20px;
		height: 20px;
		border-radius: 10px;
		display: block;
		margin: auto;
	}
	td div.half {
		background-color: @gray-mid-light;
		width: 20px;
		height: 20px;
		border-radius: 10px;
		display: block;
		margin: auto;
		div {
			border-radius: 10px 0 0 10px;
			background-color: @aqua;
			width: 10px;
			height: 20px;
		}
	}
	.arrow_box {
		display: none;
		position: absolute;
		width: 160px;
		margin-left: -80px;
		left: 50%;
		bottom: 85%;
		padding: 16px;
		background-color: @gray-light;
		color: @gray;
		font-size: @font-tiny;
	}
	.arrow_box:after {
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-top-color: @gray-light;
		border-width: 8px;
		margin-left: -8px;
	}
	td.half:hover {
		.arrow_box {
			display: block;
		}
	}
	/* Colored circle styles in table end
	--------------------------------------- */
}



/* Resources FAQ
-------------------------------*/
#resources-main {
	.template-heading h1 {
	    font-size: @font-large;
	    font-weight: @weight-norm;
	    color: @dark;
	    margin-bottom: 50px;
	}
}

#resources-faq-accordian {
	.box {
		padding-bottom: 30px;
		padding-top: 66px;
	}
	.general-title {
		padding-bottom: 38px;
		h2 {
			font-size: @font-tiny;
			font-weight: @weight-norm;
			letter-spacing: 1px;
			color: @gray;

		}
	}
	.answer {
		height:0px;
		opacity:0;
		font-size: @font-small;
		line-height: 1.38;
		color: @gray;
		padding: 5px 150px 5px 0;
		@media (max-width: @screen-md) {
			padding-right: 40px;
		}
		overflow: hidden;
		ul {
			list-style:none;
			margin-bottom: 25px;

			li {
				font-size: 16px;
				font-weight: 300px;
				color: #697c87;
				list-style-type: disc;
			}
		}
	}
	.question {
		font-size: @font-small;
		font-weight: @weight-norm;
		line-height: 1.67;
		color: @blue-primary;
		margin-bottom: 15px;

	}
	.accordion-question {
		display:block;
		padding: 20px 300px 20px 0;
		@media (max-width: @screen-md) {
			padding-right: 40px;
		}
		position: relative;
		text-decoration:none;

		span.plus-sign {
			position:absolute;
			right:10px;
			top: 30%;
			color: @dark;
		}

	}
	ul.accordion{
		list-style:none;
		padding:0px;
		margin-bottom:55px;
	}
	.offset {
		border-bottom: solid 1px #e3e7ea;
	}
	.faq-list {
		padding-left: 0;

		li {
			list-style-type: none;
			font-size: @font-seminorm;
			line-height: 1.3;
			color: @blue-primary;
			margin-bottom:12px;
		}

	}

}


#resources-faq {
	.box {
		padding-bottom: 30px;
	}
	.general-title h2 {
	    height: 60px;
	    font-size: @font-tiny;
	    font-weight: @weight-norm;
	    letter-spacing: 1px;
	    color: @gray;
	    margin-bottom: 15px;
	}
	.faq-list {
		padding-left: 0;

		li {
			list-style-type: none;
			font-size: @font-seminorm;
			line-height: 1.3;
			color: @blue-primary;
			margin-bottom:12px;
		}

	}
	.border {
		border-bottom: 1px solid @gray-light;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.question {
		font-size: @font-norm;
		font-weight: @weight-norm;
		line-height: 1.67;
		color: @dark-primary;
		margin-bottom: 15px;
	}
	.answer {
		font-size: @font-small;
		line-height: 1.38;
		color: @gray;
		margin-bottom: 25px;
		ul {
			margin-bottom: 25px;
			padding-left: 90px;
			li {
			font-size: 16px;
			font-weight: 300px;
			color: #697c87;
			list-style-type: disc;
			}
		}
		p {
			padding-bottom: 15px;
		}

	}
}
/* Trial Downloads More Info Module
-------------------------------*/
.td-violet {
    	background-color: @violet;
    }



/* Suite Buy Now Module
-------------------------------*/
.suite-buy-now-module {
	background-color: @blue-dark;
	padding: 30px 0px;
	text-align: center;
	color: @white;
	font-size: @font-seminorm;

	span {
		color: @white;
		font-size: 40px;
	}
	.suite-buy-now-title {
		margin-top: 10px;
	}
	@media (max-width: @screen-sm) {
		.suite-buy-now-title {
			margin-bottom: 20px;
		}
	}
	.suite-buy-now-title-only {
		a {
			color: @blue;
		}
	}
}
.green-suite-buy-now-module{
	background-color: #328b68;
}
.lang-de-de .suite-buy-now-module .col-sm-3 {
	margin-top: -10px;
	.button-clear-white {
		white-space: normal;
		display: inline-block;
	}
}


/* Cross Products */

.product .button-clear-blue-prim {
	text-align: center;
}

.capstitle {
	padding: 0px 0px 60px 15px;
	font-size: @font-tiny;
	font-weight: @weight-heavy;
	color: @gray-mid;
	text-transform:uppercase;

		h1 {
			font-size:@font-tiny;
		}
}

.products-more-button {
	float:right;
	padding-top:30px;

	a {
		color:@blue-primary;
		font-size:@font-tiny;
		font-weight:@weight-norm;
	}
	&.arrow {
		padding-right:100px;

		@media  (max-width: @screen-md) {
			padding-right:0px;
		}
	}
}

/* Video Section */
.video-section {

	img {
		margin:0 auto;
	}

	.video {
		margin:0 auto;
		max-width:662px;
		position:relative;
		cursor:pointer;
		text-align:center;

		iframe {
			display:none;
			width:662px;
			height:380px;

			@media  (max-width: @screen-sm) {
				width:370px;
				height:210px;
			}
		}
		.play {
			position:absolute;
			width:100%;
			height:100%;
			z-index:9;
			background: url('@{image-url}Products/video/play-btn.png') center no-repeat;
		}
		.play:hover {
			background: url('@{image-url}Products/video/play-btn-rollover.png') center no-repeat;
		}
	}
}

/* Nav Section */

#productnav {
	padding: 0px;
	background-color: @dark;
	font-size: @font-tiny;
	color: @blue;
	width:100%;
	z-index:1;
	position:relative;
	top:auto;
	@media (max-width: @screen-sm) {
		box-shadow:none;
	}
	ul {
		list-style: none;
		padding-left: 0px;
		float: right;

		@media (max-width: @screen-sm) {
			float: left;
			padding-left: none;
		}
		li:last-child {
			margin-right:0px;
		}
		li {
			display: inline-block;
			margin-right:20px;
			margin-bottom:10px;
			font-weight:@weight-bold;

			a {
				color:@gray-mid;
				font-weight:@weight-norm;
				font-size: @font-tiny;
			}
			a.button-blue-primary{
				cursor: pointer;
			}
			a.button-clear-blue-prim{
				display:inline-block;
				padding: 3px 10px;
				color: @blue;
				border-color:@blue;
			}
			a.button-clear-blue-prim:hover{
				color:@white;
				background-color: @blue;
				text-decoration:none;
			}
			a:hover {
				color:@gray;
				text-decoration:none;
				cursor:pointer;
			}
			.button-blue-primary {
				display:inline-block;
				padding: 3px 10px;
				color: @white;
			}
			.button-blue-primary:hover {
				color:@blue;
			}
			&.inactive-button {
				border:1px solid @blue;
				color: @blue;
				padding: 3px 13px;
				border-radius: 30px;
				font-weight:@weight-norm;
				font-size:@font-tiny;
			}
		}
	}
	h3 {
		font-size: @font-seminorm;
		font-weight: @weight-norm;
		padding: 20px 0px 20px 0px;

		a {
			color: @gray-mid;
		}
		a:hover {
			color: @blue-primary;
			text-decoration:none;
		}
	}
}
#productnav.fixed {
	position:fixed;
	z-index:3;
	top:0;
}
@media (max-width: @screen-md) {
	#productnav.fixed {
		position:relative;
		top:auto !important;
	}
}

.navlinks {
	padding-top:15px;
	@media (max-width: @screen-sm) {
		padding-left: 0px;
		padding-bottom: 10px;
		margin-bottom: 23px;
	}
}

.breadcrumbs #productnav .navlinks {
	padding-top:4px;
	ul li .button-blue-primary,
	ul li .button-clear-blue-prim {
		margin-top:12px;
	}

}
@media(max-width:770px) and (min-width: 765px){
	.hide-crumbs{
		display:none !important;
	}
	.utilitynav{
		display:none !important;
	}
	.categories{
		display: none !important;
	}
}
.crumbs {
	padding: 23px 0 0px;
	font-size: @font-semitiny;
	font-weight: @weight-bold;
	color: @gray-mid;

	@media  (max-width: @screen-sm) {
      padding-top:58px;
    }
    a {
      color: @gray-mid;
    }
	a:hover {
		color: @gray;
		text-decoration:none;
	}
	a:after {
		content:'\203a';
		padding:0px 4px 0px 6px;
	}
}


/* Banner Section */
#trialbanner{
	background-size: cover;
	background-position:center;
	background-repeat:no-repeat;

	&.trialdownloadbanner {
		background-image: url('@{image-url}Products/trial-downloads/corba-trial.png');
	}
	span {
		color:@white;
		padding-bottom:20px;
		display:block;
	}
	.container {
		padding-top:50px;
		padding-bottom:50px;
	}
	h1 {
		font-weight: @weight-norm;
		color: @white;
		padding-top:10px;
	}
	.intro_desc {
		color: @white;
	}
}
#productbanner {
		font-weight: @weight-norm;
		font-size: @font-large;
		color: @blue-primary;
		padding-bottom:15px;

		@media  (max-width: @screen-sm) {
			font-size:@font-semilarge;
			.box {
				padding-top:40px;
			}
		}
	h1 {
		color: @dark-primary;
		font-size: @font-norm;
		padding: 0px 0 0px;
		font-weight: @weight-norm;
		line-height: 35px;
	}
	.spacing {
		margin-left:40px;

		@media  (max-width: @screen-md) {
			margin-left:0px;
		}
	}
	span {
		font-size:100px;
		display:block;
		margin:0px 0px 30px 0px;
	}
}

/* Overview Section */

.lang-zh-cn strong,
.lang-zh-tw strong {
  font-weight: 400;
}
#overview {
	background: @blue-primary; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, @blue-primary , @blue); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, @blue-primary, @blue); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, @blue-primary, @blue); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, @blue-primary , @blue); /* Standard syntax (must be last) */
	color: @white;
	.capstitle {
		color:@white;
	}
	.app-module {
		ul {
			padding: 0;
			margin-bottom: 20px;
			li {
				padding: 0;
				list-style-type: disc;
				margin-left: 20px;
			}
		}
	}
	.button {
		margin-top: 25px;
		margin-bottom: 50px;
		a {
			text-decoration: none;
			display: inline-block;
			text-align: center;
		}
		a:hover {
			color: @blue-primary;
		}
	}
	p {
		font-weight: @weight-norm;
		font-size: @font-seminorm;
		padding-bottom: 20px;
	}
	ul {
		font-size: @font-seminorm;
		font-weight: @weight-norm;

		@media  (max-width: @screen-md) {
			font-size:@font-seminorm;
		}
	}
	li {
		padding-bottom: 25px;
	}
	a {
		color:@white;
		font-size:@font-tiny;
		display: block;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.special-link {
		span {
			font-size:40px;
			padding-right:10px;
			float:left;
		}
		div {
			padding-top:8px;
		}
	}
	@media  (max-width: @screen-sm) {
		.col-sm-5 {
			padding-bottom:30px;
		}
	}
}

/* Features Section */

#features {
	font-size: @font-small;
	.padding {
		padding-bottom:80px;
	}
	h2 {
		font-size: @font-semilarge;
		font-weight: @weight-norm;
		color: @dark-primary;
		padding-bottom: 20px;

		@media  (max-width: @screen-sm) {
			font-size:@font-norm;
		}
	}
	p {
		font-weight: @weight-norm;
	}
	a {
		font-size: @font-tiny;
		color: @blue-primary;
		font-weight: @weight-bold;
		margin: 20px 0px 0px 0px;
	}
	img {
		padding-bottom: 80px;
		margin:0 auto;

		@media  (max-width: @screen-sm) {
			padding-top:20px;
		}
	}

	&.alt {

		.capstitle {
			padding-bottom:0px;
		}
		img {
			padding: 60px 0 33px;
			margin:0;
		}
		p {
			padding-top: 10px;
			padding-bottom: 10px;
		}
		h2 {
			padding-bottom:10px;
		}
	}
}

/* Case Studies Section */

.casestudies {
	background-color: @gray-white;
	color: @dark-primary;
	font-size:@font-small;

	img {
		@media (max-width: @screen-sm) {
			padding-top: 50px;
		}
	}
	h3 {
		font-weight: @weight-heavy;
		font-size: @font-seminorm;
		border-top: 1px @gray-mid-light solid;
		padding: 22px 0 10px;
		margin-top: 15px;
	}
	p {
		font-size: @font-small;
		font-weight: @weight-bold;
	}
	a {
		font-size: @font-tiny;
		color: @blue-primary;
	}
	.col-md-4 {
		padding-bottom:60px;
	}
	.box {
		padding-bottom:30px;
	}

}

/* Resources Section */
.thank-you{
	#resources {
		span.resource-icon.icon-whitepaper, span.re-title, span.ty-right, span.resource-icon.icon-brief, span.resource-icon.icon-brochure, span.resource-icon.icon-customerStory, span.resource-icon.icon-dataSheet, span.resource-icon.icon-flyer, span.resource-icon.icon-guide, span.resource-icon.icon-comparisonChart, span.resource-icon.icon-infographic, span.resource-icon.icon-FAQ, span.resource-icon.icon-Report, span.resource-icon.icon-Misc, span.resource-icon.icon-video, span.resource-icon.icon-webinar, span.resource-icon.icon-podcast {
			color: @white;
		}
	}
}


.resource-thank-you-page {
	.mainheader {
		font-size:30px;
		color:@blue-primary;
		text-align: center;
	}
	.thankyou-blue-bx {
		background-color:@blue-primary;
		padding: 20px;
		border-radius: 5px;
		font-size: @font-tiny;
		@media (max-width: @screen-sm) {
			margin-left: 30px;
			margin-right: 30px;
		}

		.resource-img img {
			margin-bottom: 10px;
		}
		.type {
			color: @gray-mid-light;
		}
		.resource-title {
			color: @white;
			font-size: @font-seminorm;
			font-weight: @weight-heavy;
			margin-bottom: 5px;
		}
		.cta-link {
			color: @blue-light;
			margin-top: 15px;
		}
		@media (max-width: 350px) {
			.resource-title, .type {
				display: inline-block;
				width: 100%;
			}
		}
	}
	.thankyou-blue-bx:hover {
		background-color: @dark-primary;
	}
	.also-email {
		margin-top: 25px;
		text-align: center;
		color: @dark-primary;
		font-size: @font-small;
		font-weight: @weight-bold;
	}
	.related-resources {
		padding-top: 60px;
		padding-bottom: 120px;
		font-size: @font-tiny;
		.related-header {
			font-size: @font-tiny;
			color: @gray;
			font-weight: @weight-bold;
			padding-bottom: 40px;
		}
		.type {
			color: @gray;
			margin-bottom: 5px;
		}
		.resource-title {
			color: @dark;
			font-size: @font-small;
			font-weight: @weight-heavy;
			margin-bottom: 20px;
		}
		.cta-img {
			height: 130px;
		}
		.cta-link {
			color: @blue-light;
		}
	}
	@media (max-width: @screen-sm) {
		.related-resources {
			padding-bottom: 60px;
			.cta-img {
				height: 120px;
			}
			.cta-link {
				margin-bottom: 30px;
			}
		}
	}
}

#resources {
	[class^="icon-"], [class*=" icon-"] {
		font-size: 60px;
	}
	.object-section-link {
		text-decoration: none;
		font-size: @font-tiny;
		.line {
			margin-top: 20px;
			border-top: 1px @gray-mid-light solid;
			padding-bottom: 20px;
		}
		span {
			color: @blue-primary;
		}
		.fixed-height {
			height:100px;
			display:table-cell;
			vertical-align:bottom;
		}
		.resource-link {
			display: block;
			font-size: @font-tiny;
			color: @blue-primary;
			padding-bottom: 20px;
			padding-top: 20px;
			clear:both;
			margin-bottom:20px;

			img {
				float: left;
	    		margin-right: 20px;
				max-width:90px;
			}
		}
		.resource-link:hover {
			text-decoration: underline;
		}
	}
	.amount {
		font-size: @font-semitiny;
		color: @gray;
		padding-left: 8px;
	}
	p {
		font-size: @font-small;
		color: @dark-primary;
		padding: 0px 0 20px;
	}
}

/* customer rollover logos */

.acciona-logo {
	background: url('@{image-url}Partners/CustomerLogos/acciona-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:180px;
	&:hover {
	background: url('@{image-url}Partners/CustomerLogos/acciona-logo.png') no-repeat;
	}
}
.ams-logo {
	background: url('@{image-url}Partners/CustomerLogos/ams-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:180px;
	&:hover {
	background: url('@{image-url}Partners/CustomerLogos/ams-logo.png') no-repeat;
	}
}
.aquilon-logo {
	background: url('@{image-url}Partners/CustomerLogos/aquilon-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:180px;
	&:hover {
	background: url('@{image-url}Partners/CustomerLogos/aquilon-logo.png') no-repeat;
	}
}
.arvato-logo {
	background: url('@{image-url}Partners/CustomerLogos/arvato-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:180px;
	&:hover {
	background: url('@{image-url}Partners/CustomerLogos/arvato-logo.png') no-repeat;
	}
}
.banca-logo {
	background: url('@{image-url}Partners/CustomerLogos/banca-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:180px;
	&:hover {
	background: url('@{image-url}Partners/CustomerLogos/banca-logo.png') no-repeat;
	}
}
.intersistemi-logo {
	background: url('@{image-url}Partners/CustomerLogos/Intersistemi-logo.png') no-repeat;
	display: block;
	height:80px;
	width:210px;
    -webkit-filter: grayscale(100%);
 	-moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
		&:hover {
		background: url('@{image-url}Partners/CustomerLogos/Intersistemi-logo.png') no-repeat;
		-webkit-filter: grayscale(0%);
	 	-moz-filter: grayscale(0%);
	    -o-filter: grayscale(0%);
	    -ms-filter: grayscale(0%);
	    filter: grayscale(0%);
		}
}
.cajaValores-logo {
	background: url('@{image-url}Partners/CustomerLogos/cajaValores-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:180px;
	&:hover {
	background: url('@{image-url}Partners/CustomerLogos/cajaValores-logo.png') no-repeat;
	}
}
.cimubisa-logo {
	background: url('@{image-url}Partners/CustomerLogos/cimubisa-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:180px;
	&:hover {
	background: url('@{image-url}Partners/CustomerLogos/cimubisa-logo.png') no-repeat;
	}
}
.countyMarin-logo {
	background: url('@{image-url}Partners/CustomerLogos/countyMarin-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:180px;
	&:hover {
	background: url('@{image-url}Partners/CustomerLogos/countyMarin-logo.png') no-repeat;
	}
}
.csc-logo {
	background: url('@{image-url}Partners/CustomerLogos/csc-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:180px;
	&:hover {
	background: url('@{image-url}Partners/CustomerLogos/csc-logo.png') no-repeat;
	}
}
.curtze-logo {
	background: url('@{image-url}Partners/CustomerLogos/curtze-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:180px;
	&:hover {
	background: url('@{image-url}Partners/CustomerLogos/curtze-logo.png') no-repeat;
	}
}
.eCube_logo {
	background: url('@{image-url}Partners/CustomerLogos/ecube-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:180px;
	&:hover {
		background: url('@{image-url}Partners/CustomerLogos/ecube-logo.png') no-repeat;
	}
}
.efco-logo {
	background: url('@{image-url}Partners/CustomerLogos/efco-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:180px;
	&:hover {
		background: url('@{image-url}Partners/CustomerLogos/efco-logo.png') no-repeat;
	}
}
.fortWorth-logo {
	background: url('@{image-url}Partners/CustomerLogos/fortWorth-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:180px;
	&:hover {
		background: url('@{image-url}Partners/CustomerLogos/fortWorth-logo.png') no-repeat;
	}
}
.gmm-logo {
	background: url('/assets/images/Partners/CustomerLogos/gmm-logo-gray.png') no-repeat;
	display: block;
	background-size: 80px 80px;
	width: 80px;
	height: 80px;
}
.gmm-logo:hover {
	background: url('/assets/images/Partners/CustomerLogos/gmm-logo.png') no-repeat;
	display: block;
	background-size: 80px 80px;
	width: 80px;
	height: 80px;
}
.govAust-logo {
	background: url('@{image-url}Partners/CustomerLogos/govAust-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:180px;
	&:hover {
	background: url('@{image-url}Partners/CustomerLogos/govAust-logo.png') no-repeat;
	}
}
.hsbc-logo {
	background: url('@{image-url}Partners/CustomerLogos/hsbc-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:180px;
	&:hover {
	background: url('@{image-url}Partners/CustomerLogos/hsbc-logo.png') no-repeat;
	}
}
.inglewood-logo {
	background: url('@{image-url}Partners/CustomerLogos/inglewood-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:180px;
	&:hover {
	background: url('@{image-url}Partners/CustomerLogos/inglewood-logo.png') no-repeat;
	}
}
.isleman-logo {
	background: url('@{image-url}Partners/CustomerLogos/isleman-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:180px;
	&:hover {
	background: url('@{image-url}Partners/CustomerLogos/isleman-logo.png') no-repeat;
	}
}
.kansasLines-logo {
	background: url('@{image-url}Partners/CustomerLogos/kansasLines-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:180px;
	&:hover {
	background: url('@{image-url}Partners/CustomerLogos/kansasLines-logo.png') no-repeat;
	}
}
.lmc-logo {
	background: url('@{image-url}Partners/CustomerLogos/lmc-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:180px;
	&:hover {
	background: url('@{image-url}Partners/CustomerLogos/lmc-logo.png') no-repeat;
	}
}
.miamiCity-logo {
	background: url('@{image-url}Partners/CustomerLogos/miamiCity-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:180px;
	&:hover {
	background: url('@{image-url}Partners/CustomerLogos/miamiCity-logo.png') no-repeat;
	}
}
.om-logo {
	background: url('@{image-url}Partners/CustomerLogos/om-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:180px;
	&:hover {
	background: url('@{image-url}Partners/CustomerLogos/om-logo.png') no-repeat;
	}
}
.omLogistics-logo {
	background: url('@{image-url}Partners/CustomerLogos/omLogistics-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:180px;
	&:hover {
	background: url('@{image-url}Partners/CustomerLogos/omLogistics-logo.png') no-repeat;
	}
}
.raet-logo {
	background: url('@{image-url}Partners/CustomerLogos/raet-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:180px;
	&:hover {
	background: url('@{image-url}Partners/CustomerLogos/raet-logo.png') no-repeat;
	}
}
.sba-logo {
	background: url('@{image-url}Partners/CustomerLogos/sba-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:180px;
	&:hover {
	background: url('@{image-url}Partners/CustomerLogos/sba-logo.png') no-repeat;
	}
}
.SNS-bank-logo {
	background: url('@{image-url}Partners/CustomerLogos/SNS-bank-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:180px;
	&:hover {
	background: url('@{image-url}Partners/CustomerLogos/SNS-bank-logo.png') no-repeat;
	}
}
.sopra-logo {
	background: url('@{image-url}Partners/CustomerLogos/sopra-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:180px;
	&:hover {
	background: url('@{image-url}Partners/CustomerLogos/sopra-logo.png') no-repeat;
	}
}
.spv-logo {
	background: url('@{image-url}Partners/CustomerLogos/spv-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:180px;
	&:hover {
	background: url('@{image-url}Partners/CustomerLogos/spv-logo.png') no-repeat;
	}
}
.standardChart-logo {
	background: url('@{image-url}Partners/CustomerLogos/standardChart-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:180px;
	&:hover {
	background: url('@{image-url}Partners/CustomerLogos/standardChart-logo.png') no-repeat;
	}
}
.tata-logo {
	background: url('@{image-url}Partners/CustomerLogos/tata-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:180px;
	&:hover {
	background: url('@{image-url}Partners/CustomerLogos/tata-logo.png') no-repeat;
	}
}
.telcordia_logo {
	background: url('@{image-url}Partners/CustomerLogos/telcordia-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:180px;
	&:hover {
		background: url('@{image-url}Partners/CustomerLogos/telcordia-logo.png') no-repeat;
	}
}
.wipro-logo {
	background: url('@{image-url}Partners/CustomerLogos/wipro-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:180px;
	&:hover {
	background: url('@{image-url}Partners/CustomerLogos/wipro-logo.png') no-repeat;
	}
}
.workSafe-logo {
	background: url('@{image-url}Partners/CustomerLogos/workSafe-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:180px;
	&:hover {
		background: url('@{image-url}Partners/CustomerLogos/workSafe-logo.png') no-repeat;
	}
}
.zucchetti-logo {
	background: url('@{image-url}Partners/CustomerLogos/zucchetti-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:180px;
	&:hover {
		background: url('@{image-url}Partners/CustomerLogos/zucchetti-logo.png') no-repeat;
	}
}
	.banca-logo {
	background: url('@{image-url}Partners/CustomerLogos/banca-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:158px;
	&:hover {
		background: url('@{image-url}Partners/CustomerLogos/banca-logo.png') no-repeat;
	}
}
	.espa-logo {
	background: url('@{image-url}Partners/CustomerLogos/enterpriseSPA-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:158px;
	&:hover {
		background: url('@{image-url}Partners/CustomerLogos/enterpriseSPA-logo.png') no-repeat;
	}
}
.bgl-logo {
	background: url('@{image-url}Partners/CustomerLogos/bgl-logo-gray.png') no-repeat;
	display: block;
	height:80px;
	width:158px;
	&:hover {
		background: url('@{image-url}Partners/CustomerLogos/bgl-logo.png') no-repeat;
	}
}
.kaufpark-logo {
    background: rgba(0, 0, 0, 0) url("@{image-url}Partners/CustomerLogos/kaufpark-gray-logo.png") no-repeat scroll 0 0;
    display: block;
    height: 80px;
    width: 140px;
	&:hover {
    background: rgba(0, 0, 0, 0) url("@{image-url}Partners/CustomerLogos/kaufpark-logo.png") no-repeat scroll 0 0;
	}
}
.tieto-logo {
    background: rgba(0, 0, 0, 0) url("@{image-url}Partners/CustomerLogos/tieto-logo-gray.png") no-repeat scroll 0 0;
    display: block;
    height: 80px;
    width: 140px;
	&:hover {
    background: rgba(0, 0, 0, 0) url("@{image-url}Partners/CustomerLogos/tieto-logo.png") no-repeat scroll 0 0;
	}
}



/* Quote Section */

#slideshow {
	background-image: url('@{image-url}Backgrounds/customer-story-bkgd.png');
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	color: @white;
	font-weight: @weight-bold;

	.products-more-button a {
		color:@white;
	}
	.button-clear-violet {
		float:left;
		margin-top:20px;
	}
	.country {
		padding-bottom:30px;
	}
	p {
		font-size: @font-norm;
		font-weight: @weight-norm;

		@media  (max-width: @screen-sm) {
			font-size:@font-seminorm;
		}
	}
	.company {
		font-size: @font-semilarge;
		font-weight: @weight-norm;
		display: block;
		padding-bottom: 20px;
		padding-top:40px;

		@media  (max-width: @screen-sm) {
			font-size:@font-norm;
		}
	}
	.small {
		font-size: @font-seminorm;
		font-weight: @weight-norm;
		display: block;
	}
	.leftquotation {
		position: absolute;
		margin-left: -8px;
	}

	/* Slider when multiple quotes */
	@slideshowheight: 400px;

	.quotes {
		overflow: hidden;
		position: relative;
		height: @slideshowheight;

		@media  (max-width: @screen-md) {
			height: initial;
		}

		.quote {
			position: absolute;
			display: none;
			width: 100%;
            transition-property:left, opacity;
            transition-duration:700ms;
			padding-left: 8px;

			@media  (max-width: @screen-md) {
				position: static;
			}
		}
		.quote.notransition {
			transition: none;
		}
		.quote.selected {
			left: 0px;
			display: block;
		}
		.quote.lefthidden {
			left: -2000px;
			display: block;
			@media  (max-width: @screen-md) {
				display: none;
			}
		}
		.quote.righthidden {
			left: 2000px;
			display: block;
			@media  (max-width: @screen-md) {
				display: none;
			}
		}
	}
	.arrow {
		cursor: pointer;
		margin-top: 180px;
		font-size: 40px;
	}
}

/* Footer Section */

#prefooter {
	background-color: @blue;
	color: @white;

	ul {
		padding-bottom: 39px;
		padding-left:0px;

		li {
			list-style-type: none;

			a {
				color: @white;
				font-weight: @weight-bold;
				font-size: @font-small;
			}
		}
	}
	.title {
		font-size: @font-semilarge;
		padding-bottom: 15px;

		&.bordertop {
			@media  (max-width: @screen-sm) {
				margin: 0px 15px;
				padding: 36px 0px 20px;
				border-top:1px @white solid;
			}
		}
	}
}

/* Related Products Section */
#related {
	.box {
		padding-bottom:30px;
	}
	.relatedproduct {
		font-size:@font-norm;
		font-weight: @weight-bold;
		margin: 0px;
	}
	h3  {
		.one {
			color: @aqua;
		}
		.two {
			color: @red;
		}
		.three {
			color: @blue-light;
		}
	}
	p {
		padding: 20px 0 50px;
		font-weight: @weight-bold;
		font-size: @font-small;
		color: @dark-primary;
	}
	.color0 a {
		color:@aqua;
		font-weight:@weight-norm;
	}
	.color1 a {
		color:@blue;
		font-weight:@weight-norm;
	}
	.color2 a {
		color:@blue-light;
		font-weight:@weight-norm;
	}
	.color3 a {
		color:@aqua;
		font-weight:@weight-norm;
	}
	.color4 a {
		color:@blue;
		font-weight:@weight-norm;
	}
	.color5 a {
		color:@blue-light;
		font-weight:@weight-norm;
	}
	.color6 a {
		color:@aqua;
		font-weight:@weight-norm;
	}
}



/* Family Section */

.familyproducts{

	.familytitle {
		font-size: @font-norm;
		color: @gray;
		font-weight: @weight-norm;
	}
	h2 {
		padding-top: 35px;
		font-weight: @weight-bold;
		font-size: @font-small;

		a {
			font-weight: @weight-bold;
			font-size: @font-small;
			color:@blue-primary;
		}
	}
	.description {
		font-weight: @weight-norm;
		font-size: @font-tiny;
		color:@dark-primary;
		padding-top: 35px;
		padding-bottom:30px;

		p:last-child {
			padding-bottom:0px;
		}
		@media(max-width:@screen-sm){
			padding-top:0px;

		}
	}
	a {
		font-weight: @weight-norm;
		color: @blue-primary;
		font-size: @font-tiny;
		margin-right: 39px;
	}
	.title .first {
		border-top: 1px @blue-primary solid;
		margin-top: 35px;
		margin-bottom: 18px;

		@media(max-width:@screen-sm){
			margin-bottom:0px;
		}

	}
	.title {
		border-top: 1px @gray-mid-light solid;
		margin-top: 40px;
		margin-bottom: 0px;
	}
	.details{
		border-top: 1px @gray-mid-light solid;
		margin-top: 40px;
		margin-bottom: 0px;
		@media(max-width:@screen-sm){
		 	border-top:none;
		 	margin-top: 20px;
		}
		a {
			margin-bottom:15px;
			cursor:pointer;
			float:left;
		}
		&.first {
			border: none;
		 	.description {
		 		border-top: 1px @gray-mid-light solid;
		 		@media(max-width:@screen-sm) {
					border-top: none;
				}
		 	}
		}
	}
	/* family-categorized styles */
	/* section/products/family-categorized */
	&.fp-categorized {

	}
}

/* Trial Download Page */

#trialcontent {
	font-size:@font-small;

	h1 {
		font-weight: @weight-heavy;
		color: @white;
	}
	.intro_desc {
		color: @white;
	}
	.linklist {
		a {
			display: block;

		}
		a:after {
			content: ' ›';
		}
	}
	h2 {
		font-size: @font-norm;
		color: @blue;
		padding-bottom: 20px;
		font-weight:@weight-norm;
	}
	ul {
		padding-bottom:10px;

		li {
			font-size:@font-small;
		}
		.system-brand {
			padding-top: 20px;
		}
	}
	ul.CompanySearchResults {
		padding-bottom: 0;
		padding-left: 0 !important;
	}
	ul.CompanySearchResults li {
		font-size: 16px;
	}
	.divider {
		height: 1px;
		background-color: @gray-mid-light;
		margin: 32px 0px;
	}
	.headbar {
		height: 3px;
		margin: 70px 0 37px;

		&.gray {
			background-color: @gray;
		}
		&.blue-primary {
			background-color: @blue-primary;
			margin-top: 0px;
		}
	}
	.leftcol {
		padding: 0 15px 80px 0;
	}
	.thelookout-banner {
		background: url('@{image-url}nav/dropdown_arrow_ico.png') no-repeat;
	}

	.bannertitle {
		color: @white;
		padding-top: 74px;

		.top {
			font-weight: @weight-heavy;
			font-size: @font-large;
		}
		p {
			font-weight: @weight-norm;
			font-size: @font-norm;
			color: @white;
			padding: 10px 0 70px;
		}
	}
	.icon {
		padding-top: 87px;
	}

	#background {
		background-image: url('@{image-url}trial-banner.png');
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		min-height: 250px;

		@media (max-width: @screen-sm) {
			margin-top: 50px;
		}
	}
	.subheading{
		padding-bottom: 30px;
	}
}

/* Features Page */

#featurescontent {
	font-size: @font-small;

	.box {
		padding-bottom:30px;
	}

	@media (max-width: @screen-sm) {
		.box {
			padding-top:30px;
		}
	}
	.col-sm-6 {
		padding: 0 45px 0 15px;
	}
	h2 {
		padding-bottom: 20px;
		font-weight: @weight-norm;
		font-size: @font-semilarge;
		color: @dark-primary;
	}
	.feature {
		padding-bottom: 40px;
	}
	ul{
		padding-bottom: 20px;
	}
}

/* How To Buy Page*/

@media (max-width: 500px) {
	section#title-landing h1 {
    	display: block !important;
	}
	section#sytemRequirements .bottom-row a {
		display: block;
	}
	.system-requiremnts-capstitle.row {
        word-wrap: break-word;
    }
    h1 {
        word-wrap: break-word;
    }
    .product-nav h1 {
        width: 100% !important;
    }
    a.button-clear-white {
    	word-wrap: break-word;
    	display: inline-block;
    	white-space: normal;
    	text-align: center;
	}
	.resource-image-module > a {
        white-space: nowrap;
    }
    .center-button > a {
        display: inline-block;
        white-space: normal !important;
        text-align: center;
    }
    .suite-buy-now-title {
        word-wrap: break-word;
    }
}
.main-how-to-buy-page .list-section .button-blue-primary {
	display: inline-block;
}
.list-title {
    word-wrap: break-word;
}
#howtobuycontent {
	font-size: @font-small;
	.capstitle h1 {
		font-weight: @weight-norm;
	}
	.button-clear-blue-prim::first-letter {
		text-transform: uppercase;
	}
	.spacing {
		margin-bottom: 35px;
	}
	h1, h2 {
		padding-bottom: 16px;
		font-weight: @weight-norm;
		font-size: @font-semilarge;
		color: @dark;
	}
	.capstitle {
		padding-left:0px;
	}
	.disclaimer {
		margin-left: 10px;
	}
	.form_builder_form {
		margin-top: 26px;
		label {
			display: block;
		}
		input {
			height: 42px;
			width: 580px;
			max-width: 100%;
			@media (max-width: 658px) {
				width: 281px;
			}
		}
		#form_builder_firstName {
			float:left;
			margin-right: 19px;
			@media (min-width: 768px) and (max-width: 1199px) {
				float: none;
				margin-right: 0;
			}
		}
		#form_builder_lastName {
			float:left;
			@media (min-width: 768px) and (max-width: 1199px) {
				float: none;
			}
		}
		#form_builder_c_job_title {
			float:left;
			margin-right: 19px;
			@media (min-width: 768px) and (max-width: 1199px) {
				float: none;
				margin-right: 0;
			}
		}
		#form_builder_email {
			@media (max-width: 340px) {
				width: 281px;
			}
		}
		#form_builder_company {
			float:left;
			@media (min-width: 768px) and (max-width: 1199px) {
				float: none;
			}
		}
		#form_builder_phone {
			float:left;
			margin-right: 19px;
			@media (min-width: 768px) and (max-width: 1199px) {
				float: none;
				margin-right: 0;
			}
		}
		#form_builder_country {
			float:left;
			@media (min-width: 768px) and (max-width: 1199px) {
				float: none;
			}
		}
		#form_builder_comment {
			@media (max-width: 340px) {
				width: 281px;
			}
		}
		#firstName {
			width: 281px;
			@media (min-width: 768px) and (max-width: 1199px) {
				width: 100%;
			}
		}
		#lastName {
			width: 281px;
			@media (min-width: 768px) and (max-width: 1199px) {
				width: 100%;
			}
		}
		#c_job_title {
			width: 281px;
			@media (min-width: 768px) and (max-width: 1199px) {
				width: 100%;
			}
		}
		#company {
			width: 281px;
			@media (min-width: 768px) and (max-width: 1199px) {
				width: 100%;
			}
		}
		#phone {
			width: 281px;
			@media (min-width: 768px) and (max-width: 1199px) {
				width: 100%;
			}
		}
		#country {
			width: 281px;
			height: 42px;
			@media (min-width: 768px) and (max-width: 1199px) {
				width: 100%;
			}
		}
		#comment {
			height: 120px;
		}
		label.radio-inline{
			width: auto;
			display: inline-block;
		}
		input[type="radio"]{
			height:auto;
			width: auto;
			display: inline-block;
		}
	}
	.form_builder_submit {
		a {
			padding:10px 30px 10px 30px;
			border-radius: 30px 30px 30px 30px;
			font-size: @font-tiny;
			color: @blue-primary;
			background-color: transparent;
			border: 1px @blue-primary solid;
			display: inline-block;
			width: 180px;
			text-align: center;
			text-transform: lowercase;
		}
		a::first-letter {
			text-transform: uppercase;
		}
		a:hover {
			background-color: @blue-primary;
			border:1px solid @blue-primary;
			color: @white;
			text-decoration:none;
		}
		margin-top: 20px;
	}


	.padding {
		padding-bottom: 60px;
	}
	#rac_container {
		border-left: solid 1px @gray-mid-light;
		@media (max-width: 768px) {
			border-left: none;
		}
		.button-clear-blue-prim {
			text-transform: lowercase;
		}
		.button-clear-blue-prim::first-letter {
			text-transform: uppercase;
		}
		.form_builder_submit {
			margin-top: 0;
			// float: right;
		}
	}
	#form_builder_w_optin {
		label {
			display: none;
		}
	}
	.button-blue-primary {
		margin-top: 6px;
		display:inline-block;
	}
	.checkbox {
			background-color: white;
	}
	#w_optin {
		float:left;
		width:30px;
		height: 15px;
	}
	.disclaimer {
		float:left;
		width:90%;
		width:~"calc(100% - 45px)";
		padding-top:2px;
	}
	img {
		padding-top: 5px;
		float: right;

		@media (max-width: @screen-md) {
			display:inline-block;
			float: left;
			padding: 5px 15px 30px 0px;
		}
	}
	.col1 {
		padding:0 60px 0 0;

		@media (max-width: @screen-sm) {
			border:none;
		}
		.spacer {
			padding-top:50px;
		}
	}
	.col2 {
		padding-left: 60px;
		@media (max-width: @screen-sm) {
			padding: 40px 0px 0px;
			margin-top: 40px;
			border-top: 1px @gray-mid-light solid;
		}
	}
}
/* This is needed because chinese first and last names are switched */
.lang-zh-cn, .lang-zh-tw {
	#howtobuycontent .form_builder_form {
		#form_builder_firstName {
			margin-right: 0px;
		}
		#form_builder_lastName {
			margin-right: 19px;
		}
	}
}


/* FAQ Page */

#faqcontent {
	.border {
		height: 1px;
		background-color: @gray-white;
		margin: 20px 0 69px;
	}
	h2 {
		font-weight: @weight-norm;
		font-size: @font-norm;
		color: @dark-primary;
		padding-bottom: 15px;
	}
	p {
		font-size: @font-seminorm;
		font-weight: @weight-bold;
		color: @gray;
		padding-bottom: 45px;
	}
	ul {
		padding-bottom: 45px;

		li {
			color: @dark-primary;
			a {
				color: @blue-primary;
			}
		}
	}
	.offset {
		margin-top: -90px;
		padding-top: 90px;
	}
	#nine {
		padding-bottom: 180px;
	}
}

/* A-Z Page */
.azparent {
	div:last-of-type {
		border: none;
	}
}
.product {
	display:block;
	border-bottom:1px @gray-mid-light solid;
	font-size: @font-small;
	color:@dark-primary;
	margin-top:50px;
	padding-bottom:30px;


	.button-clear-blue-prim {
		margin:23px 0px 0px 15px;
		padding:10px 15px 10px 15px;
		display: block;
  	float: left;
		text-align: center;
	}
	.table {
		display:table;
		.first {
			width:100px;
		}
		.cell {
			display:table-cell;
			font-size:@font-seminorm;
			font-weight: @weight-bold;
			vertical-align:middle;

			a {
				color:@blue-primary;
			}
			a:hover {
				text-decoration: none;
			}
			span:hover {
				text-decoration: none;
			}
		}
	}
	.info {
		padding: 0px;
		@media	(min-width: @screen-lg) {
			border-right:1px @gray-mid-light solid;
			padding:10px 40px 10px 0px;
		}

		ul {
			display:block;
			padding:20px 0px 0px 0px;

			li {
				list-style:none;
				display:inline;
				padding:0px 25px 12px 0px;
				font-size:@font-tiny;
				float: left;
				@media (max-width: @screen-md) {
				}
				@media (max-width: @screen-sm) {
					padding-bottom: 15px;
				}

				a {
					color: @dark;
					margin-top:0px;
					font-weight:@weight-bold;
				}
				.button-clear-blue {
					color: @blue-light;
					padding: 6px 15px;
					margin-top: -6px;
					margin-left: 0px;
				}
				.button-clear-blue:hover {
					color: @white;
				}
			}
		}
	}
}
.product-nav {
	background-color:@gray-white;
	padding:50px 0px 30px 0px;
	margin-bottom:0px;

	h1 {
		font-size:@font-norm;
		font-weight:@weight-norm;
		color:@dark-primary;
		float:left;
		word-wrap: break-word;
		width:25%;
	}
	ul {
		padding:50px 0px 0px 0px;
		display:block;
		clear:both;

		li {
			list-style:none;
			display:inline-block;
			padding:0px 28px 20px 0px;
		}
	}
	.middle {
		text-align:center;
		margin:0px;


		ul {
			padding:0px 0px 0px 0px;
			margin-left: 30px;
			@media	(max-width: @screen-sm){
				margin-top: 20px;
				margin-left: 0px;

			}

			li {
				list-style:none;
				display:inline-block;
				padding:0px 12px 12px 0px;
			}
		}
	}
	form {
		float:right;
		padding: 0px 10px 0px 0px;
		font-size:@font-seminorm;
		color:@dark-primary;
		display: block;
		margin-top: -7px;
		@media (max-width: @screen-lg) {
			margin-top: 50px;
				float: left;
		}

		label {
			padding: 0px;
			font-weight:@weight-norm;
			line-height: @font-norm;
			@media	(max-width: @screen-sm) {
				padding-bottom: 20px;
			}
		}
		select {
			background: @white;
		   	width: 232px;
		   	font-size: 16px;
		   	line-height: @font-norm;
		   	border: 1px @gray-light solid;
		   	border-radius: 5px;
		   	height: 44px;
			color:@dark-primary;
			margin-left: 20px;
			@media (max-width: @screen-md) {
				margin-bottom: 20px;
				@media (max-width: @screen-sm) {
					margin-left: 0px;
					margin-right: 20px;
					width: 100%;
				}
			}
		}
		input {
			margin-left: 20px;
			width:231px;
			height:44px;
			line-height:44px;
			border: 1px @gray-light solid;
			border-radius: 30px;
			padding-left:25px;
			color:@dark-primary;
			@media (max-width: @screen-md) {
				margin-left: 65px;
				@media (max-width: @screen-sm) {
					margin-left: 0px;
					width: 100%;
				}
			}
		}
		input:active,
		input:focus {
			outline:0;
		}
	}
	a.inactive {
		pointer-events: none !important;
		cursor: default;
		color:@gray-mid-light;
	}
	a.active {
		text-decoration: none;
		color: @dark-primary;
	}
	a.clear_selections {
		color: @blue-primary;
		float: right;
		clear: both;
		padding: 20px 10px 0 0;
		font-size: 14px;
	}
}

/* System Requirements Page */

.techpages {

	.capstitle {
		 padding-left: 0px;
	}
}
.tech {
	border-bottom:1px @gray-mid-light solid;
	padding:0px 0px 50px 0px;
	margin-bottom:50px;
	font-size:@font-tiny;

	ul {
		padding-bottom:20px;
	}
	span {
		display:block;

		&.spacer {
			padding-top:20px;
		}
	}
	h2 {
		font-size:@font-norm;
		font-weight:@weight-norm;
		margin-top:none;
		padding-bottom:20px;
		max-width:250px;

		@media(max-width:@screen-sm){
			max-width:none;
		 }
	}
	.nopadding {
		.col-sm-12{
			margin-bottom:20px;
		}
	}
}

.tech:last-child {
	border-bottom:none;
	padding-bottom:0px;
	margin-bottom:0px;
}


.techdownload{
	background-color: @gray-white;
	padding-top:40px;
	padding-bottom:40px;

	.left {
		line-height:@font-large;

		a {
			display:block;
		}
	}
	.right {
		a {
			float:right;

			@media(max-width:@screen-sm){
				float:left;
				margin-top:15px;
		 	}
		}
	}
}
.modal {
	h2{
		font-weight: @weight-norm;
		color: @blue-primary;
		padding-bottom: 20px;
	}
	h4{
		padding-bottom: 20px;
		font-weight: @weight-bold;
	}
	a{
		display:block;
		color: @blue-primary;
		padding-bottom: 20px;
		font-size: @font-small;
	}
	.modal-body {
		padding: 20px 50px 30px 50px;
	}
	.modal-header {
		padding: 50px 50px 0px 50px;
		border-bottom: none;
		.partner-title {
			font-size: @font-seminorm;
			color: @gray;
			font-weight: @weight-heavy;
			margin: 26px 0 16px 0;
		}
		.partner-description {
			font-size: @font-tiny;
			color: @gray;
		}
	}
	.modal-dialog {
		margin: 20vh auto;
	}
	.modal-dialog-partners {
		margin: 20vh auto;
		width: 820px;
		@media only screen and (max-width: 900px) {
			width: 70%;
		}
		@media only screen and (max-width: 600px) {
			width: 100%;
		}
	}
	.modal-table {
		margin: 10px 45px ;
		@media only screen and (max-width: 600px) {
				margin: 10px 0;
			}
		table {
			width: 100%;
			margin-bottom: 60px;
		}
		th {
			background-color: @gray-light;
			font-size: @font-small;
			font-weight: @weight-heavy;
			color: @gray;
			padding: 6px 16px;
		}
		td {
			padding: 16px;
			font-size: @font-tiny;
			color: @gray;
			border-bottom: solid 1px @gray-light;
			a {
				padding: 0;
				font-size: @font-tiny;
			}
		}
	}
	.modal-dialog-roi-calculator {
		margin: 20vh auto;
		width: 820px;
		@media only screen and (max-width: 900px) {
			width: 70%;
		}
		@media only screen and (max-width: 600px) {
			width: 100%;
		}
		.modal-header {
			padding: 50px;
		}
	}
}
/* Testimonials Page */
.t-header{
	h1{
		color: @blue-primary;
	}
}
.testimonials-section{
	h4{
		font-weight: @weight-bold;
		padding-bottom: 20px;
	}
	p{
		font-size: @font-tiny;
	}
	.testimonial-block{
		padding-bottom: 40px;
	}
	.border-bot{
		border-bottom: 1px solid @gray-mid-light;
		margin: 20px 0;
	}
}

/* global bootstrap pagination styles */
.product-nav.pagination_cont {
	text-align: center;
	padding: 30px 0px 30px 0px;
	ul.pagination {
		padding: 0px 0px 0px 0px;
		margin-bottom: 15px;
		> li {
			padding-bottom: 0px;
			&.active {
				> span {
					background-color: @blue-primary;
					border-color: @blue-primary;
				}
			}
			> a { color: @blue-primary; }
		}
	}
}

/* content banner include styles */
    .content-banner-background {
        min-height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
    }
.content-banner-background {
	.button-clear-white {
		display: inline-block;
		white-space: normal;
		text-align: center;
	}

}
.content-banner-background-link:hover {
	text-decoration: none;

	.button-clear-white {
	background-color: @white;
	border:1px solid @white;
	color: @blue-light;
	text-decoration:none;
}
}
    .content-banner-background .container {
        padding: 50px 30px 30px 30px;
    }

    .content-banner-background .content-banner-icon {
        margin-bottom: 35px;
        width: 46px;
        height: 48px;
    }

    .content-banner-background .content-banner-blue {
        font-family: aktiv-grotesk,sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #29ceff;
        letter-spacing: .3px;
        margin-bottom: 30px;
    }
    .content-banner-background .content-banner-title {
        font-family: aktiv-grotesk,sans-serif;
        font-size: 40px;
        font-weight: 300;
        line-height: 45px;
        color: #FFFFFF;
        letter-spacing: .6px;
        margin-bottom: 35px;
    }
    @media only screen and (max-width: 320px) {
        .content-banner-background .content-banner-title {
            font-size: 24px;
            line-height: 30px;
            letter-spacing: .4px;
        }
    }
.stronger{
	font-weight:700;
}


.fancybox-skin .fancybox-inner{
	overflow-y: auto !important;
}
