.regions {
  padding-bottom:40px;
  .hiddenWrapper {
    transition: all 1s;
    opacity:1;
    @media (max-width:700px) {
      opacity:inherit;
    }
  }
  .hiddenWrap {
    display:none;
    @media (max-width:700px) {
      display:inherit;
    }
  }
  .visuallyhidden {
    transition: all .01s;
    opacity:0;
  }
  .visuallyshown {
    transform: translateY(-1000px);
    opacity:0;
  }
  .mainWindow {
    min-height: 900px;
    overflow:hidden;
  }

  .regionBanner {
    height:400px;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
      padding-top: 165px;
      color:@white;
      font-size:@font-huge;
      font-weight: @weight-norm;
      text-align:center;
    }
  }

  .regionAnchors {
    margin-top:50px;
    font-size: @font-norm;
    font-size: @weight-norm;
    @media (max-width:700px) {
      display:none;
    }
    .regionAnchorWrapper {
      padding-bottom: 6px;
      border-bottom: @gray 1px solid;
      a {
        color: @gray;
        text-decoration: none;
        margin-right: 80px;
        padding-bottom: 10px;
        margin-bottom:10px;
        &.activePartnerLink {
          border-bottom: @blue-primary solid 4px;
        }
      }
    }
  }

  .subTitle {
    h2 {
      color: @gray-mid;
      font-size:@font-tiny;
      font-weight:@weight-heavy;
      padding-bottom:50px;
      margin-top:70px;
      @media (max-width:700px) {
        margin-top:40px;
      }
    }
  }

  .viewAll {
    margin-top:60px;
    text-align: right;
    @media (max-width:700px) {
      margin-top:33px;
    }
    a {
      color: @blue-primary;
      font-size:@font-tiny;
      &:hover {
        text-decoration: underline;
        cursor:pointer;
      }
    }
  }
 
  .news {
    margin-bottom:40px;
    &:nth-child(3n+1) {
      clear:both;
    }
    @media (max-width:992px) {
      &:nth-child(3n+1) {
        clear:inherit;
      }
      &:nth-child(2n+1) {
        clear:both;
      }
    }

   a {
     text-decoration: none;
     h3 {
       color:@blue-primary;
       font-size:@font-norm;
       font-weight: @weight-norm;
       line-height:1.33;
       margin-bottom:20px;
     }

   }
    p {
      color: @gray;
      font-size: @font-tiny;
      line-height:1.29;
      margin-bottom: 40px;
      @media (max-width:700px) {
        margin-bottom:5px;
      }

    }
    .lowerNews {
      .leftPostLink {
        display: inline-block;
        a {
          display:inline-block;
          border: @blue-primary 1px solid;
          border-radius: 100px;
          padding: 12px 30px;
          margin-right:25px;
          &:hover {
            background-color:@blue-primary;
            color:#ffffff;
          }
        }
      }
      .rightAuthor {

        display:inline-block;
        position: relative;
        top: 10px;
        p {
          margin:0;
          padding:0;
          line-height:1.71;
          color:@gray-mid;
          display:block;
        }
      }

    }
 }

  .hotOffers {
    min-height:240px;
    margin-bottom:25px;
    &:nth-child(3n+1) {
      clear:both;
    }
    @media (max-width:992px) {
      &:nth-child(3n+1) {
        clear:inherit;
      }
      &:nth-child(2n+1) {
        clear:both;
      }
    }

    div.hotOfferImage {
      height: 140px;
      background-size: cover;
      background-position: 100% 80%;
      background-repeat:no-repeat;
      p {
        max-width:75%;
        padding-top: 55px;
        padding-left: 30px;
        color:@white;
      }
      @media (max-width:1200px) {
        p {
          padding-top: 45px;
        }
      }
      @media (max-width:768px) {
        height:200px;
        p {
          padding-top: 80px;
        }
      }
      @media (max-width:400px) {
        height:118px;
        p {
          padding-top:45px;
        }
      }

    }
    a {
      color: @blue-primary;
      font-size:@font-tiny;
      font-weight:@weight-norm;
      line-height:1.43;
      padding-left:15px;
      &.bigOfferTitle {
        display:block;
        padding-left:15px;
        padding-top:10px;
        padding-bottom:5px;
        color:@gray;
        font-size:@font-seminorm;
        font-weight:@weight-norm;
        line-height: 1.22;

      }
    }
    .lowerOffers {
      border: solid 1px @gray-mid;
      border-top:none;
      min-height: 84px;
    }
  }
  .image-height{
        min-height:40px;
        margin-top:20px;
        img{
            height:100%;
        }
    }

  .partnerEvent {
    &:nth-child(3n+1) {
      clear:both;
    }

    @media (max-width:992px) {
      &:nth-child(3n+1) {
        clear:inherit;
      }
      &:nth-child(2n+1) {
        clear:both;
      }
    }

    h4 {
      color: @gray;
      font-size:@font-tiny;
      font-weight:@weight-norm;
    }
    a {
      display:block;
      padding-top:20px;
      color:@blue-primary;
      font-size:@font-tiny;
      font-weight:@width-norm;
      line-height: 1.29;
      margin-bottom:60px;

      &.partnerTitle {
        margin-bottom:15px;
        color:@blue-primary;
        font-size:@font-norm;
        line-height:1.33;
        font-weight:@weight-norm;

      }
    }
    p {
      padding-bottom:10px;
      color:@gray;
      font-size: @font-tiny;
      line-height: 1.29;
      font-weight:@weight-norm;
    }
  }

}

div.regions{
  .subTitle{
    h2.light-title{
      font-weight: @weight-norm;
      font-size: @font-tiny;
      color:@gray;
    }
  }
  .partner-info{

    img{
      margin-bottom:10px;
    }

    p {
      color:@dark;
      font-size: @font-seminorm;

      strong{
        font-weight: @weight-heavy;
      }
    }
  }

  #resources{
    padding-top: 85px;

    .resource-spacing{
      margin-bottom:25px;
      font-size:@font-seminorm; 
    }
    p{
      display: inline-block;
      margin:0px;
      padding:0px;
    }
    a{
      display: inline-block;
      margin:0px;
      padding:0px;
    }
  }

  #contact{
    padding-top: 85px;
    h5{
      font-size: @font-norm;
      font-weight: @weight-norm;
      margin-bottom:15px;
      margin-top:25px;
    }
    .sub-title-spacing{
      margin-bottom:10px;
    }
    .social-media-links{
      a{
          padding:15px 3px 40px 0px;
          display:inline-block;

          span{
            font-size:29px;
          }
        }
        a:link {
            text-decoration: none;
        }

        a:visited {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        a:active {
            text-decoration: underline;
        }
     
    }
    p{
      font-size:@font-small;
      font-weight: @weight-norm;
      margin:0px;
      padding:0px;
    }
    a{
      font-size:@font-small;
      font-weight: @weight-norm;
      margin:0px;
      padding:0px;
      display: block;
    }
  }
}