/* Resource Landing */
#resource-landing {
	background-image: url('@{image-url}Backgrounds/recource-landing-bg.png');
	background-size: cover;

	.general-title h1, .general-content, .capstitle{
		color: @white;
	}
	.buttons{
		display: table;

		a {
			display: table-cell;
			vertical-align: middle;
			padding: 0px 30px;
			border-radius: 8px;
			font-size: @font-norm;
			font-weight: @weight-norm;
			color: @white;
			height: 120px;


			&.violet {
				background: @violet;
				border: 2px @violet solid;
			}
			&.blue-primary {
				background: @blue-primary;
				border: 2px @blue-primary solid;
			}
			&.blue {
				background: @blue;
				border: 2px @blue solid;
			}
		}
		a:hover {
			color: @dark-primary;
			background: @white;
			text-decoration: none;
		}
	}
}

/* CustomerSuccess Template */

/* CustomerSuccess Template - banner*/
.cs-banner-module {
	.title {
		color: @dark-primary;
		font-size: @font-large;
		margin-bottom: 15px;
		line-height: 50px;
	}
	@media (max-width: @screen-md) {
		.image {
		margin-top:30px;
	}
	}
	h1 {
		color: @gray;
		font-size: @font-seminorm;
		font-weight: @weight-norm;
		margin-bottom:30px;
		line-height: 24px;
	}
	.line {
		height: 1px;
		margin-top: 35px;
		border: solid 1px @gray-light;
	}
	.spacing-bottom {
		margin-top: 25px;
		li {
			line-height: 2;
		}
		.col-md-12 {
			margin: 10px auto;
		}
		.quick-head {
			font-size: @font-tiny;
			text-transform: uppercase;
			color: @pink;
			letter-spacing:1px;
			margin-top:20px;
		}
		.detail-title, .quick-title {
			font-size: @font-tiny;
			text-transform: uppercase;
			color: @dark-primary;
			letter-spacing:1px;
			margin-top:20px;
		}
		.breaker {
			width: 30px;
			height: 2px;
			border: solid 1px @gray-light;
			margin: 5px 0px 10px;
		}
		.detail-text, .quick-text {
			color: @gray;
			max-width:600px;
			font-size: @font-small;
		}
	}
}

.cs-tabs-module {
	padding: 50px 0 0px 0;
	.row-anchors {
		background-color: @dark;
		padding: 4px 0px;
		margin: 0px 0px;
	}
	.center {
		text-align:center;
	}
	a {
		.anchor-link {
			display: inline-block;
			text-transform: uppercase;
			color: @gray-mid-light;
			font-size: @font-tiny;
			margin: 0px 15px;
			vertical-align: middle;
		}
		&::after {
			content:"|";
			color: @gray;
			font-size: @font-norm;
		}
		&:last-child {
			&::after {
				content:"";
			}
		}
		&:hover {
			text-decoration: none;
		}
	}
}

.cs-quotes-module {
	background-image: url(/assets/images/Products/quote.png);
	background-size: cover;
	background-color: @blue-primary;
	color: @white;
	.content {
		display: flex;
	}
	.col-md-8 {
		text-align: center;
		h2 {
			font-weight: @weight-norm;
			font-size: @font-semilarge;
			max-width:800px;
			margin: 0 auto;
			line-height:34px;
		}
		.quote-source {
			font-size: @font-small;
			margin-top: 20px;
			.seperator {
				font-weight: @weight-norm;
				font-size: @font-semilarge;
				margin: 0px 10px;
				opacity: 0.49;
			}
		}
	}
}

.cs-tabdata-module {
	color: @gray;
	@media (max-width: @screen-md) {
		.image {
			margin:30px auto;
			img {
				margin: 0 auto;
			}
		}
	}
	.tab-title {
		text-transform: uppercase;
		color: @pink;
		font-size: @font-tiny;
		letter-spacing:1px;
	}
	.link-spacing {
		padding-bottom:15px;
	}
	.center {
		margin:0 auto;
	}
	.tab-content {
		font-size: @font-small;
		padding: 34px 0px;
		h3 {
			font-size: @font-seminorm;
			font-weight: @weight-norm;
			line-height: 28px;
		}
	}
	&.module-spacing {
		padding-bottom:0px;
	}
	&.gray-back {
		background-color: @gray-light;
		padding-bottom: 50px;
		.content {
			display: flex;
		}
	}
}

.cs-line {
	max-width: @screen-sm;
	height: 1px;
	margin: 0px auto;
	border: solid 1px @gray-light;
}

.contact-foot-module {
	background-color: @dark;
	color: @white;
	.spacing-top {
		h3 {
			font-size: @font-semilarge;
			font-weight: @weight-norm;
			margin-bottom: 50px;
		}
	}
	&.module-spacing {
		padding-bottom:40px;
	}
	.spacing-bottom {
		padding-bottom:45px;
		.location {
			font-size: @font-small;
			margin-top: 30px;
		}
		.number {
			font-size: @font-small;
			a {
				color: @blue-light;
				&:hover{
					color: @blue-light;
				}
			}
		}
	}
}

/* Portfolio Section (Was Family) */

.portfolio-list{
	.portfolio-head {
		text-transform: uppercase;
		color: @blue-primary;
		font-size: @font-tiny;
		font-weight: @weight-heavy;
		letter-spacing:1px;
		margin-top: 120px;
	}
	.portfolio-title {
		font-size: @font-norm;
		color: @gray;
		font-weight: @weight-norm;
	}
	h2 {
		padding-top: 35px;
		font-weight: @weight-bold;
		font-size: @font-small;

		a {
			font-weight: @weight-bold;
			font-size: @font-small;
			color:@blue-primary;
		}
	}
	.description {
		font-weight: @weight-norm;
		font-size: @font-tiny;
		color:@dark-primary;
		padding-top: 35px;
		padding-bottom:30px;

		p:last-child {
			padding-bottom:0px;
		}
		@media(max-width:@screen-sm){
			padding-top:0px;

		}
	}
	a {
		font-weight: @weight-norm;
		color: @blue-primary;
		font-size: @font-tiny;
		margin-right: 39px;
	}
	.title.dark {
		border-top: 1px @gray solid;
		@media(max-width:@screen-sm){
			margin-bottom:0px;
		}

	}
	.title {
		border-top: 1px @gray-mid-light solid;
		margin-top: 12px;
		margin-bottom: 0px;
	}

	.details{
		border-top: 1px @gray-mid-light solid;
		margin-top: 12px;
		margin-bottom: 0px;
		@media(max-width:@screen-sm){
			border-top:none;
			margin-top: 20px;
		}
		a {
			margin-bottom:15px;
			cursor:pointer;
			float:left;
			font-weight: @weight-bold;
		}
		&.dark {
			border-top: 1px @gray solid;
			@media(max-width:@screen-sm) {
					border-top: none;
				}
			.description {
				@media(max-width:@screen-sm) {
					border-top: none;
				}
			}
		}
	}
}

.more {
	&.gray-back {
		background-color: @gray-light;
		padding: 100px 0px 150px;
	}
	.content {
		display: flex;
		text-align: center;
		.title {
			font-size: @font-semilarge;
			font-weight: @weight-norm;
			line-height: 1.19;
			color: @gray;
			padding-bottom: 25px;
		}
		.button-shell {
			margin: 12px auto;
		}
		.button-blue-primary {
			font-size: @font-small;
		}
	}
}

@media(max-width: 500px) {
	.box {
		padding-bottom: 115px;
	}
}
/* MODAL FOR CAMPAIGNS */

#myModal2 {
	.form_builder_form {
		#w_optin {
			max-width: 10%;
			display: inline-block;
			vertical-align: top;
		}
		.disclaimer {
			max-width: 80%;
			display: inline-block;
		}
	}
	&.modal {
		a {
			display: inline;
		}
		.form_builder_submit {
			a {
				color: @white;
				padding-bottom: 10px;
				&:hover {
					color: @blue-primary;
				}
			}
		}
	}
	.modal-footer {
		border-top: none;
	}
}

#support-resources {
	.buttonspace {
		color: @blue-light
	}
}
/* Events
----------------------------*/
.event {
	.bannertitle {
		max-width: 696px;
		margin: auto;
		h1 {
			text-align: center;
			font-size: 48px;
			font-weight: 400;
			line-height: 1.14;
			padding: 0px 10px 31px 10px;
			@media (max-width: @screen-sm) {
				font-size: 30px;
			}
		}
	}
	.banner-content {
		max-width: 920px;
		margin: auto;
		p {
			color: @white;
			text-align: center;
			font-weight: 300;
			padding: 0px 10px 20px 10px;
		}
	}
}
.event-section {
	padding-bottom:50px;

	h2 {
		font-weight:@weight-norm;
		font-size:@font-large;
		padding-bottom: 35px;
	}
	.event-filter {
		padding-top:5px;
		text-align:right;
		font-size: @font-tiny;
		font-weight: @weight-heavy;
		
		@media (max-width: @screen-sm) {
				text-align:left;
			}
	}
	.wrapper-dropdown {
		border-radius: 100px;
		font-size: @font-tiny;
		text-align: left;
		min-width: 250px;
		color: @gray;
		padding-bottom: 5px;
		.dropdown li {
			padding: 5px 0px 5px 10px;
		}
		.dropdown li:hover {
			background-color: @blue-primary;
			color: @white;
		}
		.dropdown{
			max-height:160px;
		}
	}
	.wrapper-dropdown:after {
		margin-top: 0px;
	}
	.events-intro-paragraph {
		color: @gray;
		margin-top: 40px;
	}
}
.events {
	display:block;
	border-top: 1px solid rgba(182, 193, 194, 0.3);
	padding: 42px 0px 42px 0px;
	/*max-width: 1003px;*/
	margin: auto;
	color: @dark-primary;
	a {
		color:@blue;
	}
}
.events:last-child {
	border-bottom: 1px solid rgba(181, 193, 194, 0.3);
  margin-bottom: 86px;
}

.past-events-section {
	padding-top:55px;
	padding-bottom: 16px;

	.line {
		margin-top: 30px;
		height: 4px;
		width: 100%;
	}
	.title {
		color: #575db6;
		margin-top: @font-norm;
		font-size: @font-norm;
		font-weight:@weight-heavy;
	}
	.content {
		margin-top: 30px;
		font-size: @font-small;
		color: @dark-primary;
		font-weight: @weight-norm;
		max-width: 360px;
	}
	a {
		color: @blue;
		font-size: @font-tiny;
	}
	.link {
		margin-top: 25px;
		a {
			color: @blue-light;
			font-size: @font-tiny;
		}
	}
}


/* Resources */

.resource-page{

	.dark-row{
		background: @dark;
		padding:45px 0 20px;
		color: @white;

		h3{
			font-weight: @weight-norm;
		}
		a{
			color: @blue-light;
			float: right;
			clear: both;
			padding: 20px 10px 0 0;
		}
	}
	[class^="icon-"], [class*=" icon-"] {
		font-size: 60px;
	}
	.fixed-height {
		padding-bottom:15px;
		border-bottom:1px solid @gray-light;
		margin-bottom:15px;
		width:100%;
		display:block;

		.second {
			display:table-cell;
			vertical-align:bottom;
			height:100px;
		}
	}
	h2{
		font-weight: @weight-norm;
	}
	h3{
		float:left;
	}
	h4{
		font-size: @font-tiny;
		padding-bottom: 45px;
	}
	p{
		padding-top: 2px;
		font-size: @font-small;
	}
	a{
		font-size: @font-tiny;
		color: @blue-primary;
	}
	.border-bot{
		border-bottom: 1px solid @gray-light;
		a {
			color: @dark-primary;
			text-decoration: none;
		}
		.link {
			color: @blue-primary;
		}
		.link:hover {
			text-decoration: underline;
		}
		.title {
			padding-right: 15px;
		}
	}
	.bot-pad{
		padding-bottom: 45px;
	}

	form {
		float:right;
		padding: 0px 10px 0px 0px;
		font-size:@font-seminorm;
		color:@dark-primary;
		display: block;
		margin-top: -7px;
		@media (max-width: @screen-lg) {
			margin-top: 50px;
				float: left;
		}

		label {
			padding: 0px;
			color: @white;
			font-weight:@weight-norm;
			font-size: @font-tiny;
			@media	(max-width: @screen-sm) {
				padding-bottom: 20px;
			}
		}
		select {
			background: @white;
			width: 232px;
			font-size: 16px;
			line-height: @font-norm;
			border: 1px @gray-light solid;
			border-radius: 5px;
			height: 44px;
			color:@dark-primary;
			margin-left: 20px;
			@media (max-width: @screen-md) {
				margin-bottom: 20px;
				@media (max-width: @screen-sm) {
					margin-left: 0px;
					margin-right: 20px;
					width: 100%;
				}
			}
		}
		input {
			margin-left: 20px;
			width:231px;
			height:44px;
			line-height:44px;
			border: 1px @gray-light solid;
			border-radius: 30px;
			padding-left:25px;
			color:@dark-primary;
			@media (max-width: @screen-md) {
				margin-left: 65px;
				@media (max-width: @screen-sm) {
					margin-left: 0px;
					width: 100%;
				}
			}
		}
	}
}

.type-box {
	background: @dark;
	color: @gray-mid-light;
	margin: 15px;
	padding: 25px 15px;
	h4 {
		font-size: @font-seminorm;
		font-weight: @weight-norm;
		padding-bottom: 15px;
	}
	span {
		font-size: @font-tiny;
		color: @blue-light
	}
	.resource-icon {
		color: @gray-mid-light;
	}
}

#resources-main {
	.resources-types-container {
		text-align:right;
		.form-wrapper {
			float: right;
			@media (max-width: @screen-sm) {
				text-align: left;
				#resource-search {
					margin-left: 0px;
				}
			}
		}
		@media (max-width: @screen-md) {
			float: left;
			margin-bottom: 30px;
		}
	}
	@media (max-width: @screen-sm) {
		.resource-type-label {
			float: left;
			margin-bottom: 10px;
		}
	}
	.resource-type-label {
		font-size:14px;
		line-height:115%;
		display:inline-block;
		padding:12px 14px 0 0;
	}
	.wrapper-dropdown {
		display:inline-block;
		width:232px;
		max-width:100%;
		text-align:left;
		border:1px solid #eae9ea;
		color:#697c87;
	}
	#resource-search {
		width:232px;
		max-width:100%;
		margin-left:10px;
		font-size:14px;
		padding: 5px 15px 8px;
		border:1px solid #eae9ea;
		height:40px;
		vertical-align:top;
		border-radius:20px;
		background:white url(/assets/images/Products/icon-search.png) right -1px no-repeat;
	}
	.type-heading {
		img {
			display:block;
			margin-bottom:12px;
		}
		h4 {
			font-size:14px;
			font-weight:normal;
			letter-spacing:1px;
			text-transform:uppercase;
			color:@gray;
			margin-bottom:35px;
		}
	}
	.border-bot {
		padding-bottom:40px;
	}
	.bot-pad {
		display:block;
		/*padding-bottom:56px;*/
		height:156px;
		overflow:hidden;
		a {
			display:block;
			width:100%;
		}
		span.imgPreview {
			float:left;
			width:21%;
			img.resource-image {
				box-shadow: 1px 1px 3px #9dabac;
				width:100%;
				max-width:80px;
				max-height:100px;
			}
			span.resource-icon {
				font-size: 70px;
			}
		}
		span.details {
			float:right;
			width:74%;
			span.title {
				display:block;
				margin-bottom:18px;
				font-size:16px;
				font-weight:500;
				line-height:125%;
				color:#4f626c;
				margin-bottom:20px;
			}
			span.extra {
				display:block;
				opacity:0.7;
				font-size:14px;
				font-weight:300;
				color:#4f626c;
			}

		}
		a:hover span.details span.title {
			text-decoration:underline;
		}
	}
}

.wrapper-dropdown {

	.dropdown {
		li span.option {
			font-size:14px;
			line-height:115%;
			display: block;
			padding: 10px;
			margin-bottom: 0px;
			text-decoration: none;
			transition: all 0.3s ease-out 0s;
			color:@dark-primary;
		}
		li span.option:hover {
			background-color: @blue-primary;
			color: @white;
		}
	}
}



/*Devops Drive in Event----------------------*/
.simple_banner {
	padding: 100px;
	background-size: cover;
	background-position: center;
	@media (max-width: @screen-sm) {
		padding: 100px 10px;
	}

	.simple-banner-title {
		color: @white;
		font-size: @font-huge;
		font-weight: @weight-norm;
		@media (max-width: @screen-sm) {
			font-size: @font-large;
		}
	}
}

.devops-drivein-main-content {
	padding-bottom: 100px;


	.intro-content {
		padding-top: 40px;
		font-size: @font-norm;
		font-weight: @weight-norm;
		text-align: center;
	}
	.no-upcoming-webinar {
		font-size: @font-semilarge;
		margin-top: 25px;
		margin-bottom: 40px;
		text-align: center;
	}
	.upcomming-webinar {
		padding-top: 120px;
		font-size: @font-norm;
		font-weight: @weight-heavy;
	}
	.upcomming-webinar-image {
		padding-top: 30px;
	}
	.under-image-title {
		padding: 50px 0px 20px 0px;
		font-size: @font-semilarge;
	}
	.under-image-subtitle {
		font-size: @font-small;
		font-weight: @weight-heavy;
		p {
			padding: 0px;
		}
	}
	.under-image-contnet {
		padding-top: 30px;
		margin-bottom: 40px;
		font-size: @font-small;
		strong {
			font-weight: @weight-heavy;
		}
	}
}




/*Gate2 gated assets
------------------------------------*/


.gated-resource-page-banner {
	color: @white;

	.gate-mf-logo {
		display: block;
		background: url('@{image-url}Home/mf_logo.png');
		width: 99px;
		height: 24px;
		margin: 40px 0 0;
		text-indent: -9999px;

		&:hover {
			cursor: pointer;
		}
	}
	.title {
		margin-top: 70px;
		font-size: @font-semihuge;
		font-weight: @weight-norm;
	}
	.page-subtitle {
		margin: 30px 0px 70px 0px;
		font-size: @font-semilarge;
		font-weight: @weight-norm;
	}
	@media (max-width: @screen-sm) {
		.title {
			font-size: @font-large;
		}
		.page-subtitle {
			font-size: @font-norm;
		}
	}
}
.gated-resource-page {

	.overview {
		margin-top: 60px;
	}
	.gray-line {
		margin-top: 10px;
		height: 2px;
		background-color: #2c3d45;
		opacity: 0.39;
	}
	.content {

		h4 {
			font-size: @font-norm;
			font-weight: @weight-norm;
			margin-top: 40px;
		}
		ul {
			margin: 20px 0px;
			list-style: none;
			padding-left: 25px;
		}
		li::before {
			content: '\2022';
			color: @blue-primary;
			display: inline-block;
			width: 14px;
			margin-left: -1em
		}
	}
	.excerpt-title {
		margin-top: 40px;
		margin-bottom: 20px;
		color: @gray;
		font-size: @font-small;
	}
	.excerpt-content {
		font-size: @font-small;
		font-style: italic;
	}
	.call-to-action {
		font-size: @font-norm;
		font-weight: @weight-norm;
		margin-top: 70px;
		margin-bottom: 150px;

		img {
			display: inline;
			margin-left: 10px;
		}


	}

	@media (max-width: @screen-sm) {
		padding-bottom: 50px;
		.call-to-action {
			margin-bottom: 30px;
			img {
				display: none;
			}
		}
	}


	.promo-form {
		border-radius: 5px;
		top: -150px;
		background-color:#212d34;
		@media (max-width: @screen-md) {
			top: 0px;
		}

		.gate-modal-content {
			color: @gray-mid;
			font-size: 14px;
			font-weight: 300;
		}
		.gate-modal-header {
			padding:40px 40px 0 40px;
		}
		.gate-modal-body {
			padding:20px 25px 30px 25px;
		}
		.resource {
			h4 {
				font-size:14px;
				padding:0;
				margin-bottom:9px;
			}
			p {
				font-size:20px;
				font-weight:500;
				color:white;
				line-height:125%;
				padding-bottom:9px;
			}
			p.tiny {
				opacity:0.7;
				font-size:14px;
				font-weight:300;
				color:@gray-mid;
			}
		}
		.form_builder_form {
			.form_field_container {
				padding-bottom:10px;
			}
			input[type="text"],
			select {
				border:0;
				background-color:#313c43;
				color:@gray-mid;
				width:100%;
				height:40px;
			}
			select {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				background:#313c43 url(/assets/images/Campaigns/open-icon.png) 96% 18px no-repeat;
			}
			select::-ms-expand { /* for IE 11 */
				display: none;
			}
			label {
				margin-bottom:0;
			}
			#form_builder_w_optin input[type="checkbox"] {
				display:none;
			}
			#form_builder_w_optin {
				margin-top:15px;
				cursor:pointer;
				background:transparent url(/assets/images/Campaigns/checkbox.png) left top no-repeat;
				label {
					display: none;
				}
				br {
					display: none;
				}
			}
			#form_builder_w_optin.checked {
				background:transparent url(/assets/images/Campaigns/checkbox.png) left -200px no-repeat;
			}
			p.disclaimer {
				margin-left:30px;
				color: #6a7c87;
			}
		}
		.form_builder_submit {
			margin: 0px;
			text-align: center;
			width: 100%;
			a {
				background-color:#00c38a;
				color:white;
				display:inline-block;
				margin:0 auto;
				font-size:15px;
				font-weight:500;
				border:1px solid #00c38a;
				float:none;
			}
			a:hover {
				background-color:transparent;
				border:1px solid #00c38a;
			}
		}
	}
}
.unstyle-link .spacing{
	margin-bottom: 20px;
}



/* Attachmate Thank you Module */
.am-thank-you .am-ty-head {
  text-align: center;
  color: #5e6d78;
  font-size: 24px;
  font-weight: normal;
  padding: 10px 0 0 0;
}
.am-thank-you .am-ty-head p {
  margin: 0 0 5px 0;
  padding: 0;
}
.am-thank-you .am-ty-head p.blue {
  font-size: 30px;
  color: #0078EF;
  font-weight: 300;
  margin-bottom: 25px;
}
.am-thank-you #resources {
  text-align: center;
}
.am-thank-you #resources a.blue-bg {
  width: 365px;
  max-width: 100%;
  display: inline-block;
  text-align: left;
  margin: 0 7px 25px 7px;
  vertical-align: top;
}
.am-thank-you #resources a.blue-bg .resource-image {
  box-shadow: none;
}
.am-thank-you #resources a.blue-bg img {
  margin: 0;
  max-width: 25%;
}
.am-thank-you #resources a.blue-bg .re-title,
.am-thank-you #resources a.blue-bg .ty-right,
.am-thank-you #resources a.blue-bg .re-type {
  float: right;
  width: 68%;
}
.am-thank-you #resources a.blue-bg .re-type {
  color: #e3e7ea;
}
.am-thank-you #resources a.blue-bg .re-title {
  color: #e3e7ea;
  font-size: 16px;
  font-weight: 500;
  line-height: 138%;
}
.am-thank-you #resources a.blue-bg .ty-right {
  color: #29ceff;
  margin-top: 18px;
}
.am-thank-you .am-ty-email {
  text-align: center;
  font-size: 16px;
  line-height: 130%;
  font-weight: normal;
  color: #5e6d78;
  max-width: 380px;
  margin: 0 auto;
  padding-bottom: 60PX;
}
.am-thank-you .am-ty-more-extra {
  text-align: center;
  padding-bottom: 60px;
}
.am-thank-you .am-ty-more-extra a.button-clear-blue-prim {
  font-size: 16px;
}
.am-thank-you .am-ty-more-extra a.button-clear-blue-prim {
  font-size: 16px;
  margin-left: 25px;
  margin-right: 25px;
}
.am-thank-you .am-ty-related {
  border-top: 1px solid #f3f3f3;
  padding-top: 40px;
  text-align: center;
}
.am-thank-you .am-ty-related h4 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
  color: #df287c;
  margin-bottom: 40px;
  text-align: left;
  margin-left: 20px;
}
@media (max-width: 992px) {
  .am-thank-you .am-ty-related h4 {
    margin-left: 25px;
  }
}
.am-thank-you .am-ty-related a.rel-res {
  width: 365px;
  max-width: 100%;
  display: inline-block;
  text-align: left;
  margin: 0 7px 35px 7px;
  padding: 0 6% 0 0;
  vertical-align: top;
}
.am-thank-you .am-ty-related a.rel-res img {
  float: left;
  margin: 0 0 25px 0;
  max-width: 25%;
}
.am-thank-you .am-ty-related a.rel-res .rr-title,
.am-thank-you .am-ty-related a.rel-res .rr-pages,
.am-thank-you .am-ty-related a.rel-res .rr-type {
  float: right;
  width: 68%;
}
.am-thank-you .am-ty-related a.rel-res .rr-type {
  color: #778589;
  font-size: 14px;
  margin-bottom: 5px;
}
.am-thank-you .am-ty-related a.rel-res .rr-title {
  color: #263133;
  font-size: 16px;
  font-weight: 500;
  line-height: 138%;
}
.am-thank-you .am-ty-related a.rel-res .rr-pages {
  color: #778589;
  margin-top: 18px;
  font-size: 14px;
}
.am-thank-you .am-ty-related a.rel-res .rr-click {
  color: #29ceff;
  display: block;
  clear: both;
  font-size: 14px;
}
.am-thank-you .am-ty-related a.rel-res:hover {
  text-decoration: none;
}
.am-thank-you .am-ty-related a.rel-res .resource-icon {
  font-size: 90px;
  color: black;
  padding: 0;
}
.am-thank-you .am-ty-related a.rel-res .icon-hamburger:before {
  content: "\ea48";
}
@media (max-width: 767px) {
  .am-thank-you #resources a.blue-bg {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
  }
}



/*Banner HTML Resource*/
.banner-html-resources {
	.breadcrumbs {
		margin-top: 24px;
		font-size: @font-tiny;
		color: @dark-primary;
		a {
			padding-right: 5px;
			color: @dark-primary;
			text-decoration: none;
		}
		a:hover {
			color: @dark;
		}
		a:after {
			content: '>';
	    	padding: 0px 4px 0px 6px;
		}
		p {
			display: inline-block;
		}
	}
	.printbox {
		padding-top: 0;
		padding-bottom: 15px;
		.general-title {
			h1 {
				margin-top: 31px;
				color: @blue-dark;
				font-size: @font-large;
				padding-right: 25px;
			}
			.description {
				font-size: @font-seminorm;
				color: @gray;
			}
			.related {
				margin-top: 12px;
				font-size: @font-tiny;
				.related-type {
					display: inline-block;
					font-size: @font-norm ;
					margin-right: 41px;
				}
				.related-products {
					margin-top: 31px;
					display: inline-block;
					ul {
						list-style: none;
						display: inline-block;
						li {
							display: inline-block;
							padding-right: 5px;
							padding-left: 5px;
						}
						li:not(:last-child)::after {
							content: " |";
						}
						a {
							text-decoration: none;
							color: @blue-primary;
						}
						a:hover {
							color: @dark-primary;
						}
					}
					.title {
						color: @dark-primary;
						display: inline-block;
					}
				}
				.related-author {
					display: inline-block;
					padding-left: 5px;
				}
				.related-author::before {
					content: " |";
				}
			}
		}

		.links {
			font-size: 14px;
			a {
				display: inline-block;
				margin-right: 45px;
				text-decoration:none;
				cursor: pointer;
				margin-bottom: 22px;
			}
			.icon-printer {
			font-size: 32px;
			padding-right: 20px;
			}
			.icon-pdf {
				font-size: 32px;
				padding-right: 17px;
			}
		}
	}
}

/*System Requirements HTML Resource*/
.system-requirements-html-resources {
		ul {
			list-style-type: none;
		}
		a {
			text-decoration: none;
		}
		.title {
			font-size: @font-norm;
			padding: 65px 0 39px;
			margin-bottom: 20px;
		}
		.side-arrow {
			img {
				margin-top: 66px;
			}
		}
		.platform {
			font-size: @font-norm;
			color: @dark;
		}
		.sub-platform {
			margin: 25px 0 30px;
			.title {
				padding: 0;
				font-weight: @weight-heavy;
				font-size: @font-seminorm;
				color: @dark-primary;
			}
			ul {
				list-style-type: disc;
				font-size: @font-small;
				padding: none;

				ul {
					list-style-type: circle;

					ul {
						list-style-type: circle;
					}
				}
			}
		}
	}

/*50-50 HTML Resource*/
.fifty-fifty-html-resources {
	color: @dark-primary;
	font-size: @font-small;
	.modules {
		margin-top: 70px;
		padding-bottom: 12px;
		border-bottom: solid 1px @gray-mid-light;
		h2 {
			font-size: @font-tiny;
			color: @blue-dark;
			margin-bottom:	40px;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: 400;
		}
		.content {
			margin-bottom: 70px;
			font-size: @font-seminorm;
			color: @gray;
			ul {
				padding-left: 53px;
				margin-bottom: 30px;
			}
		}
	}
	.modules:last-child {
		border: none;
	}
	.red-border-bottom {
		border-bottom: solid 2px @pink;
		width: 80px;
		margin-top: 10px;
	}
	.sub-link-group {
		margin-bottom: 20px;
	}
	.section {
		padding: 55px 0 0;
	}
	.divider {
		border-bottom: solid 1px @gray-mid-light;
		margin: 0px 20px;
	}
	h2 {
		font-size: @font-semilarge;
		color: @dark;
		margin-bottom: 22px;
		font-weight: @weight-norm;
	}
	.content {
		padding-right: 70px;
		margin-bottom: 60px;
		@media  (max-width: @screen-sm) {
			padding-right: 25px;
		}
	}
	h3 {
		font-weight: @weight-norm;
		font-size: @font-norm;
		color: @blue-dark;
		margin-bottom: 16px;
	}
	h4 {
		font-size: @font-norm;
		font-weight: @weight-norm;
		color: @dark;
		margin-bottom: 16px;
	}
}




/*70-30 HTML Resource*/

.seventy-thirty-html-resources {
	color: @dark-primary;
	font-size: @font-small;
	.modules {
		margin-top: 70px;
		margin-bottom: 12px;
		h2 {
			font-size: @font-tiny;
			color: @pink;
			margin-bottom:	40px;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: 400;
		}
		.content {
			margin-bottom: 70px;
			font-size: @font-seminorm;
			color: @gray;
			padding-right: 60px;
			@media  (max-width: @screen-sm) {
				padding-right: 25px;
			}
			div {
				margin-bottom: 30px;
			}
			.caption {
				color: @blue-dark;
				font-size: @font-tiny;
				margin-top: 35px;
				padding: 15px;
			}
			.citation {
				color: @blue-dark;
				font-size: @font-tiny;
			}
			ul {
				margin-bottom: 30px;
			}
		}
		.col-right {
			padding: 30px 40px 0 40px;
			margin-bottom: 60px;
			h2 {
			 color: @blue-dark;
			 font-size: @font-norm;
			}
		}

	}
	.red-border-bottom {
		border-bottom: solid 2px @pink;
		width: 80px;
		margin-top: 10px;
	}
	.sub-link-group {
		margin-bottom: 20px;
	}
	.section {
		padding: 55px 0 0;
	}
	.divider {
		border-bottom: solid 1px @gray-mid-light;
		margin: 0px 20px;
	}
	h2 {
		font-size: @font-semilarge;
		color: @dark;
		margin-bottom: 22px;
		font-weight: @weight-norm;
	}
	h3 {
		font-weight: @weight-norm;
		font-size: @font-norm;
		color: @blue-dark;
		margin-bottom: 16px;
	}
	h4 {
		font-size: @font-norm;
		font-weight: @weight-norm;
		color: @dark;
		margin-bottom: 16px;
	}
}

////////////////////////////////////////////////////////////
/////			Resource page styles                   /////
////////////////////////////////////////////////////////////

	.main-overflow{
		overflow: visible;
	}

section#resource-searching {
	padding-top: 80px;
	padding-bottom: 80px;
	background-image: url('@{image-url}/Resources/resources-background.jpg');
	min-height: 164px;
	@media screen and (max-width: @screen-md) {
		padding-top:80px;
	}
	
	&.loading {
		.search-button-filtered, .search-button-row {
			background: transparent url(/assets/images/ajax-loader-white.gif) no-repeat center center;
			
			a {
				visibility: hidden;
			}
		}
	}
	

	&.search {
		padding: 20px 0px 20px 0px;
		.search-row .search-wrapper {
			width: 100%;
		}
		.resources-heading {
			display: none;
		}
		p {
			padding-bottom: 0px;
			font-size: 20px;
			margin-bottom: 0px;
		}
		.selects-row{
			margin-bottom: 0px;
		}
		.search-button-filtered{
			.search-button {
				padding: 15px 50px;
				font-size: 15px;

			}
		}
		.search-row {
			margin-bottom: 15px;
			.search-col {
				text-align: left;
				input{
					width: 100%;
				}
			}
			#search-box {
			margin-bottom: 0px;

			}
		}
		
		#search-again-container {
			padding-top:35px;
		}
		
	
		.filter-lables {
			display: none;
			@media screen and (max-width: @screen-md) {
				display: block;
		}
	}	
	}
	.search-again{
		@media screen and (max-width: @screen-md) {
			margin-bottom: 10px;
		}
		@media screen and (max-width: @screen-sm) {
			margin-bottom: 20px;
		}
	}
	.search-again p {
		margin-top: 10px;
	}
	a,span {
		color: @white;
	}

	#filter-reset-big{
		float: right;
	}
	#filter-reset{
		float: right;
		@media screen and (max-width:@screen-md) {
    		float: none;
    	}
	}
	.search-button {
		border-radius: 100px;
		background-color: #3ddcca;
		padding: 15px 80px;
		color: @white;
		font-size: 18px;
		font-weight: 500;
	}
	.search-button-filtered {
		text-align: center;
    	padding-top: 12px;
    	@media screen and (max-width:@screen-md) {
    		margin: 20px 0px 20px 0px;
    	}
	}
	
	p, h1 {
		color: @white;
	}
	h1 {
		font-size: 40px;
  		font-weight: 300;
  		margin-bottom: 30px;
	}
	p {
		font-size: 24px;
		font-weight: 300;
		line-height: 1.25;
		margin-bottom: 40px;
		@media screen and (max-width: @screen-md) {
			margin-bottom: 25px;
		}
	}


	.search-row {
		position: relative;
		.search-col {
			text-align: center;
		}
		.search-wrapper{
			position: relative;
			margin:auto;
			display: inline-block;
			width: 70%;
			@media screen and (max-width: @screen-sm) {
				width: 100%;
			}
		}
		input {
			max-width: 780px;
			height: 50px;
			border-radius: 97px;
			background-color: #ffffff;
			box-shadow: inset 0 1px 4px 0 #49626e;
			border: solid 1.5px #d4d6da;
			margin-bottom: 45px;
			padding-left: 20px;
			width:100%;
			padding-right:40px;
			@media screen and (max-width: @screen-md) {
				margin-bottom: 25px;
			}
		}
		img {
			position: absolute;
			display: inline-block;
			right: 25px;
			top: 15px;
		}
	}

	.selects-row {
		margin-bottom: 60px;
		select {
			width: 100%;
			height: 40px;
			border-radius: 5px;
			font-size: 14px;
			font-weight: 300;
			color: #263133;
			border:none;
			line-height:40px;

			option {
				color: #263133;
				font-size: 14px;
				font-weight: 300;
			}
		}
		.select-col {
			text-align: center;
			margin-bottom: 20px;
			margin-top: 20px;
		}
	}

	.multiselect {
		// width: 100%;
		// @media screen and (max-width: @screen-md) {
			// width: 280px;
			// margin:auto;
		// }
	}

	.selectBox {
		position: relative;
		width: 100%;
		height: 40px;
		border-radius: 5px;
		background-color: #ffffff;
		border-radius: 5px;
		//max-width: 280px;
		//margin:auto;
		//margin-bottom: 20px;
		margin-top: 20px;
		width: 100%;
	}

	.selectBox select {
		width: 100%;
		height: 100%;
		border-radius: 5px;
	}
	.overSelect {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		border-radius: 5px;
	}

	.checkboxes {
		display: none;
		border: 1px #dadada solid;
		background:white;
		position: absolute;
		//width: 280px;
		z-index: 9999;
		height:300px;
		overflow-y: scroll;
		padding-left:10px;
		width: 90%;
		margin-right: 15px;


		span {
			color: #263133;
			font-size: 14px;
			font-weight: 300;
		}
		
		label {
			color: #263133;
			font-size: 14px;
			font-weight: 300;
		}

		input[type="checkbox"]:checked + span {
			font-weight: bold;
		}

		input[type="checkbox"] {
			margin-right: 5px;
		}

	}

	.checkboxes label {
		display: block;
	}

	.checkboxes label:hover {
		background-color:  #0078ef;
	}

	.overSelect {
		p, h1{
			color: #9eacad;
		}
		
	}

	.search-button-row {
		text-align: center;
	}
	.reset-row {
		text-align: center;
		@media screen and (max-width: @screen-md){
			display: none;
		} 
	}

}

section.latest-resources {
	background-color: #33464f;
	padding: 60px 0px;
	h2 {
		color: @white;
		margin-bottom: 40px;
	}
	.resources-row {
		display
		.single-resource:nth-child(2) {
			border-right: solid 1px #5e6d78;
			border-left: solid 1px #5e6d78;
		}
		.inner-resource {
			max-width: 275px;
			margin:auto;
		}
	}
}


	.resource-tile {
		min-height: 380px;
		position: relative;
		border: 1px solid #f2f2f2;
		padding:15px;
		&:hover {
			background-color: #f2f2f2;
		}
		a {
			height: 100%;
			width: 100%;
			text-decoration: none;
		}
		a:hover {
			text-decoration: none;
		}
		.top-half {
			min-height: 110px;
			.r-image{
				//width:45%;
				float:left;
				margin-right: 20px;
			}
			.right-side {
				//width: 55%;
				//float: right;
				font-size: 14px;
				color: #5e6d78;
				font-weight: 300;
				line-height: 1.1;
				//margin-left: 20px;
				div {
					margin-bottom: 10px;
				}
			}
		}
		p.link {
			padding-bottom: 0px;
			&:after {
				content: "\0000a0\203A";
			}
			&:hover {
				text-decoration: underline;
			}
		}
		.title {
			font-size: 16px;
			font-weight: 500;
			line-height: 1.25;
			color: #263133;
			margin-top: 10px;
		}
		.discription {
			font-size: 14px;
			font-weight: 300;
			line-height: 1.43;
			color: #5e6d78;
		}
		img {
			max-width: 100px;
			font-size:10px;
		}
		
		.resource-icon {
			font-size:32px;
		}
	}

	.resource-tile-dark {
		position: relative;
		padding:15px 40px;
		&:nth-child(2){
			border-right: solid 1px #5e6d78;
			border-left: solid 1px #5e6d78;
		}
		a {
			height: 100%;
			width: 100%;
			text-decoration: none;
		}
		a:hover {
			text-decoration: none;
		}
		.top-half {
			min-height: 110px;
			.r-image{
				//width:45%;
				float:left;
				margin-right:20px;
			}
			.right-side {

				font-size: 14px;
				color: #e3e7ea;
				font-weight: 300;
				line-height: 1.1;
				//margin-left: 20px;
				div {
					margin-bottom: 10px;
				}
			}
		}
		p.link {
			&:after {
				content: "\0000a0\203A";
			}
			&:hover {
				text-decoration: underline;
			}
		}
		.title {
			font-size: 18px;
			font-weight: 600;
			line-height: 1.25;
			color: #e3e7ea;
			margin-top: 10px;
		}
		.discription {
			font-size: 14px;
			font-weight: 300;
			line-height: 1.43;
			color: #e3e7ea;
		}
		p.link {
			color: #29ceff;
		}
		img {
			max-width: 100px;
			font-size:10px;
		}
	}

section#resources-section {
	//padding-bottom: 100px;
	.page-bottom {
		margin-bottom: 30px;
	}
	.search-terms {
		h2 {
			font-weight: @weight-norm;
		}
		p {
			margin-top: 40px;
		}
		hr {
			border-top: solid 4px #0078ef;
		}
	}
}
