/* Title Section */

.solutions-title {
	background-color: @blue;
 	color:@white;
	font-size:@font-seminorm;
	.green {
		background-color: #1aa36e;
	}
	p {
		padding-bottom:0px;
	}
	h1 {
 		font-weight:@weight-norm;
 		padding-bottom: 20px;
 		font-size: @font-semilarge;
	}
	.solution-crumbs {
		color: @white;
		font-weight: bold;
		font-weight: @weight-bold;
		font-size:@font-semitiny;
		padding: 23px 0px 0px 15px;

		a {
			color:@white;
			font-weight: @weight-norm;
		}
		a:hover {
			text-decoration:none;
			color:@gray-light;
		}
		a:after {
			content:'\203a';
			padding:0px 4px 0px 6px;
		}
	}
}

/* Help Section */

.help-section {

	.capstitle {
		color: @dark-primary;
		font-size: @font-large;
		text-transform:none;
		font-weight:@weight-norm;
		margin-top:-10px;
	}
	img {
		padding:15px 0px 40px 0px;
		margin:0 auto;
	}
	h2 {
		font-size:@font-semilarge;
		color: @dark-primary;
		font-weight:@weight-norm;
		padding-bottom: 30px;
	}

	p{
		font-size:@font-small;
		color:@dark-primary;
	}
	a {
		color:@blue-primary;
	}
	.helps {
		padding-bottom:75px;
		border-bottom:1px solid @gray-light;
		margin-bottom:75px;
		ul {
			padding-bottom: 20px;
			font-size: @font-small;
		}
	}
	.helps:last-child {
		border:none;
		padding-bottom:0px;
		margin-bottom:0px;
	}
	.resource {
		padding-top:30px;

		div {
			font-size:@font-tiny;
			display:block;
			float:left;

			img {
				padding:0px;
			}
			span {
				display:block;
				padding-bottom:5px;
				max-width: 220px;
				margin-left:30px;
				font-size:60px;
				color:@blue-primary;
			}
		}
		.resource-text {
			span {
				margin-left: 0px;
				font-size:@font-tiny;
			}
			.type {
				font-weight:@weight-bold;
				color:@dark;
			}
			.title {
				color:@dark;
			}
			.cta-link:hover {
				text-decoration: underline;
			}
		}
	}
}


/* Banner Section */

#solution-banner {
	background-position: center;
	background-size: cover;
	position: relative;
	padding: 80px 0px 80px 0px;
  color: @white;
	min-height:450px;
	font-weight: @weight-norm;
	background-repeat:no-repeat;
	display: flex;
	align-items: center;
	.button {
		margin-top: 30px;
	}
	.icon-genericProduct {
		font-size: 90px;
	}
	.image {
		text-align: center;
		span {
			color:@white;
			font-size: 90px;
		}
	}

	&.solutions-img {
		background-image: url('@{image-url}Solutions/Endpoint/endpoint_banner.jpg');

		@media  (max-width: @screen-sm) {
			background-image: url('@{image-url}Solutions/Endpoint/endpoint_banner-mobile.jpg');
		}
	}
	&.terminal-img{
		background-image: url('@{image-url}Solutions/Terminal-Emulation/terminalEmulation_banner.jpg');

		@media  (max-width: @screen-sm) {
			background-image: url('@{image-url}Solutions/Terminal-Emulation/terminalEmulation_banner-mobile.jpg');
		}

	}
	&.datacenter-img{
		background-image: url('@{image-url}Solutions/Data-Center/dataCenter_banner.jpg');

		@media  (max-width: @screen-sm) {
			background-image: url('@{image-url}Solutions/Data-Center/dataCenter_banner-mobile.jpg');
		}
	}
	&.filenetwork-img{
		background-image: url('@{image-url}Solutions/File-Network/fileNetwork_banner.jpg');

		@media  (max-width: @screen-sm) {
			background-image: url('@{image-url}Solutions/File-Network/fileNetwork_banner-mobile.jpg');
		}
	}
	&.workload-img{
		background-image: url('@{image-url}Solutions/Workload-Migration/workloadDisaster_banner.jpg');

		@media  (max-width: @screen-sm) {
			background-image: url('@{image-url}Solutions/Workload-Migration/workloadDisaster_banner-mobile.jpg');
		}
	}
	&.security-img{
		background-image: url('@{image-url}Solutions/Security-Mgmt/securityMgmt_banner.jpg');
	}
	&.collaboration-img{
		background-image: url('@{image-url}Solutions/Collaboration/collaboration_banner.jpg');
	}
	&.delivery-testing-img{
		background-image: url('@{image-url}Solutions/Application-Testing/Application-banner.jpg');
	}
	&.application-img{
		background-image: url('@{image-url}Solutions/Terminal-Emulation/terminalEmulation_banner.jpg');
	}
	&.identity-img{
		background-image: url('@{image-url}Solutions/Identity-Access/identityAccess_banner.jpg');

		@media  (max-width: @screen-sm) {
			background-image: url('@{image-url}Solutions/Identity-Access/identityAccess_banner-mobile.jpg');
		}
	}
	&.cobol-img{
		background-image: url('@{image-url}Solutions/COBOL-Development/Banner-COBOL-Development.jpg');
	}



	img {
		padding-bottom:20px;
	}
	h1 {
		font-size: @font-semihuge;
		padding-bottom: 30px;
    	font-weight: @weight-norm;
    	@media (max-width: @screen-sm) {
    		font-size: 34px;
    		padding-top: 20px;
    	}
    }
	h2 {
		font-weight: @weight-norm;
    	font-size: @font-norm;
	}
	.modal-content {
		background-color: @black;
		iframe {
			width: 100%;
			border: none;
		}
	}
	.video-container {
		.playbutton-svg {
			position: absolute;
			top: 30%;
			left: 35%;
			width: 30%;
			height: 30%;
		}
	}
	.video-container:hover {
		.playbutton-svg {
			ellipse {
				stroke: @gray-mid-light;
			}
			path {
				fill: @gray-mid-light;
			}
		}
	}
}
.large-link {
	background-color:@dark;
	padding-top:20px;
	padding-bottom:20px;
	display:block;
	color:@white;

	span {
		font-size:@font-seminorm;
		border:1px solid @white;
		border-radius:50%;
		padding:5px;
	}
}
.large-link:hover {
	color:@white;
	background-color:@dark-primary;
}
.large-link:visited {
	color:@white;
}
.large-link:active {
	color:@white;
}

/* Body Section */

.solutions-body {

	.body-title {
		text-align: left;
		font-size: 40px;
		color: #263133;
		font-weight: 300;
		padding-bottom: 0px;
		text-transform: none;
	}
	.list-title {
		color: #263133;
		font-size: 24px;
		padding-top: 20px;
		padding-bottom: 20px;
		font-weight: 300;
		display: block;
		line-height: 1.21;
	}
	p {
		font-size: @font-norm;
		color: @dark-primary;
		font-weight: @weight-norm;
		padding-bottom: 0px;
		padding-top: 40px;
	}
	ul {
		font-size: @font-norm;
		color: @dark-primary;
		font-weight: @weight-norm;
		padding-top: 20px;
	}
	hr {
		margin-bottom: 25px;
	}
	h3 {
		font-size: @font-seminorm;
		color: @dark-primary;
		font-weight: @weight-norm;
		padding-bottom:40px;
	}
	.familiesbox {
		-webkit-column-width: 290px;
		-moz-column-width: 290px;
		column-width: 290px;
		clear: both;
		padding-bottom: 35px;
	}
	.families {
		display:inline-block;
		width:300px;
		padding-bottom:20px;
		padding-right: 30px;


		strong {
			color: @blue-dark;
			text-transform: uppercase;
			font-weight: @weight-heavy;
			a {
				color: @blue-dark;
				font-weight: @weight-heavy;
			}
		}

		p {
			padding: 0;
			color: @dark-primary;
			font-size: @font-tiny;
			padding-bottom: 15px;
		}
		ul {
			list-style: none;
			padding: 0px;
			li{
				line-height: 1;
				padding-bottom: 15px;
				a {
					font-size: @font-small;
					color: @blue-primary;
					font-weight: @weight-norm;
					span {
						padding-left:2px;
					}
				}
				strong {
					color: @blue-primary;
					font-weight: @weight-heavy;
					text-transform: none;
				}
			}

			ul {
				li:before {
					content: "+";
				    margin-right: 4px;
				    color: @blue-primary;
				}
			}
		}
	}

}
.solutions-content {
	h3 {
		font-size: @font-seminorm;
		font-weight: @weight-bold;
		line-height: 1.61;
		color: @dark-primary;
	}
	.linksbox {
		.general-links {
			line-height: 1.5;
			margin: 10px auto;
			font-size: @font-small;
		}
	}
	.content-title {
	    margin-bottom: 22px;
	    font-weight: @weight-heavy;
	}
	.familiesbox {
		.familybox {
			padding: 10px 0px;
			&:nth-child(n+2) {
				border-top: 1px solid @gray-light;
			}
			.family-links {
				font-size: @font-small;
			}
			.family-links > div {
				padding-bottom: 10px;
			}
		}
	}
	hr {
		border-top: 1px solid @gray-mid-light;
	}
	.slogan {
		color: @dark-primary;
	}
}

#solution-cta {
	padding: 60px 0px 60px 0px;
	text-align: center;

	.title {
		font-size: 24px;
	  color: black;
		padding-bottom: 20px;
	}
	.content p {
		font-size: 24px;
  	color: #5e6d78;
	}
	.button {
		padding-top: 20px;
		a {
			padding: 10px 30px 10px 30px;
	  	border-radius: 30px 30px 30px 30px;
	  	font-size: 14px;
	    color: #271782;
	    border: 1px #271782 solid;
		}
		a:visited {
			text-decoration: none;
		}
		a:hover {
			background-color: #271782;
	    border: 1px #271782 solid;
	    color: white;
	    text-decoration: none;
		}
	}
}

/* single image banner for workload migration page */
.single-image-learn-more-banner {
	background-image: url('@{image-url}Campaigns/lander/campaign-banner.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 110px;
	padding-bottom: 120px;
	.title {
		font-size: @font-large;
		padding-bottom: 30px;
		color: @white;
	}
	.button-clear {
		font-size: @font-seminorm;
	}
	.button-clear:hover {
		background-color: @white;
		color: @blue-light;
	}
}

/* Needs Section */
.special_needs_title {
    font-size: @font-seminorm;
    color: @gray-mid;
    margin: 60px 0px 20px 0px;
}
.needs {
	background-color: @white;
	font-weight: @weight-norm;
	.box {
		padding-bottom: 110px;
	}
	.capstitle {
		font-size: @font-large;
		color: @dark;
		font-weight:@weight-norm;
		padding-bottom:0px;
		text-transform:none;
	}
	.need-container-link:hover {
		.link{
			text-decoration: underline;
		}
	}
	.need {
		padding-top: 70px;
		.icon-genericProduct, .icon-archive-email, .icon-archive-social, .icon-archive-text-messages, .icon-compliance, .icon-ediscovery, .icon-manage-archives {
    		font-size: 60px;
    		width: 60px;
		}
		.title {
			color: @gray-white;
		}
		.icon-boost {
			color: @turquiose;
			background-color:@white;
		}
		img {
			display:block;
			padding:0px;
			height:50px;
			width:50px;
		}
		h3 {
			color: 	@dark;
			font-size: @font-norm;
			padding-top: 20px;
			padding-bottom: 20px;
			font-weight: @weight-norm;
			display:block;
			line-height: 1.21;
		}
		p {
			color: 	@dark;
			font-size: @font-small;
			font-weight: @weight-norm;
		}
		a {
			font-size:@font-small;
			color:@blue;
			line-height:@font-semitiny;
			padding-bottom: 10px;
		}
		.link {
			font-size:@font-tiny;
			color:@blue;
			padding-bottom: 10px;
		}
	}
}
.special_needs {
	.icon {
		width: 35px;
		height: 31px;
		display: block;
		background: url('@{image-url}Solutions/AttachmateSolutions-PartnerLogos(Sprite).png') no-repeat;
		border-bottom: solid 2px @gray;
		padding-bottom: 50px;
		&.icon-0 {
			background-position: 3px 0px;
		}
		&.icon-1 {
			background-position: -40px 0px;
		}
		&.icon-2 {
			background-position: -88px 0px;
		}
	}
	.need {
		&.number0 {
			h3 {
				color: #3ddcca;
			}
		}
		&.number1 {
			h3 {
				color: #1ffbba;
			}
		}
		&.number2 {
			h3 {
				color: #29ceff;
			}
		}
	}
}
/* What Section */
.what {
	background-position: center;
	background-color:#0DCDFE;
	background-repeat:no-repeat;
	&.what-img{
		background-image: url('@{image-url}Solutions/bkgd-what.jpg');

	}
	.box {
		padding-top: 65px;
		padding-bottom: 105px;
		.capstitle {
			padding: 100px 0px 10px 15px;
  			font-weight: @weight-heavy;
  			color: @blue-dark;
		}
		h4 {
			font-size: @font-large;
  			font-weight: @weight-norm;
  			color: @white;
		}
		.what-answer {
			color: @blue-dark;
			padding: 10px 0px 25px;
			strong {
				font-weight: @weight-heavy;
			}
		}
	}
}

/* Customers Section */

.solutions-customers {
	.capstitle {
		text-align: center;
	}

	.flexbox-center {
		display: flex;
		justify-content: center;
		.customer_images {
			padding-bottom: 20px;
			a {
				height: 66px;
				width:100%;
				display:block;
				margin: 0 auto;
				background-repeat: no-repeat;
				height: 80px;
				background-size:contain;
				background-position: center;
			}
			a:hover {
				text-decoration:none;

				&.aquilon {
					background: url('@{image-url}Partners/CustomerLogos/aquilon-logo.png') no-repeat;
				}
				&.ca-curtze {
					background: url('@{image-url}Partners/CustomerLogos/curtze-logo.png') no-repeat;
				}
				&.tata {
					background: url('@{image-url}Partners/CustomerLogos/tata-logo.png') no-repeat;
				}
				&.cimubisa {
					background: url('@{image-url}Partners/CustomerLogos/cimubisa-logo.png') no-repeat;
				}
				&.spv {
					background: url('@{image-url}Partners/CustomerLogos/spv-logo.png') no-repeat;
				}
				&.work-safe {
					background: url('@{image-url}Partners/CustomerLogos/workSafe-logo.png') no-repeat;
				}
				&.nyc {
					background: url('@{image-url}Solutions/Security-Mgmt/nyc_logo.png') no-repeat;
				}
				&.softcat {
					background: url('@{image-url}Solutions/Data-Center/softcat_logo.png') no-repeat;

				}
				&.affiniti {
					background: url('@{image-url}Solutions/Data-Center/affiniti-logo.png') no-repeat;
				}
				&.siemens{
					background: url('@{image-url}Solutions/Data-Center/siemens-logo.png') no-repeat;
				}
				&.bt {
					background: url('@{image-url}Solutions/Data-Center/bt_logo.png') no-repeat;

				}
				&.europ {
					background: url('@{image-url}Solutions/Data-Center/europ_logo.png') no-repeat;

				}
				&.nexus {
					background: url('@{image-url}Solutions/Data-Center/nexus_logo.png') no-repeat;
				}

				&.abc {
					background: url('@{image-url}Solutions/Data-Center/abc_logo.png') no-repeat;
				}
				&.coca {
					background: url('@{image-url}Solutions/Data-Center/coca-cola_logo.png') no-repeat;
				}
				&.aberdeen {
					background: url('@{image-url}Solutions/Terminal-Emulation/aberdeen_logo.png') no-repeat;
				}
				&.northumbria{
					background: url('@{image-url}Solutions/Terminal-Emulation/northumbriaPolice_logo.png') no-repeat;
				}
				&.wow {
					background: url('@{image-url}Solutions/Terminal-Emulation/wow_logo.png') no-repeat;
				}
				&.bve {
					background: url('@{image-url}Solutions/Terminal-Emulation/bve_logo.png') no-repeat;

				}
				&.fratelli {
					background: url('@{image-url}Solutions/Terminal-Emulation/filCarli_logo.png') no-repeat;

				}
				&.pdmi {
					background: url('@{image-url}Solutions/Terminal-Emulation/pdmi_logo.png') no-repeat;

				}
				&.abra {
					background: url('@{image-url}Solutions/Collaboration/abra-logo.png') no-repeat;

				}
				&.bjc {
					background: url('@{image-url}Solutions/Collaboration/BJC-logo.png') no-repeat;

				}
				&.tcs{
					background: url('@{image-url}Solutions/Collaboration/tcs-logo.png') no-repeat;

				}
				&.unitedbank {
					background: url('@{image-url}Solutions/Collaboration/unitedbank_logo.png') no-repeat;

				}
				&.lmu {
					background: url('@{image-url}Solutions/Collaboration/lmu.png') no-repeat;

				}
				&.millikin {
					background: url('@{image-url}Solutions/Collaboration/millikin-u.png') no-repeat;

				}
				&.openminds {
					background: url('@{image-url}Solutions/Collaboration/openMInds-logo.png') no-repeat;
				}
				&.switchdesk {
					background: url('@{image-url}Solutions/Collaboration/switchDesk-logo.png') no-repeat;
				}
				&.underwriters  {
					background: url('@{image-url}Solutions/Endpoint/uscky-logo.png') no-repeat;
				}
				&.nhs{
					background: url('@{image-url}Solutions/Endpoint/nhs_logo.png') no-repeat;

				}
				&.alberta {
					background: url('@{image-url}Solutions/Endpoint/alberta_logo.png') no-repeat;

				}
				&.cta {
					background: url('@{image-url}Solutions/Endpoint/cta_logo.png') no-repeat;

				}
				&.arkema {
					background: url('@{image-url}Solutions/Endpoint/arkema_logo.png') no-repeat;

				}
				&.verosol {
					background: url('@{image-url}Solutions/File-Network/verosol_logo.png') no-repeat;

				}
				&.cincinnati {
					background: url('@{image-url}Solutions/File-Network/cincinnati_logo.png') no-repeat;

				}
				&.eaton {
					background: url('@{image-url}Solutions/File-Network/eatonRapids_logo.png') no-repeat;

				}
				&.landcaster {
					background: url('@{image-url}Solutions/File-Network/lancaster_logo.png') no-repeat;

				}
				&.vodacom{
					background: url('@{image-url}Solutions/Workload-Migration/vodacom_logo.png') no-repeat;

				}
				&.global {
					background: url('@{image-url}Solutions/Workload-Migration/industry-hightech_logo.png') no-repeat;

				}
				&.atos {
					background: url('@{image-url}Solutions/Workload-Migration/atos_logo.png') no-repeat;

				}
				&.awater {
					background: url('@{image-url}Solutions/Workload-Migration/awater_logo.png') no-repeat;

				}
				&.china {
					background: url('@{image-url}Solutions/Workload-Migration/chinabank_logo.png') no-repeat;

				}
				&.hastings {
					background: url('@{image-url}Solutions/Workload-Migration/healthUnit_logo.png') no-repeat;

				}
				&.usnavy {
					background: url('@{image-url}Solutions/Security-Mgmt/usnavy_logo.png') no-repeat;

				}
				&.olympic {
					background: url('@{image-url}Solutions/Security-Mgmt/olympic_logo.png') no-repeat;

				}
				&.primecare {
					background: url('@{image-url}Solutions/Security-Mgmt/prime-care_logo.png') no-repeat;

				}
				&.usgov {
					background: url('@{image-url}Solutions/Security-Mgmt/usgov_logo.png') no-repeat;

				}
				&.bancomext {
					background: url('@{image-url}Solutions/Identity-Access/bancomext_logo.png') no-repeat;

				}
				&.deputati {
					background: url('@{image-url}Solutions/Identity-Access/camera_logo.png') no-repeat;

				}
				&.johnsonville {
					background: url('@{image-url}Solutions/Identity-Access/johnsonville_logo.png') no-repeat;

				}
				&.nyctransit {
					background: url('@{image-url}Solutions/Identity-Access/nyctransit_logo.png') no-repeat;

				}
				&.western {
					background: url('@{image-url}Solutions/Identity-Access/wsFinancial_logo.png') no-repeat;


				}
				&.wwtech {
					background: url('@{image-url}Solutions/Identity-Access/wtt_logo.png') no-repeat;

				}
				&.ucam {
					background: url('@{image-url}Solutions/Endpoint/escudo_ucam.png') no-repeat;
				}
				&.deakin {
					background: url('@{image-url}Solutions/Application-Testing/deakin-logo.png') no-repeat;
				}
				&.pinnacle {
					background: url('@{image-url}Solutions/Application-Testing/pinnacle-logo.png') no-repeat;
				}
				&.seabank {
					background: url('@{image-url}Solutions/Application-Testing/seabank-logo.png') no-repeat;
				}
				&.enviroments {
					background: url('@{image-url}Solutions/Application-Testing/intelligent-logo.png') no-repeat;
				}
				&.monash {
					background: url('@{image-url}Solutions/Application-Testing/monash-logo.png') no-repeat;
				}
				&.aaalife {
					background: url('@{image-url}Solutions/Application-Testing/aaaLIfe-logo.png') no-repeat;
				}
				&.worksafe {
				background: url('@{image-url}Solutions/COBOL-Development/workSafe-logo.png') no-repeat;
			}
				&.chartered {
					background: url('@{image-url}Solutions/COBOL-Development/standardChart-logo.png') no-repeat;
				}
				&.ufg {
					background: url('@{image-url}Solutions/COBOL-Development/ufg-logo.png') no-repeat;
				}
				&.efco {
					background: url('@{image-url}Solutions/COBOL-Development/efco-logo.png') no-repeat;
				}
				&.spv {
					background: url('@{image-url}Solutions/COBOL-Development/spv-logo.png') no-repeat;
				}
				&.caja {
					background: url('@{image-url}Solutions/COBOL-Development/cajaValores-logo.png') no-repeat;
				}
			}

			.aquilon {
				background: url('@{image-url}Partners/CustomerLogos/aquilon-logo-gray.png') no-repeat;
				height:80px;
				width:160px;
			}
			.ca-curtze {
				background: url('@{image-url}Partners/CustomerLogos/curtze-logo-gray.png') no-repeat;
				height:80px;
				width:160px;
			}
			.tata {
				background: url('@{image-url}Partners/CustomerLogos/tata-logo-gray.png') no-repeat;
				height:80px;
				width:140px;
			}
			.cimubisa {
				background: url('@{image-url}Partners/CustomerLogos/cimubisa-logo-gray.png') no-repeat;
				height:80px;
				width:70px;
			}
			.spv {
				background: url('@{image-url}Partners/CustomerLogos/spv-logo-gray.png') no-repeat;
				height:80px;
				width:160px;
			}
			.work-safe {
				background: url('@{image-url}Partners/CustomerLogos/workSafe-logo-gray.png') no-repeat;
				height:80px;
				width:160px;
			}
			.nyc {
				background: url('@{image-url}Solutions/Security-Mgmt/nyc_logo_gray.png') no-repeat;
				height:80px;
				width:140px;
			}
			.aberdeen {
				background: url('@{image-url}Solutions/Terminal-Emulation/aberdeen_logo-gray.png') no-repeat;
				height:80px;
				width:134px;
			}
			.northumbria{
				background: url('@{image-url}Solutions/Terminal-Emulation/northumbriaPolice_logo-gray.png') no-repeat;
				height:80px;
				width:78px;
			}
			.wow {
				background: url('@{image-url}Solutions/Terminal-Emulation/wow_logo-gray.png') no-repeat;
				height:80px;
				width:134px;
			}
			.bve {
				background: url('@{image-url}Solutions/Terminal-Emulation/bve_logo-gray.png') no-repeat;
				height:80px;
				width:70px;
			}
			.fratelli {
				background: url('@{image-url}Solutions/Terminal-Emulation/filCarli_logo-gray.png') no-repeat;
				height:80px;
				width:113px;
			}
			.pdmi {
				background: url('@{image-url}Solutions/Terminal-Emulation/pdmi_logo-gray.png') no-repeat;
				height:80px;
				width:113px;
			}
			.abra {
				background: url('@{image-url}Solutions/Collaboration/abra-logo-gray.png') no-repeat;
				height:80px;
				width:176px;
			}
			.bjc {
				background: url('@{image-url}Solutions/Collaboration/BJC-logo-gray.png') no-repeat;
				height:80px;
				width:221px;
			}
			.tcs{
				background: url('@{image-url}Solutions/Collaboration/tcs-logo-gray.png') no-repeat;
				height:80px;
				width:94px;
			}
			.unitedbank {
				background: url('@{image-url}Solutions/Collaboration/unitedbank_logo-gray.png') no-repeat;
				height:80px;
				width:150px;
			}
			.lmu {
				background: url('@{image-url}Solutions/Collaboration/lmu-gray.png') no-repeat;
				height:80px;
				width:169px;
			}
			.millikin {
				background: url('@{image-url}Solutions/Collaboration/millikin-u-gray.png') no-repeat;
				height:80px;
				width:91px;
			}
			.openminds {
				background: url('@{image-url}Solutions/Collaboration/openMInds-logo-gray.png') no-repeat;
				height:80px;
				width:132px;
			}
			.switchdesk {
				background: url('@{image-url}Solutions/Collaboration/switchDesk-logo-gray.png') no-repeat;
				height:80px;
				width:176px;
			}
			.underwriters {
				background: url('@{image-url}Solutions/Endpoint/uscky-logo-gray.png') no-repeat;
				height:80px;
				width:174px;
			}
			.nhs {
				background: url('@{image-url}Solutions/Endpoint/nhs_logo-gray.png') no-repeat;
				height:80px;
				width:174px;
			}
			.alberta{
				background: url('@{image-url}Solutions/Endpoint/alberta_logo-gray.png') no-repeat;
				height:80px;
				width:221px;
			}

			.cta {
				background: url('@{image-url}Solutions/Endpoint/cta_logo-gray.png') no-repeat;
				height:80px;
				width:95px;
			}
			.arkema {
				background: url('@{image-url}Solutions/Endpoint/arkema_logo-gray.png') no-repeat;
				height:80px;
				width:174px;
			}
			.softcat {
				background: url('@{image-url}Solutions/Data-Center/softcat_logo_gray.png') no-repeat;
				height:80px;
				width:150px;
			}
			.affiniti {
				background: url('@{image-url}Solutions/Data-Center/affiniti-logo-gray.png') no-repeat;
				height:80px;
				width:150px;
			}
			.siemens {
				background: url('@{image-url}Solutions/Data-Center/siemens-logo-gray.png') no-repeat;
				height:80px;
				width:150px;
			}
			.bt {
				background: url('@{image-url}Solutions/Data-Center/bt_logo_gray.png') no-repeat;
				height:80px;
				width:150px;
			}
			.europ {
				background: url('@{image-url}Solutions/Data-Center/europ_logo_gray.png') no-repeat;
				height:80px;
				width:150px;
			}
			.nexus {
				background: url('@{image-url}Solutions/Data-Center/nexus_logo_gray.png') no-repeat;
				height:80px;
				width:150px;
			}

			.abc {
				background: url('@{image-url}Solutions/Data-Center/abc_logo_gray.png') no-repeat;
				height:80px;
				width:90px;
			}
			.coca {
				background: url('@{image-url}Solutions/Data-Center/coca-cola_logo_gray.png') no-repeat;
				height:80px;
				width:150px;
			}
			.verosol {
				background: url('@{image-url}Solutions/File-Network/verosol_logo-gray.png') no-repeat;
				height:80px;
				width:164px;
			}
			.cincinnati {
				background: url('@{image-url}Solutions/File-Network/cincinnati_logo-gray.png') no-repeat;
				height:80px;
				width:164px;
			}
			.eaton {
				background: url('@{image-url}Solutions/File-Network/eatonRapids_logo-gray.png') no-repeat;
				height:80px;
				width:78px;
			}

			.landcaster {
				background: url('@{image-url}Solutions/File-Network/lancaster_logo-gray.png') no-repeat;
				height:80px;
				width:78px;
			}
			.vodacom{
				background: url('@{image-url}Solutions/Workload-Migration/vodacom_logo-gray.png') no-repeat;
				height:80px;
				width:140px;
			}
			.global {
				background: url('@{image-url}Solutions/Workload-Migration/industry-hightech_logo_gray.png') no-repeat;
				height:80px;
				width:140px;
			}
			.atos {
				background: url('@{image-url}Solutions/Workload-Migration/atos_logo_gray.png') no-repeat;
				height:80px;
				width:140px;
			}
			.awater {
				background: url('@{image-url}Solutions/Workload-Migration/awater_logo_gray.png') no-repeat;
				height:80px;
				width:140px;
			}
			.china {
				background: url('@{image-url}Solutions/Workload-Migration/chinabank_logo_gray.png') no-repeat;
				height:80px;
				width:140px;
			}

			.hastings {
				background: url('@{image-url}Solutions/Workload-Migration/healthUnit_logo_gray.png') no-repeat;
				height:80px;
				width:140px;
			}
			.usnavy {
				background: url('@{image-url}Solutions/Security-Mgmt/usnavy_logo_gray.png') no-repeat;
				height:80px;
				width:78px;
			}
			.olympic {
				background: url('@{image-url}Solutions/Security-Mgmt/olympic_logo_gray.png') no-repeat;
				height:80px;
				width:70px;
			}
			.primecare {
				background: url('@{image-url}Solutions/Security-Mgmt/prime-care_logo_gray.png') no-repeat;
				height:80px;
				width:140px;
			}

			.usgov {
				background: url('@{image-url}Solutions/Security-Mgmt/usgov_logo_gray.png') no-repeat;
				height:80px;
				width:80px;
			}
			.bancomext {
				background: url('@{image-url}Solutions/Identity-Access/bancomext_logo_gray.png') no-repeat;
				height:80px;
				width:140px;
			}

			.deputati {
				background: url('@{image-url}Solutions/Identity-Access/camera_logo_gray.png') no-repeat;
				height:80px;
				width:140px;
			}
			.johnsonville {
				background: url('@{image-url}Solutions/Identity-Access/johnsonville_logo_gray.png') no-repeat;
				height:80px;
				width:140px;
			}
			.nyctransit {
				background: url('@{image-url}Solutions/Identity-Access/nyctransit_logo_gray.png') no-repeat;
				height:80px;
				width:140px;
			}
			.western {
				background: url('@{image-url}Solutions/Identity-Access/wsFinancial_logo_gray.png') no-repeat;
				height:80px;
				width:140px;
			}

			.wwtech {
				background: url('@{image-url}Solutions/Identity-Access/wtt_logo_gray.png') no-repeat;
				height:80px;
				width:140px;
			}
			.ucam {
				background: url('@{image-url}Solutions/Endpoint/escudo_ucam-gray.png') no-repeat;
				height:80px;
				width:78px;
			}
			.deakin {
				background: url('@{image-url}Solutions/Application-Testing/deakin-logo-gray.png') no-repeat;
				height:80px;
				width:80px;
			}
			.pinnacle {
				background: url('@{image-url}Solutions/Application-Testing/pinnacle-logo-gray.png') no-repeat;
				height:80px;
				width:160px;
			}
			.seabank {
				background: url('@{image-url}Solutions/Application-Testing/seabank-logo-gray.png') no-repeat;
				height:80px;
				width:160px;
			}
			.enviroments {
				background: url('@{image-url}Solutions/Application-Testing/intelligent-logo-gray.png') no-repeat;
				height:80px;
				width:160px;
			}

			.monash {
				background: url('@{image-url}Solutions/Application-Testing/monash-logo-gray.png') no-repeat;
				height:80px;
				width:160px;
			}
			.aaalife {
				background: url('@{image-url}Solutions/Application-Testing/aaaLIfe-logo-gray.png') no-repeat;
				height:80px;
				width:160px;
			}
			.worksafe {
				background: url('@{image-url}Solutions/COBOL-Development/workSafe-logo-gray.png') no-repeat;
				height:80px;
				width:160px;
			}
			.chartered {
				background: url('@{image-url}Solutions/COBOL-Development/standardChart-logo-gray.png') no-repeat;
				height:80px;
				width:140px;
			}
			.ufg {
				background: url('@{image-url}Solutions/COBOL-Development/ufg-logo-gray.png') no-repeat;
				height:80px;
				width:160px;
			}
			.efco {
				background: url('@{image-url}Solutions/COBOL-Development/efco-logo-gray.png') no-repeat;
				height:80px;
				width:160px;
			}

			.spv {
				background: url('@{image-url}Solutions/COBOL-Development/spv-logo-gray.png') no-repeat;
				height:80px;
				width:160px;
			}
			.caja {
				background: url('@{image-url}Solutions/COBOL-Development/cajaValores-logo-gray.png') no-repeat;
				height:80px;
				width:113px;
			}
			.long-island-railroad {
				background: url('@{image-url}Partners/CustomerLogos/long-island-railroad_200.png') no-repeat;
				height:80px;
				width:80px;
			}
			.twin-mro {
				background: url('@{image-url}Partners/CustomerLogos/twinMor-logo2.png') no-repeat;
				height:80px;
				width:247px;
			}

			.sydex {
				background: url('@{image-url}Partners/CustomerLogos/sydex-logo.png') no-repeat;
				height:80px;
				width:178px;
			}
			.utilia {
				background: url('@{image-url}Partners/CustomerLogos/utilia-logo.png') no-repeat;
				height:80px;
				width:260px;
			}
			.mmsis {
				background: url('@{image-url}Partners/CustomerLogos/mmsis-informatica-logo.png') no-repeat;
				height:80px;
				width:74px;
			}
			.gmm {
				background: url('@{image-url}Partners/CustomerLogos/gmm-log.png') no-repeat;
				height:80px;
				width:80px;
			}
			.polk-county {
				background: url('@{image-url}Partners/CustomerLogos/polk-county-florida.png') no-repeat;
				height:80px;
				width:80px;
			}
			.state-public-service {
				background: url('@{image-url}Partners/CustomerLogos/state-public-service-commission_200.png') no-repeat;
				height:80px;
				width:80px;
			}
			.manitoba {
				background: url('@{image-url}Success/customer-logos/manitoba-public-insurance.jpg') no-repeat;
				height:80px;
				width:80px;
			}
			.kutxabank {
				background: url('@{image-url}Success/customer-logos/kutxa-vital-banco-madrid.jpg') no-repeat;
				height:80px;
				width:80px;
			}
			.ebay-enterprise {
				background: url('@{image-url}Success/customer-logos/ebay-enterprise.jpg') no-repeat;
				height:80px;
				width:80px;
			}
			.a-plant {
				background: url('@{image-url}Success/customer-logos/a-plant-logo.jpg') no-repeat;
				height:80px;
				width:80px;
			}
		}
		@media (max-width: @screen-sm) {
			display: block;
		}
	}
}

@media (max-width: 500px) {
    .customer_images.col-xs-6 {
        width: 100%;
    }
}

/* CSS FOR SUCCESS STORIES. SEE LEVI BOWSER IF ANY QUESTIONS */

.success .button-clear-blue-prim {
  margin: 10px 40px 0 0;
}
.success h1 {
  color: #3d515c;
}
.success .subtitle {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  color: #DF287C;
}
.success h3 {
  padding: 30px 0;
}
.success h4 {
  color: #3d515c;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.success .breaker {
  border: 1px solid #d4d6da;
  height: 2px;
  margin: 5px 0 10px;
  width: 30px;
}
.success ul {
  padding-bottom: 20px;
}
.success li {
  color: @dark;
  margin-bottom: 10px;
  font-size: 16px;
}
.success li a {
  font-size: 16px;
}
.success .quote-text {
  color: #271782;
  font-size: 24px;
  line-height: 1.55;
}
.success .quote-name {
  color: #7a878f;
  line-height: 1.55;
}
.success .general-title img {
  padding: 0 0 20px;
}
.success .subtitle.overview {
  margin-top: -30px;
}
.success .overview-content {
  font-size: 18px;
  color: #5e6d78;
  margin-bottom: 30px;
}
.success .pdf-content {
  margin-bottom: 30px;
  font-size: 16px;
  color: #263133;
}
.success p a {
	font-size: 16px;
}
.success .summary-content {
  color: #6d7c86;
  padding-bottom: 50px;
  font-size: 16px;
	@media  (max-width: @screen-sm) {
		float: none !important;
	}
}


/*********************************************** Solutions Landing Page */
.landing-content{
	padding-left: 8%;
	padding-right: 8%;
	color: @dark-primary;
	font-size: @font-norm;

	p:last-child {
		padding-bottom:0px;
	}
}
