// Support and Services Alert Banner
.sas-alert-banner {
    padding: 30px 0px;
    background-color: @blue-dark;
    color: @white;
	transform: translate(0px, -122px);
	animation: slideAlert 1.5s;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}

@keyframes slideAlert {
	0% {
		transform: translate(0px, -122px);
	}
	100%{
		transform: translate(0px, 0px);
	}
}
@-webkit-keyframes slideAlert {
	0% {
		transform: translate(0px, -122px);
	}
	100%{
		transform: translate(0px, 0px);
	}
}


/**** Support Landing Page ****/
#banner-main{
	span{
		font-weight:@weight-heavy;
	}
}
.supportlinepad {
    padding-bottom: 70px;
}
.support-product{
	background:@dark;
	color:@gray-white;
    .search-container {
    	a {
    		font-size: @font-tiny;
    		color:@blue-light;
    	}
    }

    .placeholder {
		color: @dark;
        opacity: 1;
	}
	::input-placeholder { .placeholder; }
	::-webkit-input-placeholder { .placeholder; }
	::-moz-placeholder { .placeholder; }
	:-moz-placeholder { .placeholder; }
	:-ms-input-placeholder { .placeholder; }

	.solution-responsive-section{
		background: @gray-white;

		h2{
			color: @dark;
		}
		a{
			color: @blue-primary;
		}
	}
	.wrapper-dropdown {
		color:@dark;


	}
	.dropdown li {
		padding-bottom:0px;
	}
	h2 {
		padding-bottom: 30px;
		font-weight: @weight-norm;
	}
	p {
		font-size: @font-small;
		color:@gray-white;
		a {
			font-size: @font-small;
		}
	}
	hr {
		margin-right: 5%;
		border-top:none;
	}
	.social-section-1 {
		a {
			font-size:@font-norm;
			color:@white;
		}
		a:hover {
			text-decoration:none;
			color:@blue;
		}
		li{
			display: inline;
			list-style: none;
			float: right;
			padding: 0px 0px 0px 8px;
		}
	}
	.social-section-2{
		display:none;
	}
	li{
		font-size: @font-tiny;
		list-style:none;
		padding-bottom:15px;
	}
	ul{
		padding:0;
	}
	.border-left{
		border-left: 1px solid @gray-light;
		padding-left: 20px;
	}
	input.display {
		background-color:@white;
		color:@dark;
		width: 95%;
		border: none;
		span {
			color:@dark;
		}
	}
	#color-border-columns{
		background-color: @gray-white;
		color: @dark;
		font-weight: @weight-bold;

		.sections{
			p {
				color:@dark-primary;
			}
		}
	}
}
.securitybutton {
        color: @white;
}
.product-populate{
	padding-top: 70px;
	display: none;

	.support-icon-links {

		a span {
			margin-bottom:20px;
		}
		&.box {
			padding-bottom:40px;
		}
		div {
			height:200px;
			text-align:center;
		}
	}

	h2 {
		font-weight: @weight-norm;
		padding-bottom: 20px;
	}
	h3 {
		font-weight: @weight-norm;
		text-align: center;
		font-size: @font-seminorm;
		color:@dark;
	}
	p {
		font-size: @font-small;
		color: @gray;
		font-weight: @weight-bold;
	}
	img {
		margin: auto;
		padding-bottom: 20px;
	}

	.view-all {
		color:@blue-primary;
		font-size:@font-small;
	}
	li {
		list-style:none;
		clear:both;
		a {
			margin-bottom: 20px;
			float:right;
		}

	}
}
.solution-populate{
	padding-top: 70px;
	display: none;

	h2{
		font-weight: @weight-norm;
		padding-bottom: 20px;
	}
	p{
		font-size: @font-small;
		color: @gray;
		font-weight: @weight-bold;
	}
	ul{
		padding-top: 5px;
	}
	li{
		list-style:none;
		padding-bottom: 5px;
		a{
			font-size: @font-small;
			color:@blue-primary;
		}
		.title{
			font-weight: @weight-bold;
		}

	}
	a{
		color: @blue-primary;
		font-size: @font-seminorm;
	}
	.sol-link{
		padding-bottom: 20px;
        a {
            cursor: pointer;
        }
        span {
            cursor: default;
        }
		.blue{
			color: @blue-primary;
		}
	}
	.botpad70{
		padding-bottom: 70px;
	}
}
@media (max-width: 992px){
	.support-programs-section, .support-product{
		.responsive-space{
			margin-bottom:45px;
		}
		.last{
			clear:left;
		}
	}
}
@media (max-width: 768px)
{
	.product-populate{
		li{
			a{
				float:left;
			}
			.first{
				margin-top:20px;
			}
		}
		ul{
			padding:0;
		}
	}
	.product-populate{
		h3{
			font-size: @font-seminorm;
		}
	}
}
@media (max-width: 360px)
{
	.support-product{
		.browse-sol{
			display:none;
		}
		.border-left{
			border-left: none;
			border-top: 1px @white solid;
			padding: 20px 0 0 0;
		}
		.social-section-1{
			display:none;
		}
		.social-section-2{
		display:inline;
			li{
				list-style: none;
				float: right;
				padding: 0px 0px 0px 5px;
			}
		}
	}
	.product-populate{
		h3{
			font-size: @font-small;
		}
	}
}

/***** Secondary Support Landing Page  *****/
.secondary-supp-landing{
	background: @dark;
	color: @white;
	height: 100vh;

	h2{
		font-weight: @weight-norm;
		padding-bottom: 20px;
	}
	select{
		border-radius: 6px;
		min-height: 42px;
		width: 100%;
		display:block;
		margin-bottom: 20px;
		border-color:@gray-mid-light;
		color:@dark;
	}
}
.background-darkness{
	color: @dark;
}
.background-darkness-training{
	background-color: @dark-primary;

	h2, h3, p{
		color: @white;
	}
}

/***** SupportLine *****/


.supportline-contact{
	background: @dark;
	color: @gray-white;

	h2{
		font-weight: @weight-norm;
		padding-bottom: 40px;
	}
	.col-xs-6 {
		padding-bottom:25px;
	}
	a{
		color: @blue-light;
	}
	.link{
		padding-top: 50px;
	}
	@media  (max-width: @screen-sm) {
		font-size:@font-tiny;
	}
}
.supportline-countries{
	h4{
		padding-bottom:3px;
	}
	.country-info{
		padding-bottom:20px;
	}
}

/****** Premium Support */
.premium-support-section{
	border-top: 1px solid @gray-mid-light;
	h2 {
		color: @dark;
		font-size: @font-semilarge;
		font-weight: @weight-norm;
		padding-bottom: 20px;
	}
	.blue-primary{
		color: @blue-primary;
		font-size: @font-seminorm;
	}
	.title{
		padding: 10px 15px;
		font-weight: @weight-norm;
		border-bottom: 2px solid @blue-primary;
	}
	.premium-table{
		display: block;
		font-size: @font-tiny;
		height: 100px;
		padding: 40px 15px 0px 15px;
		border-bottom: 1px solid @gray-mid-light;
	}
	@media (max-width: 1200px){
		.premium-table{
			font-size: @font-semitiny;
			padding-top: 20px;
		}
	}
	.first{
		background: @gray-white;
	}
	.bord-right{
		border-right: 1px solid @gray-mid
	}
	.table-note{
		color: @gray;
		font-size: @font-semitiny;
		padding-top: 20px;
	}
}

/* Certification */
.certification-section {
	.certification-blocks {

		margin-bottom: 20px;
		display: table;
		width: 280px;
		height: 115px;

		a {
			background: @blue-primary;
			border-radius:8px;
			padding: 0 20px;
			border: 2px solid @blue-primary;
			color: @white;
			vertical-align: middle;
			text-align:center;
			display: table-cell;
		}
		a:hover {
			color: @blue-primary;
			background-color:@white;
			text-decoration:none;
		}
	}
	@media (max-width: 992px){
		.certification-blocks {
			margin-left: 5%;
		}
	}
	.certification-blocks:hover {
		background: @white;
		.cert {
			color: @dark-primary;
		}
	}
}

.certification-tier-page {
	padding-bottom: 90px;
	color: @gray;

	h3 {
		font-weight: @weight-norm;
		padding-bottom: 20px;
	}
	h4 {
		padding-bottom: 30px;
	}
	p {
		padding-bottom: 45px;
	}
	.box-sm {
		padding: 0 0 45px 0;
	}
	li {
		padding: 2px 0;
	}
	span {
		font-weight: @weight-norm;
		.block{
			display:block;
		}
	}
	.blue{
			color: @blue-primary;
			padding-bottom: 20px;
		}
	h4.exam-title {
		padding-bottom: 45px;
	}
}
@media (max-width: 500px){
	.certification-tier-page,
	.support-product {
		.button-blue-primary {
			display:block;
			width:100%;
			text-align:center;
			padding:10px 15px;
		}
	}
	.support-product .button-blue-primary {
		width:auto;
		max-width:97%;
		margin:0 auto;
	}
}

/* Technical Handbook Page */
.tech-handbook {

	#tech-dropdown {
		width:280px;
		float: left;

		&.wrapper-dropdown {
			background: none;
			color: @gray-mid;
		}
	}
	.page {
		display: none;
	}
	.banner {
		padding-top: 100px;
		padding-bottom: 130px;
		h1 {
			color: @white;
			font-weight: @weight-norm;
		}
	}
	.bg-dark-primary {
		padding: 45px 0;
		background: @dark;

		h3 {
			display:inline-block;
			color: @white;
			font-weight: @weight-norm;
			padding: 10px 0;
		}
		.select-product {
			color: @white;
			float: left;
			display: inline-block;
			padding: 12px 20px 10px 0;
			font-size: @font-tiny;
		}
		input {
			border: none;
			font-size: @font-tiny;
			background: none;
		}
		li.category {
		    background: @gray;
		    color: @white;
		    padding: 10px;
		}
	}
	h2, h3 {
		font-weight: @weight-norm;
		padding-bottom: 20px;
	}

	.last {
		padding-bottom: 45px;
	}
	.signature {
		font-family: 'Times-Italic', cursive;
		font-size: @font-semilarge;
	}

	.AQ, .MF, .NQ, .NV {
		h3, h4 {
			color: @dark;
			font-weight: @weight-bold;
			padding-bottom: 20px;
		}
		h3{
			padding-top: 30px;
		}
		b {
			font-weight: @weight-heavy;
		}
	}
	#nav-wrapper {
		top:0px;
		font-size: @font-small;

		@media (max-width: @screen-lg) {
				left: 5%;
			}

		ul.nav.page.MF, ul.nav.page.AQ, ul.nav.page.NQ, ul.nav.page.NV {


			li{
				border-bottom: 1px solid @dark;
				font-weight: @weight-bold;

				ul.nav {
					display: none;
				}
				a:hover, a:focus, a:active {
					color: @blue-primary;
				}
			}
			li.active {

				ul.nav {
					display: block;

					a {
						color: @dark;
					}
					li{
						border-bottom: none;
						font-weight: @weight-norm;
					}

					li a{
						padding: 5px 0px 0px 20px;
					}
					li:last-child {
						a {
							padding-bottom:25px;
						}
					}
					li.active a{
						color: @blue-primary;
					}
				}
				a {
					color: @blue-primary;
				}
			}

			a {
				color: @dark;
			}
			li.first{
				border-top: none;

				a:hover, a:focus, a:active , .active{
				 	color: @blue-primary;
					border-radius:6px 6px 0 0;
				}
			}
		}
	}
}
/* Academic Program */
.academic-form {
	.form_builder_form label {
		float: left;
		clear: both;
		width: auto;
	}
	.form_builder_form input, .form_builder_form select {
		float: left;
		clear: left;
		width: 85%;
	}
	.form_builder_form .form_field_container {
		float: left;
		width: 50%;
	}
	.form_builder_form .form_field_container.error .validation_error_notice {
		clear: both;
	}
	div#form_builder_c_address_1, div#form_builder_c_academic_institution_web_address, div#form_builder_c_software_comment, div#form_builder_c_personal_access_comments, textarea#c_software_comment, textarea#c_personal_access_comments {
		width: 100%;
	}
	div#form_builder_c_country, div#form_builder_c_city, div#form_builder_c_postal_code, div#form_builder_c_state_province {
		width: 25%;
	}
	div#form_builder_c_lab_machine_amount, div#form_builder_c_teaching, div#form_builder_c_research, div#form_builder_c_students, div#form_builder_c_courses_taught, div#form_builder_c_license, div#form_builder_c_personal_access {
		width: 10%;
	}
	h2.wrapper_title {
		clear: both;
		font-size: @font-norm;
		font-weight: @weight-bold;
		padding: 30px 0 10px 0;
	}
}

/*//////////////////////////////////////
             Clear Search
//////////////////////////////////////*/
.close-icon {
	border: none;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
	outline: 0;
	cursor: pointer;
	padding: 11px;
	position: absolute;
	right: 0px;
	z-index: 1;
	padding: 16px;
}
.close-icon:after {
    content: "X";
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: #fff;
    right: 6px;
    top: 50%;
    margin-top: -15px;
    font-size: 21px;
    color: #263133;
    font-weight: normal;
    cursor: pointer;
    font-weight: 200;
}
.search-box:not(:valid) ~ .close-icon {
	display: none;
}
