 /*//////////////////////////////////////
	Trial-Downloads title-ty Module
//////////////////////////////////////*/

section#title-ty {
	color:@gray;
	padding-bottom: 90px;
	padding-top: 70px;
	h2 {
		font-size: @font-large;
		font-weight: @weight-norm;
		color:@gray;
	}
	p {
		font-size: @font-seminorm;
		padding: 30px 0px 20px 0px;
	}
}

/*//////////////////////////////////////
	Trial-Downloads nextSteps Module
//////////////////////////////////////*/

section#happensNext {
	margin-bottom: 125px;
	h2 {
		font-size: @font-large;
		font-weight: @weight-norm;
		padding-bottom: 85px;
		color:@purple;
	}
	p {
		color:@gray;
	}
	img {
		margin: 0 auto 35px auto;
	}
	span {
		width:65px;
		display:inline-block;
		font-size: @font-norm;
		color: @gray;
		font-weight: bold;
		padding-bottom: 10px;
		margin-bottom:15px;
		border-bottom: solid 2px @purple;
	}
	.next-two-steps-container {
		max-width: 900px;
	}
	.next-steps-container {
		.next-steps-one {
			animation-name: slideInLeft;
			animation-duration: 1.5s;
	   		animation-delay: 1s;
			transform: translate3d(-3000px, 0, 0);
			-webkit-animation-fill-mode: forwards;
			-moz-animation-fill-mode: forwards;
			-ms-animation-fill-mode: forwards;
		}
		.next-steps-two {
			animation-name: slideInLeft;
			animation-duration: 1.5s;
	   		animation-delay: 1.5s;
			transform: translate3d(-3000px, 0, 0);
			-webkit-animation-fill-mode: forwards;
			-moz-animation-fill-mode: forwards;
			-ms-animation-fill-mode: forwards;
		}
		.next-steps-three {
			animation-name: slideInLeft;
			animation-duration: 1.5s;
			animation-delay: 2s;
			transform: translate3d(-3000px, 0, 0);
			-webkit-animation-fill-mode: forwards;
			-moz-animation-fill-mode: forwards;
			-ms-animation-fill-mode: forwards;
		}
    @media(max-width: @screen-sm){
	    max-width: 390px;
	    min-height: 260px;
    	margin: auto;
    	margin-bottom: 40px;
		}
		svg {
			margin-bottom: 35px;
			overflow: visible;
			width: 100%;
		}
		.email-link {
	    transform: translateY(28px);
	    -moz-transform: translateY(28px);
	    -webkit-transform: translateY(28px);
	    -ms-transform: translateY(28px);
	    animation-name: emailLink;
	    animation-duration: 3s;
	    animation-delay: 4s;
	    -webkit-animation-fill-mode: forwards;
	  }
	  .progress-bar path {
	    animation-name: progressBar;
	    animation-duration: 3s;
	    animation-delay: 7s;
	    width: 10px;
	    -webkit-animation-fill-mode: forwards;
	  }
	  .download-arrow {
	    transform: translateY(-10px);
	    -moz-transform: translateY(-10px);
	    -webkit-transform: translateY(-10px);
	    -ms-transform: translateY(-10px);
	    animation-name: arrowDown;
	    animation-delay: 7s;
	    animation-duration: 2s;
	    -webkit-animation-fill-mode: forwards;
	  }
	  .trial-ty-confetti path {
	    transform: scale(0);
	    -moz-transform: scale(0);
	    -webkit-transform: scale(0);
	    -ms-transform: scale(0);
	    transform-origin: 50% 120%;
	    -moz-transform-origin: 50%;
	    -webkit-transform-origin: 50% 120%;
	    -ms-transform-origin: 50% 120%;
	    animation-name: confetti;
	    animation-duration: 1.5s;
	    animation-delay: 10s;
	    -webkit-animation-fill-mode: forwards;
	  }
	  .right-box-flap {
	    transform-origin: 95% 67%;
	    -moz-transform-origin: 95% 55%;
	    -webkit-transform-origin: 95% 67%;
	    -ms-transform-origin: 95% 67%;
	    animation-name: rightFlap;
	    animation-duration: 1.5s;
	    animation-delay: 9.5s;
	    -webkit-animation-fill-mode: forwards;
	  }
	  .left-box-flap {
	    transform-origin: 5% 66%;
	    -moz-transform-origin: 5% 55.3%;
	    -webkit-transform-origin: 5% 66%;
	    -ms-transform-origin: 5% 66%;
	    animation-name: leftFlap;
	    animation-duration: 1.5s;
	    animation-delay: 9.5s;
	    -webkit-animation-fill-mode: forwards;
	  }
	}

	div.emailButton {
		width:100%;
		margin-top:125px;
		text-align: center;
		a {
			text-align: center;
			display:inline-block;
			height:60px;
			color:@white;
			background-color: @violet;
			font-size: @font-seminorm;
			text-decoration: none;
			padding: 15px 30px 10px 30px;
			border-radius: 30px;
			font-weight: @weight-norm;

			&:hover {
				font-weight: @weight-norm;
				background-color: @white;
				color:@violet;
				border:solid 1px @violet;
			}

		}
	}
}

@keyframes emailLink {
	from {
		transform: translateY(28px);
		-moz-transform: translateY(28px);
		-webkit-transform: translateY(28px);
		-ms-transform: translateY(28px);
	}
	to {
		transform: translateY(0px);
		-moz-transform: translateY(0px);
		-webkit-transform: translateY(0px);
		-ms-transform: translateY(0px);
	}
}
@keyframes progressBar {
	from {
		d: path('M33.812 85.898c-.547-1.732-2.15-3-4.064-3H12.65c-.285 0-.562.03-.832.084-1.958.386-3.448 2.115-3.448 4.192 0 2.357 1.917 4.277 4.28 4.277H29.75c1.923 0 3.52-1.265 4.065-3 .128-.405.215-.828.215-1.276 0-.447-.088-.87-.216-1.276');
	 }
	to {
		d: path('M83.812 85.898 c -0.547 -1.732 -2.15 -3 -4.064 -3 H 12.65 c -0.285 0 -0.562 0.03 -0.832 0.084 c -1.958 0.386 -3.448 2.115 -3.448 4.192 c 0 2.357 1.917 4.277 4.28 4.277 H 79.75 c 1.923 0 3.52 -1.265 4.065 -3 c 0.128 -0.405 0.215 -0.828 0.215 -1.276 c 0 -0.447 -0.088 -0.87 -0.216 -1.276');
	 }
}
@keyframes arrowDown {
	from {
		transform: translateY(-10px);
		-moz-transform: translateY(-10px);
		-webkit-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
	}
	to {
		transform: translateY(0px);
		-moz-transform: translateY(0px);
		-webkit-transform: translateY(0px);
		-ms-transform: translateY(0px);
	}
}
@keyframes confetti {
	from {
		transform: scale(0);
		-moz-transform: scale(0);
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		-moz-transform-origin: 50%;
	}
	to {
		transform: scale(1);
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-moz-transform-origin: 50%;
	}
}
@keyframes leftFlap {
	from {
		-moz-transform-origin: 5% 55.3%;
		transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
	}
	to {
		-moz-transform-origin: 5% 55.3%;
		transform: rotate(-217deg);
		-moz-transform: rotate(-217deg);
		-webkit-transform: rotate(-217deg);
		-ms-transform: rotate(-217deg);
	}
}
@keyframes rightFlap {
	from {
		-moz-transform-origin: 95% 55%;
		transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
	}
	to {
		-moz-transform-origin: 95% 55%;
		transform: rotate(217deg);
		-moz-transform: rotate(217deg);
		-webkit-transform: rotate(217deg);
		-ms-transform: rotate(217deg);
	}
}
@keyframes slideInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  90% {
		opacity: 1;
    transform: translate3d(0px, 0, 0);
  }

  to {
    transform: none;
  }
}

/*//////////////////////////////////////
	Trial-Downloads dual-faq Module
//////////////////////////////////////*/

section#dualFaq {
	background: @gray-light;

	div.faqCircle {
		height:70px;
		width:70px;
		margin-top: 70px;
		margin-bottom: 25px;
		border: solid @purple 1px;
		border-radius: 50%;
	}
	h3 {
		margin-bottom: 30px;
		font-size: @font-norm;
		font-weight: @weight-norm;
		color:@purple;
	}
	p {
		max-width: 435px;
		margin-bottom: 120px;
		font-size: @font-small;
		font-weight: @weight-norm;
		line-height: 1.5;
		color:@gray;
	}
}


/*//////////////////////////////////////
	Trial-Downloads Related Products Module
//////////////////////////////////////*/

section#relatedProducts {
	background-color: @dark;
	padding-bottom: 80px;

	h4 {
		margin-top: 60px;
		font-size:@font-tiny;
		letter-spacing: 1px;
		font-weight: normal;
		color: @gray-mid;

	}
	.relatedProductsWrapper {
		display: flex;
		flex-wrap: wrap;
		/*margin-bottom: 60px;*/
		a {
			color: @blue;
		}
	}
	.relatedProductIcon {
		margin-bottom:30px;
		margin-top:65px;
		span {
			font-size:40px;
			color: @white;
		}
	}
	h5 {
		padding-bottom:10px;
		font-size: @font-small;
		font-weight: @weight-heavy;
		color: @blue;
	}
	p {
		font-size:@font-tiny;
		font-weight: @weight-norm;
		line-height: 1.64;
		color:@gray-light;
	}
}


/*//////////////////////////////////////
	Trial-Downloads FAQ Trial Download Module
//////////////////////////////////////*/


section#new-faq {
	.box {
		padding-bottom: 30px;
	}
	ul.accordion{
		list-style:none;
		padding:0px;
		margin-bottom:70px;
	}
	.general-title h2 {
		font-size: @font-tiny;
		font-weight: @weight-norm;
		letter-spacing: 1px;
		color: @blue-primary;
	}

	.offset:nth-child(even){
		background-color: @gray-white;
	}
	.offset:nth-child(odd){
		background-color:@gray-light;
	}
	.faq-list {
		padding-left: 0;

		li {
			list-style-type: none;
			font-size: @font-seminorm;
			line-height: 1.3;
			color: @blue-primary;
			margin-bottom:12px;
		}

	}
	.border {
		border-bottom: 1px solid @gray-light;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.accordion-question {
		display: flex;
    align-items: center;
		padding: 5px 10px 5px 40px;
		position: relative;
		text-decoration:none;

		span.plus-sign{
			right:10px;
			padding-left: 10px;
			color: @dark;
		}

	}
	.question {
		flex-grow: 1;
		font-size: @font-small;
		font-weight: @weight-norm;
		line-height: 1.67;
		color: @dark;
	}
	.answer {
		height:0px;
		opacity:0;
		font-size: @font-small;
		line-height: 1.38;
		color: @gray;
		background-color:@white;
		padding: 0px 40px;
		overflow: hidden;
		ul {
			list-style:none;
			margin-bottom: 25px;

			li {
				font-size: 16px;
				font-weight: 300px;
				color: #697c87;
				list-style-type: disc;
			}
		}
		p {
			padding-top:40px;
			padding-bottom:40px;
			padding-right:0px;
			padding-left:0px;
		}
		a{
			color: @purple;
		}

	}
}

/*//////////////////////////////////////
	Trial-Downloads accordion
//////////////////////////////////////*/

#trialcontent{
	div.general-title{
		h2{
			color:@violet;
		}
	}
	.relatedProductsWrapper {
		span {
			color: @white;
		}
	}
}

/*//////////////////////////////////////
	Trial-Downloads how to install Module
//////////////////////////////////////*/

section#how-to-install{
	padding-top:50px;
	margin-bottom:100px;

	h2 {
		font-size:20px;
		color:@violet;
		font-weight:@weight-norm;
		margin-bottom:90px;

		@media(max-width:@screen-sm){
			margin-bottom:50px;
		}
	}

	a.ready-to-buy {
		padding:10px 40px;
		border-radius: 100px;
		border: solid 1px @gray;
		font-size:@font-small;
		color:@gray;
		text-decoration:none;
		float:right;

		@media(max-width:@screen-sm){
			float:none;
			text-align:center;
			margin-bottom: 30px;
		}
	}

	h1.top-title{
		padding-top:20px;
		font-weight:@weight-norm;
		font-size:@font-large;
		margin-bottom:30px;
		@media(max-width:@screen-sm){
			padding-top:40px;
		}
	}

	p{
		font-size:@font-small;
		margin-bottom:20px;
		&.product-name{
			margin:0px;
			margin-bottom:0px;
			padding-top:40px;
			text-align:center;
			max-width:190px;
			min-height:7em;
			font-size:@font-tiny;

			@media(max-width:@screen-sm){
				padding-top:15px;
				padding-bottom:0px;
				margin-bottom:20px;
			}
		}

		@media(max-width:@screen-sm){
			margin-bottom:0px;
		}
	}

	a.purple-button {
		padding:10px 50px;
		background-color:@violet;
		color:@white;
		border-radius:100px;
		margin-bottom:20px;
		text-decoration:none;
	}

	img{
		position:absolute;
		left:40%;
		@media(max-width:@screen-sm){
			position:static;
			display:none;
		}
		@media(max-width:400px){

		}
	}

}

/*//////////////////////////////////////
	Trial-Downloads landing Page Title
//////////////////////////////////////*/

section#title-landing{
	h1 {
		font-size:40px;
		font-weight: 300;
		display: inline-block;
		color:@gray;
		padding-top:70px;
		margin-bottom:20px;
	}
	.loginButton {
		text-decoration: none;
		margin-top: 70px;
		padding: 15px 38px 15px 38px;
		border-radius: 30px 30px 30px 30px;
		text-align: center;
		float: right;
		display: block;
		font-size: 20px;
		font-weight: 200;
		color: @white;
		background-color: @purple;
		border: solid 1px @purple;
		@media(max-width:@screen-md){
			width: 100%;
		}
	}
	.loginButton:hover {
		text-decoration: none;
		color: @purple;
		background-color: @white;
	}
	.loginButton:focus {
		outline: 0;
	}
	p {
		font-size: 20px;
		font-weight: 300;
		color: @gray;
	}
	.td-sub-title {
		color: @gray;
		font-size: 26px;
		letter-spacing: 0;
	}
}

section#form-and-info {
	padding-top:65px;

	h3 {
		color: @purple;
		margin-bottom:25px;
	}
	ul{
		color:@gray;
		padding-left:30px;
		a {
			color: @purple;
		}
		li {
			margin-bottom:25px;
			font-size:20px;
		}
		p {
			color: @purple;
		}
	}
	p {
		font-size: 20px;
		color: @gray;
	}
	.more-form-info {
		ul li {
			font-size: 16px;
			ul li:first-child {
				margin-top: 25px;
			}
		}
		p {
			font-size: 18px;
			color: @gray;
			padding-left: 10px;
		}
		a {
			color: @purple;
		}
	}
}

.td-landing-additional-text {
	font-size: 20px;
	color: @gray;
}

section#title-landing-lang-alert{
	background-color: @purple;
	overflow: hidden;
	position: relative;
	height: auto;
	top: 0px;
	 @media(min-width:1200px) {
			transform: translate(0px, -122px);
			animation: slideAlert 1.5s;
			animation-fill-mode: forwards;
			animation-delay: 1s;
		}
		@media(max-width:1200px) {
			transform: translate(0px, -148px);
			animation: slideAlertMedia 1.5s;
			animation-fill-mode: forwards;
			animation-delay: 1.5s;
		}
	.lang-alert{
		display: flex;
		padding: 25px 10px 25px 25px;
		img, h3{
			justify-content: space-between;
		}
		h3{
			color: @white;
			font-weight: @weight-thin;
			padding: 10px 34px;
			@media(max-width:453px){
				font-size: 13px;
			}
		}
	}
}
.lang-en-us #title-landing-lang-alert{
	display: none;
}
.lang-de-de, .lang-es-es, .lang-fr-fr,
.lang-it-it, .lang-ja-jp, .lang-pt-br,
.lang-zh-cn, .lang-zh-tw {
	.trialcontent {
		// @media(min-width:1200px) {
		// 	transform: translate(0px, -122px);
		// 	animation: slideAlert 1.5s;
		// 	animation-fill-mode: forwards;
		// 	animation-delay: 1s;
		// }
		// @media(max-width:1200px) {
		// 	transform: translate(0px, -148px);
		// 	animation: slideAlertMedia 1.5s;
		// 	animation-fill-mode: forwards;
		// 	animation-delay: 1.5s;
		// }
	}
	#title-landing-lang-alert h3,
	#title-landing-lang-alert img {
		opacity: 0;
		animation: fadeIn 1.5s;
		animation-fill-mode: forwards;
		animation-delay: 1.5s;
	}
}

@keyframes slideAlert {
	0% {
		transform: translate(0px, -122px);
	}
	100%{
		transform: translate(0px, 0px);
	}
}
@-webkit-keyframes slideAlert {
	0% {
		transform: translate(0px, -122px);
	}
	100%{
		transform: translate(0px, 0px);
	}
}
@keyframes slideAlertMedia {
	0% {
		transform: translate(0px, -148px);
	}
	100%{
		transform: translate(0px, 0px);
	}
}
@-webkit-keyframes slideAlertMedia {
	0% {
		transform: translate(0px, -148px);
	}
	100%{
		transform: translate(0px, 0px);
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

section#sytemRequirements{
	background-color:@gray-white;
	padding:33px 0px;
	h2{
		font-size: 14px;
		color:@gray;
		margin-bottom:50px;
		letter-spacing: 1px;

	}
	div.row-color{
		height:100%;
		padding: 0 40px;
		margin-bottom: 45px;
		border-left:solid 1px @gray-mid-light;
		@media(max-width:992px){
			padding: 0 30px;
		}
	}
	div.row-color:nth-child(1) {
		padding: 0px 40px 0px 15px;
		border-left: none;
		@media(max-width:@screen-sm){
			padding: 0 30px;
		}
	}
	ul{
		padding:0px;
		li{
			list-style:none;
			margin-bottom:10px;
			font-size: 16px;
		}
	}
	h4{
		margin-bottom:20px;
		min-height: 40px;
		max-height: 40px;
		display: -webkit-box;
		-webkit-box-orient: block-axis;
		-webkit-line-clamp: 2;
	}
	.bottom-row{
		text-align:center;
		margin-bottom: 55px;
		a{
			text-decoration:none;
			border-radius: 100px;
			border: solid 1px @blue-primary;
			color:@blue-primary;
			font-size:14px;
			padding: 15px 45px;
		}

		a:hover{
			background-color: @blue-primary;
			color:@white;
		}
	}
	.view-all-requirments-container {
		display: flex;
		align-items: center;
		width: 100%;
		color: @purple;
		padding: 0px 15px 0px 15px;
		text-decoration: none;
		cursor: pointer;
		.view-requirments-text {
			flex-grow: 1;
			padding-left: 32px;
		}
	}
	.trial-modal-container {
		.trial-modal-header {
			font-size: 22px;
			color: @purple;
		}
		.modal-product-title {
			font-size: 18px;
			font-weight: 500;
			padding-top: 17px;
		}
		.trial-modal-content {
			padding: 32px 50px 16px 50px;
			a {
				color: @purple;
				font-size: 16px;
				font-weight: 300;
				text-decoration: none;
			}
		}
	}
}
.modal-open .modal {
	z-index: 999999;
}
/*//////////////////////////////////////
	Unassited Form
//////////////////////////////////////*/
section#form-and-info{
	.form_title {
		color: #5e6d78;
		padding-bottom: 10px;
		font-size: 32px;
		font-weight: 300;
	}
	.form_subtitle {
		color: #5e6d78;
		font-size: 16px;
		padding-bottom: 20px;
		font-weight: 300;
		text-align: right;
	}
	.form-background{
		background-color:@gray-white;
		color: @dark-primary;
		margin-bottom:95px;
	}
	form{
		background-color:@gray-white;
		padding: 25px 25px 0px 25px;
		label{
			display:block;
		}
		input{
			display:block;
			width:100%;
			padding: 5px 10px;
			height: 32px;
		}
		select{
			width:100%;
			height:32px;
		}
		.half {
			width: 49%;
			@media(max-width: 415px){
				width: 100%;
			}
		}
		.first {
			float: left;
			display:inline-block;
			margin-right: 2%;
		}
		.last {
			float: left;
		}
		#form_builder_email{
			clear:both;
			input{
				width:100%;
			}
		}
	#form_builder_w_eula {
		label:nth-child(1) {
			visibility: hidden;
		}
		#w_eula_error {
			padding-left: 30px;
		}
	}


		p.disclaimer{
			padding: 0px;
			color: @gray;
			font-size:@font-semitiny;
			clear: both;
			position: relative;
			top: -24px;
			left: 30px;
			height: 5px;
			width: 95%;

			@media(max-width: 460px){
				width:100%;
			}

			span{
				font-weight:@weight-norm;
			}

			a{
				color:@violet;
				text-decoration:none;
			}

		}
		// .checkbox-label {
		// 	padding:0;
		// 	width: 20px;
		// 	height: 20px;
		// 	background-color: #ffffff;
		// 	border: solid 1px #d5d6da;
		// 	float:left;
		// 	text-align:center;
		// 	clear: left;
		// }

		input[type=checkbox].checkbox {
		  z-index: -1000;
		  overflow: hidden;
		  height: 0px;
		  width: 0px;
		  top: 10px;
		  left: 10px;
		  padding: 0;
		  border: 0;
		  outline: none;
			clear: both;
		}
		input[type=checkbox].checkbox:focus + .checkbox-label{
		  box-shadow: 0 0 4px 1px #005aff;
		}

		input[type=checkbox].checkbox+label.checkbox-label {
			height: 22px;
			width: 22px;
			overflow: hidden;
			display: inline-block;
			line-height: 20px;
			background-repeat: no-repeat;
			background-position: 0 0;
			font-size: 0px;
			vertical-align: middle;
			cursor: pointer;
		}

		input[type=checkbox].checkbox:checked+label.checkbox-label {
			background-position: 0 -23px;
		}
		input[type=checkbox].checkbox:checked+label.checkbox-label:focus {
			box-shadow: 0px 0px 3px 1px red;
		}

		label.checkbox-label {
			background-image: url(/assets/images/trial-downloads/checkbox-prod.png);
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		#form_builder_export, #form_builder_w_optin, #form_builder_w_optin_gdpr, #form_builder_w_eula{
			clear:both;
			label:first-child{
				visibility: hidden;
				height: 0px;
			}
			label.checkbox-label{
				display:inline-block;
			}
		}
		
		.subscription-par {
			font-size: 14px;
			padding-bottom: 0px;
			display: inline-block;
		}
		label.radio-inline{
			visibility: visible !important;
			width: auto;
			display: inline-block;
		}
		input[type="radio"]{
			height:auto;
			width: auto;
			display: inline-block;
		}
	}/*end of form*/

	.form_builder_submit {
		text-align: center;
		float: none;
		margin-right: 0px;
		margin-top: 18px;
		margin-bottom: 50px;
		padding-bottom: 35px;
		padding-left: 25px;

		.form_builder_submit_status {
			position: absolute;
			bottom: 10px;
			width: 65px;
			left: 50px;
		}
		p {
			padding: 0px;
		}
		a {
			background-color: @violet;
			border: solid 1px @violet;
			color: @white;
			white-space: nowrap;
			text-decoration: none;
	    position: absolute;
	    z-index: 1;
	    font-family:helvetica;
	    font-size: 14px;
	    padding: 10px 30px 10px 30px;
	    text-align:center;
	    cursor:pointer;
	    border-radius: 30px;
	    overflow: hidden;
		}
		a.disabled {
			pointer-events: none;
   		cursor: default;
		}
		a:hover {
			color: @violet;
			background-color: transparent;
		}
	}
}

/*//////////////////////////////////////
Questions? Ready to buy? Let’s talk.
//////////////////////////////////////*/

section#lets-talk{

	margin:0px 0px 133px 10px;
	margin-top:0px;
	text-align:right;

	.center-button{
		text-align:center;
	}

	a {
		display: inline-block;
		text-decoration:none;
		border-radius: 100px;
		border: solid 1px @violet;
		color:@violet;
		font-size:@font-seminorm;
		font-weight:@weight-norm;
		padding: 20px 25px 20px 70px;
		background-image: url('@{image-url}trial-downloads/phone.svg');
		background-repeat:no-repeat;
		background-position:30px 15px;

		@media(max-width: 420px){
			font-size:@font-tiny;
			padding-left:40px;
			background-position:15px 15px;
		}
	}
	a:hover{
		color: @white;
		background: @violet;
		background-image: url('@{image-url}trial-downloads/phone-white.svg');
		background-repeat:no-repeat;
		background-position:30px 15px;
		@media(max-width: 420px){
					background-position:15px 15px;
		}
	}
}




/*//////////////////////////////////////
	trial-download Quote section
//////////////////////////////////////*/

section#trialQuote{
	position: relative;
	top: 1px;
	background-color:@violet;
	color:@white;
	text-align:center;
	background-image: url('@{image-url}trial-downloads/quote-background.svg');
	background-size: cover;
	background-repeat: no-repeat;

	h4{
		font-size:@font-semilarge;
		font-weight:@weight-norm;
		max-width: 766px;
		margin:auto;
		padding: 65px 0px 30px 0px;

	}
	h5{
		font-size:@font-small;
		font-weight:@weight-norm;

		margin-bottom:120px;
	}
}

/*//////////////////////////////////////
	Trial-Downloads DownloadPage
//////////////////////////////////////*/


section#trialDownloadExpired {
	background-color: @purple;
	padding: 60px 0;
	.container { padding-left: 112px; }
	.message {
		h2 {
			font-family: @font-family;
			font-size: @font-large;
			font-weight: @weight-thin;
			line-height: 1.17;
			letter-spacing: -0.5px;
			text-align: left;
			color: @white;
			padding: 8px 0 24px 0;
		}
		p {
			font-size: @font-small;
			font-weight: @weight-norm;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.5;
			letter-spacing: normal;
			text-align: left;
			color: #d4d6da;
			padding: 0;
		}
	}
	.readyToBuyWrapper {
		@media(max-width:@screen-sm) {
			width: 100%;
			margin: 30px auto;
			text-align: center;
		}
		a.readyToBuyButton {
			margin: 0px auto;
			padding: 10px 50px 10px 50px;
			border-radius: 30px 30px 30px 30px;
			float: right;
			font-size: 14px;
			color: #6e7c86;
			background-color: @white;
			border: solid 1px #6d7c86;
			display: inline-block;

			@media(max-width:775px){
				display: block;
			}
			@media(max-width:@screen-sm){
				display: block;
			}
		}
		a.readyToBuyButton:hover{
			background: #6d7c86;
			color: #FFFFFF;
			text-decoration: none;
		}
	}
}

section.trialDownloadtitle {
	padding-bottom: 40px;
	h1 {
		margin: 15px 0px 20px 0px;
		color:#3d515c;
		height: auto;
		font-size: 40px;
		font-weight: 300;
		font-style: normal;
		font-stretch: normal;
		text-align: left;
	}
	h3 {
		margin-top: 50px;
		font-size: 20px;
		font-weight: 300;
		font-style: normal;
		font-stretch: normal;
		text-align: left;
		color: @violet;
	}
	p {
		font-size: 16px;
		font-weight: 300;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.5;
		text-align: left;
		color: #6a7c87;
		a {
			color: @purple;
		}
	}
	.trialDownloadNote {
		font-size: 11px;
		.trialDownloadNote {
			color: @purple;
			font-weight: 500;
		}
	}
	.downloadPageHeader {
		a {
			color: @purple;
		}
	}
	.trialSoftwareTitle {
		font-size: 32px;
		color: @purple;
	}
	.excludeFileType {
		padding-bottom: 15px;
		color: @violet;
	}
	.expiredTrial {
		background-color: #8457b6;
		img {
			padding: 25px 0 0;
			margin-left: 20px;
			margin-top: 4px;
		}
		.message {
			margin-left: 15px;
			h2 {
				font-family: @font-family;
				font-size: @font-large;
				font-weight: @weight-thin;
				line-height: 1.17;
				letter-spacing: -0.5px;
				text-align: left;
				color: @white;
				padding: 32px 0 20px 0;
			}
			p {
				font-size: @font-small;
				font-weight: @weight-norm;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.5;
				letter-spacing: normal;
				text-align: left;
				color: #d4d6da;
				margin-bottom: 25px;
			}
		}
	}
	.readyToBuyWrapper {
		@media(max-width:@screen-sm) {
			width: 100%;
			margin: 30px auto;
			text-align: center;
		}
		@media(max-width:767px){
				display: flex;
			}
		a.readyToBuyButton {
			margin: 40px auto;
			padding: 10px 50px 10px 50px;
			border-radius: 30px 30px 30px 30px;
			float: right;
			font-size: 14px;
			color: #6e7c86;
			background-color: transparent;
			border: solid 1px #6d7c86;
			display: inline-block;

			@media(max-width:767px){
				justify-content: center;
			}
			@media(max-width:@screen-sm){
				display: block;
			}
		}
		a.readyToBuyButton:hover{
			background: #6d7c86;
			color: #FFFFFF;
			text-decoration: none;
		}
	}
	a.readMeFileLink{
		position: relative;
		top: 10px;
		color: @purple;

	}
	img.satelliteImage{
		position: relative;
		left: 15%;
		width: 126px;
		height: 140px;
		object-fit: contain;
		margin: 50px 0px 0px 60px;

		@media(max-width:992px){
			margin:20px auto;
			left: 0px;
		}
	}
	ul.expList {
		padding: 20px 0px 40px 0px;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.71;
		color: #9dabac;
		h4 {
			font-size: @font-seminorm;
			font-weight: 500;
			color: #6a7c87;
		}
		h5 {
			height: 39px;
			margin-top: 30px;
			font-size: 18px;
			font-weight: 300;
			color: #6a7c87;
		}
		p {
			font-size: 36px;
			font-weight: 300;
			line-height: 1.08;
			text-align: left;
			color: #2c3d45;
		}
		li {
			list-style: none;
			margin:0px;
			padding:0px;
			.dropdownTitleIcon {
					padding: 0px 10px 0px 40px;
					display: inline;
					height: 35px;
					float: left;
					@media(max-width:440px){
						padding: 0px 0px 0px 20px;
					}
				}
		}
		&.coloredEven {
			li {
				padding-top:20px;
				padding-bottom:20px;
				background-color: #e8eae9;
				&.accordionTextBody {
					background-color: #fafafa;
					padding-bottom: 0px;
				}
				a.expandClick {
					outline: 0;
					display: flex;
					color: #9dabac;
					font-weight: @weight-norm;
					text-decoration: none;
					@media(max-width:440px) {
				    flex-wrap: wrap;
				    justify-content: center;
					}
					span {
						font-size: 15px;
						padding-left: 20px;
					}
					span:before {
						display:inline-block;
						-webkit-transition: transform .15s;
						transition: transform .15s;
						-ms-transform: rotate(180deg); /* IE 9 */
						-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
						transform: rotate(180deg);
						color: @dark;
					}
					&.open {
						span:before {
							display:inline-block;
							-webkit-transform:none;
							transform: none;
						}
					}
				}
				p {
					font-size:@font-small;
					font-weight: @weight-norm;
					overflow-wrap: break-word;
					padding: 0px;

					a {
						color:@violet;
					}
					span {
						color:@gray;
						font-size:@font-small;
					}
				}

				&.evenItem {
					background-color: #f5f5f5;

				}
			}
		}
		.titleEvent .trialProductContainer {
    	.downloadTitleContainer {
    		width: 100%;
    		.titleDownload {
					font-size: @font-norm;
					font-weight: @weight-norm;
					line-height: 1.08;
					text-align: left;
					padding-right: 10px;
					padding-top: 5px;
					color: @violet;
					display:inline;
					flex-grow: 1;
					float:left;
					max-width: ~"calc(100% - 105px)";
					overflow-wrap: break-word;
					@media(max-width:@screen-sm){
						max-width: ~"calc(100% - 75px)";
						word-break: break-word;
					}
					@media(max-width:440px){
						font-size: 18px;
					}
					.trialFileType {
						color: #9dabac;
				    cursor: pointer;
				    @media(max-width:440px){
							font-size: 14px;
						}
					}
				}
    		@media(max-width: 440px){
    			padding-bottom: 10px;
				}
    	}
    	.expandClick {
				.additionalInformationContainer {
					font-size: 15px;
			    display: flex;
			    align-items: center;
	    		text-align: right;
	    		margin-right: 25px;
  				padding-left: 15px;
    			@media(min-width:@screen-md){
						min-width: 210px;
					}
	  		}
			}
		}
		.accordionTextBodyWrapper {
			max-width: 1020px;
			padding: 60px 60px 45px 60px;
			margin: auto;

			@media(max-width:455px) {
			padding: 20px 10px 45px 10px;
		}
		.accordionFileContainer {
			margin-bottom: 20px;
			p {
				padding-bottom: 25px;
				line-height: 1.5;
			}
			ul li {
				display: inline-block;
				background-color: #fafafa;
			}
		}
		.downloadProductButtonWrapper {
				width: 100%;
				text-align: center;
				padding-top: 45px;

			.downloadProductButton {
					margin: 0px auto;
					padding: 14px 45px 14px 45px;
					border-radius: 30px 30px 30px 30px;
					display: inline-block;
					font-size: 18px;
					font-weight: 300;
					color: @white;
					background-color: @violet;
					border: solid 1px @violet;
					@media(max-width:353px) {
					padding: 14px 20px 14px 20px;
				}
			}
			.downloadProductButton:hover {
					text-decoration: none;
					background-color: transparent;
					color: @violet;
				}
			.downloadProductButton:hover .downloadButtonIconWhite {
					display: none;
				}
			.downloadButtonIconWhite {
					position: absolute;
					width: 34px;
					height: 30px;
					display: inline;
					object-fit: contain;
				}
			.downloadButtonIconPurple {
					width: 34px;
					height: 30px;
					opacity: 1;
					margin-right: 15px;
					display: inline;
					object-fit: contain;
				}
			}
		}
		li {
			&.expandClick {
				cursor:pointer;
				height:0;
				opacity: 0;
				span {
					padding-left:15px;

				}
				span:before {

					display:inline-block;
					-webkit-transition: transform .15s;
					transition: transform .15s;
					-ms-transform: rotate(180deg); /* IE 9 */
					-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
					transform: rotate(180deg);
				}
				&.open {
					span:before {
						display:inline-block;
						-webkit-transform:none;
						transform: none;
					}
				}
			}
			&.expListCollapsed {
				display:none;
			}
			&.visible {
				height: auto;
				opacity:1;
				a.trialFileName {
					font-size: 24px;
					width:100%;
					cursor: pointer;
					align-items: center;
					@media(max-width:@screen-md) {
							display: flex;
							align-items: center;
						}

				}
			}
		}
	}
	table{
		width: 100%;
		td.bodyCopy {
			word-break: break-all;
		}
		td, th {
			padding: 5px;
			width: 14%;
			@media(max-width:991px) {
				font-size: 14px;
			}
		}
	}
		.product-description-lists {
			margin: 15px;
			li {
				list-style: inherit;
			}
		}
		.expirationDateWrapper {
			width: 220px;
			float: right;
		}
		.expirationDate {
			height: 32px;
			float: right;
			font-size: 12px;
			font-weight: 300;
			line-height: 3.25;
			color: #2c3d45;
		}
	.productKeySection {
		background: @gray-light;
	}
	.productKeySectionWrapper {
		max-width: 1020px;
		padding: 50px;
		margin: auto;
		.displayLicense {
			.product-key {
				font-size: 36px;
	    	padding-bottom: 10px;
			}
		}
		.downloadLicenseButton {
				margin: 15px auto;
				padding: 7px 20px 7px 20px;
				border-radius: 30px 30px 30px 30px;
				float: right;
				display: inline;
				font-size: 12px;
				font-weight: 300;
				color: @white;
				background-color: @violet;
				border: solid 1px @violet;

			@media(max-width:@screen-md) {
				min-width: 220px;
			}
		}
			.downloadLicenseButton:hover {
				text-decoration: none;
				background-color: transparent;
				color: @violet;
			}
		.downloadLicenseIconWhite {
				position: absolute;
				width: 20px;
				height: 18px;
				display: inline;
				object-fit: contain;
			}
		.downloadLicenseIconPurple {
				width: 20px;
				height: 18px;
				margin-right: 8px;
				display: inline;
				object-fit: contain;
			}
		.downloadLicenseButton:hover .downloadButtonIconWhite {
				display: none;
			}
		.downloadLicenseButton:hover {
				text-decoration: none;
			}
			.downloadLicense {

			h5 {
					padding-top: 32px;
				}
			}
		.downloadLicenseIcon {
			display: inline-block;
		}
	}
	.referenceItemWrapper {
		margin-bottom: 20px;
		a {
			color: @purple;
		}

	}
	.additionalInformation {
		text-align: center;
		display: block;
		font-size: 20px;
		color: @dark-primary;
	}
	.additionalInformation:hover {
		text-decoration: none;
	}
	.additionalInformationArrow {
		margin: auto;
		padding: 30px;
	}
	.serialNumberContainer {
		h4 {
			color: @dark-primary;
		}
	}
}

/*//////////////////////////////////////
	Modal Styles
//////////////////////////////////////*/
section#title-landing {
	#myModal {
		.loginModalContainer {
			background-color:@white;
			border-radius: 0px;
			height: 500px;
		}
		.modal-header {
			padding: 40px 68px 0px 68px;
			button {
				font-size: 45px;
				font-weight: 200;
			}
			.close {
				/* margin: -30px -38px 0px 0px; */
				margin: 0px;
				position: absolute;
				right: 20px;
				top: 10px;
			}
		}
		.modal-body {
			padding: 32px 68px 30px 68px;
		}
		.loginModalTitle {
			font-size: 50px;
			color: @gray;
			font-weight: 200;
			padding: 0px;
		}
		.modalForgotPassword {
			font-size: 14px;
			font-weight: 300;
			color: @blue-primary;
		}
		.modalLoginSubmit {
			-webkit-appearance: button;
			cursor: pointer;
			background: @purple;
			font-size: 18px;
			font-weight: 200;
			border: 0px;
			width: 100%;
			height: 100px;
			color: @white;
			position: absolute;
			bottom: 0px;
		}
		form {
			label {
				width: 100%;
				font-size: 14px;
				margin-bottom: 8px;
				color: @purple;
				font-weight: 300;
			}
			input {
				width: 100%;
				height: 40px;
				margin-bottom: 18px;
				border: solid 1px @purple;
				padding: 5px 10px;
			}
		}
	}
}

/*//////////////////////////////////////
	more information
//////////////////////////////////////*/

section#moreInfo {
	height: auto;
	padding: 30px 0px;

	.more-info-spacing {
		padding: 30px 0 30px 0;
		a {
			display: flex;
			align-items: center;
			text-decoration: none;
		}
	}
	.more-info-module {
		padding:0;
		color: @blue-primary;
		font-size: @font-norm;
		border: none;
		.side-arrow {
			background:transparent url('@{image-url}Products/sideArrow.png');
			&:hover {
				background-image: url('@{image-url}Products/sideArrow-rollover.png');
			}
		}
		.white-side-arrow {
			// background:transparent url('@{image-url}Products/whiteArrow.png');
			&:hover {
				background-image: url('@{image-url}Products/whiteArrow.png');
				@media(max-width:992px){
				background: none;
			}
			}
			@media(max-width:992px){
				background: none;
			}
		}
	}
	.more-info-module:hover {
		background-color: @violet;
	}
	.white-text {
		color:@white;
		width: 100%;
		@media(max-width:506px) {
				font-size: 14px;
			}
	}
}

/*//////////////////////////////////////
	You'll Never catch this Kitty
//////////////////////////////////////*/
.dancingKitty {
  width: 214px;
  height: 262px;
  margin: -131px 0px 0px -107px;
  position: absolute;
  left: 50%;
  top: 50%;
  animation-name: troll;
  animation-duration: 6s;
  opacity: 0;
}
  @keyframes troll {
    0% {
      opacity: 1;
    }
    99% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

/*//////////////////////////////////////
	Trial-Downloads Button
//////////////////////////////////////*/
	.button_solid_purple {
		padding: 10px 30px 10px 30px;
		border-radius: 30px 30px 30px 30px;
		font-size: 14px;
		color: @white;
		font-weight: @weight-norm;
		background-color: @violet;
		border: 1px @violet solid;
		display: inline-block;
	}
	.button_solid_purple:hover {
		color: @violet;
		background-color: @white;
		border: 1px @violet solid;
	}

/*//////////////////////////////////////
	Trial-Downloads Signup Form
//////////////////////////////////////*/
	section#sign-up-form{
		.panel{
			margin-bottom: 125px;
			h3{
			font-size: 20px;
			font-weight: @weight-norm;
			color: @dark-primary;
			}
			form {
				.validation_error_notice {
					display: none;
					color: @red;
					clear:both;
				}
				.form_field_container.error {

					.validation_error_notice {
						display: block;
						color: @red;
					}

					input, select {
						border: 1px @red solid;
					}
				}
				.button_solid_purple{
					position: absolute;
					bottom: 0px;
					right: 0px;
					@media(max-width:@screen-md) {
							position: relative;
						}
				}
				.form-group {
					margin-bottom: 22px;
					padding-bottom: 10px;
				}
				.form-control {
					height: 40px;
					font-size: 18px;
					border-radius: 0px;
					background-color: @gray-white;
					#business_email {
						margin: 0px;
					}
				}
				.modify-padding-right {
						padding-right: 5px;
						@media(max-width:@screen-md) {
							padding-right: 15px;
						}
					}
					.modify-padding-left {
						padding-left: 5px;
						@media(max-width:@screen-md) {
							padding-left: 15px;
						}
					}
				label {
					font-size: 14px;
					color: @dark-primary;
					font-weight: @weight-norm;
				}
				.email_validation_notice {
					font-size: 12px;
					color: @purple;
					font-weight: @weight-norm;
					position: absolute;
					bottom: 10px;
					@media(max-width:@screen-md) {
						bottom: -10px;
					}
					@media(max-width:417px) {
						bottom: -25px;
					}
				}
				.checkbox-container{
					padding: 0px;
					@media(max-width:@screen-md) {
						padding-bottom: 10px;
					}
				}
				.submit-container{
					position: relative;
					top: 145px;
					right: 16px;
					@media(max-width:@screen-md) {
						top: 0px;
						right: 0px;
					}
				}
			}
			.sign_up_disclaimer {
				padding-left: 30px;
				color: @grey;
				font-size: 12px;
				font-weight: @weight-norm;
				a {
					color: @purple;
				}
				.sign_up_privacy_label {
					color: @grey;
					font-size: 12px;
					font-weight: @weight-norm;
				}
			}
		}
	}

/*//////////////////////////////////////
	links to download section
//////////////////////////////////////*/

section#suite-links{
	margin-bottom:60px;
	h1{
		margin-top:100px;
		margin-bottom:25px;
		color:@dark-primary;
		font-weight:@weight-norm;
	}
	p{
		margin-bottom:30px;
		color:#b6c1c2;
	}
	div.spacing-bottom{
		margin-bottom:40px;

		@media(max-width: @screen-sm){
			margin-bottom:0px;
		}
		.small-spacing{
			@media(max-width: @screen-sm){
				margin-bottom:40px;
			}
		}

		a.product-link{
			text-decoration:none;
			color:@violet;
			font-size:@font-norm;
			display:inline-block;
			/*margin-bottom: 50px;*/
			@media(max-width: 329px){
				font-size: 21px;
			}

			img{
				display:inline-block;
				margin:0px;
				margin-right:10px;
			}
		}
		p{
			padding-top:5px;
			padding-bottom:0px;
			padding-left:52px;
			font-size: 9px;
			max-width: 435px;
			margin:0px;
			color:#778589;
		}
	}
}

section#happensNextSuite{
	padding-top:100px;
	padding-bottom: 80px;
	background-color: @gray-white;

	h2 {
		font-size: @font-large;
		font-weight: @weight-norm;
		padding-bottom: 85px;
		color:@purple;
	}
	p {
		color:@gray;
		@media (max-width: @screen-sm) {
			text-align: center;
		}

	}
	img {
		margin: 0 auto 35px auto;
	}
	span {
		width:65px;
		display:inline-block;
		font-size: @font-norm;
		color: @gray;
		font-weight: bold;
		padding-bottom: 10px;
		margin-bottom:15px;
		border-bottom: solid 2px @purple;
	}
	div.emailButton{
		width:100%;
		margin-top:125px;
		text-align: center;
		a {
			text-align: center;
			display:inline-block;
			height:60px;
			color:@white;
			background-color: @violet;
			font-size: @font-seminorm;
			text-decoration: none;
			padding: 15px 30px 10px 30px;
			border-radius: 30px;
			font-weight: @weight-norm;

			&:hover {
				font-weight: @weight-norm;
				background-color: @white;
				color:@violet;
				border:solid 1px @violet;
			}

		}
	}
}

/*//////////////////////////////////////
  Novell redirect trial download modal
//////////////////////////////////////*/

#TrialModal{

	.bridge-background {

	height: 350px;
    background-color: #8457b6;

    background-size: cover;
    border: none;
	}

	.bridge-background .modal-header h3{
		/*padding:10px 10px 0 10px;*/
		color:#fff;
    	font-size:45px;
  		font-weight: 100;
    	line-height: 42px;
	}

	.bridge-background .modal-header h3 img{
		display: inline-block;
		margin-right: 20px;
	}


	.bridge-background button{
		font-size: 40px;
		position: absolute;
		top: 5px;
		right: 5px;
	}

	#modal-paragraph p {
		color: #fff;
		margin: 0px;
  	padding: 0px 0px 20px 0px;
  	line-height: 1.42857143;
  	font-size: 18px;
  	padding-top: 30px;
	}
	#modal-paragraph p a{
		color:#1FFBBA;
		display:inline-block;
		text-decoration: underline;
	}

	.modal-body a.gray-button{
		padding:10px 40px;
		border-radius: 100px;
		background-color: #ffffff;
		text-align: center;
		color: #5d5d5d;
		display: inline-block;
		float: right;
		margin-top: 15px;
		margin-bottom: 30px;
	}

	@media(max-width: @screen-sm){
		.modal-body a.gray-button{
			float: none;
			text-align: center;
			margin-top: 5px;
		}
		#modal-paragraph p{
			padding-top: 10px;
			font-size: 13px;
		}
		.bridge-background .modal-header h3 img{
			width: 30px;
			line-height: 30px;
		}

		.bridge-background .modal-header h3{
			font-size: 35px;
			line-height:35px;
		}

		.bridge-background .modal-header{
			padding-top: 20px;
		}
	}

	@media(max-width: @screen-md){
		#modal-paragraph p{
				padding-top:0px;
			}
	}
}
// .lang-de-de{
// 	#form_builder_phone {
// 		margin-top: 20px;
// 	}
// }
// .lang-fr-fr{
// 	#form_builder_company {
// 		margin-top: 20px;
// 	}
// }
/*the above margin code is messing with the german how to buy pages, so here is my fix - RD*/
.lang-de-de #howtobuycontent #form_builder_phone {
	margin-top: 0px;
}
.lang-fr-fr #howtobuycontent #form_builder_company {
	margin-top: 0px;
}
@media(max-width: 320px){
	.lang-it-it{
		#form_builder_company {
			margin-top: 20px;
		}
	}
}

/*//////////////////////////////////////
             resources fix
//////////////////////////////////////*/

.resources-module .space-between {
	margin-bottom:25px;
	min-height: 100px;
}
