html body .carousel {top:0; }

#overlay {
	background: rgba(10,10,10,0.6);
	bottom: 0;
	display:none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999997;
	
	@media (max-width: 991px) {
		display: none !important;
	}
}

.cookies-alert {

	.container {
		padding:15px;
		font-size: 16px;
	
		h2 {
			font-size: 24px;
			color: #FFF;
			font-weight: 300;
			padding:10px 0;
		}

		.button-white {
			color: #271782;
			display: block;
			margin:auto auto 20px;
			max-width: 220px;
			text-align: center;
			transition: all 0.2s ease;
			white-space: normal;
			margin-top:13%;
		}

	}

	@media screen and (max-width:@screen-sm) {
		.container .button-white {
			margin-top:10px;
		}
	}

	.container .button-white:hover {
		background-color: transparent;
		border: 1px solid #FFFFFF;
		color: #FFFFFF;
		text-decoration: none;
	}

	.align-middle {
		text-align: center;
	}

}

.header-offset {
	min-height:78px;
}

#ubernav {
	background: white;
	width: 100%; // for Safari
	width: 100vw;
	z-index: 999999;
	
	ul {
		padding: 0;
	}
	hr {
		border-top: 1px solid #DBE0E4;
		box-sizing: content-box;
		height: 0;
		margin: 5px 20px 5px 20px;
		overflow: visible;
		text-align: inherit;
	}

	svg#full_microfocus_logo {
		display:block;
		fill: #0075f3;
		height: 26px;
		width: 100px;
	}

	.uk-container {
	    max-width: 1400px!important;
	    box-sizing: content-box;
	    margin-left: auto;
	    margin-right: auto;
	    padding-left: 25px;
	    padding-right: 25px;

		@media (min-width: 992px) {
		    padding-left: 40px;
		    padding-right: 40px;
		    height:77px;
		    overflow:visible;
		}

	    .chevron {
			display: block;
			font-size: 16px;
			line-height: 1em;
			position: absolute;
			right: 10px;
			top: 13px;
			transform-origin: 50% 50%;
			transform: rotate(0deg);
			transition: transform 0.3s ease;
		}
		
		#logo_container {
			padding: 23px 22px 15px 0;
			display:block;
			float:left;
	
			a {
				@media (max-width: 991px) {
					display:block;
					width:120px;
				}
			}

		}
						
		#main_nav_container {
			margin:0;
			padding:0;
			display:block;
			
			@media screen and (max-width:991px) {
				padding:0;
				margin:0 -25px -1px;
			}
			
			#main_nav {
			    margin: 0;
			    padding: 0;
			    
			    .mobile-toggle {
				    position: absolute;
				    top: 16px;
				    right: 33px;
				    
				    span.icon-bar {
					    margin:5px 0;
					    width:25px;
				    }
				}
				
				#mobile-toggle-container {
					width:100%;
					padding:0;
				}

			    #navbar_container {
				    box-sizing: border-box;
					overflow: visible;
					position: relative;
					width: 100%;
					
					@media screen and (min-width:992px) {
						padding-top:10px;
					}
					    
				    li {
					    
					    a {
						    font-size: 16px;
						    line-height: 28px;
						    color: #293138;
						    font-weight:400;
						    padding:10px 10px 10px 0;
						    margin:0 20px 0 0;
						    background-color:transparent;
						    
						    &:hover {
							    color: #acafb2;
						    }
						    
						    strong {
							    font-weight:normal;
						    }
						    
						    @media screen and (max-width:1230px) and (min-width:1081px) {
							    font-size:14px;
								padding:11px 10px 10px 0;
								margin:0 10px 0 0;
							}
						    @media screen and (max-width:1080px) and (min-width:992px) {
							    font-size:13px;
								padding:12px 8px 10px 0;
								margin:0 8px 0 0;
							}
					    }
					    
					    p {
						    margin: -10px 20px 5px 20px;
					    }
					    
					    .head {
						    padding: 25px 20px 15px;
						    
							a, span {
								font-size: 14px;
								font-weight: 500;
								line-height: 24px;
								position:relative;
								text-transform: uppercase;
								transition: all 0.3s ease-in;
								padding:0;
							}

							p {
								font-size: 12px;
								font-weight: 300;
								line-height: 20px;
								margin:5px 0 0 0;
								padding:0;
							}
							
							svg {
							    display: inline-block;
							    height: 12px;
							    width: 12px;
							    margin-left: 2px;
							}			    
					    }
					    
					    .flyout_link,
						.flyout_trigger {
							display: block;
							color:#fff;
							font-size: 16px;
							line-height:24px;
							font-weight: 400;
							padding: 10px 30px 10px 20px;
							position: relative;
							transition: all 0.3s ease-in-out;
						}
						.flyout_link:hover,
						.flyout_trigger:hover {
							cursor:pointer;
							color: #00baff;
							
							span {
								color: #00baff;
							}
						}
					    
					    a.flyout_link {
						    color:#fff;
					    }
					    
					    ul.dropdown_menu {
						    min-height:600px;
						    background-color: #323e58;
						    
						    @media screen and (max-width:991px) {
							    display:none;
							}
						    
						    > li > hr {
								border-color:#778A9D;
							}

					    }

						ul.primary_flyout { 
						    min-height:600px;
							background-color: #54708e; 

							.head a,
							.head > span { color: #fff; }
							
							> .hr > hr {
								border-top: 1px solid #778A9D;
							}
						}
						ul.secondary_flyout { 
						    min-height:600px;
							background-color: #f5f5f7;
							
							a {
								color: #0073e7;
							}

							.head a { color: #0073e7; }
							.head > span { color: #555675; }
							
							.flyout_trigger { color:#555675; }
						}
						ul.tertiary_flyout { 
						    min-height:600px;
							background-color: #FFF;
							width:360px;
							
							a {
								color: #0073e7;
								padding-top:0px;
							}
							
							hr.hr {
								border-top: 1px solid #DBE0E4;
							}
							
							li.hr {
								padding-bottom: 13px;
							}

							.head a { color: #0073e7; }
							.head > span { color: #555675; }

							.flyout_trigger { color: #0073e7; }
							
							ul.productlist {
								display:flex;
								flex-wrap: wrap;
								
								a {
									padding-top:0;
								}
								
								li {
									box-sizing: border-box;
									display:block;
									padding:0;
									
									@media screen and (min-width:1260px) {
										width:50%;	
									}
								}
							}
						}

						@media screen and (min-width:1260px) {
							ul.primary_flyout > .open_sesame > .tertiary_flyout {
								width:640px;
							}
						}

						@media screen and (max-width:1260px) {
							ul.primary_flyout .secondary_flyout .open_sesame > .tertiary_flyout {
								width:280px;
							}
						}
						
						ul.productlist {
							display: block;
						    opacity: 1;
						    position: static;
						    overflow: auto;
						    width: 100%;
						    margin: 0;
						    padding: 0;
						}
					    
					    &.open_sesame > .secondary_trigger {
							background-color: #f5f5f5; 
							color: #555675;
							span {
								color: #555675;
							}
							
							&:hover {
								color: #00baff;
								
								span {
									color: #00baff;
								}
							}
						}
					    
					    &.open_sesame > .tertiary_trigger {
							background-color:#FFF;
							color: #555675;
							span {
								color: #555675;
							}
							
							&:hover {
								color: #00baff;
								
								span {
									color: #00baff;
								}
							}
						}
					    
				    }

					.utility_link_mobile {
						float:right;
						
						hr {
							display:none;
						}
						
						.uk-list {
							list-style-type: none;
							margin:0;
							padding:10px 0 0 0;
							
							li {
								display:block;
								float:right;
								position:relative;
								background-image:none;
								
								&> a {
									margin-right:4px;
								}
								
								&> img {
									width: 20px;
									margin-right: 0;
									margin-top: 6px;
									cursor:pointer;
								}
								
								.dropdown-nav {
									display: none;
								    position: absolute;
								    min-width: 200px;
								    padding: 25px;
								    background: #fff;
								    color: #666;
								    box-shadow: 0 5px 12px rgba(0,0,0,.15);
								    left:0px;
								    top:34px;
								    
								    li {
									    margin:0;
									    padding:0;
									    float:none;
								    }

									a {
										white-space:nowrap;
										padding:5px 0;
										font-weight:18px;
										display:block;
									}
								}
								
								&.open .dropdown-nav {
									display:block;
								}
		
							    &.button a {
								    display:block;
								    height: 30px;
								    font-weight: 400;
								    background-image: -webkit-linear-gradient(top,#881fd3,#881fd3);
								    background-image: linear-gradient(180deg,#881fd3,#881fd3);
								    box-shadow: none;
								    transition: box-shadow 275ms ease;
								    color: #fff;
								    border-radius: 100px;
								    text-align: center;
								    line-height: 28px;
								    font-size: 16px;
								    padding: 0 20px;
								    min-width: 0;
								    width: auto;
								    margin-right:13px;
									
									&:hover{
										color:#fff;
										box-shadow:0 3px 14px -1px rgba(198,88,241,.51);
									}
								}

								@media screen and (max-width:1230px) and (min-width:992px) {
								    &> a {
										margin-right:6px;
									}
									&.button a {
										font-size:14px;
										padding:0 15px;
										margin-right:8px;
									}
								}		
							}
							
						}
						

						@media screen and (max-width:991px) {
						    float:none;
						    background-color: #43505d;
						    padding:10px 0;
						    
						    hr {
							    display:block;
							    margin:0 35px 10px 35px;
								border-color: #778A9D;
						    }
						    
						    .uk-list {
								
								li {
									float:none;
									
									&.search {
										display:none;
									}
									
									&.button {
										a {
											background-image:none;
											height:auto;
											padding: 8px 35px;
											text-align:left;
											border-radius: 0;
											box-shadow: none !important;
										}
									}
									
									a {
										width: 100%;
									    font-size: 16px;
									    line-height: 28px;
									    padding: 8px 35px;
									    display: block;
									    color: #FFF;
									    font-weight: 300;
									}
								}
							}
						}

					}

					#menu-search {
					    transition: width .4s;
					    position: absolute;
					    top: 10px;
					    right: -10px;
					    width: 380px;

					    &.hideit {
						    height: 0;
							padding: 0;
							* {
								display:none;
							}
					    }
					    
					    &.smallwidth {
					        width: 50px;
					        .xbutton {
						    	display:none;
						    }
						    
							input {
								padding:0;
								color:#fff;
								&::placeholder {
									color:#fff;	
								}
							}
					    }
					    
					    input {
						    outline:none;
							max-width: 800px;
							width:100%;
						    border-top: none;
						    border-bottom: 1px solid #cbcbcb;
						    border-right: none;
						    border-left: none;
						    border-radius: 100px;
						    padding: 5px 50px 5px 50px;
						    position: relative;
						    height: 50px;
						    box-shadow: 0 2px 26px -8px #325687;
						    background-color: #fff;
						    z-index: 10;
					    }
					    
					    button {
						    outline:none;
						    background-color: transparent;
						    z-index: 11;
						    border: none; 
					    }
					    
					    .xbutton {
						    position: absolute;
						    right: 11px;
						    top: 0px;
						    color: #293138;
						    font-size: 30px;
						    line-height: 44px;
						    font-weight: 300;
					        font-family: sans-serif;
					        span {
							    font-size: 30px;
							    line-height: 44px;
							    font-weight: 300;
					        }
					    }
					    
					    .searchbutton {
						    position: absolute;
						    top:-1px;
						    left:3px;
						    height: 25px;
						    margin-top: 15px;
						    margin-left: 10px; 
						    img {
							    width:20px;
						    }
					    }
					    
					    .search_autocomplete {
						    background-color: #fff;
						    border-left: 1px solid #cbcbcb;
						    border-right: 1px solid #cbcbcb;
						    border-bottom: 1px solid #cbcbcb;
						    border-bottom-left-radius: 10px;
						    border-top: none;
						    box-shadow: 0 2px 26px -8px #325687;
						    border-bottom-right-radius: 10px;
						    width: 90%;
						    margin: 0 auto;
						    padding: 10px 0;
						    font-size: 14px;
						    
						    ul {
							    margin:0;
							    padding:0;
							    
							    li {
								    padding: 5px 20px;
								    
								    &.active {
									    background-color:#eee;
								    }
							    }
						    }
					    }
					}

			    }
			    
			}

			@media screen and (max-width: 991px) {
				.chevron {
					display:none;
				}
				.navbar-toggle {
					background: transparent !important;
					border: none;
					display: block;
					margin-top: 0;
					padding: 0;
			
					span.icon-bar {
						background-color: #888888 !important;
					}
					span.icon-bar.bottom-bar {
						transform: rotate(0);
					}
					span.bottom-bar {
						transform: rotate(-55deg);
						transform-origin: 10% 90%;
					}
					span.icon-bar {
						background-color: #FFFFFF;
						border-radius: initial;
						margin: 8px 0;
						transition: all 0.2s;
						width: 32px;
					}
					span.icon-bar.middle-bar {
						opacity: 1;
					}
					span.middle-bar {
						opacity: 0;
					}
					span.icon-bar.top-bar {
						transform: rotate(0);
					}
					span.top-bar {
						transform: rotate(55deg);
						transform-origin: 10% 10%;
					}
			
					&.collapsed {
						margin: 0;
						min-height: 32px;
						min-width: 32px;
			
						span.bottom-bar {
							transform: rotate(0);
						}
						span.middle-bar {
							opacity: 1;
						}
						span.top-bar {
							transform: rotate(0);
						}
					}
			
					&.open {
						span.icon-bar.bottom-bar {
							transform: rotate(-55deg);
							transform-origin: 10% 90%;
						}
			
						span.icon-bar.middle-bar {
							opacity: 0 !important;
						}
			
						span.icon-bar.top-bar {
							transform: rotate(55deg);
							transform-origin: 10% 10%;
						}
					}
			
				}
				
				#main_nav {
					.navbar-collapse {
						clear: both;
						
						#navbar_container {
							padding: 0 15px;
							
							#menu-search {
								position:static;
								left:0;
								right:0;
								width:100%;
								height:auto;
								background-color: #43505d;
								
								#cludo-search-top {
									padding:20px 10px;
									
									input {
										max-width:100%;
										border-radius:0;
										height: 40px;
									    padding-left: 10px;
									    padding-right: 10px;
										color: #000;
										&::placeholder {
											color:#000;	
										}
									}
									
									.searchbutton {
										left:auto;
										right:28px;
										top:11px;
									}
									
								}

								* {
									display:block;
								}
							}
				
							#navbar-nav {
								float:none;
								height:auto;
								background-color: #43505d;
								margin:0;
								overflow: hidden;
								transition: max-height 0.2s ease-out, opacity 0.15s ease-out;
								padding:10px 0;
								
								li {
									float:none;
								
									a {
										width:100%;
										font-size: 16px;
									    line-height: 28px;
									    padding: 8px 35px;
									    display: block;
									    color: #FFF;
									    font-weight: 300;
									    
									    strong {
										    font-weight:300;
										    letter-spacing: 0.2px;
									    }
									}
								}
							}
						}
						
					}
				}
			}

		}
		
	}

}

#ubernav .offsite, #ubernav .offsite * {
	display: inline-block;
	fill:#0073E7;
	height: 9px;
	transition: all 0.3s ease-in;
	width: 9px;
}
#ubernav a:hover .offsite,
#ubernav a:hover .offsite * {
	fill: #00BAFF !important;
	transition: all 0.3s ease-out;
}
#ubernav a.navbar-brand-link.government_solutions {
	max-width:unset;
}
#ubernav a.navbar-brand-link #government_solutions_logo {
	height: auto;
	max-height:26px;
	width:297px;
}
#ubernav p {
	font-size: 12px;
	font-weight: 300;
	line-height: 20px;
	padding-bottom: 10px;
}

#ubernav .head span.solution_link {
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	line-height: 22px;
	margin-bottom: 5px;
	text-transform: uppercase;
}
#ubernav span.nobr {
	white-space: nowrap;
	width: 100%;
}
#ubernav ul, #ubernav li {
	list-style-type: none;
}
#ubernav ::-ms-clear, ::-ms-reveal {
	display: none;
	height: 0;
	width: 0;
}
#ubernav [class^="icon-"], #ubernav [class*=" icon-"] {
	font-family: 'microfocus-icons' !important;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#ubernav .popup {
	background-color: #FFF;
	border: solid 1px #E3E7EA;
	color: #778589;
	display: none;
	padding: 8px 0;
	position: absolute;
	top: 28px;
	width: 200px;
	z-index: 99999;
}
#ubernav .popup a {
	color: #778589;
	display: block;
	margin-bottom: 2px;
	padding: 4px 16px;
	transition: all 0.3s ease-in;
}
#ubernav .popup a.current {
	background-color: #F5F5F5;
	font-weight: 500;
}
#ubernav #utilitynav-language {
	position: relative;
}
#ubernav #utilitynav-language .icon-downArrow {
	font-size: 8px;
}


/*********************************************************************************** LET'S TALK POPUP */
div#letstalk_content_container{position:relative; }

div#lets_talk_close_container {
	background-color: #00BAFF;
	border: 1px #00BAFF solid;
	margin: 0px auto 0px;
	padding: 5px 0;
	text-align: center;
	transition: all 0.3s ease-in;
	width: 20%;
}
div#lets_talk_close_container:hover {
	background-color: transparent;
	transition: all 0.3s ease-out;
}

#lets_talk_close_container div {
	color: #FFF;
	transition: all 0.3s ease-in;
}
#lets_talk_close_container:hover div {
	color: #00BAFF;
	transition: all 0.3s ease-out;
}

div.popup.letstalk_content {
	max-width: 700px;
	min-width: 320px;
	overflow: scroll;
	padding: 30px 20px;
	top: 0;
	width: 100%;
	z-index: 999998;
	-webkit-overflow-scrolling: touch;
}
div.popup.letstalk_content iframe {
	background-image: url('/assets/images/ajax-loader.gif');
	background-repeat: no-repeat;
}

span#lets_talk_close {
	color: #29CEFF;
	display: block;
	font-size: 150%;
	font-weight: bold;
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
div #lets_talk_close_container div {
	color: #FFF;
	transition: all 0.3s ease-in;
}
div #lets_talk_close_container:hover div {
	color: #00BAFF;
	transition: all 0.3s ease-out;
}

div.popup.letstalk_content iframe {
	background-image: url('/assets/images/ajax-loader.gif');
	background-repeat: no-repeat;
}
div.popup.letstalk_content div#lets_talk_close_container {
	background-color: #29CEFF;
	border: 1px #29CEFF solid;
	margin: 0px auto 0px;
	padding: 5px 0;
	text-align: center;
	width: 20%;
}
div.popup.letstalk_content div#lets_talk_close_container span#lets_talk_close {
	color: #ffffff;
	display: block;
	font-size: 150%;
	font-weight: bold;
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
div.popup.letstalk_content div#lets_talk_close_container div {
	color: #FFF;
	transition: all 0.3s ease-in;
}
div.popup.letstalk_content div#lets_talk_close_container:hover {
	background-color: transparent;
	transition: all 0.3s ease-out;
}
div.popup.letstalk_content div#lets_talk_close_container:hover span#lets_talk_close {
	color: #00BAFF;
}
div.popup.letstalk_content div#lets_talk_close_container:hover div {
	color: #00BAFF;
}

#ubernav [class^="icon-"], #ubernav [class*=" icon-"] {
	font-family: 'microfocus-icons' !important;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*********************************************************************************** MAIN_NAV - COLORS */
#ubernav .primary_flyout li a.flyout_link svg.offsite * { fill:#FFF; }
#ubernav .secondary_flyout li a.flyout_link svg.offsite * { fill:#0073e7; }
#ubernav .tertiary_flyout li a.flyout_link svg.offsite * { fill:#0073e7; }

#ubernav .flyout_link { color:#FFF; }

#ubernav .secondary_flyout > li > a.flyout_link { color:#0073e7; }
#ubernav .secondary_flyout > li p { color:#555675; }

#ubernav .tertiary_flyout .flyout_link { color: #0073e7; }
#ubernav .solution_link { color:#FFF; }
#ubernav p { color:#DBE0E4; }
#ubernav .secondary_flyout .head p { color:#778A9D; }
#ubernav .tertiary_flyout p { color: #555675; }
#ubernav .dropdown_menu > .open_sesame > .tertiary_flyout .head span.solution_link { color: #555675; }
#ubernav .dropdown_menu > .open_sesame > .primary_trigger { background-color:#54708e; }

/**************************** HOVER COLORS **/
#ubernav a:hover,
#ubernav .secondary_flyout > li > a.flyout_link:hover,
#ubernav #main_nav a:hover,
#ubernav #main_nav a.flyout_link:hover,
#ubernav #main_nav span.flyout_trigger:hover,
#ubernav #main_nav span.flyout_trigger:hover span,
#ubernav .primary_flyout li a.flyout_link:hover svg.offsite *,
#ubernav .primary_flyout > .open_sesame .flyout_trigger:hover { color: #00baff; }

@media screen and (max-width: 470px) {
	#utility_link_container{
		margin-top:20px;
	}
}

@media screen and (min-width: 500px) {
	#ubernav #utility_nav_container { max-width:32%; }
}

@media screen and (min-width: 768px) {
	#ubernav #utility_nav_container { max-width:100%; }
}
/*********************************************************************************** MAIN_NAV - MOBILE */
@media screen and (min-width: 992px) {
	.header-offset {
		min-height:113px;
	}

	#ubernav .head {display:block; }
	#ubernav .flyout_link {
		padding: 7px 20px 0;
	}

	/*********************************************************************************** MAIN_NAV */
	#ubernav #main_nav #navbar-nav li.primary_link_set:first-child > a {
		padding-left:0;
	}
	#ubernav #main_nav .navbar-collapse.collapse {
		padding-left: 0;
	}
	#ubernav #main_nav .primary_link_set {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		padding-right: 0;
	}
	#ubernav #main_nav li.primary_link_set {
		display: block;
		float: left;
		overflow: hidden;
		position: relative;
	}
	#ubernav #main_nav li.primary_link_set.open_sesame {
		overflow: visible;
	}
	#ubernav #main_nav li.primary_link_set:last-child {
		margin-right: 0;
	}
	#ubernav #main_nav li.primary_link_set ul.dropdown_menu {
		height: 0;
		opacity: 0;
		position: absolute;
		transition: all 0.3s ease-in;
		width: 280px;
		z-index: 10010;
	}
	#ubernav #main_nav li.primary_link_set ul.dropdown_menu::before {
		border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #323e58;
		border-style: solid;
		border-width: 0 12px 12px;
		content: "";
		height: 0;
		left: 60px;
		position: absolute;
		width: 0;
		top: 0;
		transition: all 0.15s ease-in;
	}
	#ubernav #main_nav li.primary_link_set.open_sesame ul.dropdown_menu::before {
		top: -12px;
		transition: all 0.15s ease-out;
	}
	#ubernav #main_nav li.primary_link_set.open_sesame ul.dropdown_menu {
		display: block;
		height: auto;
		max-height: 768px;
		min-height:620px;
		opacity: 1;
		padding-bottom: 15px;
		padding-top: 12px;
		transition: all 0.3s ease-out;
		width: 280px;
		margin-top:7px;
	}

	#ubernav #main_nav a:hover,
	#ubernav #main_nav a.flyout_link:hover,
	#ubernav #main_nav span.flyout_trigger:hover,
	#ubernav #main_nav span.flyout_trigger:hover span {
		text-decoration: none !important;
		transition: all 0.3s ease-out;
	}
	#ubernav #main_nav li.primary_link_set ul.dropdown_menu li ul {
		display: none;
		left: 280px;
		opacity: 0;
		overflow-x: hidden;
		position: absolute;
		top: 0;
		transition: opacity 0.02s ease-in, width 0.3s ease-in;
		width: 0;
	}
	#ubernav #main_nav li.primary_link_set ul.dropdown_menu li.open_sesame > ul {
		display: block;
		left: 280px;
		max-height: 530px;
		min-height:620px;
		opacity: 1;
		overflow: visible;
		position: absolute;
		top: 0;
		transition: opacity 0.2s ease-out, width 0.3s ease-out;
		width: 280px;
		z-index: 10009;
	}
	#ubernav #main_nav li.primary_link_set ul.dropdown_menu li.open_sesame > ul.primary_flyout {
		z-index: 10009;
	}

	#ubernav #main_nav li.primary_link_set ul.dropdown_menu li.open_sesame > ul.secondary_flyout {
		z-index: 10008;
	}
	#ubernav #main_nav li.primary_link_set ul.dropdown_menu li.open_sesame > ul.tertiary_flyout {
		overflow-y: auto;
		padding-bottom: 20px;
		z-index: 10007;
	}
	#ubernav #main_nav li.primary_link_set ul.dropdown_menu li.open_sesame ul.primary_flyout li.open_sesame ul.secondary_flyout li.open_sesame > ul.tertiary_flyout {
		height:100%;
	}

	#ubernav .secondary_flyout .flyout_link, #ubernav .tertiary_flyout .flyout_link {
		padding-bottom:0;
	}
}

@media screen and (min-width: 1200px) {
	#ubernav #main_nav li.primary_link_set.open_sesame ul.dropdown_menu {
		min-height:530px;
	}

	#ubernav #main_nav li.primary_link_set ul.dropdown_menu li.open_sesame > ul {
		min-height:530px;
	}
}

@media (max-width: 991px) {
	.navbar-collapse.collapse {
	    display: none !important;
	}
	.navbar-collapse.in.collapse {
	    display: block !important;
	}
}