/* General */

@font-family: aktiv-grotesk, sans-serif;

/* Widths */

@screen-sm: 767px;
@screen-md: 992px;
@screen-lg: 1200px;
@width-norm: 1200px;
@width-semilarge: 1200px;
@width-large: 1600px;

/* Font Weights */

/* Hairline (doesn't work on PC)*/
@weight-thin: 200;
/* Light - default */
@weight-norm: 300;
/* Regular */
@weight-bold: 400;
/* Medium */
@weight-heavy: 500;

/* Font Sizes */

@font-semitiny: 12px;
@font-tiny: 14px;
@font-semismall: 15px;
@font-small: 16px;
@font-seminorm: 18px;
@font-norm: 24px;
@font-semilarge: 30px;
@font-large: 40px;
@font-semihuge: 50px;
@font-huge: 60px;

/* Colors */
/* MUST USE ONLY THESE COLORS, DO NOT ADD OR TAKE AWAY */

@blue-primary: #0078EF;
@blue-dark: #271782;
@blue: #00BAFF;
@blue-light: #29CEFF;
@red: #DC233F;
@aqua: #1FFBBA;
@turquiose: #3DDCCA;
@green-bright: #15DB66;
@green-yellow: #90F170;
@violet: #56176C;
@orange: #FF5D28;
@purple: #8457B6;
@pink: #DF287C;
@dark: #263133;
@dark-primary: #5e6d78;
@gray: #778589;
@gray-mid: #B6C1C2;
@gray-mid-light: #E3E7EA;
@gray-light: #F5F5F5;
@gray-white: #FAFAFA;
@white: #FFFFFF;
@black: #000000;

/* Images */

@image-url: "/assets/images/";
