///////////////////////////////////////////////////// At a Glance
#at_a_glance {
    .disabled {
      opacity: 0.5;
      pointer-events: none;
    }
    .no-padding {
      padding-left: 0;
      padding-right: 0;
    }
  
    #at_a_glance, #at_a_glance * {
      font-family: aktiv-grotesk, sans-serif;
    }
    section.banner {
      margin: 0 -15px;
    }
    section.banner h1 {
      position: relative;
      min-height: 351px;
    }
    section.banner h1 a {
      position: absolute;
      top: 25%;
      margin: auto;
      font-size: 44px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.4px;
      color: #ffffff;
      font-family: aktiv-grotesk, sans-serif;
    }
    section.row.body {
      padding: 100px 0 180px;
      text-align: center;
    }
    section.row.body h2 {
      font-size: 40px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.6px;
      text-align: center;
      color: #5e6d78;
      max-width: 722px;
      margin: 0 auto 50px;
    }
    section.row.body .container > p {
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: -0.3px;
      text-align: center;
      color: #5e6d78;
      max-width: 916px;
      margin-left: auto;
      margin-right: auto;
    }
    /***************************************************************** SLIDER STRUCTURE *****/
    .fancy_slider .row.header {
      background-color: #f5f5f5;
      min-height: 130px;
      margin-bottom: 100px;
    }
    .fancy_slider .row.footer {
      background-color: #f5f5f5;
      min-height: 130px;
  
    }
    .fancy_slider .main_slider_window {
      position: relative;
      overflow: hidden;
      max-width: 1170px;
      margin: 0 auto;
    }
  
    .fancy_slider .main_slider_window .slider_belt {
      position: absolute;
      left: 0;
      top: 0;
      width: 4680px;
      transition: all 0.3s ease;
    }
  
    .fancy_slider .main_slider_window .slider_belt .slider {
      display: block;
      margin: 0;
      padding: 0;
      float: left;
    }
  
    .title_window {
      position: relative;
      overflow: hidden;
      height: 100px;
      min-width: 100%;
      width: 100%;
  
    }
    .titles_belt {
      position: absolute;
      left: 0;
      top: 0;
      width: 400vw;
      height: 100%;
      transition: all 0.3s ease;
    }
    .titles_belt div {
      display: block;
      margin: 0;
      padding: 0;
      float: left;
      text-align: center;
    }
    .titles_belt h3 {
      font-size: 30px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: -0.4px;
      color: #3d515c;
      display: inline-block;
      position: relative;
      padding-top: 30px;
    }
    .titles_belt h4 {
      font-size: 24px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.58;
      letter-spacing: -0.3px;
      color: #3d515c;
    }
  
    .titles_belt #slider_title_1 h3 {
      border-top: 4px solid #0078ef;
    }
    .titles_belt #slider_title_2 h3 {
      border-top: 4px solid #8457b6;
    }
    .titles_belt #slider_title_3 h3 {
      border-top: 4px solid #df287c;
    }
    .titles_belt #slider_title_4 h3 {
      border-top: 4px solid #15db66;
    }
  
    /***************************************************************** SLIDER SLIDES *****/
    #slider_navigation {
      padding-top: 50px;
      padding-bottom: 50px;
      text-align: center;
    }
  
    #slider_navigation:hover,
    #slider_navigation {
      cursor: default;
    }
    .secondary_navigation#slider_navigation {
  
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    .slider_nav {
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.11;
      letter-spacing: -0.2px;
      color: #778589;
    }
    .slider_nav:hover, .slider_dots:hover {
      cursor: pointer;
    }
    .slider_nav.previous {
  
      margin-right: 3%;
      transition: all 0.3s ease;
    }
    .slider_nav.next {
      margin-left: 3%;
    }
    .slider_dots {
      border-radius: 50px;
      width: 15px;
      height: 15px;
      background-color: transparent;
      border: solid 1px #778589;
      display: inline-block;
      margin-right: 1%;
      position: relative;
      top: 7px;
    }
    .slider_dots:last-of-type {
      margin-right: 0;
    }
    .slider_dots:hover, .slider_dots:active, .slider_dots:focus, .slider_dots.active {
      background-color: #778589;
      cursor: pointer;
    }
    .slider_nav img.arrow {
      max-width: 16px;
      height: auto;
      display: inline-block;
    }
    /***************************************************************** GALLERY *****/
    .gallery_container {
    }
  
    .gallery_container .row div {
      margin-bottom: 30px;
    }
  
    .gallery_container .row .img-wrap {
      height: 130px;
      width: 100%;
      margin-bottom: 30px;
      background-color: #eee;
      background-position: 50%;
      background-size: cover;
      background-repeat: no-repeat;
    }
    /***************************************************************** TIMELINE *****/
    .slider .slider_footer {
      margin: 100px 0;
      padding: 100px 0;
    }
    .timeline_container {
      width: 2px;
      height: 100%;
      padding-top: 0;
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(201, 206, 209, 1) 2%, rgba(120, 133, 139, 1) 5%, rgba(120, 133, 139, 1) 95%, rgba(201, 206, 209, 1) 98%, rgba(255, 255, 255, 0) 100%);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(201, 206, 209, 1) 2%, rgba(120, 133, 139, 1) 5%, rgba(120, 133, 139, 1) 95%, rgba(201, 206, 209, 1) 98%, rgba(255, 255, 255, 0) 100%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(201, 206, 209, 1) 2%, rgba(120, 133, 139, 1) 5%, rgba(120, 133, 139, 1) 95%, rgba(201, 206, 209, 1) 98%, rgba(255, 255, 255, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=0);
      margin: 0 auto 0 10%;
  
    }
    .timeline_container .container {
      padding: 0;
      padding-top: 40px;
      min-width: 80vw;
    }
    .timeline_event {
      display: block;
      clear: both;
      width: 100%;
      min-height: 40px;
    }
  
    .timeline_marker {
      width: 20px;
      height: 20px;
      border-radius: 50px;
      background-color: #ffffff;
      border: solid 2px #778589;
      transition: all 0.05s ease;
      display: inline-block;
      float: left;
      margin-right: 30px;
      margin-left: -10px;
  
    }
    .timeline_details {
      display: inline-block;
      max-width: 80%;
    }
    .timeline_event:hover .timeline_marker,
    .timeline_event:focus .timeline_marker,
    .timeline_event:active .timeline_marker {
      border: solid 4px #0077ef;
    }
  
    .timeline_event:hover > .timeline_details .date,
    .timeline_event:hover > .timeline_details h4 {
      color: #0078ef;
    }
  
    /***************************************************************** Media Queries *****/
    @media screen and (min-width: 768px) {
      section.banner h1 a {
        font-size: 60px;
      }
  
      .gallery_container .row {
        margin-bottom: 30px;
      }
  
      .gallery_container .row div {
        margin-bottom: 0;
      }
  
      #slider_navigation {
        text-align: right;
      }
  
      .titles_belt div {
        text-align: left;
      }
  
      .secondary_navigation#slider_navigation {
        max-width: 50%;
      }
    }
    @media screen and (min-width: 992px) {
      .timeline_container {
        height: 2px;
        width: 100%;
        padding-top: 0;
        background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(201, 206, 209, 1) 2%, rgba(120, 133, 139, 1) 5%, rgba(120, 133, 139, 1) 95%, rgba(201, 206, 209, 1) 98%, rgba(255, 255, 255, 0) 100%);
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(201, 206, 209, 1) 2%, rgba(120, 133, 139, 1) 5%, rgba(120, 133, 139, 1) 95%, rgba(201, 206, 209, 1) 98%, rgba(255, 255, 255, 0) 100%);
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(201, 206, 209, 1) 2%, rgba(120, 133, 139, 1) 5%, rgba(120, 133, 139, 1) 95%, rgba(201, 206, 209, 1) 98%, rgba(255, 255, 255, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=1);
        margin: 0;
      }
  
      .timeline_container .container {
        padding: 0 0 0 0;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        min-width: unset;
      }
  
      .timeline_event {
        width: 13.5%;
        display: inline-block;
        position: relative;
        top: -9px;
  
      }
  
      .timeline_marker {
        width: 20px;
        height: 20px;
        display: block;
        border-radius: 50px;
        background-color: #ffffff;
        border: solid 2px #778589;
        margin-left: 10px;
        transition: all 0.05s ease;
        float: none;
        margin-right: 0;
  
      }
  
      .timeline_event .timeline_details {
        position: absolute;
        width: 170%;
        min-height: 100%;
        padding-left: 10px;
        -webkit-transition: top 0.5s, bottom 0.5s;
        max-width: none;
      }
  
      .timeline_event:nth-child(odd) .timeline_details {
        top: -8vh;
      }
  
      .timeline_event:nth-child(odd):hover .timeline_details {
        top: -10vh;
      }
  
      .timeline_event:nth-child(odd):hover .timeline_details p {
        min-height: 4vh;
      }
  
      .timeline_event:nth-child(even) .timeline_details {
        top: 40px;
      }
  
      /*.timeline_event:last-child .timeline_details {*/
      /*max-width: 100%;*/
      /*}*/
      .timeline_event .timeline_details .date,
      .timeline_event .timeline_details h4 {
        color: #000;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.5px;
        transition: all 0.3s ease;
      }
  
      .timeline_event .timeline_details p {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.5px;
        height: 0;
        opacity: 0;
        transition: all 0.3s ease;
      }
  
      .timeline_event:hover > .timeline_details p {
        height: auto;
        opacity: 1;
      }
    }
    @media screen and (min-width: 1200px) {
      .timeline_event {
  
      }
    }
  }