html body {
  max-width: 100%;
  -webkit-text-size-adjust: none;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
  font-family: aktiv-grotesk, sans-serif !important;
}
html body header {
  position: fixed;
  z-index: 1040;
}
html body header a {
  color:#0078EF;
}

html body header .menus-container {
  position: static;
}
html body header .cookies-alert {
  padding:0;
  display: block;
  position: static;
}
html body header .cookies-alert p {
  color:#FFF;
}
html body header .cookies-alert .container {
  padding: 30px;
}
html body header .cookies-alert .container .button-white {
  display: inline;
  width: 100px;
  color: #271782;
}
html body header .cookies-alert .container .button-white:hover {
  color:#FFF;
  background: transparent;
  border: 1px #FFFFFF solid;
}
html body header .cookies-alert .container h2 {
  padding-top:0;
}
.carousel {
  top: -50px;
}
.position_fixed {
  position:fixed;
  overflow:hidden;
  height:100vh;
  width:100vw;
}
.middle-align {
  position:relative;
  height:100%;
}
.middle-align > * {
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  margin-top:auto;
  margin-bottom:auto;
  height: 50%;
}
.fixed-header-offsetter {
  height:0;
  width:100vw;
}
.navbar-brand {
  min-height: 50px;
  padding:0;
}
a.navbar-brand-link {
  display: block;
  padding: 17px 15px;
}
a.navbar-brand-link svg#full_microfocus_logo {
  fill:#0075f3;
  max-height: 25px;
  width: 100px;
}
/******************************************************* Utility Dropdowns */
html body header .utility_nav .popup {
  z-index:9999;
}
html body header .utility_nav .mf-container > div {
  float: right;
  background-repeat: no-repeat;
  font-size: 12px;
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
  padding: 11px 0 0 0;
}
html body header .utility_nav .mf-container > div:first-child {
  margin-right:0;
}
html body header .utility_nav .mf-container > div span,
html body header .utility_nav .mf-container > div div,
html body header .utility_nav .mf-container > div a {
  font-size:12px;
  color: #263133;

}
html body header .utility_nav .mf-container > div:hover span,
html body header .utility_nav .mf-container > div:hover div,
html body header .utility_nav .mf-container > div:hover a{
  color: #0075f3;
}
html body header .utility_nav .mf-container > div #lets_talk_close_container div {
  color:#FFF;
}
html body header .utility_nav .mf-container > div #lets_talk_close_container:hover div {
  color:#29CEFF;
}
#menu_item_support_login {
  height: 39px;
}
html body header .utility_nav .mf-container #utilitynav-language {
  position:relative;
}
html body header .utility_nav .mf-container #utilitynav-language .icon-downArrow {
  font-size: 8px;
}
html body header .utility_nav .mf-container #utilitynav-language .popup {
  display: none;
  background-color: #FAFAFA;
  position: absolute;
  border: solid 1px #E3E7EA;
  width: 200px;
  padding: 8px 0;
  top: 28px;
  color: #778589;
}
html body header .utility_nav .mf-container #utilitynav-language .popup a {
  color: #778589;
  display: block;
  padding: 4px 16px;
  margin-bottom: 2px;
}
html body header .utility_nav .mf-container #utilitynav-language .popup a.current {
  font-weight: 500;
  background-color: #F5F5F5;
}
html body header .menus-container .utility_nav {
  background-color: #E3E7EA;
  height: 40px;
  width: 100vw;
  max-width: 100%;
  display:block !important;
}
html body header nav#menu {
  top:0;
  padding-top:0;
  padding-bottom:0;
  position: static;
  background-color: #FFF;
}
html body header #menu.fixed {
  position: static;
  z-index: 100;
  background-color: transparent;
  padding-top: 0;
  padding-bottom:0;
  height: auto;
  box-shadow: none;
}
div#lets_talk_close_container {
  width:50%;
  margin:0 auto 30px;
  padding: 10px 0;
  background-color: #29CEFF;
  border: 1px #29CEFF solid;
  text-align: center;
}
#lets_talk_close_container div {
  color:#FFF;
}
#lets_talk_close_container:hover div {
  color:#29CEFF;
}
div#lets_talk_close_container:hover {
  background-color: transparent;
}
span#lets_talk_close {
  color: #ffffff;
  font-size: 150%;
  font-weight: bold;
  display: block;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
div#lets_talk_close_container:hover span#lets_talk_close {
  color: #29CEFF;
}

.letstalk_content{
  top: 40px;
  padding: 30px 20px;
  min-width: 320px;
  width: 100%;
  max-width: 650px;

}
.letstalk_content iframe {
  background-image: url('/assets/images/ajax-loader.gif');
  background-repeat:no-repeat;

}

html body header.nocontent {
  width:100vw;
  background-color: #FFF;
}
html body header.nocontent div.menus-container nav#menu.expanded{
  background-color:transparent;
  height: 100% !important;
  overflow: visible;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'microfocus-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/******************************************************* MAIN SEARCH INITIAL STYLES */
.main_search {
  display:block;
  width:103px;
  float:right;
  margin: 7px 0;
  border: 1px solid #a8b0b6;
  text-align: left;
  font-size: 14px;
  padding: 10px;
}
.main_search #menu-search form {
  position:relative;
}
.main_search #menu-search form input {
  border: none;
}
.main_search #menu-search button {
  border: none;
  background: transparent;
}
.main_search #menu-search button span.icon-search {}
.main_search {}
.main_search input {
  width: 85%;
  display: inline-block;
}
.main_search button {
  width: 12%;
  display: inline-block;
}
button.dark.navbar-toggle.collapsed {
  margin:0;
  width: 32px;

}
.navbar-toggle span.icon-bar {
  background-color: #888888 !important;
  color: #888888;

}
.navbar-toggle span.icon-bar.top-bar {
  transform: rotate(0);
}
header #menu .navbar-toggle.open span.icon-bar.top-bar {
  transform: rotate(55deg);
  transform-origin: 10% 10%;
}

.navbar-toggle span.icon-bar.middle-bar {
  opacity:1;
}
header #menu .navbar-toggle.open span.icon-bar.middle-bar {
  opacity:0 !important;
}

.navbar-toggle span.icon-bar.bottom-bar {
  transform: rotate(0);
}
header #menu .navbar-toggle.open span.icon-bar.bottom-bar {
  transform: rotate(-55deg);
  transform-origin: 10% 90%;
}
html body header .navbar-default {
  background-color:#FFF;
}
.navbar#new_nav {
  padding: 0;
  width: 100vw;
  max-width:100%;
  height: auto;
  top: 0;
  margin-bottom:0;
  background-color:#FFF;
  border:none;
}
.fixed #new_nav {
  top:0;
}
.menubackground-blue {
  display:none;
}
#new_nav ul, #new_nav li {
  list-style-type: none;
}
.navbar-brand-link {}
.navbar-brand-link img {
  max-width:100px;
}
.navbar h2 {
  text-transform: capitalize;
}
.navbar h3 {
  border: none;
  margin: 0;
}
.navbar-default {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #0078ef;
  border:none;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav>li>a:focus {
  text-decoration: none !important;
}
/*#menu .pull-right .navbar-toggle span.icon-bar {*/
/*background-color: #888888;*/
/*}*/
#menu .navbar .container .navbar-header {
  max-width: 120px;
  float: left;
}
/*.navbar-toggle .icon-bar {*/
/*background-color: #888888;*/
/*opacity:1;*/
/*}*/
/*.navbar-toggle.open .icon-bar {*/
/*display:none;*/
/*opacity:0;*/
/*}*/
/*.icon-bar.top-bar{*/
/*margin-top:4px !important; !* override default from main.css and bootstrap *!*/
/*}*/
/*.icon-bar.bottom-bar{*/
/*margin-bottom:0 !important; !* override default from main.css and bootstrap *!*/
/*}*/
.navbar-toggle .icon-close {
  display:none;
  opacity:0;
  transition: all 0.3s ease;
}
/*.navbar-toggle.open .icon-close {*/
/*font-size:1.5em;*/
/*display:block;*/
/*opacity:1;*/
/*}*/
/******************************************************* Buttons */
.btn {
  width:auto;
  height:auto;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  font-size: 16px;
  font-weight:300;
  background-color:transparent;
  border-radius:0;
}
.btn span.icon-leftArrow {
  font-size: 50%;
  font-weight: bold;
}
.btn-lightblue, .btn-lightblue span {
  color:#00baff;
  padding-left:0;
}
.btn-lightblue, .btn-lightpurple  {
  padding-left:15px;
}
.btn-lightblue:hover, .btn-lightblue:hover span {
  color: #006da9;
}
.btn-lightpurple, .btn-lightpurple span {
  color:#8457b6;
  padding-left:0;
}
.btn-lightpurple:hover, .btn-lightpurple:hover span {
  color: #533771;
}
.btn-navy, .btn-navy span {
  color:#271782;
  padding-left:0;
}
.btn-navy:hover, .btn-navy:hover span {
  color: #3e1dc9;
}
.btn-darkpurple, .btn-darkpurple span {
  color:#56176c;
  padding-left:0;
}
.btn-darkpurple:hover, .btn-darkpurple:hover span {
  color: #7d1793;
}
.col_left .btn-navy {
  width:auto;
}
.flyout-menu{
  z-index: 9999;
}

/* Things that will need to be overwritten at the 992 breakpoint */
.dropdown-menu .container-fluid .container {
  max-width: 100%;

}
.dropdown-menu .container-fluid > .row > .col-xs-12,
.col_right.col-xs-12,
.dropdown-menu .container-fluid > .row > .col-xs-11,
.col_right.col-xs-11,
.dropdown-menu .container-fluid > .row > .col-xs-10,
.col_right.col-xs-10,
.dropdown-menu .container-fluid > .row > .col-xs-9,
.col_right.col-xs-9,
.dropdown-menu .container-fluid > .row > .col-xs-8,
.col_right.col-xs-8,
.dropdown-menu .container-fluid > .row > .col-xs-7,
.col_right.col-xs-7,
.dropdown-menu .container-fluid > .row > .col-xs-6,
.col_right.col-xs-6,
.dropdown-menu .container-fluid > .row > .col-xs-5,
.col_right.col-xs-5,
.dropdown-menu .container-fluid > .row > .col-xs-4,
.col_right.col-xs-4,
.dropdown-menu .container-fluid > .row > .col-xs-3,
.col_right.col-xs-3,
.dropdown-menu .container-fluid > .row > .col-xs-2,
.col_right.col-xs-2,
.dropdown-menu .container-fluid > .row > .col-xs-1,
.col_right.col-xs-1 {
  position:static !important;
}
ul.flyout_sub_menus{}
li.flyout_sub_menu_header {
  margin-bottom: 15px;
}
.flyout_sub_menus li {}
.flyout_sub_menus li a:not(.btn), .flyout_sub_menus li a:not(.btn) span {
  color:#263133;
  line-height:normal;
}
.flyout_sub_menus li a span {}

.navbar-collapse {
  width:100vw;
  margin: 0 auto;
  left:0;
  right:0;
  display:none;
  max-width:337px;
}
.navbar-collapse.in .navbar-nav{
  width:100%;
  margin: 0 auto;
  left:0;
  right:0;
}
* > .icon-leftArrow {
  font-size:.5em;
}
.fixed-header-offsetter {
  min-height: 100px;
}
/* ^^^ @media screen and (min-width: 320px) ^^^ */

/**********************************************************/
/***************** min-width: 375px ***********************/
/**********************************************************/
@media screen and (min-width: 375px) {
  .main_search {
    width: 165px;
  }
}
/* ^^^ @media screen and (min-width: 375px) ^^^ */

/**********************************************************/
/***************** min-width: 425px ***********************/
/**********************************************************/
@media screen and (min-width: 425px) {
  .main_search {
    width: 200px;
  }
}
/* ^^^ @media screen and (min-width: 425px) ^^^ */

/**********************************************************/
/***************** min-width: 480px ***********************/
/**********************************************************/
@media screen and (min-width: 480px) {
  .navbar-collapse {
    width:337px;
    margin: 0 auto;
    left:0;
    right:0;
    display:none;
  }
  .navbar-collapse.in {
    width:337px;
    display:block !important;
  }
  .navbar-collapse.in .navbar-nav{
    width:337px;
    margin: 0 auto;
    left:0;
    right:0;
  }
  .main_search {
    width: 200px;
    margin: 6px 20px 0 0;
  }
  html body header .utility_nav .mf-container > div {
    float: right;
    background-repeat: no-repeat;
    font-size: 12px;
    display: inline-block;
    cursor: pointer;
    margin-right: 22px;
    padding: 11px 0 0 20px;
  }

}
/* ^^^ @media screen and (min-width: 480px) ^^^ */

/**********************************************************/
/***************** max-width: 767px ***********************/
/**********************************************************/
@media screen and (max-width: 767px) {
  .dropdown-menu > li {
    display: block;
  }
}
/* ^^^ @media screen and (max-width: 767px) ^^^ */

/**********************************************************/
/***************** min-width: 768px ***********************/
/**********************************************************/
@media screen and (min-width: 768px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
}
/* ^^^ @media screen and (min-width: 768px) ^^^ */

/**********************************************************/
/***************** max-width: 991px ***********************/
/**********************************************************/
@media screen and (max-width: 991px) {
  header #menu.expanded {
    overflow-x: hidden;
  }
  h3.mobile_dropdown span.icon-leftArrow {
    position: absolute;
    right: 10px;
    top: 40%;
  }
  header #cookies-alert {
    background-color: #271782;
    color: #FFFFFF;
    top: 0;
    position: relative;
    z-index: 3;
  }
  /*button.navbar-toggle {*/
  /*width:8%;*/
  /*padding:0;*/
  /*}*/
  .navbar > .container {
    position: relative;
  }
  nav#menu.expanded {
    height: auto !important;
  }
  section.pull-right {
    padding: 12px 27px;
    font-size: 18px;
    line-height: 20px;
  }
  .dropdown-menu .flyout_header, .dropdown-menu p, .dropdown-menu .icon-nav-arrow-right, #secondary_search, .flyout_sub_menu_header, #support_and_services {
    display: none;
    height:0;
    padding:0;
    margin:0;
  }
  /**********************************************  Navbar */
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border: 1px solid #b6c1c2;
  }
  .navbar h2 {
    color:#263133;
    font-size:18px;
    font-weight:500;
    margin:0;
  }
  .navbar h3 {
    color:#263133;
    font-size:18px;
    border:none;
  }
  .navbar h4 {
    color:#263133;
    font-size:18px;
  }
  .navbar h5 {
    color:#263133;
    font-size:18px;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-nav {

    width: 320px;
    float: none !important;
    margin: 0;
    padding: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding: 10px 0;
  }
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  /**********************************************  Navbar-Collapse */
  .navbar-collapse {
    opacity:0;
    display:none;
    position: absolute;
    left: -100vw;
    background-color: #FFF;
    padding:0 !important;
    border:none;
    transition: all 0.3s ease;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapsing {
    display:block !important;
    transition: all 0.3s ease;
  }
  .navbar-collapse.in {
    top: 62px;
    right: 0;
    left: auto;
    opacity: 1;
    display: block !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    max-height: 90vh;
    min-width: 320px;
    max-width: 425px;
    margin-left: auto;
    margin-right: auto;
    min-height:400px;
  }

  /**********************************************  #menu_item_* */
  #menu_item_community a, #menu_item_support_login a {
    color: #263133;
    font-size: 18px;
    font-weight: 500;
    display: block;
    padding: 10px 0;
  }

  #menu_item_lets_talk {
    background-color: #0078ef !important;
    color: #FFF;
    width: 100%;
    max-width:320px;
    height: 50px;
    font-size: 16px;
    margin:20px auto 0;
  }
  #menu_item_lets_talk a.lets-talk{
    padding-top: 15px;
    color: #FFF;
  }

  /*#utilitynav-chat {*/
  /*display: block;*/
  /*text-align: center;*/
  /*padding: 15px;*/
  /*}*/

  /**********************************************  #menu_item_ABOUT */
  #menu_item_about {}
  #menu_item_about .dropdown-menu {
    background:#FFF;
    height:auto;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease;
  }
  #about_flyout_menu {
    text-align:left;
  }
  #about_flyout_menu ul.flyout_sub_menus {
    margin-left: -15px;
  }

  #menu_item_about .dropdown-menu {

  }
  /**********************************************  #menu_item_PARTNERS */
  #menu_item_partners {}
  #menu_item_partners .dropdown-menu {
    background:#FFF;
    height:auto;
    padding: 0;
    margin: 0;
  }
  #partners_flyout_menu {
    text-align:left;
  }
  #partners_flyout_menu ul.flyout_sub_menus {
    margin-left: -15px;
  }

  #menu_item_partners .dropdown-menu {

  }
  /**********************************************  #menu_item_EVENTS */
  #menu_item_events {}
  #menu_item_events .dropdown-menu {
    background:#FFF;
    height:auto;
    padding: 0;
    margin: 0;
  }
  #events_flyout_menu {
    text-align:left;
  }
  #events_flyout_menu ul.flyout_sub_menus {
    margin-left: -15px;
  }

  #menu_item_events .dropdown-menu {

  }
  /**********************************************  .dropdown  */
  .dropdown-toggle h2 span {
    float:right;
  }

  /*li.dropdown span.icon-bar {*/
  /*display:none;*/
  /*opacity:0;*/
  /*}*/
  .dropdown .col_right .flyout-menu{
    opacity:0;
    height:0;
    transition:all 0.3s ease;
  }
  .dropdown-menu {
    opacity:0.1;
    transition: all 0.3s linear;
    top: 40px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    border: none;
    box-shadow: none;
    height:0;
    display:none;
  }
  .dropdown-menu > li {
    margin-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
  }
  .dropdown-menu .col_right {
    background-color:#FFF;
    opacity:0;
    height:0;
    right:-50vw;
    display:none;
    transition: all 0.3s ease;
  }

  /**********************************************  .dropdown.open  */
  .dropdown.open {
    margin-bottom:20px;
  }
  .dropdown.open .dropdown-menu {
    left:0;
    display: block;
    visibility:visible;
    opacity:1;
  }

  li.dropdown.open span.icon-downArrow {
    display:none;
  }
  li.dropdown.open span.icon-bar {
    /*display: inline-block;*/
    /*opacity: 1;*/
    /*width: 22px;*/
    /*height: 1px;*/
    /*border-radius: 1px;*/
    /*background-color: #888888;*/
    /*transition: all 0.3s ease;*/
    color: #263133;
    /*margin-top: 6px;*/
  }
  .dropdown.open .col_left.active h3 {
    color: #0078ef !important;
    font-weight: bold !important;
  }
  .dropdown.open .col_right.active {
    opacity:1;
    height:auto;
    right:0;
    display:block;
  }
  .dropdown.open .col_right.active .flyout-menu{
    opacity:1;
    height:inherit;
  }
  .dropdown-menu .col_left,
  .dropdown-menu .col_right,
  .dropdown-menu .flyout-menu,
  .dropdown-menu .flyout-body .row > div {
    padding-left:0;
  }

  /**********************************************  Navbar-Collapse */
  .col_left > h4 {
    display:none;
  }
  /**********************************************  .flyout */
  .flyout_trigger h3 {
    color:#263133;
    font-size: 16px;
    font-weight: 300;
  }
  .flyout_sub_menus {
    padding-left: 15px;
  }
  .flyout_sub_menus li {
    padding-top: 12px;
  }
  #menu_item_support .container-fluid.no_hover {
    display: none;
  }
  .cookies-alert .container {
    padding-top: 0;
  }
}
/* ^^^ @media screen and (max-width: 991px) ^^^ */

/**********************************************************/
/***************** min-width: 992px ***********************/
/**********************************************************/
@media screen and (min-width: 992px) {
  html body header nav#menu {
    position: static;
  }
  #new_nav {
    margin-bottom: 0;
  }
  header.nocontent {
    /*min-height:63px;*/
  }
  #menu .navbar .mf-container .navbar-header .pull-right .navbar-toggle {
    display:none;
  }
  .fixed .navbar#new_nav {
    top: 0;
  }

  .navbar-collapse {
    min-width:580px;
    max-width:unset;
    width: 100%;
  }
  .navbar-collapse.collapse {
    display: block !important;
    margin: 0;
    float: right;
    width: 580px;
  }
  .navbar-right {
    margin:0;
  }
  .dropdown-menu .container_fluid .container {
    max-width: unset;
    padding: initial;
  }
  .dropdown-menu .flyout_header,
  .dropdown-menu p,
  .dropdown-menu .btn,
  .flyout_trigger:hover .icon-nav-arrow-right,
  .active .icon-nav-arrow-right,
  #secondary_search,
  .flyout_sub_menu_header {
    display: block;
  }

  //menu_item_products .flyout-menu li, .flyout_footer {
  //  max-width: 600px;
  //}

  #menu_item_products .flyout_footer {

    width: 100%;
    bottom: 20vh;
    border-top: 1px solid #b6c1c2;
    padding-top:10px;
  }
  .navbar a:hover {
    text-decoration:none;
  }
  .navbar-nav > li {
    margin-right: 30px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
  }
  .navbar-nav > li > a {
    padding: 20px 0 !important;
  }

  .navbar-nav > li:hover,
  .navbar-nav > li:active {
    border-bottom-color: #0078ef;
  }
  .navbar-nav > li.dropdown.open {
    position: static;
  }

  .navbar-nav > li.dropdown.open .dropdown-menu {
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
    margin:0;
    padding-top:20px;
    padding-bottom: 0;
    border-radius: 0;
    border-width:1px;
    border-left:none;
    border-right:none;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .dropdown-menu > li {
    display: block;
    padding-top:10px;
    line-height: 50px;
    vertical-align: middle;
    /*min-height:51px;*/
  }
  .dropdown-menu > li.separator  {
    min-height:unset;
  }
  .no_hover.separator hr {
    max-width: 90%;
    border-top: 1px solid #b6c1c2;
    margin: 0 0 0 10px;
  }
  .main_search {
    margin-right: 0;
  }
  /******************************************************* SECONDARY SEARCH (IN DROPDOWN) */
  li.secondary_search {
    height: 50px;
    margin-bottom:20px;
    padding-top:0;
  }

  li.secondary_search #menu-search > span{
    position: absolute;
    right: 40px;
    top: 18px;
  }
  li.secondary_search #menu-search input[type="text"]{
    width: 100%;
    height:50px;
    background: transparent;
    border: none;
    text-align: left;
    float: left;
    margin-left: 10px;
    padding-left:20px;
    font-size: 14px;
  }
  li.secondary_search #menu-search button {
    border: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid #b6c1c2;
    padding: 0;
    margin: 0;
    position:relative;
  }
  li.secondary_search #menu-search hr {
    border-top: 1px solid #b6c1c2;
    clear: both;
    max-width: 90%;
  }
  li.secondary_search #menu-search #product_results {
    width: 90%;
    max-height: 40vh;
    overflow-y: scroll;
    overflow-x:hidden;
    background-color: #ffffff;

    text-align: left;
    margin-left: 10px;
    display:none;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  }
  li.secondary_search #menu-search #product_results h2{

  }
  li.secondary_search #menu-search #product_results h2 a {
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    color:inherit;
    font-family:inherit;
    padding-left: 20px;
    padding-right: 20px;
  }
  li.secondary_search #menu-search #product_results h2 a:hover {
    background-color:#0078EF;
    color: #FFF;
  }
  li.secondary_search .col_left:hover {

  }
  li.secondary_search #menu-search-block {
    position:relative;
    width:90%;
  }
  li.secondary_search #menu-search-block #menu-search {
    position:absolute;
    z-index:9999;
    width:90%;
  }


  #open_search{
    display:block;
    transition: all 0.3s ease;
  }
  #close_search{
    display:none;
    opacity:0;
    transition: all 0.3s ease;
  }


  /******************************************************* HEADING TAGS */
  .navbar h2 {
    font-size: 15px;
    color: #5e6d78;
    font-weight:normal;
    margin:0;
  }
  .navbar h2 span.icon-downArrow {
    color: #5e6d78;
    font-weight: bolder;
    margin-top: 0;
    margin-left: 8px;
    font-size: 80%;
  }
  .navbar h3 {
    font-size: 18px;
    font-weight: 300;
    color: #263133;
    text-decoration:none;
  }

  .navbar h4 {
    font-size: 30px;

    padding-bottom: 10px;
    margin-bottom: 10px;

    display: inline-block;
    font-weight: 300;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease;
  }
  #partners_flyout_menu h4,
  #events_flyout_menu h4,
  #about_flyout_menu h4 {
    margin-left: 20px;
    margin-top: 40px;
  }
  .navbar h4:not(#odd_title):hover {
    border-bottom: 1px solid #b6c1c2;
  }

  .navbar h5 {
    font-size: 14px;
    font-weight: 500;
    padding-bottom:10px;
    color: #1f2781;
    text-transform:uppercase;
  }




  /******************************************************* COL_LEFT */
  .col_left {
    padding: 0;
  }
  .col_left a {
    padding: 10px;
    display:block;
  }
  .col_left h3 {
    text-align:left;
    border:none;
  }
  .col_left a span {
    display:none;
    font-weight:bolder;
    color:#FFF;
  }
  .col_left.active a,
  .col_left:hover a {
    background-color: #0078ef;
    text-decoration:none !important;
  }
  #secondary_search .col_left.active a,
  #secondary_search .col_left:hover a {
    background-color: #FFF;
    text-decoration:none !important;
  }
  .col_left.active h3,
  .col_left:hover h3 {
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
    margin: 0;
    position:relative;
  }
  .col_left.active a span,
  .col_left:hover a span {
    /*display:block;*/
  }
  .col_left input[type="text"]{
    width: 90%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #b6c1c2;
    text-align: left;
    float: left;
    margin-left: 10px;
  }
  .col_left button {
    border: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid #b6c1c2;
    padding: 0;
    margin: 0;
    position:relative;
  }

  /******************************************************* INDUSTRIES, A-Z PRODUCT LIST, & ENTERPRISE DEVOPS MENU ITEM EXCEPTIONS */
  #enterprise_devops .col_left span,
  #a_z_product_list .col_left span,
  #industries .col_left span {
    position:unset;
    display:inline !important;
    color: #2c3639;
  }

  #enterprise_devops .col_left.active a,
  #enterprise_devops .col_left:hover a,
  #a_z_product_list .col_left.active a,
  #a_z_product_list .col_left:hover a,
  #industries .col_left.active a,
  #industries .col_left:hover a{
    background-color:transparent;
    color: #0078ef;
    /*border: 1px solid #271782;*/
  }
  #enterprise_devops .col_left.active a span,
  #enterprise_devops .col_left:hover a span,
  #a_z_product_list .col_left.active a span,
  #a_z_product_list .col_left:hover a span,
  #industries .col_left.active a span,
  #industries .col_left:hover a span {
    color: #0078ef;
  }
  #enterprise_devops .col_left.active h3,
  #enterprise_devops .col_left:hover h3,
  #a_z_product_list .col_left.active h3,
  #a_z_product_list .col_left:hover h3,
  #industries .col_left.active h3,
  #industries .col_left:hover h3 {
    font-size: 18px;
    font-weight: 500;
    color: #0078ef;
  }

  /******************************************************* COL_RIGHT */
  .col_right {
    display: none;
    background-color:#FFF;
  }
  .col_right .flyout-menu {
    position: absolute;
    top: 0;
    width:100%;
    padding: 40px 30px 0 30px;
    text-align: left;
    background-color: #ffffff;
    z-index: 9990;
  }
  .navbar-nav li:not(#menu_item_products) .col_right .flyout-menu li {
    max-width:780px;
  }
  .col_left.active ~ .col_right,
  .col_left:hover ~ .col_right,
  .col_right:hover {
    display: block;
    background-color: #FFF;
    padding: 0;
  }
  #menu_item_support .col_right .flyout-menu {
    min-height:348px;
  }
  #menu_item_support .col_left {
    text-align:left;
  }
  #menu_item_support .col_left h4 span {
    font-weight:bold;
    font-size: 50%;
  }
  #menu_item_support .flyout_header h4 {
    font-size: 30px;
    /*color: #3d515c;*/
    color: #0078ef;
    padding-bottom: 10px;
    border-bottom: none;
    margin-bottom: 0;
    display: block;
    float: left;
    clear: both;
    border-bottom:1px solid transparent;
  }
  .dropdown .dropdown-menu {
    background: rgb(245,245,245);
    background: -moz-linear-gradient(left,  rgba(245,245,245,1) 0%, rgba(245,245,245,1) 41%, rgba(255,255,255,1) 41%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(245,245,245,1) 0%,rgba(245,245,245,1) 41%,rgba(255,255,255,1) 41%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right,  rgba(245,245,245,1) 0%,rgba(245,245,245,1) 50%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ffffff',GradientType=1 );
    background-color:#f5f5f5;
  }


  #menu_item_about .dropdown-menu,
  #menu_item_partners .dropdown-menu,
  #menu_item_events .dropdown-menu {
    background:#FFF;
    height:auto;
    padding: 0;
    margin: 0;
  }
  #about_flyout_menu,
  #partners_flyout_menu,
  #events_flyout_menu {
    text-align:left;
  }

  #partners_flyout_menu .flyout_sub_menu_header,
  #events_flyout_menu .flyout_sub_menu_header {
    display:none;
  }
  /******************************************************* FLYOUT */
  a.flyout_trigger h3 {
    padding-right: 18px;
  }
  a.flyout_trigger h3 .icon-nav-arrow-right {
    font-weight:100;
  }

  a.flyout_trigger span {
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }

  .flyout_header {
    margin-bottom:20px;
    display:block;
  }
  .flyout_header p {
    display:block;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.33;
    max-width: 75%;
    color: #5e6d78;
    margin:0;
  }

  .flyout_header span {
    font-weight:bolder;
    text-shadow: 0 0 0 #0078F4, 0 0 0 #0078ef, 0 0 0 #0078ef, 0 0 0 #0078ef, 0 0 #0078ef, 2px 0 0 #0078ef, 1px 0 0 #0078ef, 0 0 0 #0078ef

  }

  .flyout_sub_menu_header p  {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.43;
    color: #5e6d78;
    padding-bottom: 5px;
    font-style: italic;
    font-weight:500;
  }

  .complex_menu ul.flyout_sub_menus {
    margin:0 0 40px 0;
  }

  ul.flyout_sub_menus {
    margin:0;
  }

  ul.flyout_sub_menus li {
    line-height:initial;
    margin-bottom: 8px;
  }
  ul.flyout_sub_menus li a:not(.btn) {
    color:#2c3639;
    position:relative;
    display: block;
    transition: all 0.3s ease;
  }
  ul.flyout_sub_menus li a:not(.btn) span {
    display: inline;
    width: 8px;
    color: #2c3639;
    font-size: 50%;
    font-weight: bold;
    padding-left: 5px;
    transition: all 0.3s ease;
  }
  ul.flyout_sub_menus li a:not(.btn) span.icon-offSite {
    font-size:90%;
    transition: all 0.3s ease;
  }

  #menu_item_products .flyout_footer ul.flyout_sub_menus li a:not(.btn),
  #menu_item_products .flyout_footer ul.flyout_sub_menus li a:not(.btn) span {
    color:#0078EF;
    transition: all 0.3s ease;
  }
  #menu_item_products .flyout_footer ul.flyout_sub_menus li a:not(.btn):hover,
  #menu_item_products .flyout_footer ul.flyout_sub_menus li a:not(.btn):hover span {
    font-weight: bold;
  }


  ul.flyout_sub_menus li:not(.flyout_sub_menu_header):hover *:not(.btn):not(span) {
    color: #0078F4;
    cursor:pointer;
  }
  ul.flyout_sub_menus li:hover a:not(.btn) span {
    color: #0078F4;
  }
  /******************************************************* Buttons */
  .btn {
    width:170px;
    height:50px;
    padding-top: 13px;
    border: 1px solid transparent;
  }
  .btn span.icon-leftArrow {
    font-size: 50%;
    font-weight: bold;
  }
  .btn-lightblue{
    border-radius:0;
    background-color:#00baff;
    color:#FFF;
    font-size: 16px;
    font-weight:300;
    border: 1px solid #00baff;
  }
  .btn-lightblue:hover {
    color: #00baff;
    background: transparent;
    border: 1px solid #00baff;
  }

  .btn-lightpurple {
    border-radius:0;
    background-color:#8457b6;
    color:#FFF;
    font-size: 16px;
    font-weight:300;
    border: 1px solid #8457b6;
  }
  .btn-lightpurple:hover {
    color: #8457b6;
    background: transparent;
    border: 1px solid #8457b6;
  }
  .btn-navy{
    border-radius:0;
    background-color:#271782;
    color:#FFF;
    font-size: 16px;
    font-weight:300;
    border: 1px solid #271782;
  }
  .btn-navy:hover {
    color: #271782;
    background: transparent;
    border: 1px solid #271782;
  }
  .btn-darkpurple {
    border-radius:0;
    background-color:#56176c;
    color:#FFF;
    font-size: 16px;
    font-weight:300;
    border: 1px solid #56176c;
    width: 200px;
  }
  .btn-darkpurple:hover {
    color: #56176c;
    background: transparent;
    border: 1px solid #56176c;
  }
  a.btn.btn-primary.btn-navy {
    width: 200px;
  }
  #menu_close_container {
    height:50px;
    width:100vw;
    position:absolute;
    margin-bottom: 20px;
  }
  #menu_close {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 25px;
    font-weight: bolder;
    z-index: 9999;
    display: block;
    width: 100px;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: all 0.3s ease;
  }
  #menu_close:hover {
    text-shadow:
            0 0 0 #263133,
            0 0 0 #263133,
            0 0 0 #263133,
            0 0 0 #263133,
            0 0 0 #263133,
            0 0 0 #263133,
            0 0 0 #263133,
            0 0 0 #263133;
  }
}
/* ^^^ @media screen and (min-width: 992px) ^^^ */

/**********************************************************/
/***************** min-width: 1199px ***********************/
/**********************************************************/
@media screen and (min-width: 1199px) {
  #menu_item_products .flyout-menu li, #menu_item_products .flyout_footer {
    max-width: 734px;
  }
}
/* ^^^ @media screen and (min-width: 1199px) ^^^ */
