 /*//////////////////////////////////////
  Novell redirect trial download modal
//////////////////////////////////////*/

#TrialModal{

	.bridge-background {
		    
	height: 350px;
    background-color: #8457b6;
    
    background-size: cover;
    border: none;
	}

	.bridge-background .modal-header h3{
		/*padding:10px 10px 0 10px;*/
		color:#fff;
    	font-size:45px;
  		font-weight: 100;
    	line-height: 42px;
	}

	.bridge-background .modal-header h3 img{
		display: inline-block;
		margin-right: 20px;
	}


	.bridge-background button{
		font-size: 40px;
		position: absolute;
		top: 5px;
		right: 5px;
	}

	#modal-paragraph p {
		color: #fff;
		margin: 0px;
    	padding: 0px 0px 20px 0px;
    	line-height: 1.42857143;
    	font-size: 18px;
    	padding-top: 30px;
	}
	#modal-paragraph p a{
		color:#1FFBBA;
		display:inline-block;
		text-decoration: underline;
	}

	.modal-body a.gray-button{
		padding:10px 40px;
		border-radius: 100px;
		background-color: #ffffff;
		text-align: center;
		color: #5d5d5d;
		display: inline-block;
		float: right;
		margin-top: 15px;
		margin-bottom: 30px;
	}

	@media(max-width: @screen-sm){
		.modal-body a.gray-button{
			float: none;
			text-align: center;
			margin-top: 5px;
		}
		#modal-paragraph p{
			padding-top: 10px;
			font-size: 13px;
		}
		.bridge-background .modal-header h3 img{
			width: 30px;
			line-height: 30px;
		}

		.bridge-background .modal-header h3{
			font-size: 35px;
			line-height:35px;
		}

		.bridge-background .modal-header{
			padding-top: 20px;
		}
	}

	@media(max-width: @screen-md){
		#modal-paragraph p{
				padding-top:0px;
			}
	}
}


/*//////////////////////////////////////
             resources fix
//////////////////////////////////////*/

.resources-module .space-between {
	margin-bottom:25px;
}

/*svg{
	pointer-events: none;
} */



/*//////////////////////////////
	updated footer 7-31-2017
//////////////////////////////*/
footer {
	color:@gray-mid-light;
	font-size: @font-tiny;
	font-weight: @weight-norm;
	background-color: #192122;
	border-top: 1px rgb(151, 151, 151, .2) solid;

	#footer1 {
		border-bottom: 1px rgb(151, 151, 151, .2) solid;
		padding-top: 20px;
		padding-bottom: 20px;
		.container {
			padding-top: 35px;
			padding-bottom: 15px;
		}
		img {
			display: block;
			float: left;
			padding-top: 3px;
			padding-right: 8px;
		}
		a {
			color: @blue-light;
			display: inline;
		}
		#footer-language{
			margin-bottom: 20px;
		}
		
		h5{
			font-size: @font-semitiny;
			font-weight: 600;
			margin-bottom: 13px;

			
		}
		@media screen and (max-width: @screen-md) {
				h5{
					margin-top:20px;
				}
			}

		.white-text a{
			color: @white;
			text-decoration: none;
			display:block;
			font-size:@font-semitiny;
			margin-bottom: 4px;
		}

		#footer-language {
			color: @blue-light;
			.icon-globe {
				color: @gray-mid-light;
			}
		}
		ul {
			float: left;
			padding: 0px;
			@media (min-width: @screen-md) {
				float: right;
			}
			&.social {
				font-size: @font-norm;
				margin-top: -7px;
				float: right;
				@media (max-width: @screen-sm) {
					float: left;
				}
				a {
					text-decoration: none;
					color: @gray-mid-light;
				}
				a:hover {
					color: @blue;
				}
				img {
					padding-right: 0px;
				}

				li {
					padding-right: 9px;
				}
			}
			li {
				text-decoration: none;
				display: inline-block;
				padding-right: 18px;
			}
		}
		.follow {
			padding-bottom: 10px;
		}
		.linkspace {
			padding-bottom: 15px;
		}
		.edgefix {
			@media (max-width: @screen-md) and (min-width: @screen-sm) {
				padding-left: 55px;
			}
		}
		.float {
			float: left;
			padding-right: 25px;
			padding-bottom: 12px;
		}
		.right {
			@media (max-width: @screen-sm) {
				padding-top: 10px;
			}
		}
		#footer-language {

			span {
				cursor: pointer;
			}
			.popup {
				display: none;
				background-color: @gray-white;
				position: absolute;
				z-index: 10;
				border: solid 1px @gray-mid-light;
				width: 200px;
				padding: 8px 0px;
				bottom: 55px;
				color: @gray;
				.countries {
					overflow-y: scroll;
					height: 200px;
				}
				p {
					margin: 0 16px 0 16px;
					padding: 0;
				}
				hr {
					margin-top: 10px;
					margin-bottom: 10px;
					border-color: #EAECEB -moz-use-text-color -moz-use-text-color;
				}
				a {
					color: @gray;
					display: block;
					padding: 4px 16px;
					margin-bottom: 2px;
				}
				a.current {
					font-weight: @weight-heavy;
				}
				a:hover {
					text-decoration: none;
					background-color: @gray-light;
				}
			}
		}
	}
	#footer2 {
		/*font-size:@font-semitiny;*/
		padding-bottom: 20px;
		padding-top:20px;
		
		.social{
			color:white;
			font-size: 20px;
			display: block;
			margin-top: 10px;
			padding-left: 90px;

			a {
				text-decoration: none;
				color: @gray-mid-light;
				@media screen and (max-width: @screen-md) {
					margin-right: 10px;
				}
			}
			a:hover {
				color: @blue;
			}
		}
		.move-down{
			margin-top: 10px;
			
		}
		.move-up{
			margin-top: 10px;
			float: left;
			display: block;
		}
		.move-right{
			padding-left: 15px;
		}
		@media screen and (max-width: @screen-sm) {
			.move-up{
				padding-left: 0px;
				margin-top: 0px;
			}
			
		}
		@media screen and (max-width: @screen-md) {
			.move-up{
				padding-left: 0px;
			}
			
		}
		p{
			display: inline-block;
			padding: 0px;
		}
		a {
			color:@blue-light;
		}
		div.follow{
			display:inline-block;
		}

		.copyright{
			color: @gray-mid;
		}

		.left {

			> a {
				float:left;
				margin: 15px 35px 15px 0px;
				color:@gray-mid-light;
				@media (max-width: @screen-sm) {
					margin: 15px 20px 15px 0px;
				}
				@media (min-width: @screen-lg) {
					margin-right: 30px;
				}
			}
			.sub-unsub{
				color: @blue-light;
				float: left;
				margin: 15px 20px 15px 0px;
			}
			.copyright{
				color: @gray;
				float: left;
				margin: 15px 20px 15px 0px;
			}
			.left-float {
				float:left;
			}
		}

		.right {
			float: right;
			@media (max-width: @screen-md){
				float: left;
			}

			> a, div {
				float:left;
				margin: 15px 0px 15px 35px;
				color:@gray-mid-light;
				@media (max-width: @screen-sm){
					margin: 15px 0px;
					padding: 0px;
				}
			}
			.copyright {
				color:@gray;
				@media (max-width: @screen-md){
					margin: 15px 0px 0px 20px;
					padding: 0px;
				}
			}
			.sub-unsub{
				color: @blue-light;
			}
		}
	}
}




